<div class="case__section case-goal case-goal--retention-rocket">
  <span class="case__step">Goal</span>
  <h2 class="case__title">The goal</h2>

  <div class="case__columns">
    <div class="case__columns--left">
      <p class="case__quote">
        <span class="icon-quote"></span>
        Retention Rocket aims to help e&#8209;commerce stores increase
        retention, reduce marketing costs and improve the customer experience
        by sending him or her the right message through the right channel
        at the right time.
      </p>
    </div>
    <div class="case__columns--right">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/suler.webp"
        alt="Naturaily CEO"
      />
    </div>
  </div>
</div>
