<div class="case__section case__section--orange case-testimonial--retention-rocket">
  <span class="case__step">Testimonial</span>
  <h2 class="case__title">Testimonial</h2>

  <div class="case-testimonial__content">
    <p class="case-testimonial__quote">
      <span class="icon-quote"></span>
      I would highly recommend working with Naturaily for any Ruby development needs.
    </p>
    <div class="case__credits">
      <p class="case__credits-person">
        <span class="case__credits-dot"></span>
        Brooke Acchione
      </p>
      <p class="case__credits-position">
        VP of Operations of Retention Rocket
      </p>
    </div>
    <picture class="case-testimonial__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/retention-rocket/testimonial.jpg"
        alt="Brooke Acchione"
      />
    </picture>
    <p class="paragraph case-testimonial__text">
      Experienced and professional, the team delivered work quickly without
      sacrificing quality. Naturaily led a&nbsp;smooth workflow with minimal
      onboarding and without issues with time differences.
    </p>
  </div>

  <figure class="geometric-figure">
    <div class="geometric-figure_center"></div>
    <div class="geometric-figure_right"></div>
  </figure>
</div>
