<div class="portfolio__section portfolio-about">
  <span class="portfolio__step">About</span>
  <h2 class="portfolio__title">About Artinfo</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="paragraph">
        Artinfo is an art-center portal, operating since 2000. From the start, it has
        been the main source of information for collectors, art dealers, investors
        and art lovers. It has a vast archive containing all the necessary data about
        past auctions and their results. The artworks base exceeds 400,000 pieces.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <p class="paragraph">
        More than just an information page, Artinfo is also a broker between auction
        houses and art lovers who wanted to take part in the auction. Bidding orders
        were received by phone, which generated a lot of work for the entire team.
      </p>
      <span class="portfolio__dot portfolio__dot--standard portfolio__dot--secondary"></span>
      <span class="portfolio__dot portfolio__dot--standard portfolio__dot--yellow"></span>
    </div>
    <div class="portfolio-about__separator portfolio-about__separator--artinfo">
      <img
        src="/assets/images/portfolio/artinfo/about.png"
        data-src="/assets/images/portfolio/artinfo/about.png"
        alt="artinfo screens"
      />
    </div>
  </div>
</div>
