<div class="portfolio__section portfolio-challenge">
  <span class="portfolio__step">Challenge</span>
  <h2 class="portfolio__title">The challenge</h2>

  <div class="portfolio__columns">
    <div portfolio-left class="portfolio__columns--left">
      <p class="paragraph">
        Artinfo was a home for over thousands of data, much of it 10 years old,
        and the database was in MySQL.<br><br>
        We needed that data to create Artinfo Live, so we decided to migrate it all
        to more performant PostgreSQL database, rich with features.
      </p>
    </div>
    <div portfolio-right class="portfolio__columns--right">
      <p class="paragraph">
        Simultaneously, we also started the new web application development process.
        The requirements were clear; we had to create an easy-to-use platform for
        handling online real-time bidding during auctions. <strong>Consequently,
        the main challenges were stability and fast data processing.</strong>
      </p>
    </div>
  </div>

  <div class="portfolio-challenge__figure">
    <div class="portfolio-challenge__figure-step portfolio-challenge__figure-step--first">
      <span class="portfolio-challenge__figure-step__label">MySQL</span>
      <img
        class="portfolio-challenge__figure-step__image"
        src="/assets/images/portfolio/artinfo/challenge-mysql.png"
        alt="MySQL"
      />
    </div>
    <div class="portfolio-challenge__figure-arrows">
      <span></span><span></span><span></span><span></span><span></span>
    </div>
    <div class="portfolio-challenge__figure-step portfolio-challenge__figure-step--last">
      <span class="portfolio-challenge__figure-step__label">PostgreSQL</span>
      <img
        class="portfolio-challenge__figure-step__image"
        src="/assets/images/portfolio/artinfo/challenge-postgresql.png"
        alt="PostgreSQL"
      />
    </div>
  </div>
</div>
