<div class="portfolio__section portfolio-goal">
  <span class="portfolio__step">Goal</span>
  <h2 class="portfolio__title">The goal</h2>

  <div class="portfolio__columns portfolio-goal__main">
    <div class="portfolio__columns--left">
      <p class="paragraph">
        We have always wanted to be an innovative company, stay the market leader
        and provide our clients with services at the highest level.<br><br>
        Observing what is happening on world markets, we decided to create
        an application that will bring a new quality to the world of art auctions.
      </p>
      <div class="portfolio__credits">
        <p class="portfolio__credits-person">
          <span class="portfolio__credits-dot"></span>
          Rafał Kamecki
        </p>
        <p class="portfolio__credits-position">
          ArtInfo founder
        </p>
      </div>
    </div>
    <div class="portfolio__columns--right portfolio-goal__main-image">
      <img src="/assets/images/portfolio/artinfo/goal.png" alt="artinfo founder" />
    </div>
  </div>
</div>
