<div class="portfolio-hero">
  <div class="portfolio-hero__content">
    <div class="portfolio-hero__text">
      <h1>
        <span>Artinfo</span>
        <span><strong>The Web App</strong></span>
        <span>for <strong>Live Art Auctions</strong></span>
      </h1>
    </div>
    <div class="portfolio-hero__image">
      <figure class="geometric-figure geometric-figure__secondary">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
      <img
        class="portfolio-hero__image-mobile"
        src="/assets/images/portfolio/artinfo/top-mobile.png"
        data-src="/assets/images/portfolio/artinfo/top-mobile.png"
        alt="artinfo"
      />
      <img
        class="portfolio-hero__image-desktop"
        src="/assets/images/portfolio/artinfo/top.png"
        data-src="/assets/images/portfolio/artinfo/top.png"
        alt="artinfo"
      />
    </div>
  </div>
</div>
