<div class="portfolio__section portfolio__section--orange">
  <span class="portfolio__step">Solution</span>
  <h2 class="portfolio__title">Solution</h2>
  <p class="portfolio__description">Some of the new Artinfo’s features</p>

  <div class="portfolio-features">
    <div class="portfolio__columns portfolio__columns--odd">
      <div class="portfolio-features__description">
        <h3 class="portfolio-features__header">Live art auctions<br> (Artinfo Live)</h3>
        <ul class="portfolio__list">
          <li>take part in real-time bidding and buy the artwork online</li>
          <li>get instant access to the offers of many auction houses</li>
        </ul>
      </div>
      <div class="portfolio-features__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/artinfo/solution1.png"
          alt="live auction screen"
        />
      </div>
    </div>
    <div class="portfolio__columns portfolio__columns--even">
      <div class="portfolio-features__description">
        <h3 class="portfolio-features__header">Sophisticated<br> search engine</h3>
        <ul class="portfolio__list">
          <li>check which artworks of your favorite artists are available</li>
          <li>look through many online catalogues from different auction houses</li>
        </ul>
      </div>
      <div class="portfolio-features__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/artinfo/solution2.png"
          alt="search feature screen"
        />
      </div>
    </div>
    <div class="portfolio__columns portfolio__columns--odd">
      <div class="portfolio-features__description">
        <h3 class="portfolio-features__header">User admin panel</h3>
        <ul class="portfolio__list">
          <li>create a list of your favorite artists (the Wishlist) and receive e-mail notifications when their artworks appear in auctions</li>
          <li>select and observe interesting art pieces</li>
          <li>check archived auction results</li>
        </ul>
      </div>
      <div class="portfolio-features__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/artinfo/solution3.png"
          alt="user admin panel screen"
        />
      </div>
    </div>
  </div>

  <div class="portfolio-stack">
    <h3 class="portfolio-stack__header">Technological stack</h3>
    <div class="portfolio-carousel__wrapper" data-carousel="wrapper">
      <ul class="portfolio__columns portfolio-carousel__tabs portfolio-carousel__tabs--three" data-carousel="tabs">
        <li class="portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="0">
          <div class="portfolio-stack__image portfolio-stack__image--wider">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio/icons/rails.png"
              alt="ruby on rails icon"
            />
          </div>
          <h4 class="portfolio-stack__subheader">Ruby on Rails<br> (backend)</h4>
          <p class="paragraph">This mature framework allowed us to develop the core structure of the application.</p>
        </li>
        <li class="portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="1">
          <div class="portfolio-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/vue-logo.png"
              alt="vue.js icon"
            />
          </div>
          <h4 class="portfolio-stack__subheader">Vue.js<br> (frontend)</h4>
          <p class="paragraph">We used this progressive javascript framework to develop the CMS, as well as employee, user and helper panels.</p>
        </li>
        <li class="portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="2">
          <div class="portfolio-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio/icons/elastic.png"
              alt="elastic search icon"
            />
          </div>
          <h4 class="portfolio-stack__subheader">Elastic<br> (search engine)</h4>
          <p class="paragraph">We needed a fast and easy-to-configure search engine that will show real-time search results (artists, artworks or auction houses).</p>
        </li>
      </ul>
      <div class="portfolio-carousel__dots" data-carousel="dots">
        <div class="portfolio-carousel__dots-item portfolio-carousel__dots-item--active" data-carousel="dots-item" data-dot-index="0" data-dot-active="true"></div>
        <div class="portfolio-carousel__dots-item" data-carousel="dots-item" data-dot-index="1" data-dot-active="false"></div>
        <div class="portfolio-carousel__dots-item" data-carousel="dots-item" data-dot-index="2" data-dot-active="false"></div>
      </div>
      <div class="portfolio-carousel__nav" data-carousel="nav">
        <div class="icon icon-chevron-left portfolio-carousel__nav-item portfolio-carousel__nav-item--disabled" data-carousel="nav-item" data-nav="prev" data-nav-disabled="true"></div>
        <div class="icon icon-chevron-right portfolio-carousel__nav-item" data-carousel="nav-item" data-nav="next" data-nav-disabled="false"></div>
      </div>
    </div>
  </div>

  <div class="portfolio-experts portfolio-experts--five">
    <h3 class="portfolio-experts__header">Naturaily experts involved in the project</h3>
    <ul class="portfolio__columns">
      <li>
        <div class="portfolio-experts__number"><span>1</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Ruby on Rails Developers</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>2</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Vue.js Developers</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>3</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">UX/UI Designer</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>4</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">QA Engineer</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>5</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Project Manager</p>
      </li>
    </ul>
  </div>
</div>
