<div class="portfolio__section portfolio__section--orange portfolio-testimonial">
  <span class="portfolio__step">Testimonial</span>
  <h2 class="portfolio__title">Testimonial</h2>

  <div portfolio-left class="portfolio-testimonial__content">
    <picture class="portfolio-testimonial__content-image portfolio-testimonial__content-image--artinfo">
      <img src="/assets/images/services/rafal.png" alt="artinfo founder"/>
    </picture>
    <div class="portfolio-testimonial__content-quote">
      <p class="portfolio-testimonial__content-quote__text">
        <span class="icon-quote"></span>
        <span class="portfolio-testimonial__content-quote__text--secondary">Artinfo is a market leader</span>
        and a trusted institution, so we work only with the best
      </p>
      <div class="portfolio__credits">
        <p class="portfolio__credits-person">
          <span class="portfolio__credits-dot"></span>
          Rafał Kamecki
        </p>
        <p class="portfolio__credits-position">
          ArtInfo founder
        </p>
      </div>
    </div>
    <p class="paragraph portfolio-testimonial__content-text">
      I was looking for a reputable company at a high level of technological
      advancement. The project was demanding, and I need to be sure that my partner
      has enough resources, knowledge, and experience to deal with something of
      this magnitude. I chose Naturaily because they are professionals, and I am
      satisfied with this cooperation.<br><br>
      Opinions of Artinfo users are very positive, which is why I can safely say
      that we have succeeded.
    </p>
  </div>
</div>
