<div class="case__section case-challenge case-challenge--with-dots">
  <span class="case__step">Challenge</span>
  <h2 class="case__title">The challenge</h2>

  <div class="case__columns">
    <div class="case__columns--left">
      <p class="paragraph">
        Naturaily, arm in arm with other specialists from Work for
        Impact’s team, had a&nbsp;serious challenge to face. The goal was to
        develop a&nbsp;huge, scalable system with complex business logic.
        The need to match freelancers with suitable job offers was demanding,
        as there were various categories, skills and other variables.
      </p>
    </div>
    <div class="case__columns--right">
      <p class="paragraph">
        Work for Impact is also meant to connect the organizations with the
        best professionals who will help them fulfill their mission. That made
        the team seek a&nbsp;strong skill verification system that would let us
        ensure the quality of the service.  
      </p>
    </div>
    <span class="case__dot case__dot--secondary"></span>
    <span class="case__dot case__dot--yellow"></span>
    <span class="case__dot case__dot--blue"></span>
  </div>
</div>
