<div class="case__section page-estimate page-estimate--white" >
  <div class="case__columns">
    <picture class="case__columns--left page-estimate__image">
      <img src="/assets/images/sunny-suler.png" alt="Naturaily CEO photo"/>
    </picture>
    <div class="case__columns--right page-estimate__content">
      <h2 class="page-estimate__content-text">
        Work for Impact is an&nbsp;example of a&nbsp;scalable marketplace
        <span>Do you want to build a&nbsp;similar solution for your business?</span>
      </h2>
      <a class="page-estimate__content-button btn btn-primary btn-arrow" href="/get-an-estimate" type="button">
        Get an estimate
        {% svg /assets/images/btn-arrow.svg %}
      </a>
    </div>
  </div>
</div>
