<div class="case__section case-goal case-goal--work-for-impact case-goal--with-paragraph">
  <span class="case__step">Goal</span>
  <h2 class="case__title">The goal</h2>

  <div class="case__columns">
    <div class="case__columns--left">
      <p class="paragraph">
        The client manages an&nbsp;NGO by himself, he’s constantly in touch
        with other organizations and knows the industry’s needs like no one
        else. As he had experienced lots of problems with finding the right
        specialists for his organization’s projects, he decided to create
        a&nbsp;platform for qualified freelancers and non-profit organizations
        to work together on the projects they care about.
      </p>
    </div>
    <div class="case__columns--right">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/work-for-impact/goal.jpg"
        alt="Work for Impact man photo"
      />
    </div>
  </div>
</div>
