<div class="case__section case__section--orange">
  <span class="case__step">Solution</span>
  <h2 class="case__title">Solution</h2>
  <p class="case__description">Project’s issues</p>
  <div class="case-features">
    <div class="case__columns case__columns--odd">
      <div class="case-features__description">
        <h3 class="case-features__header">Clean architecture</h3>
        <ul class="case__list case__list--wider">
          <li>isolating business logic from technical details, such as frameworks and a&nbsp;database</li>
          <li>separating business classes from technical classes</li>
          <li>using the <strong>Ruby on Rails</strong> framework as the application infrastructure for the technical part of the platform, with <strong>dry-rb libraries</strong> in a&nbsp;part of an&nbsp;app called a&nbsp;domain for a&nbsp;business logic part</li>
        </ul>
      </div>
      <div class="case-features__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio-cases/work-for-impact/solution1.webp"
          alt="live auction screen"
        />
      </div>
    </div>
    <div class="case__columns case__columns--even">
      <div class="case-features__description">
        <h3 class="case-features__header">The application split into subdomains</h3>
        <ul class="case__list case__list--wider">
          <li>logically splitting the domain into a&nbsp;few subdomains, such as recruitment, negotiations and work log</li>
          <li>each subdomain is dedicated a&nbsp;certain business process, sharing the common naming between business and technical classes</li>
        </ul>
      </div>
      <div class="case-features__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio-cases/work-for-impact/solution2.webp"
          alt="search feature screen"
        />
      </div>
    </div>
    <div class="case__columns case__columns--odd">
      <div class="case-features__description">
        <h3 class="case-features__header">Identity and skill verification</h3>
        <ul class="case__list case__list--wider">
          <li>basic user identity KYC verification with an&nbsp;external provider</li>
          <li>confirming freelancers’ qualifications by education and skill verification via external systems (online competency tests)</li>
        </ul>
      </div>
      <div class="case-features__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio-cases/work-for-impact/solution3.webp"
          alt="live auction screen"
        />
      </div>
    </div>
  </div>

  <div class="case-stack">
    <h3 class="case-stack__header">Technological stack</h3>
    <div class="custom-carousel__wrapper" data-carousel="wrapper">
      <ul class="case__columns custom-carousel__tabs custom-carousel__tabs--four" data-carousel="tabs">
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="0">
          <div class="case-stack__image case-stack__image--wider">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio-cases/icons/rails.webp"
              alt="ruby on rails icon"
            />
          </div>
          <h4 class="case-stack__subheader">
            <strong>Ruby on Rails</strong>
            <br>
            (backend)
          </h4>
        </li>
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="1">
          <div class="case-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio-cases/icons/nuxt.webp"
              alt="nuxt.js icon"
            />
          </div>
          <h4 class="case-stack__subheader">
            <strong>Nuxt.js</strong>
            <br>
            (frontend)
          </h4>
        </li>
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="2">
          <div class="case-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio-cases/icons/elastic.webp"
              alt="elastic icon"
            />
          </div>
          <h4 class="case-stack__subheader">
            <strong>Elastic</strong>
            <br>
            (search engine)
          </h4>
        </li>
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="3">
          <div class="case-stack__image case-stack__image--electron">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio-cases/icons/electron.webp"
              alt="electron icon"
            />
          </div>
          <h4 class="case-stack__subheader">
            <strong>Electron</strong>
            <br>
            (desktop app)
          </h4>
        </li>
      </ul>
      <div class="custom-carousel__dots" data-carousel="dots">
        <div class="custom-carousel__dots-item custom-carousel__dots-item--active" data-carousel="dots-item" data-dot-index="0" data-dot-active="true"></div>
        <div class="custom-carousel__dots-item" data-carousel="dots-item" data-dot-index="1" data-dot-active="false"></div>
        <div class="custom-carousel__dots-item" data-carousel="dots-item" data-dot-index="2" data-dot-active="false"></div>
        <div class="custom-carousel__dots-item" data-carousel="dots-item" data-dot-index="3" data-dot-active="false"></div>
      </div>
      <div class="custom-carousel__nav" data-carousel="nav">
        <div class="icon icon-chevron-left custom-carousel__nav-item custom-carousel__nav-item--disabled" data-carousel="nav-item" data-nav="prev" data-nav-disabled="true"></div>
        <div class="icon icon-chevron-right custom-carousel__nav-item" data-carousel="nav-item" data-nav="next" data-nav-disabled="false"></div>
      </div>
    </div>
  </div>

  <div class="case-stack case-stack--tools case-stack--wfi">
    <h3 class="case-stack__header">External services</h3>
    <div class="custom-carousel__wrapper" data-carousel="wrapper">
      <ul class="case__columns custom-carousel__tabs custom-carousel__tabs--five" data-carousel="tabs">
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="0">
          <div class="case-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio-cases/icons/talkjs.webp"
              alt="talkjs icon"
            />
          </div>
          <h4 class="case-stack__subheader">
            <strong>Talk JS</strong><br>(chat)
          </h4>
        </li>
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="1">
          <div class="case-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio-cases/icons/jitsi.webp"
              alt="jitsi icon"
            />
          </div>
          <h4 class="case-stack__subheader">
            <strong>Jitsi</strong><br>(video conferencing)
          </h4>
        </li>
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="2">
          <div class="case-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio-cases/icons/sumsub.webp"
              alt="sumsub icon"
            />
          </div>
          <h4 class="case-stack__subheader">
            <strong>Sumsub</strong><br>(identity verification)
          </h4>
        </li>
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="3">
          <div class="case-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio-cases/icons/qcheck.webp"
              alt="qcheck icon"
            />
          </div>
          <h4 class="case-stack__subheader">
            <strong>QCheck</strong><br>(education institution search)
          </h4>
        </li>
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="4">
          <div class="case-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio-cases/icons/interviewmocha.webp"
              alt="interview mocha icon"
            />
          </div>
          <h4 class="case-stack__subheader">
            <strong>Interview Mocha</strong><br>(skill verification)
          </h4>
        </li>
      </ul>
      <div class="custom-carousel__dots" data-carousel="dots">
        <div class="custom-carousel__dots-item custom-carousel__dots-item--active" data-carousel="dots-item" data-dot-index="0" data-dot-active="true"></div>
        <div class="custom-carousel__dots-item" data-carousel="dots-item" data-dot-index="1" data-dot-active="false"></div>
        <div class="custom-carousel__dots-item" data-carousel="dots-item" data-dot-index="2" data-dot-active="false"></div>
        <div class="custom-carousel__dots-item" data-carousel="dots-item" data-dot-index="3" data-dot-active="false"></div>
        <div class="custom-carousel__dots-item" data-carousel="dots-item" data-dot-index="4" data-dot-active="false"></div>
      </div>
      <div class="custom-carousel__nav" data-carousel="nav">
        <div class="icon icon-chevron-left custom-carousel__nav-item custom-carousel__nav-item--disabled" data-carousel="nav-item" data-nav="prev" data-nav-disabled="true"></div>
        <div class="icon icon-chevron-right custom-carousel__nav-item" data-carousel="nav-item" data-nav="next" data-nav-disabled="false"></div>
      </div>
    </div>
  </div>
</div>
