<div class="case__section case__section--orange case-testimonial">
  <span class="case__step">Testimonial</span>
  <h2 class="case__title">Testimonial</h2>

  <div class="case-testimonial__content">
    <picture class="case-testimonial__content-image case-testimonial__content-image--work-for-impact">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/work-for-impact/testimonial.webp"
        alt="Geoff Hucker"
      />
    </picture>
    <div class="case-testimonial__content-quote">
      <p class="case-testimonial__content-quote__text">
        <span class="icon-quote"></span>
        The quality of
        <span class="case-testimonial__content-quote__text--secondary">Naturaily’s code</span>
        and documentation has been
        <span class="case-testimonial__content-quote__text--secondary">exceptional</span>.
      </p>
      <div class="case__credits">
        <p class="case__credits-person">
          <span class="case__credits-dot"></span>
          Geoff Hucker
        </p>
        <p class="case__credits-position">
          CEO Work for Impact
        </p>
      </div>
    </div>
    <p class="paragraph case-testimonial__content-text">
      We started with hiring a&nbsp;frontend developer from Naturaily to work on
      tasks that involved Vue.js. We were so happy that we hired some backend
      developers to come in and build in Ruby on Rails and Elastic search.
      Naturaily also helped us integrate interview software and
      telecommunications and messaging software.<br><br>
      We’re very particular on code and documentation, so we do a&nbsp;lot of work
      on the architecture and the application so that they’re focused. The
      quality of Naturaily’s code and documentation has been exceptional.
      The quality of their development stands out. I also appreciate their
      ability to communicate and understand quite complex tasks.
    </p>
  </div>
</div>
