---
title: Artinfo - Web development case study | Naturaily
description: >-
  Digital transformation comes to the art world. Check out how we created
  an online platform for real-time biddings.
permalink: /portfolio/artinfo
layout: default
---

<header class="l-full">
  {% include portfolio-cases/artinfo/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio-cases/artinfo/about.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/artinfo/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/artinfo/challenge.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/artinfo/solution.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/artinfo/results.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/artinfo/testimonial.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/artinfo/estimate.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/artinfo/other.html %}
</div>

<script type="text/javascript">
  {% include portfolio/carousel.js %}
</script>
