---
title: AWN Consulting case study | Naturaily
description: >-
  Europe’s leading boat supplier migrates their store from Magento
  to Shopify Plus and optimizes the conversion with Naturaily. Read the story
  of our consulting workshops!
permalink: /portfolio/awn
layout: default
---

<header class="l-full">
  {% include portfolio-cases/awn/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio-cases/awn/about.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/awn/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/awn/challenge.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/awn/solution.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/awn/results.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/awn/estimate.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/awn/other.html %}
</div>

<script type="text/javascript">
  {% include portfolio/carousel.js %}
</script>
