---
title: BGL - Jamstack development case study | Naturaily
description: >-
  Check out how we created a well-performing, SEO-optimized and easy to edit website
  for our Swiss client – in approximately 200 hours. 
permalink: /portfolio/bgl
layout: default
modifier: bgl
hero-text: >-
  <strong>Baugenossenschaft Letten</strong>
  – Well-performing,
  <br>
  <span class="non-breaking">SEO-optimized</span>
  and fast website
  <br>
  built via Jamstack
hero-img: /assets/images/portfolio-cases/bgl/top.webp
hero-alt: BGL screens
about-step: About
about-header: Let’s meet Baugenossenschaft Letten
about-column-left: >-
  Baugenossenschaft Letten (BGL) is a&nbsp;Zurich housing cooperative. It comprises of
  607&nbsp;apartments, spread over 6&nbsp;settlements in the city of Zurich. 
  <strong>It was founded on February&nbsp;16, 1922</strong>, as a&nbsp;building cooperative
  by state, city and private employees of Zurich and renamed in&nbsp;1973. The current name
  refers to the district of Letten, where the first settlement of the cooperative was built.
about-column-right: >-
  The company plays a&nbsp;very important role in bringing the local community together
  and makes every effort to ensure that each tenant feels at&nbsp;home. The website serves
  not only as an&nbsp;image function, but also provides residents with the most important
  information about BGL, its mission, the residential development and the people behind
  the building cooperative.
separator-mobile: /assets/images/portfolio-cases/bgl/separator-mobile.webp
separator-desktop: /assets/images/portfolio-cases/bgl/separator.webp
separator-alt: BGL screens

---

<header class="l-full">
  {% include portfolio-cases/template/hero.html %}
</header>

<div class="l-center l-center--small">
  {% include portfolio-cases/template/about.html %}
</div>
