---
title: BGL - Jamstack development case study | Naturaily
description: >-
  Check out how we created a well-performing, SEO-optimized and easy to edit website
  for our Swiss client – in approximately 200 hours. 
permalink: /portfolio/bgl
layout: default
modifier: bgl
hero: 
  text: >-
    <strong>Baugenossenschaft Letten</strong>
    – Well-performing,
    <br>
    <span class="non-breaking">SEO-optimized</span>
    and fast website
    <br>
    built via Jamstack
  img: /assets/images/portfolio-cases/bgl/top.webp
  alt: BGL screens
about:
  step: About
  header: Let’s meet Baugenossenschaft Letten
  columns: 
    left: >-
      Baugenossenschaft Letten (BGL) is a&nbsp;Zurich housing cooperative. It comprises of
      607&nbsp;apartments, spread over 6&nbsp;settlements in the city of Zurich. 
      <strong>It was founded on February&nbsp;16, 1922</strong>, as a&nbsp;building cooperative
      by state, city and private employees of Zurich and renamed in&nbsp;1973. The current name
      refers to the district of Letten, where the first settlement of the cooperative was built.
    right: >-
      The company plays a&nbsp;very important role in bringing the local community together
      and makes every effort to ensure that each tenant feels at&nbsp;home. The website serves
      not only as an&nbsp;image function, but also provides residents with the most important
      information about BGL, its mission, the residential development and the people behind
      the building cooperative.
  separator:
    mobile: /assets/images/portfolio-cases/bgl/separator-mobile.webp
    desktop: /assets/images/portfolio-cases/bgl/separator.webp
    alt: BGL screens
goal:
  step: Goal
  header: What the client wanted to achieve
  columns: 
    left: >-
      2022 is a&nbsp;very important year for BGL, as the company is celebrating its 100th anniversary.
      They decided to honor this with a&nbsp;new website, which will show that a&nbsp;company can be
      traditional and modern at the same time. <strong>BGL wanted it to be fresh, intuitive,
      <span class="non-breaking">easy-to-navigate</span> and, most importantly, informative</strong>.
      <br><br>
      From the practical point of view, there was also a&nbsp;need to give the content team the ability
      to edit the website content and rearrange the layout on their own. BGL wanted to be independent
      from external providers and <strong>be able to make necessary updates whenever they want</strong>. 
    right: >-
      Since it’s 2021, SEO optimization was a&nbsp;must, alongside <strong>excellent user experience
      and memorable design</strong>.
      <br><br>
      The previous website was developed over 10 years ago. While part of the information was updated
      throughout this period, <strong>the UI itself has never received an&nbsp;update until now</strong>.
      This also goes for all other assets unrelated to the website. With the anniversary approaching, 
      BGL aimed to improve their communication all-round. This included a&nbsp;brand new,
      <span class="non-breaking">state-of-the-art</span> website, new film and photo content,
      and revised documents for print (brochures, etc.).
  img: /assets/images/portfolio-cases/bgl/goal.webp
  alt: city photo from above
challenge:
  step: Challenge
  header: What we had to face
  columns:
    left: >-
      Our first step was a&nbsp;<strong>detailed analysis of the Storyblok CMS</strong>. Knowing that
      it’s in the initial phase of development and the documentation is misleading in some parts
      – we had to know all of its capabilities and limitations.
      <br><br>
      As soon as we received all the necessary assets, such as the content, images, videos
      and documentation, we started the development process. We worked on a completely new website,
      so we could do all the steps by the book.
    right: >-
      The only "challenge" we had to face was to complete the project on time. We estimated that
      the work would take approximately 200&nbsp;working hours and that was exactly what it took
      to finish off the new BGL’ website. It was a&nbsp;one-man project and our <strong>Jamstack
      developer coped with this perfectly.</strong>
      <br><br>
      One of the most demanding tasks was to implement both an SSG (Static-Site Generator) and SSR
      (Server Side Rendering) scripting at the same time to reach different goals simultaneously. 
solution: 
  step: Solution
  header: How we chose the stack and strategy
  quantity: 2
  columns:
    one:
      img: /assets/images/portfolio-cases/bgl/solution1.webp
      alt: bgl team screen
      text: >-
        There were no specific guidelines in terms of design or technology. BGL’s only request was
        that the site was <strong>light-weight, both visually and in terms of loading times</strong>,
        and that <strong>the technologies used are future proof</strong>. Knowing that, we suggested
        going with the <span class="non-breaking">state-of-the-art</span> Jamstack approach.
        <br><br>
        It was also important for content specialists to be able to edit the content on the site
        without any requirements for coding. <strong>Storyblok (a headless CMS) was a perfect fit</strong>
        for many reasons, including the visual editor, which makes it easier for editors to make
        changes themselves.
    two:
      img: /assets/images/portfolio-cases/bgl/solution2.webp
      alt: bgl history screen
      text: >-
        To round off the Jamstack approach, <strong>we chose Next.js</strong>.
        <br><br>
        An&nbsp;<span class="non-breaking">open-source</span> React <span class="non-breaking">front-end</span>
        development web framework created by <strong>Vercel</strong>, it enables functionality such as
        <span class="non-breaking">server-side</span> rendering and generating static websites
        for <span class="non-breaking">React-based</span> web applications.
        <br><br>
        The last element of the puzzle was the aforementioned Vercel, which enables hosting websites
        and web services that deploy instantly and scale automatically – <strong>all without
        any configuration</strong>.
stack-header: Technological stack
stack:
  - nextjs: 
    - NextJS
    - /assets/images/portfolio-cases/icons/next.webp
  - vercel: 
    - Vercel
    - /assets/images/portfolio-cases/icons/vercel.webp
  - storyblok:
    - Storyblok<br>(Headless CMS)
    - /assets/images/portfolio-cases/icons/storyblok.webp
  - react:
    - React
    - /assets/images/portfolio-cases/icons/react.webp
blog:
  url: /blog/comparison-of-15-headless-cms-for-jamstack-websites
  cover: /assets/images/blog_cover_headless-cms-jamstack.webp
  alt: post graphic
  text: >-
    If you want to learn more about <strong>Storyblok and other headless CMS solutions</strong>
    – check one of&nbsp;the&nbsp;articles on our blog.
  cta: Check the details
results-step: Results
results-header: What <span>we accomplished</span>
results-intro: >-
  BGL’s new website is light-weight, both visually and in terms of loading times, and technologically
  future-proof. All of the client’s goals have been reached!
results-img: /assets/images/portfolio-cases/bgl/results.webp
results-alt: city photo
results-column-left: >-
  It also has all the advantages of being implemented with the Jamstack approach, such as good
  performance, scalability, great user experience, high security, maintenance and flexibility.  
results-column-right: >-
  Apart from developing the new website, we also prepared a clear and useful guide through
  Storyblok and conducted a special workshop with the team responsible for updating the content.
  Now they are ready to do it on their own – whenever they need. 
results-numbers-header: 'Here are the most important metrics (on&nbsp;desktop):'
results: 
  - First Contentful Paint (FCP): 0.6&nbsp;s
  - Time to Interactive: 0.9&nbsp;s
  - Total Blocking Time: 50&nbsp;ms
  - Cumulative Layout Shift: 0.002
testimonial-step: Testimonial
testimonial-header: What our client says
testimonial-intro: I enjoyed working with Naturaily a lot.
testimonial-text: >-
  I appreciated the clear communication and the great relations we had with the project manager,
  Tomasz, and the owner Marcin. I was especially happy with the work ethic of Marcin Antczak
  – including his dedication to the project and working night shifts in order to meet certain
  deadlines. Both agencies and the client are super happy with the work of Naturaily. We will
  definitely be back for future projects.
testimonial-img: /assets/images/portfolio-cases/bgl/testimonial.webp
testimonial-name: Timothy Ross
testimonial-position: ORISONO GmbH
estimate-img: /assets/images/portfolio-cases/office-suler.webp
estimate-header: >-
  BGL’s case
  <br>
  is a prime example of how we deliver Jamstack web development.
estimate-text: Do you also want a&nbsp;fast, safe and modern website?
---

<header class="l-full">
  {% include portfolio-cases/template/hero.html %}
</header>

<div class="l-center l-center--small">
  {% include portfolio-cases/template/about.html %}
</div>

<div class="l-center l-center--small">
  {% include portfolio-cases/template/goal.html %}
</div>

<div class="l-center l-center--small">
  {% include portfolio-cases/template/challenge.html %}
</div>

<div class="l-full">
  {% include portfolio-cases/template/solution.html %}
</div>

<div class="l-full">
  {% include portfolio-cases/template/stack.html %}
</div>

<div class="l-center l-center--small">
  {% include portfolio-cases/template/blog.html %}
</div>

<div class="l-center l-center--small">
  {% include portfolio-cases/template/results.html %}
</div>

<div class="l-full">
  {% include portfolio-cases/template/testimonial.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/template/estimate.html %}
</div>

<script type="text/javascript">
  {% include carousel.js %}
</script>
