---
title: Dajemyslowo - Jamstack development case study | Naturaily
description: >-
  Check out how we created an SEO-friendly, well-performing, mobile-optimized 
  and fully animated website for a marketing agency.
permalink: /portfolio/dajemyslowo
layout: default
---

<header class="l-full">
  {% include portfolio-cases/dajemyslowo/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio-cases/dajemyslowo/about.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/dajemyslowo/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/dajemyslowo/challenge.html %}
</div>

<div class="l-full">
  {% include portfolio-cases/dajemyslowo/solution.html %}
</div>

<div class="l-full">
  {% include portfolio-cases/dajemyslowo/stack.html %}
</div>

<div class="l-full">
  {% include portfolio-cases/dajemyslowo/experts.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/dajemyslowo/results.html %}
</div>

<div class="l-full">
  {% include portfolio-cases/dajemyslowo/awards.html %}
</div>

<div class="l-full">
  {% include portfolio-cases/dajemyslowo/testimonials.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/dajemyslowo/estimate.html %}
</div>

<script type="text/javascript">
  {% include carousel.js %}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>

<script type="text/javascript">
  gsap.registerPlugin(ScrollTrigger);
  
  {% include portfolio-cases/dajemyslowo/animations.js %}
  {% include portfolio-cases/dajemyslowo/gsap-reset.js %}
</script>
