---
title: Etno Cafe - Jamstack development case study | Naturaily
description: >-
  Check out how we created a modern, well-performing, easy-to-navigate website for
  a Polish coffee concept including a coffee shop chain, coffee roastery and cold brewery.
permalink: /portfolio/etno-cafe
layout: default
---

<header class="l-full">
  {% include portfolio-cases/etno/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio-cases/etno/about.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/etno/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/etno/challenge.html %}
</div>
