---
title: Etno Cafe - Jamstack development case study | Naturaily
description: >-
  Check out how we created a modern, well-performing, easy-to-navigate website for
  a Polish coffee concept including a coffee shop chain, coffee roastery and cold brewery.
permalink: /portfolio/etno-cafe
layout: default
modifier: etno 
hero:
  text: >-
    <strong>Etnocafe.pl</strong>
    Modern, performant
    <br>
    and easy-to-navigate
    <br>
    website based on&nbsp;Jamstack
  img: /assets/images/portfolio-cases/etno/top.webp
  alt: Etno Cafe screens
about:
  step: About
  header: Let’s meet Etno Cafe
  columns:
    left: >-
      Etno Cafe is a&nbsp;Polish coffee concept that includes a&nbsp;coffee shop chain,
      coffee roastery and cold brewery. The brand was created 9&nbsp;years ago in&nbsp;Wroclaw,
      and now <strong>it is one of the most recognizable coffee brands in the&nbsp;country</strong>,
      and soon to establish itself abroad as well. Etno Cafe puts great attention to&nbsp;detail into
      their daily work, ensuring the highest possible standards. 
    right: >-
      This is the source of their <strong>undeniable success</strong>.
      The roastery was launched in&nbsp;2013 and the first coffee shop was opened in&nbsp;2015 
      – now there are 20&nbsp;of them in 7 different Polish cities. The third and final part of the
      Etno business, the coffee brewery, was launched in&nbsp;2016 and now the Cold Brew Coffee is one
      of the brand's favorite products, especially during the summer.
  separator:
    mobile: /assets/images/portfolio-cases/etno/separator-mobile.webp
    desktop: /assets/images/portfolio-cases/etno/separator.webp
    alt: Etno Cafe screens
goal:
  step: Goal
  header: What the client wanted to achieve
  columns:
    left: >-
      For Etno Cafe’s owners, their website is <strong>a&nbsp;vital way of expanding brand awareness
      and reaching out to new customers</strong>. As&nbsp;such, they wanted it to&nbsp;be performant,
      stable, secure and in&nbsp;line with the newly established look and&nbsp;feel of&nbsp;the brand.
      <br><br>
      <strong>Information transparency, the ability to&nbsp;easily edit website content, and an&nbsp;increase
      in&nbsp;users’ interactions</strong> were also some of the&nbsp;main goals the client wanted to achieve.
      This was mostly due to&nbsp;the wide range of the&nbsp;offer, the&nbsp;seasonal menus in&nbsp;each
      of the&nbsp;coffee shops, and&nbsp;an&nbsp;overall willingness to&nbsp;keep customers informed.
    right: >-
      The new website was designed mostly for marketing and image-building purposes. Nevertheless, the
      <strong>growth in the&nbsp;number of&nbsp;visitors and B2B leads</strong> was also more than welcome,
      so we needed to&nbsp;develop some integrations with email marketing and lead generation tools
      to accommodate these additional benefits.
      <br><br>
      Summing up, Etno Cafe wanted their new website to be stable, secure and performant, but also visually
      appealing and memorable.
  img: /assets/images/portfolio-cases/etno/goal.webp
  alt: Etno Cafe style collage
challenge: 
  step: Challenge
  header: What we had to face
  columns:
    left: >-
      Etno Cafe’s previous website was built on&nbsp;WordPress in&nbsp;2014, so it was not only
      out-of-date but also very vulnerable and prone to&nbsp;cyber attacks. It could cause
      a&nbsp;lot of troubles, such as&nbsp;SEO issues and data leakages. The main challenge was
      to&nbsp;find a&nbsp;proper alternative based on the&nbsp;client’s needs and future plans.
      <br><br>
      The new website was supposed to be <strong>stable</strong>, <strong>easy-to-manage</strong>
      (even by non-technical members of the organization), <strong>editable</strong>, <strong>user-friendly</strong>,
      <strong>fresh</strong> and <strong>secure</strong>.
    right: >-
      That’s why, after in-depth analysis, we’ve decided to go with the Jamstack approach. 
      <br><br>
      <strong>Jamstack websites are known to&nbsp;be&nbsp;fundamentally more secure than WordPress</strong>
      because they don’t rely on a&nbsp;public database. What’s more, they don’t expose scripting and,
      if you serve them from a&nbsp;CDN, they don’t have a&nbsp;single point of&nbsp;failure.
solution:
  step: Solution
  header: How we chose the stack and strategy
  quantity: 3
  columns:
    one:
      img: /assets/images/portfolio-cases/etno/solution1.webp
      alt: coffee collage
      text: >-
        Etno Cafe gave us a&nbsp;free hand when it comes to choosing the technology. After 
        an&nbsp;in-depth analysis, <strong>we were sure the Jamstack approach is the best possible 
        choice</strong>. A&nbsp;highly performant website influences the user experience, increases
        user retention rates, causes a&nbsp;bump in SEO rankings and helps to achieve marketing goals.
        <br><br>
        Knowing that the visual and textual side of the project is as important to the client as the 
        technological reliability –&nbsp;<strong>we&nbsp;engaged several specialists</strong> who worked together
        to achieve these goals.
    two:
      img: /assets/images/portfolio-cases/etno/solution2.webp
      alt: coffee collage
      text: >-
        The starting point of the project was to develop the content that would convey the brand's
        philosophy and be relevant to the target groups. The next step was UX/UI - and graphic design –
        all of which had to be <strong>in line with the new look and&nbsp;feel of the brand</strong>.
        <br><br>
        Having the content and graphic designs, we could go on to implementation. The choice of appropriate
        technologies and tools was not without significance.
    three:
      img: /assets/images/portfolio-cases/etno/solution3.webp
      alt: coffee collage
      text: >- 
        We chose <strong>Sanity (a&nbsp;headless CMS solution)</strong> because it is highly flexible
        and can be configured precisely to Etno Cafe’s needs. A headless CMS allows us to deliver content
        wherever we need — not only to a&nbsp;templated site, but even to many receivers at the same time,
        like e-stores or mobile apps. Sanity meets one of the key goals – content changes and edits can be made
        without any developer support, so Etno Cafe’s team members can easily update the menu, special offers
        and new coffee shop locations.
  blog:
    url: /blog/comparison-of-15-headless-cms-for-jamstack-websites
    cover: /assets/images/blog_cover_headless-cms-jamstack.webp
    alt: post graphic
    text: >-
      If you want to learn more about <strong>Sanity and other headless CMS solutions</strong>
      – check one of&nbsp;the&nbsp;articles on our blog.
    cta: Read on
  final-columns:
    left: >-
      To complete the Jamstack approach, we chose Netlify and Gatsby. <strong>Netlify is a&nbsp;content
      delivery network</strong> that ensures the website will be super-fast using global distribution
      and automated pre-rendering. It lets client create unlimited branches of the website.
      It&nbsp;has both built-in DNS management & SSL certificates, which results in less complexity when
      launching the website, and it’s all hosted in one place.
    right: >- 
      <strong>Gatsby JS is the Static Site Generator</strong> (you can think of it as a website publisher)
      – it takes the input files needed and both converts and publishes them into a web-friendly format.
stack: 
  header: Technological stack
  technologies:
    - gatsby: 
      - Gatsby (SSG):<br>React & GraphQL
      - /assets/images/portfolio-cases/icons/gatsby.webp
    - sanity: 
      - Sanity<br>(Headless CMS)
      - /assets/images/portfolio-cases/icons/sanity2.webp
    - netlify:
      - Netlify<br>(CND)
      - /assets/images/portfolio-cases/icons/netlify.webp
experts: 
  header: Naturaily experts involved in the project
  names:
    - Content<br>Creator
    - Graphic<br>Designer
    - UX/UI<br>Specialist
    - Jamstack<br>Developer
    - Project<br>Manager
results-step: Results
results-header: What <span>we accomplished</span>
results-intro: >-
  Finally, Etno Cafe’s new website is fast, safe, easy-to-navigate, user-friendly
  and well-performing, as well as textually and graphically concordant with brand image. 
results-img: /assets/images/portfolio-cases/etno/results.webp
results-alt: cafe interior photo
results-column-left: >-
  We have achieved all set objectives. The information architecture is transparent and navigation
  is easy, so customers can find all the information they need without difficulty. What’s more,
  the website is vibrant, visually appealing and memorable. It undoubtedly stands out from
  the competition.
results-column-right: >-
  We believe that a secure and performant website will provide strong support for Etno Cafe
  in developing their brand and conquering new markets.
results-numbers-header: Etno Cafe in&nbsp;numbers (according to&nbsp;Lighthouse Report)
results: 
  - Performance: 92
  - Accessibility: 92
  - Best Practises: 93
  - Search Engine Optimisation: 100
testimonial-step: Testimonial
testimonial-header: What our client says
testimonial-img: /assets/images/portfolio-cases/etno/testimonials.webp
testimonial-name: Zuzanna Zapolska
testimonial-position: Head of Digital & E-Commerce at Etno Cafe
testimonial-intro: >-
  This was not a typical project, especially from
  <span class="case-wide-testimonial__quote--secondary">
    the visual perspective<span>.</span>
  </span>
testimonial-text: >-
  Naturaily impressed us with their flexibility and determination to succeed, overcoming each challenge
  that presented itself. Our needs have always come first. They managed to fulfill our vision with creativity 
  and a problem-solving approach. It was a truly honest cooperation, full of patience and understanding.
  The team was always available, ready to help and answered all of our questions. I strongly
  recommend working with Naturaily.
estimate-img: /assets/images/sunny-suler.webp
estimate-header: Etno Cafe’s case is a&nbsp;prime example of how we deliver Jamstack web development.
estimate-text: Do you also want a&nbsp;fast, safe and modern website?
---

<header class="l-full">
  {% include portfolio-cases/template/hero.html %}
</header>

<div class="l-center l-center--small">
  {% include portfolio-cases/template/about.html %}
</div>

<div class="l-center l-center--small">
  {% include portfolio-cases/template/goal.html %}
</div>

<div class="l-center l-center--small">
  {% include portfolio-cases/template/challenge.html %}
</div>

<div class="l-full">
  {% include portfolio-cases/template/solution.html %}
</div>

<div class="l-full">
  {% include portfolio-cases/template/stack.html %}
</div>

<div class="l-full">
  {% include portfolio-cases/template/experts.html %}
</div>

<div class="l-center l-center--small">
  {% include portfolio-cases/template/results.html %}
</div>

<div class="l-full">
  {% include portfolio-cases/template/testimonial-wide.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/template/estimate.html %}
</div>

<script type="text/javascript">
  {% include carousel.js %}
</script>
