---
title: LV Cloud - IoT development case study | Naturaily
description: >-
  Using the Internet of Things to prevent power outage. Check out how we created
  an enterprise-level monitoring solution for the energy grid.
permalink: /portfolio/lvcloud
layout: default
---

<header class="l-full">
  {% include portfolio-cases/lvcloud/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio-cases/lvcloud/about.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/lvcloud/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/lvcloud/video.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/lvcloud/challenge.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/lvcloud/solution.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/lvcloud/results.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/lvcloud/testimonial.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/lvcloud/estimate.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/lvcloud/other.html %}
</div>

<script type="text/javascript">
  {% include portfolio/carousel.js %}
</script>
