---
title: Portfolio | Naturaily
description: >-
  From an enterprise-level IoT monitoring solution for energy grids to the web
  app for live art auctions - check out our case studies.
permalink: /portfolio
layout: default
---

<header class="l-full">
  {% include portfolio/hero.html %}
</header>

<div class="l-full">
  {% include portfolio/lvcloud.html %}
</div>

<div class="l-center">
  {% include portfolio/cases1.html %}
</div>

<div class="l-full">
  {% include portfolio/artinfo.html %}
</div>

<div class="l-center">
  {% include portfolio/cases2.html %}
</div>

<div class="l-center">
  {% include portfolio/clutch.html %}
</div>

<div class="l-center">
  {% include portfolio/cases3.html %}
</div>

<div class="l-center">
  {% include portfolio/nutshell.html %}
</div>

<div class="l-center">
  {% include portfolio/partners.html %}
</div>

<div class="l-center">
  {% include portfolio/estimate.html %}
</div>

<script type="text/javascript">
  {% include carousel.js %}
</script>

<script type="text/javascript">
  {% include show-more.js %}
</script>
