---
title: Work for Impact Ruby on Rails development | Naturaily
description: >-
  An innovative platform connecting freelancers who want their job to make
  a difference with socially responsible organizations and nonprofits working
  together on impactful projects.
permalink: /portfolio/work-for-impact
layout: default
---

<header class="l-full">
  {% include portfolio-cases/work-for-impact/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/about.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/challenge.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/solution.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/results.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/testimonial.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/estimate.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/other.html %}
</div>

<script type="text/javascript">
  {% include carousel.js %}
</script>
