<div class="case__section case-about">
  <span class="case__step">About</span>
  <h2 class="case__title">About Artinfo</h2>

  <div class="case__columns">
    <div class="case__columns--left">
      <p class="paragraph">
        Artinfo is an&nbsp;art-center portal, operating since 2000. From the start, it has
        been the main source of information for collectors, art dealers, investors
        and art lovers. It has a&nbsp;vast archive containing all the necessary data about
        past auctions and their results. The artworks base exceeds 400,000 pieces.
      </p>
    </div>
    <div class="case__columns--right">
      <p class="paragraph">
        More than just an&nbsp;information page, Artinfo is also a&nbsp;broker between auction
        houses and art lovers who wanted to take part in the auction. Bidding orders
        were received by phone, which generated a&nbsp;lot of work for the entire team.
      </p>
      <span class="case__dot case__dot--standard case__dot--secondary"></span>
      <span class="case__dot case__dot--standard case__dot--yellow"></span>
    </div>
    <div class="case-about__separator case-about__separator--yellow">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/artinfo/separator.png"
        alt="artinfo screens"
      />
    </div>
  </div>
</div>
