<div class="case__section case-challenge">
  <span class="case__step">Challenge</span>
  <h2 class="case__title">The challenge</h2>

  <div class="case__columns">
    <div class="case__columns--left">
      <p class="paragraph">
        Artinfo was a&nbsp;home for over thousands of data, much of it 10 years old,
        and the database was in MySQL.<br><br>
        We needed that data to create Artinfo Live, so we decided to migrate it all
        to more performant PostgreSQL database, rich with features.
      </p>
    </div>
    <div class="case__columns--right">
      <p class="paragraph">
        Simultaneously, we also started the new web application development process.
        The requirements were clear, we had to create an&nbsp;easy-to-use platform for
        handling online real-time bidding during auctions. <strong>Consequently,
        the main challenges were stability and fast data processing.</strong>
      </p>
    </div>
  </div>

  <div class="case-challenge__figure">
    <div class="case-challenge__figure-step case-challenge__figure-step--first">
      <span class="case-challenge__figure-step__label">MySQL</span>
      <img
        class="case-challenge__figure-step__image"
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/artinfo/challenge-mysql.webp"
        alt="MySQL"
      />
    </div>
    <div class="case-challenge__figure-arrows">
      <span></span><span></span><span></span>
      <span class="invisible-sm"></span>
      <span class="invisible-sm"></span>
    </div>
    <div class="case-challenge__figure-step case-challenge__figure-step--last">
      <span class="case-challenge__figure-step__label">PostgreSQL</span>
      <img
        class="case-challenge__figure-step__image"
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/artinfo/challenge-postgresql.webp"
        alt="PostgreSQL"
      />
    </div>
  </div>
</div>
