<div class="case__section case-goal case-goal--artinfo">
  <span class="case__step">Goal</span>
  <h2 class="case__title">The goal</h2>

  <div class="case__columns">
    <div class="case__columns--left">
      <p class="paragraph">
        We have always wanted to be an innovative company, stay the market leader
        and provide our clients with services at the highest level.<br><br>
        Observing what is happening on world markets, we decided to create
        an&nbsp;application that will bring a&nbsp;new quality to the world of art auctions.
      </p>
      <div class="case__credits">
        <p class="case__credits-person">
          <span class="case__credits-dot"></span>
          Rafal Kamecki
        </p>
        <p class="case__credits-position">
          Artinfo founder
        </p>
      </div>
    </div>
    <div class="case__columns--right">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/artinfo/goal.webp"
        alt="artinfo founder"
      />
    </div>
  </div>
</div>
