<div class="case-hero">
  <div class="case-hero__content">
    <div class="case-hero__text">
      <h1>
        <span>Artinfo</span>
        <span><strong>The Web App</strong></span>
        <span>for <strong>Live Art Auctions</strong></span>
      </h1>
    </div>
    <div class="case-hero__image">
      <figure class="geometric-figure geometric-figure__secondary">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
      <picture>
        <source
          media="(min-width: 992px)"
          srcset="/assets/images/portfolio-cases/artinfo/top.webp"
          alt="ArtInfo desktop and mobile screens"
        >
        <img
          class="case-hero__image-img"
          src="/assets/images/portfolio-cases/artinfo/top-mobile.webp"
          alt="ArtInfo mobile screen"
        >
      </picture>
    </div>
  </div>
</div>
