<div class="case__section case__section--orange">
  <span class="case__step">Solution</span>
  <h2 class="case__title">Solution</h2>
  <p class="case__description">Some of the new Artinfo’s features</p>

  <div class="case-features">
    <div class="case__columns case__columns--odd">
      <div class="case-features__description">
        <h3 class="case-features__header">Live art auctions<br> (Artinfo Live)</h3>
        <ul class="case__list">
          <li>take part in real-time bidding and buy the artwork online</li>
          <li>get instant access to the offers of many auction houses</li>
        </ul>
      </div>
      <div class="case-features__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio-cases/artinfo/solution1.webp"
          alt="live auction screen"
        />
      </div>
    </div>
    <div class="case__columns case__columns--even">
      <div class="case-features__description">
        <h3 class="case-features__header">Sophisticated<br> search engine</h3>
        <ul class="case__list">
          <li>check which artworks of your favorite artists are available</li>
          <li>look through many online catalogues from different auction houses</li>
        </ul>
      </div>
      <div class="case-features__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio-cases/artinfo/solution2.webp"
          alt="search feature screen"
        />
      </div>
    </div>
    <div class="case__columns case__columns--odd">
      <div class="case-features__description">
        <h3 class="case-features__header">User admin panel</h3>
        <ul class="case__list">
          <li>create a list of your favorite artists (the Wishlist) and receive e-mail notifications when their artworks appear in auctions</li>
          <li>select and observe interesting art pieces</li>
          <li>check archived auction results</li>
        </ul>
      </div>
      <div class="case-features__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio-cases/artinfo/solution3.webp"
          alt="user admin panel screen"
        />
      </div>
    </div>
  </div>

  <div class="case-stack">
    <h3 class="case-stack__header">Technological stack</h3>
    <div class="custom-carousel__wrapper" data-carousel="wrapper">
      <ul class="case__columns custom-carousel__tabs custom-carousel__tabs--3" data-carousel="tabs">
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="0">
          <div class="case-stack__image case-stack__image--wider">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio-cases/icons/rails.webp"
              alt="ruby on rails icon"
            />
          </div>
          <h4 class="case-stack__subheader">
            <strong>Ruby on Rails</strong>
            <br>
            (backend)
          </h4>
          <p class="paragraph">
            This mature framework allowed us to develop the core structure of
            the application.
          </p>
        </li>
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="1">
          <div class="case-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/vue-logo.webp"
              alt="vue.js icon"
            />
          </div>
          <h4 class="case-stack__subheader">
            <strong>Vue.js</strong>
            <br>
            (frontend)
          </h4>
          <p class="paragraph">
            We used this progressive javascript framework to develop the CMS, as
            well as employee, user and helper panels.
          </p>
        </li>
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="2">
          <div class="case-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio-cases/icons/elastic.webp"
              alt="elastic search icon"
            />
          </div>
          <h4 class="case-stack__subheader">
            <strong>Elastic</strong>
            <br>
            (search engine)
          </h4>
          <p class="paragraph">
            We needed a fast and easy-to-configure search engine that will show
            real-time search results (artists, artworks or auction houses).
          </p>
        </li>
      </ul>
      <div class="custom-carousel__dots" data-carousel="dots">
        <div class="custom-carousel__dots-item custom-carousel__dots-item--active" data-carousel="dots-item" data-dot-index="0" data-dot-active="true"></div>
        <div class="custom-carousel__dots-item" data-carousel="dots-item" data-dot-index="1" data-dot-active="false"></div>
        <div class="custom-carousel__dots-item" data-carousel="dots-item" data-dot-index="2" data-dot-active="false"></div>
      </div>
      <div class="custom-carousel__nav" data-carousel="nav">
        <div class="icon icon-chevron-left custom-carousel__nav-item custom-carousel__nav-item--disabled" data-carousel="nav-item" data-nav="prev" data-nav-disabled="true"></div>
        <div class="icon icon-chevron-right custom-carousel__nav-item" data-carousel="nav-item" data-nav="next" data-nav-disabled="false"></div>
      </div>
    </div>
  </div>

  <div class="case-experts">
    <h3 class="case-experts__header">Naturaily experts involved in the project</h3>
    <ul class="case-experts__list">
      <li>
        <div class="case-experts__number">1</div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Ruby on Rails Developers</p>
      </li>
      <li>
        <div class="case-experts__number">2</div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Vue.js Developers</p>
      </li>
      <li>
        <div class="case-experts__number">3</div>
        <span class="icon icon-man"></span>
        <p class="paragraph">UX/UI Designer</p>
      </li>
      <li>
        <div class="case-experts__number">4</div>
        <span class="icon icon-man"></span>
        <p class="paragraph">QA Engineer</p>
      </li>
      <li>
        <div class="case-experts__number">5</div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Project Manager</p>
      </li>
    </ul>
  </div>
</div>
