<div class="case__section case__section--orange case-testimonial">
  <span class="case__step">Testimonial</span>
  <h2 class="case__title">Testimonial</h2>

  <div class="case-testimonial__content">
    <picture class="case-testimonial__content-image case-testimonial__content-image--artinfo">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/services/services/rafal.webp"
        alt="artinfo founder"
      />
    </picture>
    <div class="case-testimonial__content-quote">
      <p class="case-testimonial__content-quote__text">
        <span class="icon-quote"></span>
        <span class="case-testimonial__content-quote__text--secondary">Artinfo is a&nbsp;market leader</span>
        and a&nbsp;trusted institution, so we work only with the best
      </p>
      <div class="case__credits">
        <p class="case__credits-person">
          <span class="case__credits-dot"></span>
          Rafał Kamecki
        </p>
        <p class="case__credits-position">
          Artinfo founder
        </p>
      </div>
    </div>
    <p class="paragraph case-testimonial__content-text">
      I was looking for a reputable company at a&nbsp;high level of technological
      advancement. The project was demanding, and I need to be sure that my partner
      has enough resources, knowledge, and experience to deal with something of
      this magnitude. I chose Naturaily because they are professionals, and I&nbsp;am
      satisfied with this cooperation.<br><br>
      Opinions of Artinfo users are very positive, which is why I&nbsp;can safely say
      that we have succeeded.
    </p>
  </div>
</div>
