<div class="footer-contact">
  <div class="footer-contact__company">
    <p class="footer-contact__company-name">
      Naturaily Sp. z o.o.
    </p>
    <div
      class="clutch-widget"
      data-url="https://widget.clutch.co"
      data-widget-type="2"
      data-height="52"
      data-clutchcompany-id="32695"
    ></div>
  </div>
  <div class="footer-contact__phone">
    <p class="footer-contact__phone-item">
      <span class="footer-contact__phone-item__title">Sales.</span>
      <a href="tel:+48735220414">+48 735 220 414</a>
    </p>
    <p class="footer-contact__phone-item">
      <span class="footer-contact__phone-item__title">Office.</span>
      <a href="tel:+48533294604">+48 533 294 604</a>
    </p>
  </div>
  <div class="footer-contact__mail">
    <p class="footer-contact__mail-item">
      <span class="footer-contact__mail-item__title">mail.</span>
      <a href="mailto:hello@naturaily.com">
        hello@naturaily.com
      </a>
    </p>
  </div>
  <div class="footer-contact__social">
    <a
      class="btn btn-white"
      href="https://docsend.com/view/s3ps3eq"
      target="_blank"
      rel="nofollow"
    >
      Company presentation
      {% svg /assets/images/btn-arrow.svg %}
    </a>
    <div class="footer-contact__social-icons">
      <a
        class="footer-contact__social-icons__item"
        href="https://twitter.com/naturailycom"
        target="_blank"
        rel="nofollow"
      >
        {% svg /assets/images/icons/twitter.svg %}
      </a>
      <a
        class="footer-contact__social-icons__item"
        href="https://www.facebook.com/Naturaily/"
        target="_blank"
        rel="nofollow"
      >
        {% svg /assets/images/icons/facebook.svg %}
      </a>
      <a
        class="footer-contact__social-icons__item"
        href="https://www.linkedin.com/company/naturaily"
        target="_blank"
        rel="nofollow"
      >
        {% svg /assets/images/icons/linkedin.svg %}
      </a>
      <a
        class="footer-contact__social-icons__item"
        href="https://github.com/naturaily"
        target="_blank"
        rel="nofollow"
      >
        {% svg /assets/images/icons/github.svg %}
      </a>
      <a
        class="footer-contact__social-icons__item" 
        href="https://dribbble.com/Naturaily"
        target="_blank"
        rel="nofollow"
      >
        {% svg /assets/images/icons/dribble.svg %}
      </a>
    </div>
  </div>
</div>
