<div class="footer-programs">
  <div class="footer-programs__info">
    <p class="footer-programs__header">Programs and Partnerships</p>
    <p class="footer-programs__text">
      Naturaily is
      <strong>implementing the project Intensification of export activities</strong>
      of Naturaily Sp. z o.o.
      <a href="/european-union" rel="nofollow">read more</a>
    </p>
    <div class="footer-programs__icons">
      <div class="footer-programs__icons-image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/footer/entrepeneurs.webp"
          alt="Entrepeneurs Organization logo"
        />
      </div>
      <div class="footer-programs__icons-image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/eu-logo-1.webp"
          alt="European Funds"
        />
      </div>
      <div class="footer-programs__icons-image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/eu-logo-2.webp"
          alt="Rebublic of Poland"
        />
      </div>
      <div class="footer-programs__icons-image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/eu-logo-4.webp"
          alt="European Regional Development Fund"
        />
      </div>
    </div>
  </div>
  <div class="footer-programs__copyrights">
    <p class="footer-programs__copyrights-info">
      2021 All rights reserved
      <span class="footer-programs__copyrights-info--vat">
        VAT-UE: PL8943047516
      </span>
    </p>
    <div class="footer-programs__copyrights-privacy">
      <a href="/terms-of-service" rel="nofollow">Terms of Use</a>
      <a href="/privacy-policy" rel="nofollow">Privacy Policy</a>
    </div>
  </div>
</div>
