<div class="footer-secondary">
  <div class="footer-secondary__wrapper">
    <div class="footer-awards">
      <p class="footer-awards__header">Awards</p>
      <div class="footer-awards__badges">
        <div class="footer-awards__badges-cssda">
          <div class="footer-awards__badges-image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/footer/cssda.webp"
              alt="CSSDA logo"
            />
          </div>
          <p class="footer-awards__badges-name">CSS Design Awards</p>
          <p class="footer-awards__badges-text">Special design kudos</p>
        </div>
        <div class="footer-awards__badges-mobile">
          <div class="footer-awards__badges-image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/footer/awwwards.webp"
              alt="Awwwards logo"
            />
          </div>
          <p class="footer-awards__badges-name">Awwwards</p>
          <p class="footer-awards__badges-text">Mobile excellence</p>
        </div>
        <div class="footer-awards__badges-mention">
          <div class="footer-awards__badges-image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/footer/awwwards.webp"
              alt="Awwwards logo"
            />
          </div>
          <p class="footer-awards__badges-name">Awwwards</p>
          <p class="footer-awards__badges-text">Honorable mention</p>
        </div>
        <div class="footer-awards__badges-clutch">
          <div class="footer-awards__badges-image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/footer/clutch.webp"
              alt="Clutch badge"
            />
          </div>
          <p class="footer-awards__badges-name">Clutch</p>
          <p class="footer-awards__badges-text">Top developers Poland</p>
        </div>
      </div>
    </div>
    <div class="footer-knowledge"> 
      <p class="footer-knowledge__header">Knowledge</p>
    </div>
  </div>
</div>
