<div class="footer-secondary">
  <div class="footer-secondary__wrapper">
    <div class="footer-awards">
      <div class="footer-awards__cssda">
        <div class="footer-awards__image">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/footer/cssda.webp"
            alt="CSSDA logo"
          />
        </div>
        <p class="footer-awards__name">CSS Design Awards</p>
        <p class="footer-awards__text">Special design kudos</p>
      </div>
      <div class="footer-awards__mobile">
        <div class="footer-awards__image">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/footer/awwwards.webp"
            alt="Awwwards logo"
          />
        </div>
        <p class="footer-awards__name">Awwwards</p>
        <p class="footer-awards__text">Mobile excellence</p>
      </div>
      <div class="footer-awards__mention">
        <div class="footer-awards__image">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/footer/awwwards.webp"
            alt="Awwwards logo"
          />
        </div>
        <p class="footer-awards__name">Awwwards</p>
        <p class="footer-awards__text">Honorable mention</p>
      </div>
      <div class="footer-awards__clutch">
        <div class="footer-awards__image">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/footer/clutch.webp"
            alt="Clutch badge"
          />
        </div>
        <p class="footer-awards__name">Clutch</p>
        <p class="footer-awards__text">Top developers Poland</p>
      </div>
    </div>
    <div class="footer-knowledge">
    </div>
  </div>
</div>
