.career-team {
  .section_content {
    max-width: 610px;
    width: 100%;
  }

  .image {
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-sizing: border-box;
  }
}

@media (max-width: 810px) {
  .career-team {
    padding-top: 0;
    .paragraph.has-dot {
      display: none;
    }

    .image {
      padding-top: 30px;
    }
  }
}

@media (min-width: 1200px) {
  .career-team .image {
    position: relative;
    overflow: hidden;
    width: 610px;
    height: 530px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
