<div class="case__section case-about case-about--woolman case-about--without-separator">
  <span class="case__step">Problem</span>
  <h2 class="case__title">The problem</h2>

  <div class="case__columns">
    <div class="case__columns--left">
      <p class="paragraph case-about__description">
        Shopify is the unquestionable number one e&#8209;commerce platform,
        with a&nbsp;breathtaking 800k brands onboard and over $100 billion of
        sales. However, as a&nbsp;ready&#8209;to&#8209;use tool, it may not
        meet all of your expectations. Although it offers many features and
        integrations, there is a&nbsp;blank spot when it comes to apps dedicated
        to external management, tracking or shipping systems, especially
        on the European market.
      </p>
    </div>
    <div class="case__columns--right">
      <span class="case__dot case__dot--secondary"></span>
      <span class="case__dot case__dot--yellow"></span>
    </div>
  </div>
</div>
