<div class="case__section case-blog">
  <div class="case__columns">
    <div class="case__columns--left case-blog__image">
      <a class="case-blog__image-link" href="/blog/shopify-customization-joint-case-study">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/shopify-customization_-naturaily-amp_-woolman-joint-case-study.webp"
          alt="Naturaily CEO"
        />
      </a>
    </div>
    <div class="case__columns--right case-blog__text">
      <p class="case-blog__text-paragraph">
        Read more about
        <span class="case-blog__text-paragraph--secondary">
          cooperation between Naturaily and our Partner
        </span>
        in a detailed case study blog post
      </p>
      <a class="case-blog__text-link" href="/blog/shopify-customization-joint-case-study">
        Check the details
        <img src="/assets/images/arrow-orange.webp" alt="arrow">
      </a>
    </div>
  </div>
</div>
