<div class="case__section case-goal case-goal--awn">
  <span class="case__step">Goal</span>
  <h2 class="case__title">The goal</h2>

  <div class="case__columns">
    <div class="case__columns--left">
      <p class="case__quote">
        <span class="icon-quote"></span>
        The project’s objective was a&nbsp;smooth integration between clients’
        Shopify e&#8209;stores and the existing external systems that were responsible
        for specific e&#8209;commerce sections, such as warehouse management systems,
        loyalty systems, gift cards, product data management systems, etc.
      </p>
    </div>
    <div class="case__columns--right">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/suler.jpg"
        alt="Naturaily CEO"
      />
    </div>
  </div>
</div>
