<div class="case-hero case-hero--woolman">
  <div class="case-hero__content">
    <div class="case-hero__text">
      <h1>
        <span><strong>Shopify</strong> Integrations</span>
        <span>for Scandinavian </span>
        <span><strong>E-commerce Stores</strong></span>
      </h1>
    </div>
    <div class="case-hero__image">
      <figure class="geometric-figure geometric-figure__secondary">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
      <picture>
        <source
          media="(min-width: 576px)"
          srcset="/assets/images/portfolio-cases/woolman/top.webp"
          alt="Woolman tablet screen"
        >
        <img
          class="case-hero__image-img"
          src="/assets/images/portfolio-cases/woolman/top-mobile.webp"
          alt="Woolman mobile screen"
        >
      </picture>
    </div>
  </div>
</div>
