<div class="data-policy__intro">
  <div class="data-policy__intro-header">
    <span class="data-policy__intro-header__shadow">Privacy</span>
    <h1 class="data-policy__intro-header__text">Privacy policy</h1>
  </div>
  <div class="data-policy__content">
    <p class="data-policy__content-paragraph">
      Hello,
    </p>
    <p class="data-policy__content-paragraph">
      If you reached this site you no doubt value your privacy. We understand it perfectly, 
      which is why we present to you a document that bundles together the rules for personal 
      data processing and for using cookies and other tracking technologies in connection with 
      the operation of the <a href="/">Naturaily.com</a> website.
    </p>
    <p class="data-policy__content-paragraph">
      Some formal details to begin with – the administrator of the site is Naturaily
      spółka z ograniczoną odpowiedzialnością, ul. Ofiar Oświęcimskich 17, 50-069 Wrocław, registered 
      in the Register of Entrepreneurs of the National Court Register under number KRS 0000472548, 
      whose register is kept by the District Court for Wrocław-Fabryczna in Wrocław, VIth 
      Commercial Division of KRS, NIP: 8943047516, share capital of PLN 40,000.00.
    </p>
    <p class="data-policy__content-paragraph">
      This privacy policy has been designed in the form of Q&As. The above form was selected 
      to provide the transparency and clarity  of the presented information. Below you will find 
      a list of questions this policy answers.
    </p>
  </div>
</div>