<div class="data-policy__nav" data-scroll-navigation>
  <a href="#01" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#1</span>
    Who is the controller of your personal data?
  </a>
  <a href="#02" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#2</span>
    Who can you contact regarding the processing of your personal data?
  </a>
  <a href="#03" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#3</span>
    What information about you do we have?
  </a>
  <a href="#04" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#4</span>
    Where did we get your personal data?
  </a>
  <a href="#05" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#5</span>
    Is your data safe?
  </a>
  <a href="#06" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#6</span>
    For what purposes do we process your personal data?
  </a>
  <a href="#06-1" class="data-policy__nav-subitem">
    Comments – details
  </a>
  <a href="#06-2" class="data-policy__nav-subitem">
    Correspondence management - details
  </a>
  <a href="#06-3" class="data-policy__nav-subitem">
    Archive – details
  </a>
  <a href="#07" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#7</span>
    How long will we keep your personal data?
  </a>
  <a href="#08" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#8</span>
    Who are the recipients of your personal data?
  </a>
  <a href="#09" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#9</span>
    Do we transfer your data to third countries or international?
  </a>
  <a href="#10" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#10</span>
    Do we use profiling? Do we make automated decisions based on your personal data?
  </a>
  <a href="#11" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#11</span>
    What rights do you have in relation to the processing of your personal data?
  </a>
  <a href="#12" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#12</span>
    Do we use cookies and what are they anyway?
  </a>
  <a href="#13" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#13</span>
    What is the legal basis for our use of cookies?
  </a>
  <a href="#14" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#14</span>
    Can you disable cookies?
  </a>
  <a href="#15" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#15</span>
    For what purposes do we use our own cookies?
  </a>
  <a href="#16" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#16</span>
    What third-party cookies are used?
  </a>
  <a href="#16-1" class="data-policy__nav-subitem">
    Google Analytics – details
  </a>
  <a href="#16-2" class="data-policy__nav-subitem">
    Google Tag Manager – details
  </a>
  <a href="#16-3" class="data-policy__nav-subitem">
    Google AdWords – details
  </a>
  <a href="#16-4" class="data-policy__nav-subitem">
    Twitter Ads – details
  </a>
  <a href="#16-5" class="data-policy__nav-subitem">
    Facebook Custom Audiences – details
  </a>
  <a href="#16-6" class="data-policy__nav-subitem">
    Smallchat – details
  </a>
  <a href="#16-7" class="data-policy__nav-subitem">
    Social tools – details
  </a>
  <a href="#16-8" class="data-policy__nav-subitem">
    Disqus - details
  </a>
  <a href="#16-9" class="data-policy__nav-subitem">
    Hotjar - details
  </a>
  <a href="#17" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#17</span>
    Do we track you behaviour on our website?
  </a>
  <a href="#18" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#18</span>
    Do we serve targeted advertising to you?
  </a>
  <a href="#19" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#19</span>
    How can you manage your privacy?
  </a>
  <a href="#20" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#20</span>
    What are server logs?
  </a>
  <a href="#15" class="data-policy__nav-item">
    <span class="data-policy__nav-item__number">#21</span>
    Is there anything else you should know?
  </a>
</div>