.portfolio-challenge--awn .portfolio__dot {
  &--blue, &--yellow {
    display: none;
  }

  &--secondary {
    top: 30px;
    right: 80px;
  }
}

@media (min-width: 576px) {
  .portfolio-challenge--awn .portfolio__dot--secondary {
    top: 50px;
    right: 170px;
  }
}

@media (min-width: 811px) {
  .portfolio-challenge--awn {
    padding-bottom: 125px;

    .portfolio__dot {
      &--blue, &--yellow {
        display: block;
      }

      &--secondary {
        top: 20px;
        right: auto;
        left: 350px;
      }

      &--blue {
        bottom: 75px;
        right: 350px;
      }

      &--yellow {
        left: 10px;
        bottom: 50px;
      }
    }
  }
}

@media (min-width: 992px) {
  .portfolio-challenge--awn {
    padding-bottom: 100px;

    .portfolio__dot--blue {
      right: 450px;
    }
  }
}
