.portfolio-issues {
  &__nav {
    margin-top: 50px;

    .portfolio__description {
      color: $color-portfolio-text-second;
    }

    &-list {
      padding: 30px 0;

      &__item {
        position: relative;
        padding: 10px 0;
        transition: 0.6s;
        cursor: pointer;

        span {
          position: absolute;
          left: 0;
          top: 15px;
          font-size: 0.8em;
        }

        .paragraph {
          padding: 0;
          padding-left: 30px;
          font-size: 1em;
        }

        &--active span, &--active .paragraph {
          color: $color-accent-yellow;
        }
      }
    }
  }

  &__tabs {
    &-tab {
      padding: 50px 0;
      display: none;
      opacity: 0;

      &--active {
        display: block;
        opacity: 1;
      }

      &__header {
        position: relative;
        padding-left: 15px;

        span {
          position: absolute;
          top: -34px;
          left: 0;
          font-size: 3em;
          font-weight: 700;
          color: $color-accent-yellow;
          opacity: 0.4;
        }
      }

      &__image {
        width: 100vw;
        margin: 25px -35px;
      }
    }
  }
}
