---
layout: default
title: Privacy Policy | Naturally LLC
description: >-
  This privacy policy has been designed in the form of Q&As. The above form was selected 
  to provide the transparency and clarity of the presented information.
---

<div class="l-center l-center--small">
  {% include data-policy/privacy/intro.html %}
</div>

<div class="l-center l-center--small">
  {% include data-policy/privacy/menu.html %}
</div>

<div class="l-center l-center--small">
  {% include data-policy/privacy/data.html %}
</div>

<script type="text/javascript">
  {% include scroll-nav.js %}
</script>
