<div id="05" class="section page-estimate services-estimate">
  <div class="page-estimate__columns">
    <picture class="page-estimate__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/sunny-suler.webp"
        alt="Naturaily CEO photo"
      />
    </picture>
    <div class="page-estimate__content">
      <h2 class="page-estimate__content-text">
        Are you looking
        <br>
        for
        <span class="text-secondary">a trusted partner</span>
        <br>
        that will help you create
        <br>
        a reliable digital
        <br>
        product?
      </h2>
      <a class="btn btn-primary btn-arrow" href="/get-an-estimate" type="button">
        Get an estimate
        {% svg /assets/images/btn-arrow.svg %}
      </a>
    </div>
  </div>
</div>
