<section class="services-hero">
  <div class="services-hero_wrapper">
    <h1 class="services-hero_header">
      Comprehensive software development services
    </h1>
    <p class="services-hero_description">
      From Consulting & Discovery sessions, through Web & PWA development, to Cloud adoption & IoT development.
    </p>
    <a href="/get-an-estimate" class="btn btn-primary btn-arrow">
      GET AN ESTIMATE
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <img class="services-hero_image" src="/assets/images/loader.gif" data-src="/assets/images/services/services/hero.png" alt="">
</section>
