<div class="dajemyslowo-about">
  <span class="case__step">About</span>
  <h2 class="case__title">Let’s meet Dajemyslowo.com</h2>
  <div class="dajemyslowo-about__columns">
    <div class="dajemyslowo-about__columns-left">
      <p class="dajemyslowo-about__columns-paragraph">
        Dajemyslowo is a&nbsp;content marketing and copywriting agency offering both 
        Polish and English services. The team, compromising both energetic copywriters 
        and marketing specialists alike, combine their knowledge of&nbsp;effective marketing 
        techniques with creative flair and passion.
      </p>
    </div>
    <div class="dajemyslowo-about__columns-right">
      <p class="dajemyslowo-about__columns-paragraph">
        Since 2013, Dajemyslowo has helped customers in&nbsp;a&nbsp;diverse range of&nbsp;fields, 
        from the IT and telecommunications sectors to&nbsp;logistics, finances and medicine. Every 
        client receives unique and impactful communication to&nbsp;best reach their customers, and 
        the&nbsp;means to&nbsp;match!
      </p>
      <span class="dajemyslowo-about__dot dajemyslowo-about__dot--secondary"></span>
      <span class="dajemyslowo-about__dot dajemyslowo-about__dot--yellow"></span>
    </div>
    <div class="dajemyslowo-about__separator">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/lvcloud/separator.png"
        alt="Dajemyslowo screens"
      />
    </div>
  </div>
</div>
