<div class="dajemyslowo-awards">
  <div class="dajemyslowo-awards__wrapper">
    <h2 class="dajemyslowo-awards__header">Awards</h2>
    <div class="custom-carousel__wrapper" data-carousel="wrapper">
      <ul class="custom-carousel__tabs custom-carousel__tabs--three" data-carousel="tabs">
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="0">
          <div class="dajemyslowo-awards__image dajemyslowo-awards__image--cssda">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/footer/cssda.webp"
              alt="css design awards icon"
            />
          </div>
          <p class="dajemyslowo-awards__name">CSS Design Awards</p>
          <p class="dajemyslowo-awards__text">Special Design Kudos</p>
        </li>
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="1">
          <div class="dajemyslowo-awards__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/footer/awwwards.webp"
              alt="awwwards icon"
            />
          </div>
          <p class="dajemyslowo-awards__name">Awwwards</p>
          <p class="dajemyslowo-awards__text">Mobile Excellence</p>
        </li>
        <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="2">
          <div class="dajemyslowo-awards__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/footer/awwwards.webp"
              alt="awwwards icon"
            />
          </div>
          <p class="dajemyslowo-awards__name">Awwwards</p>
          <p class="dajemyslowo-awards__text">Honorable Mention</p>
        </li>
      </ul>
      <div class="custom-carousel__dots" data-carousel="dots">
        <div class="custom-carousel__dots-item custom-carousel__dots-item--active" data-carousel="dots-item" data-dot-index="0" data-dot-active="true"></div>
        <div class="custom-carousel__dots-item" data-carousel="dots-item" data-dot-index="1" data-dot-active="false"></div>
        <div class="custom-carousel__dots-item" data-carousel="dots-item" data-dot-index="2" data-dot-active="false"></div>
      </div>
      <div class="custom-carousel__nav" data-carousel="nav">
        <div class="icon icon-chevron-left custom-carousel__nav-item custom-carousel__nav-item--disabled" data-carousel="nav-item" data-nav="prev" data-nav-disabled="true"></div>
        <div class="icon icon-chevron-right custom-carousel__nav-item" data-carousel="nav-item" data-nav="next" data-nav-disabled="false"></div>
      </div>
    </div>
  </div>
</div>
