<div class="dajemyslowo-challenge">
  <span class="case__step">Challenges</span>
  <h2 class="case__title">What we had to face</h2>
  <div class="dajemyslowo-challenge__columns">
    <p class="dajemyslowo-challenge__columns-left">
      Dajemyslowo’s previous website was built on&nbsp;WordPress in&nbsp;2013. Naturally identified
      this as&nbsp;the&nbsp;biggest risk for the&nbsp;company - the version used had vulnerabilities 
      that impacted the&nbsp;security of&nbsp;the website.
      <br><br>
      In this case, it could lead to&nbsp;SEO issues, as&nbsp;Google actively black lists websites 
      when they develop such issues. So, aside from a&nbsp;drop in&nbsp;performance and an&nbsp;unpleasant 
      experience for visitors, <strong>such a&nbsp;potential risk could lead to a drop in SERP 
      visibility</strong> - and therefore overall exposure to&nbsp;new clients - completely. Such 
      an&nbsp;issue could not be solved through optimization alone; only a&nbsp;more secure choice 
      of&nbsp;platform.
    </p>
    <p class="dajemyslowo-challenge__columns-right">
      Aside from these known vulnerabilities, this also presented some additional challenges for 
      the&nbsp;agency. Most notably, many parts of the website were ‘hard-coded’ - requiring developer 
      assistance just to&nbsp;make content-level changes. This meant all marketing activities, from 
      landing pages to&nbsp;modifying existing parts of the offer, required external help, preventing 
      the&nbsp;agency from adapting as&nbsp;quickly and freely as&nbsp;they would like.
      <br><br>
      Finally, we had to&nbsp;tackle the issue of&nbsp;performance. As a&nbsp;team of creatives, Dajemyslowo 
      knew they wanted elegant animations and an&nbsp;uncompromising visual treatment for their new website. 
      This, paired with the drive <strong>to&nbsp;perform better on mobile</strong>, meant that there were 
      many factors to consider when it came to&nbsp;even choosing the&nbsp;right technologies.
    </p>
  </div>
  <span class="dajemyslowo-challenge__circle dajemyslowo-challenge__circle--small"></span>
  <span class="dajemyslowo-challenge__circle dajemyslowo-challenge__circle--medium"></span>
  <span class="dajemyslowo-challenge__circle dajemyslowo-challenge__circle--big"></span>
  <span class="dajemyslowo-challenge__circle dajemyslowo-challenge__circle--large"></span>
  <span class="dajemyslowo-challenge__dot dajemyslowo-challenge__dot--secondary"></span>
  <span class="dajemyslowo-challenge__dot dajemyslowo-challenge__dot--straw"></span>
  <span class="dajemyslowo-challenge__dot dajemyslowo-challenge__dot--yellow"></span>
  <span class="dajemyslowo-challenge__dot dajemyslowo-challenge__dot--blue"></span>
</div>
