<div class="dajemyslowo-estimate">
  <picture class="dajemyslowo-estimate__image">
    <img
      src="/assets/images/loader.gif"
      data-src="/assets/images/sunny-suler.webp"
      alt="Naturaily CEO photo"
    />
  </picture>
  <div class="dajemyslowo-estimate__content">
    <div>
      <h2 class="dajemyslowo-estimate__content-header">
        Dajemy Słowo’s case is a&nbsp;prime example of how we deliver Jamstack web development.
      </h2>
      <p class="dajemyslowo-estimate__content-text">
        Do also you want a&nbsp;fast, safe and modern website?
      </p>
    </div>
    <a class="btn btn-primary btn-arrow" href="/get-an-estimate" type="button">
      Get an estimate
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
</div>
