<div class="dajemyslowo-goal">
  <span class="case__step">Goal</span>
  <h2 class="case__title">What the client wanted to achieve</h2>
  <div class="dajemyslowo-goal__columns">
    <p class="dajemyslowo-goal__columns-left">
      For Dajemyslowo’s owners, their website is important part of doing business. It attracts 
      customers and is <strong>a&nbsp;vital component of&nbsp;the&nbsp;business funnel</strong>.
      As&nbsp;such, they wanted to&nbsp;improve a&nbsp;number of&nbsp;key areas.
      <br><br>
      The most important of&nbsp;these was security and stability. After a&nbsp;previous WordPress 
      vulnerability, Dajemyslowo wanted a&nbsp;website that was <strong>up&nbsp;to&nbsp;date, stable 
      and highly secure</strong>.
      <br><br>
      Of&nbsp;course, the&nbsp;performance was equally important. When it comes to&nbsp;both performance
      and increasing leads, mobile optimization was a&nbsp;key priority. Dajemyslowo did their
      research and knew that <strong>42% of&nbsp;traffic came from mobile devices</strong>, 
      so a&nbsp;mobile-friendly update would be essential for&nbsp;improving lead conversions.
      {% svg /assets/images/portfolio-cases/dajemyslowo/decor1.svg class="dajemyslowo-goal__decor-1" %}
    </p>
    <p class="dajemyslowo-goal__columns-right">
      From a&nbsp;practical point of&nbsp;view, there was also a&nbsp;need to&nbsp;remove reliance 
      on&nbsp;developers. As&nbsp;a&nbsp;team of&nbsp;content specialists, the&nbsp;ability to&nbsp;edit 
      content on&nbsp;their own was an&nbsp;essential requirement - all while maintaining the&nbsp;previous
      security challenges.
      <br><br>
      Finally, as&nbsp;a&nbsp;creative agency, Dajemyslowo’s owners wanted to show they were 
      up&nbsp;to&nbsp;date with modern trends. <strong>A&nbsp;new website means a&nbsp;new design</strong>, 
      and the&nbsp;agency had plenty of&nbsp;ideas on how to&nbsp;best <strong>ensure a&nbsp;strong first 
      impression</strong> with potential new clients. Such an&nbsp;opportunity would not be missed.
      <br><br>
      Dajemyslowo.com needed to&nbsp;establish the agency’s position in a&nbsp;new digital era: 
      enthusiastic, highly performant and incredibly user-friendly!
      {% svg /assets/images/portfolio-cases/dajemyslowo/decor2.svg class="dajemyslowo-goal__decor-2" %}
    </p>
    <div class="dajemyslowo-goal__picture">
      <div class="dajemyslowo-goal__picture-middle" gsap data-gsap="picture">
        {% svg /assets/images/portfolio-cases/dajemyslowo/goal-hand.svg class="dajemyslowo-goal__picture-middle__hand" %}
        <span class="dajemyslowo-goal__picture-middle__plus" gsap data-gsap="picture-plus">+</span>
        {% svg /assets/images/portfolio-cases/dajemyslowo/people.svg class="dajemyslowo-goal__picture-middle__people" %}
        <span class="dajemyslowo-goal__picture-middle__equals" gsap data-gsap="picture-equals">=</span>
        {% svg /assets/images/portfolio-cases/dajemyslowo/goal-logo.svg class="dajemyslowo-goal__picture-middle__logo" gsap="" data-gsap="picture-logo" %}
      </div>
      {% svg /assets/images/portfolio-cases/dajemyslowo/goal-letter.svg class="dajemyslowo-goal__picture-letter" %}
      {% svg /assets/images/portfolio-cases/dajemyslowo/goal-arrow.svg class="dajemyslowo-goal__picture-arrow" %}
      {% svg /assets/images/portfolio-cases/dajemyslowo/goal-decor.svg class="dajemyslowo-goal__picture-decor" %}
      {% svg /assets/images/portfolio-cases/dajemyslowo/goal-man.svg class="dajemyslowo-goal__picture-man" %}
    </div>
  </div>
</div>
