<div class="dajemyslowo-hero">
  <div class="dajemyslowo-hero__wrapper">
    <div class="dajemyslowo-hero__title">
      <h1 class="dajemyslowo-hero__title-text">
        Dajemyslowo.com – Modern website
        <strong>with top-notch animations built</strong>
        via Jamstack
      </h1>
    </div>
    <div class="dajemyslowo-hero__image">
      <figure class="geometric-figure geometric-figure--blue">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
      <picture>
        <source
          media="(min-width: 992px)"
          class="dajemyslowo-hero__image-img"
          srcset="/assets/images/portfolio-cases/dajemyslowo/top.png"
          alt="DajemySlowo desktop and mobile screens"
        >
        <img
          class="dajemyslowo-hero__image-img"
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio-cases/dajemyslowo/top-mobile.png"
          alt="DajemySlowo mobile screen"
        >
      </picture>
    </div>
  </div>
</div>
