<div class="dajemyslowo-solution">
  {% svg /assets/images/portfolio-cases/dajemyslowo/decor3.svg class="dajemyslowo-solution__decor-1" %}
  {% svg /assets/images/portfolio-cases/dajemyslowo/decor3.svg class="dajemyslowo-solution__decor-2" %}
  <div class="dajemyslowo-solution__wrapper">
    <span class="case__step">Solution</span>
    <h2 class="case__title">How we chose the stack and strategy</h2>
    <div class="dajemyslowo-solution__columns dajemyslowo-solution__columns--odd">
      <div class="dajemyslowo-solution__columns-image dajemyslowo-solution__columns-image--bicycle">
        {% svg /assets/images/portfolio-cases/dajemyslowo/solution-bicycle.svg class="dajemyslowo-solution__bicycle" %}
      </div> 
      <p class="dajemyslowo-solution__columns-text">
        Naturaily’s first action was a&nbsp;detailed analysis of&nbsp;the situation. Since we know 
        Dajemy Słowo valued both performance and strong visuals, <strong>we readily decided on the 
        Jamstack approach</strong>. This combination of JavaScript, API and Markup meant we were
        already in incredibly web-friendly space, which meant both the core priorities of&nbsp;safety
        and performance were taken care of - especially on&nbsp;mobile. 
        <br><br>
        In turn, such improved performance meant that we could add animations, using carefully 
        selected frontend technologies, to&nbsp;add the&nbsp;creative elements without
        compromising&nbsp;SEO. 
      </p>
    </div>
    <div class="dajemyslowo-solution__columns dajemyslowo-solution__columns--even">
      <div class="dajemyslowo-solution__columns-image dajemyslowo-solution__columns-image--img">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio-cases/dajemyslowo/solution1.png"
          alt="Dajemyslowo screen"
        />
      </div> 
      <p class="dajemyslowo-solution__columns-text">
        Next, <strong>we chose a headless CMS solution</strong> to enable Dajemy Słowo’s 
        independence. Sanity was perfect for this - it’s headless nature played into Jamstacks 
        strengths, while its flexibility meant it could be configured exactly to&nbsp;Dajemy Słowo’s 
        needs. It’s user-friendly too, ensuring content changes and edits can be made without 
        any developer support. As&nbsp;a&nbsp;final benefit, it’s compatible with React, which is 
        our frontend technology of&nbsp;choice for projects like this, while its continued official
        support and plugins means we can rely on it both now and in the future.
      </p>
    </div>
    <div class="dajemyslowo-solution__columns dajemyslowo-solution__columns--odd">
      <div class="dajemyslowo-solution__columns-image dajemyslowo-solution__columns-image--img">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio-cases/dajemyslowo/solution2.png"
          alt="Dajemyslowo screen"
        />
      </div> 
      <p class="dajemyslowo-solution__columns-text">
        To round off the Jamstack approach - and to&nbsp;keep things as&nbsp;cost efficient 
        as&nbsp;possible - <strong>we chose Netlify and Gatsby</strong>. 
        The&nbsp;former, Netlify, is a&nbsp;content delivery network that deploys directly 
        from a&nbsp;Git repository, but also offers previews. This meant that not only 
        could we view changes before going live, updates were quick and painless, enabling
        a&nbsp;rapid development cycle.
      </p>
    </div>
    <div class="dajemyslowo-solution__columns dajemyslowo-solution__columns--even">
      <div class="dajemyslowo-solution__columns-image dajemyslowo-solution__columns-image--people"> 
        {% svg /assets/images/portfolio-cases/dajemyslowo/people.svg gsap data-gsap="solution-people" %}
      </div> 
      <p class="dajemyslowo-solution__columns-text">
        As the final enabler, <strong>we chose Gatsby JS as our Static Site Generator</strong>. 
        A&nbsp;requirement for any Jamstack project, we appreciate Gatsby for its compatibility 
        with React JS and other popular web technologies, as&nbsp;well as&nbsp;the ability 
        to&nbsp;load websites around <strong>6 seconds faster</strong> than traditional 
        counterparts. Thanks to preloading, performance and loading speeds (and hence optimization)
        were takencare of. 
        <br><br>
        (We won’t talk about the&nbsp;visuals - as&nbsp;you can see for yourself, 
        we think we did an&nbsp;excellent job!)
      </p>
    </div>
  </div>
</div>
