<div class="dajemyslowo-testimonials">
  <div class="dajemyslowo-testimonials__wrapper">
    <span class="case__step">Testimonial</span>
    <h2 class="case__title">What our client says</h2>
    <div class="dajemyslowo-testimonials__columns">
      <div class="dajemyslowo-testimonials__columns-left">
        <span class="icon-quote"></span>
        <p class="dajemyslowo-testimonials__quote">
          I value the possibility to work with Naturaily mainly because
          <span class="dajemyslowo-testimonials__quote--secondary">it is real cooperation</span>,
        </p>
        <div class="dajemyslowo-testimonials__credits">
          <p class="dajemyslowo-testimonials__credits-name">
            Beata Twardowska
          </p>
          <p class="dajemyslowo-testimonials__credits-position">
            Co-founder of Dajemyslowo.com
          </p>
        </div>
      </div>
      <p class="dajemyslowo-testimonials__columns-right">
        that means that the&nbsp;team was honestly listening to&nbsp;us. They understood 
        our needs and expectations, not just from the technical side but also from the&nbsp;visual
        one (and that’s crucial for&nbsp;us). They were not intimidated by&nbsp;challenges. When 
        we needed to&nbsp;make some important decisions, Naturaily team shared with&nbsp;us their
        knowledge and experience to&nbsp;help us choose the right solutions. Before we had just 
        dreams but Naturaily made them reality. Thanks to&nbsp;them, we are truly proud of&nbsp;our
        website, and we want to&nbsp;show it to&nbsp;everyone.
      </p>
    </div>
  </div>
</div>