<div class="case-estimate">
  <picture class="case-estimate__image">
    <img
      src="/assets/images/loader.gif"
      data-src="{{ page.estimate.img }}"
      alt="Naturaily CEO photo"
    />
  </picture>
  <div class="case-estimate__content">
    <div>
      <h2 class="case-estimate__content-header">
        {{ page.estimate.header }}
      </h2>
      <p class="case-estimate__content-text">
        {{ page.estimate.text }}
      </p>
    </div>
    <a class="btn btn-primary btn-arrow" href="/get-an-estimate" type="button">
      Get an estimate
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
</div>
