<div class="case-experts">
  <div class="case-experts__wrapper">
    <h3 class="case-experts__header">
      {{ page.experts-header }}
    </h3>
    <div class="custom-carousel__wrapper" data-carousel="wrapper">
      {% case page.experts-quantity %}
        {% when 5 %} {% assign class = 'five' %}
      {% endcase %}

      <ul class="custom-carousel__tabs custom-carousel__tabs--{{ class }}" data-carousel="tabs">

        {% for i in (1..page.experts-quantity) %}
          {% case i %}
            {% when 1 %} {% assign expert = page.experts-1 %}
            {% when 2 %} {% assign expert = page.experts-2 %}
            {% when 3 %} {% assign expert = page.experts-3 %}
            {% when 4 %} {% assign expert = page.experts-4 %}
            {% when 5 %} {% assign expert = page.experts-5 %}
          {% endcase %}

          <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="{{ i | minus: 1 }}">
            <span class="icon icon-man"></span>
            <div class="case-experts__number">{{ i }}</div>
            <p class="case-experts__name">{{ expert }}</p>
          </li>
        {% endfor %}

      </ul>
      <div class="custom-carousel__dots" data-carousel="dots">
        <div
          class="custom-carousel__dots-item custom-carousel__dots-item--active"
          data-carousel="dots-item"
          data-dot-index="0"
          data-dot-active="true"
        ></div>

        {% for j in (2..page.experts-quantity) %}
          <div
            class="custom-carousel__dots-item"
            data-carousel="dots-item"
            data-dot-index="{{ j | minus: 1 }}"
            data-dot-active="false"
          ></div>
        {% endfor %}

      </div>
      <div class="custom-carousel__nav" data-carousel="nav">
        <div
          class="icon icon-chevron-left custom-carousel__nav-item custom-carousel__nav-item--disabled"
          data-carousel="nav-item"
          data-nav="prev"
          data-nav-disabled="true"
        ></div>
        <div
          class="icon icon-chevron-right custom-carousel__nav-item"
          data-carousel="nav-item"
          data-nav="next"
          data-nav-disabled="false"
        ></div>
      </div>
    </div>
  </div>
</div>
