<div class="case-solution case-solution--{{ page.modifier }}">
  <div class="case-solution__wrapper">
    <span class="case__step">{{ page.solution-step }}</span>
    <h2 class="case__title">{{ page.solution-header }}</h2>

    {% for i in (1..page.solution-quantity) %}
      {% case i %}
        {% when 1 %}
          {% assign class = 'first' %}
          {% assign img = page.solution-img-1 %}
          {% assign alt = page.solution-alt-1 %}
          {% assign text = page.solution-text-1 %}
        {% when 2 %}
          {% assign class = 'second' %}
          {% assign img = page.solution-img-2 %}
          {% assign alt = page.solution-alt-2 %}
          {% assign text = page.solution-text-2 %}
        {% when 3 %}
          {% assign class = 'third' %}
          {% assign img = page.solution-img-3 %}
          {% assign alt = page.solution-alt-3 %}
          {% assign text = page.solution-text-3 %}
      {% endcase %}

      <div class="case-solution__columns case-solution__columns--{{ class }}">
        <div class="case-solution__columns-image">
          <img src="/assets/images/loader.gif" data-src="{{ img }}" alt="{{ alt }}"/>
        </div>
        <p class="case-solution__columns-text">{{ text }}</p>
      </div>

    {% endfor %}

    {% if page.solution-blog-url %}
      <div class="case-solution__columns case-solution__columns--blog">
        <a href="{{ page.solution-blog-url }}" class="case-solution__columns-image">
          <img
            src="/assets/images/loader.gif"
            data-src="{{ page.solution-blog-cover }}"
            alt="{{ page.solution-blog-alt }}"
          />
        </a> 
        <div class="case-solution__columns-blog">
          <h3 class="case-solution__columns-blog_header">
            <a href="{{ page.solution-blog-url}}">
              {{ page.solution-blog-text }}
            </a>
          </h3>
          <a class="btn btn-white" href="{{ page.solution.blog-url}}">
            {{ page.solution-blog-cta }}
            {% svg /assets/images/btn-arrow.svg %}
          </a>
        </div>
      </div>
    {% endif %}
    
    {% if page.solution-final-column-1 %}
      <div class="case-solution__columns case-solution__columns--text">
        <p class="case-solution__columns-text">
          {{ page.solution-final-column-1 }}
        </p>
        <p class="case-solution__columns-text">
          {{ page.solution-final-column-2 }}
        </p>
      </div>
    {% endif %}

  </div>
</div>
