<div class="case-solution case-solution--{{ page.modifier }}">
  <div class="case-solution__wrapper">
    <span class="case__step">{{ page.solution-step }}</span>
    <h2 class="case__title">{{ page.solution-header }}</h2>

    {% if page.solution-text-1 %}
      <div class="case-solution__columns case-solution__columns--first">
        <div class="case-solution__columns-image">
          <img src="/assets/images/loader.gif" data-src="{{ page.solution-img-1 }}" alt="{{ page.solution-alt-1  }}"/>
        </div>
        <p class="case-solution__columns-text">{{ page.solution-text-1 }}</p>
      </div>
    {% endif %}

    {% if page.solution-text-2 %}
      <div class="case-solution__columns case-solution__columns--second">
        <div class="case-solution__columns-image">
          <img src="/assets/images/loader.gif" data-src="{{ page.solution-img-2 }}" alt="{{ page.solution-alt-2  }}"/>
        </div>
        <p class="case-solution__columns-text">{{ page.solution-text-2 }}</p>
      </div>
    {% endif %}

    {% if page.solution-text-3 %}
      <div class="case-solution__columns case-solution__columns--third">
        <div class="case-solution__columns-image">
          <img src="/assets/images/loader.gif" data-src="{{ page.solution-img-3 }}" alt="{{ page.solution-alt-3 }}"/>
        </div>
        <p class="case-solution__columns-text">{{ page.solution-text-3 }}</p>
      </div>
    {% endif %}

    {% if page.solution-blog-url %}
      {% include portfolio-cases/template/blog.html %}
    {% endif %}
    
    {% if page.solution-final-column-left %}
      <div class="case-solution__columns case-solution__columns--text">
        <p class="case-solution__columns-text">
          {{ page.solution-final-column-left }}
        </p>
        <p class="case-solution__columns-text">
          {{ page.solution-final-column-right }}
        </p>
      </div>
    {% endif %}

  </div>
</div>
