<div class="case-stack case-stack--{{ page.modifier }}">
  <div class="case-stack__wrapper">
    <h3 class="case-stack__header">
      {{ page.stack-header }}
    </h3>
    <div class="custom-carousel__wrapper" data-carousel="wrapper">
      {% case page.stack.size %}
        {% when 3 %} {% assign class = 'three' %}
        {% when 4 %} {% assign class = 'four' %}
      {% endcase %}

      <ul class="custom-carousel__tabs custom-carousel__tabs--{{ class }}" data-carousel="tabs">

        {% for technology in page.stack %}
          {% for item in technology %}
            <li class="custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="{{ forloop.index | minus: 1 }}">
              <div class="case-stack__image">
                <img src="/assets/images/loader.gif" data-src="{{ item[1][1] }}" alt="{{ item[0] }} icon"/>
              </div>
              <h4 class="case-stack__name">{{ item[1][0] }}</h4>
            </li>
          {% endfor %}
        {% endfor %}

      </ul>
      <div class="custom-carousel__dots" data-carousel="dots">
        <div
          class="custom-carousel__dots-item custom-carousel__dots-item--active"
          data-carousel="dots-item"
          data-dot-index="0"
          data-dot-active="true"
        ></div>

        {% for i in (2..page.stack.size) %}
          <div
            class="custom-carousel__dots-item"
            data-carousel="dots-item"
            data-dot-index="{{ i | minus: 1 }}"
            data-dot-active="false"
          ></div>
        {% endfor %}
        
      </div>
      <div class="custom-carousel__nav" data-carousel="nav">
        <div
          class="icon icon-chevron-left custom-carousel__nav-item custom-carousel__nav-item--disabled"
          data-carousel="nav-item"
          data-nav="prev"
          data-nav-disabled="true"
        ></div>
        <div
          class="icon icon-chevron-right custom-carousel__nav-item"
          data-carousel="nav-item"
          data-nav="next"
          data-nav-disabled="false"
        ></div>
      </div>
    </div>
  </div>
</div>
