@import "header";


@import "layout/layout";
@import "modules/heading";
@import "modules/hero";
@import "modules/section";
@import "modules/page-navigation";
@import "modules/accordion";
@import "modules/table";
@import "modules/list";
@import "modules/person";
@import "modules/carousel";
@import "modules/geometric-object";
@import "modules/form";

// CAREERS SPECIFIC STYLES //

@import "modules/career-team";
@import "modules/career-path";
@import "modules/career-process";
@import "modules/career-culture";
@import "modules/career-benefits";
@import "modules/career-offers";
@import "modules/career-position";
@import "modules/career-about";
@import "modules/career-skills";
@import "modules/career-more";
@import "modules/career-perks";
@import "modules/career-video";

// ABOUT SPECIFIC STYLES //

@import "modules/about-who-we-are";
@import "modules/about-values";


// NEW CAREERS //

body {
  font-weight: 500;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 36px;
  font-weight: 300;
}

h3 {
	font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  margin: 0;
}

.btn-primary {

  &.btn-arrow {
    padding: 16px 22px 16px 40px;
    font-size: 13px;

    img {
      margin-bottom: 0;
    }
  }
}

a.text-secondary {
  text-decoration: underline;
}

.paragraph {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 20px;
  max-width: 410px;
  margin: 0;
  color: rgba(61, 35, 16, 0.7);
  font-weight: 400;

  &-offset {
    padding-left: 45px;
  }

  &.has-dot {
    padding-left: 25px;
    position: relative;
  }

  a {
    text-decoration: underline;
  }

  small {
    font-size: 14px;
    opacity: .5;
  }

  .dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: $color-accent-yellow;
    position: absolute;
    left: 0;
    top: 10px;
  }
}

.image {
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.cash {
  color: $color-secondary;
  font-size: 24px;
  padding-right: 20px;
  font-weight: 300;

  &-currency {
    color: rgba(61, 35, 16, 0.5);
    font-size: 14px;
    position: relative;
    bottom: 2px;
  }
}

.link {
  &--mail {
	  border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 32px 0 rgba(179,104,0,0.12);
    color: $color-secondary;
    padding: 3px 5px;
    line-height: 22px;

    &:hover {
      text-decoration: none;
    }
  }
}

.banner {
  width: 850px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;

  .shadow-text {
    left: 0;
  }

  .btn {
    display: inline-block;
    margin: 20px 0;
  }
}

.menu {
  padding-left: 0;
  overflow: hidden;
}

.figures-wrapper {
  display: flex;
}


@media (max-width: 810px) {
  .paragraph {
    font-size: 14px;

    &-offset {
      padding-left: 25px;
    }

    small {
      opacity: 1;
    }
  }

  .image {
    &--oversized {
      max-width: 160%;
    }
  }

  .btn-primary {

    &.btn-arrow {
      padding: 15px 0px 15px 0;
      align-items: center;
      display: flex;
      font-size: 13px;
      justify-content: center;
      width: 290px;
      margin: 0 auto;

      img {
        margin-bottom: 0;
      }
    }
  }
}
