@import "header";
@import "on-tour/banner";
@import "on-tour/logos";
@import "on-tour/videos";
@import "on-tour/rythm";
@import "on-tour/hits";
@import "on-tour/cooperation";
@import "on-tour/band";
@import "on-tour/dates";
@import "on-tour/form";
@import "on-tour/photos";
@import "on-tour/footer";

@import "layout/layout";
@import "modules/heading";
@import "modules/hero";
@import "modules/section";
@import "modules/page-navigation";
@import "modules/accordion";
@import "modules/table";
@import "modules/person";
@import "modules/carousel";

// CAREERS SPECIFIC STYLES //

@import "modules/career-team";
@import "modules/career-path";
@import "modules/career-process";
@import "modules/career-culture";
@import "modules/career-benefits";
@import "modules/career-offers";
@import "modules/career-position";
@import "modules/career-about";
@import "modules/career-skills";
@import "modules/career-more";
@import "modules/career-perks";




// NEW CAREERS //


figure {
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 36px;
  font-weight: 300;
}

.btn-primary {

  &.btn-arrow {
    padding: 14px 22px 14px 40px;

    img {
      margin-bottom: 0;
    }
  }
}

.paragraph {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 20px;
  max-width: 410px;
  margin: 0;
  color: rgba(61, 35, 16, 0.7);

  &-offset {
    padding-left: 45px;
  }

  &.has-dot {
    padding-left: 40px;
    position: relative;
  }

  a {
    text-decoration: underline;
  }

  small {
    font-size: 14px;
    opacity: .5;
  }

  .dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: $color-accent-yellow;
    position: absolute;
    left: 0;
    top: 10px;
  }
}

.image {
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;

}

.cash {
  color: $color-secondary;
  font-size: 24px;
  padding-right: 20px;
  font-weight: 300;

  &-currency {
    color: rgba(61, 35, 16, 0.5);
    font-size: 14px;
    position: relative;
    bottom: 3px;
  }
}

h3 {
	font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  margin: 0;
}

.link {
  &--mail {
	  border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 32px 0 rgba(179,104,0,0.12);
    color: $color-secondary;
    padding: 3px 5px;
    line-height: 22px;

    &:hover {
      text-decoration: none;
    }
  }
}

.banner {
  width: 850px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;

  .shadow-text {
    left: 0;
  }

  .btn {
    display: inline-block;
    margin: 20px 0;
  }
}
