@import "header";
@import "on-tour/banner";
@import "on-tour/logos";
@import "on-tour/videos";
@import "on-tour/rythm";
@import "on-tour/hits";
@import "on-tour/cooperation";
@import "on-tour/band";
@import "on-tour/dates";
@import "on-tour/form";
@import "on-tour/photos";
@import "on-tour/footer";

.l-tour-header {
  grid-area: header;
}

.tour {

  &-circles {

    &-big {
      position: absolute;
      top: -320px;
      left: 50%;
      transform: translateX(-30%);
      z-index: -1;
      width: 1402px;
      height: 1402px;

      span {
        top: 50%;
        left: 50%;
        margin: -11px;
        width: 22px;
        height: 22px;
        animation-duration: 25s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        &.red {
          background-color: #FF5E45;
          animation-name: red-animation;
        }

        &.orange {
          background-color: #ffac07;
          animation-name: orange-animation;
        }

        &.blue {
          background-color: #84f7ff;
          animation-name: blue-animation;
        }
      }
    }

    &-right {
      position: relative;
      grid-column: 1 / 4;

      div {
        position: absolute;
        top: -390px;
        left: 50%;
        width: 1100px;
        height: 1100px;
        transform: translateX(22%);
        z-index: -1;

        span {
          top: 50%;
          left: 50%;
          margin: -11px;
          width: 22px;
          height: 22px;
          animation-duration: 25s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;

          &.red {
            background-color: #FF5E45;
            animation-name: red-min-animation;
          }

          &.orange {
            background-color: #ffac07;
            animation-name: orange-min-animation;
          }

          &.blue {
            background-color: #84f7ff;
            animation-name: blue-min-animation;
          }
        }
      }
    }
  }

  &-map {
    position: relative;
    grid-column: 1 / 4;

    img {
      position: absolute;
      top: -90px;
      left: 45%;
      z-index: -1;
    }
  }

  &-circle {
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
  }

  &-numbers {
    color: #D8D8D8;
    font-size: 12px;
    word-spacing: 10px;

    span {
      color: #ffac07;
    }
  }
}

.headings--h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 50px;

  span {
    color: #FF5E45;
  }
}

.headings--h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 1399px) {
  .tour {

    &-map img {
      top: -55px;
      left: 46%;
      max-width: 1070px;
    }
  }
}

@media (max-width: 1199px) {
  .tour {

    &-map img {
      top: -10px;
      left: 52%;
      max-width: 770px;
    }
  }
}

@media (max-width: 992px) {
  .tour {

    &-map img {
      display: none;;
    }
  }
}

@keyframes red-min-animation {
  from {
		transform: rotate(0deg)
		           translate(-135px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-135px)
		           rotate(-360deg);
	}
}

@keyframes red-center-animation {
  from {
		transform: rotate(0deg)
		           translate(-102px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-102px)
		           rotate(-360deg);
	}
}

@keyframes red-animation {
  from {
		transform: rotate(0deg)
		           translate(-175px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-175px)
		           rotate(-360deg);
	}
}

@keyframes orange-min-animation {
  from {
		transform: rotate(0deg)
		           translate(-410px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-410px)
		           rotate(-360deg);
	}
}

@keyframes orange-center-animation {
  from {
		transform: rotate(0deg)
		           translate(-305px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-305px)
		           rotate(-360deg);
	}
}

@keyframes orange-animation {
  from {
		transform: rotate(0deg)
		           translate(-525px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-525px)
		           rotate(-360deg);
	}
}

@keyframes blue-min-animation {
  from {
    transform: rotate(360deg)
               translate(-275px)
               rotate(-360deg);
  }
  to {
		transform: rotate(0deg)
		           translate(-275px)
		           rotate(0deg);
	}
}

@keyframes blue-center-animation {
  from {
    transform: rotate(360deg)
               translate(-202px)
               rotate(-360deg);
  }
  to {
		transform: rotate(0deg)
		           translate(-202px)
		           rotate(0deg);
	}
}

@keyframes blue-animation {
  from {
    transform: rotate(360deg)
               translate(-350px)
               rotate(-360deg);
  }
  to {
		transform: rotate(0deg)
		           translate(-350px)
		           rotate(0deg);
	}
}

@media (max-width: 991px) {
  .tour {

    &-circles {

      &-big {
        top: -20px;
        left: 42%;
        width: 600px;
        height: 600px;
        transform: none;

        span {
          margin: -7px;
          width: 14px;
          height: 14px;
          animation-duration: 20s;
        }
      }

      &-right {

        div {
          top: -160px;
          left: 60%;
          width: 600px;
          height: 600px;
          transform: none;

          span {
            margin: -7px;
            width: 14px;
            height: 14px;
            animation-duration: 20s;

            &.red {
              animation-name: red-animation;
            }

            &.orange {
              animation-name: orange-animation;
            }

            &.blue {
              animation-name: blue-animation;
            }
          }
        }
      }
    }
  }

  @keyframes red-animation {
    from {
  		transform: rotate(0deg)
  		           translate(-75px)
  		           rotate(0deg);
  	}
  	to {
  		transform: rotate(360deg)
  		           translate(-75px)
  		           rotate(-360deg);
  	}
  }

  @keyframes orange-animation {
    from {
  		transform: rotate(0deg)
  		           translate(-225px)
  		           rotate(0deg);
  	}
  	to {
  		transform: rotate(360deg)
  		           translate(-225px)
  		           rotate(-360deg);
  	}
  }

  @keyframes blue-animation {
    from {
      transform: rotate(360deg)
                 translate(-150px)
                 rotate(-360deg);
    }
    to {
  		transform: rotate(0deg)
  		           translate(-150px)
  		           rotate(0deg);
  	}
  }
}


// NEW CAREERS //


.banner {
  width: 850px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;

  .shadow-text {
    left: 0;
  }

  .btn {
    display: inline-block;
    margin: 20px 0;
  }
}

.nav-lines {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 100px;
  text-align: right;
  font-size: 12px;
  margin-left: 0;
  list-style-type: decimal-leading-zero;
  background-color: $color-code-bg;
  line-height: 90px;

  li {
    text-align: center;
    color: #c1c1c1;
  }

  span {
    font-size: 16px;
    color: $color-global-font;
    padding-left: 25px;
  }
}

.dates-path {
  background-color: #FFF7F1;

  h2 {
    font-size: 36px;
    width: 630px;
    font-weight: 300;
    padding-left: 47px;

    a {
      color: $color-accent-yellow;
      text-decoration: underline;
    }
  }

  .tour-numbers {
    word-spacing: initial;

    span {
      padding-right: 30px;
    }
  }
}

.accordion {
  padding-left: 200px;
  padding-right: 100px;
  &-item {
    position: relative;
    border-bottom: 1px solid $color-global-font;
    color: $color-global-font;
    line-height: 88px;
    opacity: 0.5;
    font-size: 24px;
    padding-left: 150px;

    span {
      position: absolute;
      left: 0;
      top: 0;
    	color: #C1C1C1;
    	font-size: 12px;
    }
  }
}

.team-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;

  &-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 150px;
  }

  &-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
  }

  img {
    width: 510px;
    height: auto;
  }

  h2, p {
    padding-left: 47px;
  }

  .tour-numbers {
    word-spacing: initial;

    span {
      padding-right: 30px;
    }
  }
}

.process {
  &-section {
    @extend .team-section;
    padding-left: 100px;
  }

  &-full {
    display: flex;
    border: 1px solid #eae4df;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 8px 32px 0 rgba(179,104,0,0.12);
    margin-left: 100px;

    ol {
      display: flex;
      position: relative;
      width: 100%;
      justify-content: space-between;
      padding-right: 150px;
      padding-left: 50px;
      margin: 0;
      color: white;
      list-style: none;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        border-bottom: 1px solid rgba(59,34,15,0.1);
        z-index: -1;
      }
    }

    li {
      width: 32px;
      height: 32px;
      font-size: 16px;
      border-radius: 50%;
      background-color: $color-accent-yellow;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}



// Accordion default styles //

.accordion label {
  display:block;
  cursor: pointer;
}

.accordion .hiddentext {
  color: #424242;
  padding: 10px;
  font-size: 0.8em;
  line-height: 1.7em;
  opacity: 0;
  display: none;
  text-align: left;
  margin: 0px;
}

#tm:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}

input#tm {
  display: none;
  position: relative;
}

#tn:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}

input#tn {
  display: none;
  position: relative;
}

#to:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}

input#to {
  display: none;
  position: relative;
}
