<div class="data-policy__data">
  <div class="data-policy__content">
    <h2 class="data-policy__content-header">
      Personal data controller
    </h2>
    <p class="data-policy__content-paragraph">
      The controller of your personal data is Naturaily spółka z ograniczoną odpowiedzialnością 
      (Naturaily limited liability company), ul. Ofiar Oświęcimskich 17, 50-069 Wrocław, registered 
      in the Register of Entrepreneurs of the National Court Register under number KRS 0000472548, 
      whose register is kept by the District Court for Wrocław-Fabryczna in Wrocław, VIth Commercial 
      Division of KRS, NIP:  8943047516, share capital PLN 40,000.00.
    </p>
  </div>
  <div class="data-policy__content">
    <h2 class="data-policy__content-header">
      Scope of data processing
    </h2>
    <p class="data-policy__content-paragraph">
      We are processing your personal data collected in connection with your participation in our 
      recruitment process. This data may include in particular:
    </p>
    <ul class="data-policy__content-list">
      <li class="data-policy__content-list__item">
        full name,
      </li>
      <li class="data-policy__content-list__item">
        residence address,
      </li>
      <li class="data-policy__content-list__item">
        email,
      </li>
      <li class="data-policy__content-list__item">
        telephone number,
      </li>
      <li class="data-policy__content-list__item">
        any other information provided in your CV and cover letter submitted to us.
      </li>
    </ul>
    <div class="data-policy__content-details">
      <h3 class="data-policy__content-subheader">
        Purposes and legal bases for processing
      </h3>
      <p class="data-policy__content-paragraph">
        The data is processed for the following purposes and based on the following legal grounds:
      </p>
      <ul class="data-policy__content-list">
        <li class="data-policy__content-list__item">
          conducting of the recruitment process - Article 6 (1)(a) GDPR – pursuant toyour consent 
          to the  processing of personal data as part of the recruitment process,
        </li>
        <li class="data-policy__content-list__item">
          storage of data for the purposes of future recruitment processes, provided you have 
          given your consent - Article 6 (1)(a) GDPR.
        </li>
      </ul>
    </div>
    <div class="data-policy__content-details">
      <h3 class="data-policy__content-subheader">
        Recipients of data
      </h3>
      <p class="data-policy__content-paragraph">
        The following entities may participate in the processing of personal data:
      </p>
      <ul class="data-policy__content-list">
        <li class="data-policy__content-list__item">
          <span>hosting provider</span>
          – as regards data storage on the server, including email server,
        </li>
        <li class="data-policy__content-list__item">
          <span>Google</span>
          – as regards the use of G Suite services that involve personal data processing,
        </li>
        <li class="data-policy__content-list__item">
          <span>software providers</span>
          – as regards the use of systems involving access to personal data,
        </li>
        <li class="data-policy__content-list__item">
          <span>Slack platform provider</span>
          – as regards using the messaging system in which personal data may be processed,
        </li>
        <li class="data-policy__content-list__item">
          <span>subcontractors</span>
          – as regards the provision of services involving access to personal data.
        </li>
      </ul>
    </div>
    <p class="data-policy__content-paragraph">
      All of the above entities are involved in the processing of personal data on the basis 
      of the relevant contracts entrusting to them the processing of personal data. All of 
      them ensure an adequate level of personal data protection.
    </p>
  <p class="data-policy__content-paragraph">
      Your personal data may also be transferred to other authorities or institutions entitled 
      under the law if this is necessary to comply with statutory obligations or to pursue 
      legal claims.
  </p>
  <p class="data-policy__content-paragraph">
      Should we need professional legal assistance, your personal data may be transferred 
      to law firms providing legal assistance to us to the extent necessary to assert our 
      rights or defend against claims.
  </p>
  </div>
  <div class="data-policy__content">
    <h2 class="data-policy__content-header">
      Transfer of data to third countries
    </h2>
    <p class="data-policy__content-paragraph">
      Some of the programmes we use have their servers in the United States, which means that 
      data is transferred to third countries in connection with their storage on servers located 
      outside the European Economic Area.  The programmes we use provide an adequate level of 
      personal data protection through compliance mechanisms, such as certification programmes 
      or standard contractual clauses.
    </p>
  </div>
  <div class="data-policy__content">
    <h2 class="data-policy__content-header">
      Period of storage of personal data
    </h2>
    <p class="data-policy__content-paragraph">
      Your personal data will be kept until completion of the recruitment process, unless 
      you give your consent for processing such data for the purposes of future recruitment 
      processes.
    </p>
  </div>
  <div class="data-policy__content">
    <h2 class="data-policy__content-header">
      Rights related to the processing
    </h2>
    <p class="data-policy__content-paragraph">
      In connection with the processing of your personal data, you have the following rights:
    </p>
    <ul class="data-policy__content-list">
      <li class="data-policy__content-list__item">
        right to <span>access your data</span> and obtain a copy thereof,
      </li>
      <li class="data-policy__content-list__item">
        right to <span>rectify (correct) your data</span>,
      </li>
      <li class="data-policy__content-list__item">
        right to <span>have your data erased</span> (if you believe that there are no legal 
        grounds for our processing of your data, you have the right to have your data erased),
      </li>
      <li class="data-policy__content-list__item">
        right to <span>restrict the processing of your data</span> (you may request that we 
        restrict the processing of your data solely to the storage of data or to the performance 
        of operations agreed with you if you believe that we have incorrect data or we process 
        them without a legal basis),
      </li>
      <li class="data-policy__content-list__item">
        right to <span>object to the processing of your data</span> (you have the right to object 
        to the processing on the basis of a legitimate interest; you should indicate to us your particular 
        circumstances which, in your opinion, require our cessation of the processing objected to; we will 
        stop processing your data for these purposes, unless we demonstrate that the legal bases for our 
        processing override your rights or that we need your data to establish, exercise or defend 
        legal claims),
      </li>
      <li class="data-policy__content-list__item">
        right to <span>data portability</span> (you have the right to receive from us in a structured, commonly 
        used machine-readable format the personal data that you have provided to us on the basis of a contract 
        or your consent; you may have us transmit this data directly to another controller),
      </li>
      <li class="data-policy__content-list__item">
        right to <span>lodge a complaint with the supervisory authority</span> (if you find that we are 
        processing data unlawfully, you may lodge a complaint with the President of the Office for Personal 
        Data Protection or with another competent supervisory authority).
      </li>
    </ul>
    <p class="data-policy__content-paragraph">
      To exercise your rights please email your request to 
      <a href="mailto:rodo@naturaily.com">rodo@naturaily.com</a>.
      Please note that before you can exercise your rights we will need to identify you accordingly.
    </p>
  </div>
  <div class="data-policy__content">
    <h2 class="data-policy__content-header">
      Information about mandatory/voluntary submission of data
    </h2>
    <p class="data-policy__content-paragraph">
      Provision of data is a condition for your participation in our recruitment process. 
    </p>
  </div>
</div>
