<div class="data-policy__intro">
  <div class="data-policy__intro-header">
    <span class="data-policy__intro-header__shadow">
      GDPR
    </span>
    <h1 class="data-policy__intro-header__text">
      Processing personal data (GDPR)
    </h1>
  </div>
  <div class="data-policy__content">
    <h2 class="data-policy__content-header">
      Information related to the processing of personal data
    </h2>
    <p class="data-policy__content-paragraph">
      Please be informed that we are processing your personal data collected 
      in connection with your participation in our recruitment process.
    </p>
  </div>
</div>
