.portfolio-companies {
  &__wrapper {
    padding: 50px 0 75px;
  }

  &__list-item {
    padding: 0 35px;

    &__content {
      padding-right: 40px;

      .icon {
        color: $color-secondary;
        font-size: 3em;
      }

      .paragraph {
        padding-top: 25px;
        padding-bottom: 0;
        color: $color-portfolio-text-second;
      }
    }
  }
}

@media (min-width: 576px) {
  .portfolio-companies {
    &__list-item {
      padding: 0 100px;

      &__content {
        padding-right: 0;
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 811px) {
  .portfolio-companies {
    padding-top: 50px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      padding: 50px 0;
      margin: 0 -50px;

      &-item {
        box-sizing: border-box;
        width: 50%;
        padding: 25px 50px;
      }
    }

    .portfolio__step {
      margin-top: 50px;
    }
  }
}

@media (min-width: 992px) {
  .portfolio-companies__list-item {
    width: 25%;
  }
}
