.portfolio-results {
  .portfolio__columns--reversed {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;

    .paragraph span {
      display: block;
      padding-bottom: 20px;
      font-size: 0.75em;
    }

    img {
      width: 100%;
      padding-bottom: 25px;
    }
  }

  &__numbers--lv {
    margin: 0 -35px;
    padding: 50px 35px 0;
    border-top: 1px solid $color-global-font-10;

    .portfolio-results__numbers {
      &-value {
        font-weight: 200;
      }

      &-text {
        padding-top: 20px;
      }
    }

    .portfolio__columns--left {
      padding: 25px 0;

      li {
        padding: 30px 0;

        &:nth-of-type(2) {
          border-top: 1px solid $color-global-font-10;
          border-bottom: 1px solid $color-global-font-10;
        }
      }
    }

    .portfolio__columns--right {
      position: relative;
      margin-bottom: 100px;

      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 811px) {
  .portfolio-results {
    .portfolio__columns--reversed {
      padding: 0 25px;

      img {
        width: calc(100% + 50px);
        padding-bottom: 0;
      }
    }

    &__numbers--lv {
      .portfolio__columns--left li {
        padding-left: 25px;
        margin-right: 25px;
      }
    }
  }
}
