.portfolio-solutions,
.portfolio-results {
  .geometric-figure {
    display: block;
    position: absolute;
    z-index: -1;

    &_center, &_right::after {
       height: 200px;
       width: 200px;
    }

     &_right {
       width: 100px;
       height: 200px;
    }

    &--schema1, &--schema2, &--schema3 {
      top: 50%;
      left: 50%;
      right: auto;
    }

    &--schema2 {
      transform: translate(-50%, -50%) scale(1.5);

      .geometric-figure_center {
        background-color: $color-accent-yellow;
      }

      .geometric-figure_right {
        display: none;
      }
    }
  }
}

.portfolio-answer img {
  max-width: 100%;
}

.portfolio-solutions {
  .paragraph {
    padding: 25px 0;
  }

  .portfolio__columns {
    display: flex;
    flex-direction: column;
    padding: 50px 0;

    &--odd .portfolio-solutions__image img {
      margin-left: 100px;
      max-height: 350px;
    }

    &--even .portfolio-solutions__image img {
      max-height: 400px;
    }
  }

  &__image, &__description {
    margin: 25px;
  }

  &__image {
    position: relative;
    text-align: center;

    img {
      width: auto;
      max-width: 100%;
    }
  }

  &__description {
    position: relative;

    .portfolio__dot {
      display: none;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;

      &--secondary {
        top: -50px;
        right: 0;
      }

      &--yellow {
        top: -100px;
        left: -150px;
      }

      &--blue {
        bottom: -50px;
        left: -50px;
      }
    }
  }

  .geometric-figure {
    &--schema1 .geometric-figure_right,
    &--schema3 .geometric-figure_right {
      transform: translate(50%, -25%) rotate(90deg);
    }

    &--schema1 {
      transform: translate(-60%, -40%);

      .geometric-figure_center {
        border-color: $color-geometric-blue-accent;
      }

      .geometric-figure_right::after {
        background-color: $color-geometric-blue;
      }
    }

    &--schema3 {
      transform: translate(-60%, -60%) rotate(180deg);
    }
  }
}

@media (min-width: 811px) {
  .portfolio-answer {
    .paragraph {
      padding-right: 50px;
    }

    img {
      position: relative;
      left: 50px;
    }
  }

  .portfolio-solutions {
    &__description, &__image {
      position: relative;
      width: 50%;
      box-sizing: border-box;
    }

    &__image {
      display: flex;
    }

    .portfolio__dot {
      display: block;
    }

    .portfolio__columns {
      align-items: center;
      justify-content: space-between;

      .portfolio-solutions__image {
        justify-content: center;
      }

      &--odd  {
        flex-direction: row;

        .portfolio-solutions__description {
          padding-right: 50px;
        }
      }

      &--even {
        flex-direction: row-reverse;

        .portfolio-solutions__description {
          left: 50px;
          padding-left: 50px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .portfolio-answer img {
    top: -50px;
  }
}

@media (min-width: 1200px) {
  .portfolio-answer img {
    top: -100px;
  }

  .portfolio-solution {
    &__description .portfolio__dot--yellow {
      top: -150px;
      left: -250px;
    }
  }
}
