<div class="portfolio__section portfolio-about portfolio-about--lvcloud">
  <span class="portfolio__step">About</span>
  <h2 class="portfolio__title">About EA Technology</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="paragraph portfolio-about__description">
        EA Technology is a UK-based company, with seven regional offices across
        the globe, supplying a comprehensive range of high voltage and low voltage
        asset management solutions for testing and monitoring power networks.
        The business is a world leader in electrical asset management, fault detection
        and failure prevention. It provides customers with a state-of-the-art
        LV network automation solution – ALVIN.<br><br>
        The company was founded in 1966 and now has more than 200 employees around
        the world.
      </p>
    </div>
    <div class="portfolio__columns--right portfolio-about__image">
      <img class="invisible-sm" src="/assets/images/portfolio/lvcloud/about-map.png" alt="ea technology company map" />
      <span class="portfolio__dot portfolio__dot--lvcloud portfolio__dot--yellow"></span>
      <span class="portfolio__dot portfolio__dot--lvcloud portfolio__dot--blue"></span>
    </div>
    <div class="portfolio-about__separator portfolio-about__separator--lvcloud">
      <img
        src="/assets/images/portfolio/lvcloud/separator.png"
        data-src="/assets/images/portfolio/lvcloud/separator.png"
        alt="lvcloud screens"
      />
    </div>
  </div>
</div>
