<div class="portfolio__section portfolio-challenge">
  <span class="portfolio__step">Challenge</span>
  <h2 class="portfolio__title">The challenge</h2>

  <div class="portfolio__columns">
    <div portfolio-left class="portfolio__columns--left">
      <p class="paragraph">
        This IoT application and its web-based interface needed the ability
        to process and aggregate a large number of measurements and events, all
        while working in real time. How did we handle this? You will find all
        the technical details below.
      </p>
    </div>
    <div portfolio-right class="portfolio__columns--right"></div>
  </div>
</div>
