<div class="portfolio-section estimate portfolio-estimate">
  <div class="section_content">
    <img class="image" src="/assets/images/sunny-suler.png" alt="Naturaily CEO" />
  </div>
  <div class="section_desc">
    <h2 class="section_heading">
      LV Cloud is an example of a highly performant & large-scale IoT application
      <span>Do you want to build an analogous solution suited to your industryneeds?</span>
    </h2>
    <div>
      <a href="/get-an-estimate" type="button" class="btn btn-primary btn-arrow">
        Get an estimate
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
    </div>
  </div>
</div>
