<div class="portfolio__section portfolio-goal">
  <span class="portfolio__step">Goal</span>
  <h2 class="portfolio__title">The goal</h2>

  <div class="portfolio__columns portfolio-goal__main">
    <div class="portfolio__columns--left">
      <p class="portfolio-goal__main-description">
        The goal was to create an IT system that will work as a user interface for
        a number of VisNet® Hub, ALVIN® equipment and a couple more devices.
      </p>
    </div>
  </div>

  <div portfolio-right class="portfolio__columns portfolio-goal__lvcloud">
    <div class="portfolio__columns--left">
      <span class="portfolio__dot portfolio__dot--secondary"></span>
      <div class="portfolio-goal__lvcloud-image">
        <img
          src="/assets/images/portfolio/lvcloud/goal-alvin.png"
          class="portfolio-goal__lvcloud-image--alvin"
          alt="alvin"
        />
      </div>
      <p class="paragraph portfolio-goal__lvcloud-description">
        ALVIN® Reclose is the next generation of supply-restoration reclose
        equipment, providing Network Operators with invaluable support in reducing
        costs and delivering better customer service.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <span class="portfolio__dot portfolio__dot--secondary"></span>
      <div class="portfolio-goal__lvcloud-image">
        <img
          src="/assets/images/portfolio/lvcloud/goal-visnet.png"
          class="portfolio-goal__lvcloud-image--visnet"
          alt="visnet"
        />
      </div>
      <p class="paragraph portfolio-goal__lvcloud-description">
        VisNet® Hub checks the voltage and current data on every LV feeder, giving
        insights about the load, faults and condition of respective devices across
        the network.<br><br>
        This data is critical to network operators in order to improve both network
        flexibility and efficiency, together with security and quality of supply,
        as low carbon technologies become more widespread. - If you want to know more
        about the device, you will find it <a class="text-secondary" href="#">here</a>.
      </p>
    </div>
  </div>
</div>
