<div class="portfolio-hero">
  <div class="portfolio-hero__content">
    <div class="portfolio-hero__text">
      <h1>
        <span><strong>LV Cloud</strong> -</span>
        <span>Enterprise-level IoT</span>
        <span>monitoring solution</span>
        <span>for <strong>energy grids</strong></span>
      </h1>
    </div>
    <div class="portfolio-hero__image">
      <figure class="geometric-figure geometric-figure__blue">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
      <img src="/assets/images/portfolio/lvcloud/top.png" alt="lvcloud" />
    </div>
  </div>
</div>
