<div class="portfolio__section portfolio-other">
  <div class="portfolio-other__content">
    <figure class="geometric-figure">
      <div class="geometric-figure_center"></div>
      <div class="geometric-figure_right"></div>
    </figure>
    <p class="portfolio-other__text">
      Check
      <br>
      other case studies
    </p>
    <div class="portfolio-other__links">
      <div class="paragraph">
        <p>Previous</p>
        <a href="/portfolio/artinfo">Artinfo</a>
      </div>
      <!-- <div class="paragraph">
        <p>Next</p>
        <a href="/portfolio/work-for-impact">Work for Impact</a>
      </div> -->
    </div>
  </div>
</div>
