<div class="portfolio__section portfolio__section--half-orange">
  <span class="portfolio__step">Solution</span>
  <h2 class="portfolio__title">Solution</h2>

  <div class="portfolio__columns portfolio-answer">
    <div class="portfolio__columns--left">
      <p class="paragraph">
        LV Cloud is a software solution that collects, processes and aggregates
        data from different types of devices, including Reclosers, TDRs, GUARDs
        and VisnetHubs. Based on the collected data, it is possible to trace
        malfunctioning or physically damaged grids and immediately decide whether
        it needs to be fixed by a team of engineers or if it will fix itself.
        This brings many benefits to both energy companies and their clients.
      </p>
    </div>
    <div class="portfolio__columns--right invisible-sm">
      <img src="/assets/images/portfolio/lvcloud/solution-top.png" alt="lv cloud app screen" />
    </div>
  </div>

  <div class="portfolio-solutions">
    <div portfolio-right class="portfolio__columns portfolio__columns--odd">
      <div class="portfolio-solutions__description">
        <h3 class="portfolio-solutions__header">How did the IoT application development process go?</h3>
        <p class="paragraph">
          To meet the challenges mentioned above and develop the performant IoT
          enterprise-level solution, we built <strong>Ruby</strong>
          and <strong>Ruby on Rails</strong> applications using a microservices
          architecture. There is a separate microservice assigned to each type
          of device, which increases scalability and makes the management,
          development and maintenance processes much easier.
          Thanks to this approach, we can easily detect the error and quickly
          respond to it. Any necessary fixes are made without affecting other
          microservices.
        </p>
      </div>
      <div class="portfolio-solutions__image">
        <img src="/assets/images/portfolio/lvcloud/solution1.png" alt="lvcloud mobile panel"/>
        <figure class="geometric-figure geometric-figure--schema1">
          <div class="geometric-figure_center"></div>
          <div class="geometric-figure_right"></div>
        </figure>
      </div>
    </div>
    <div portfolio-left class="portfolio__columns portfolio__columns--even">
      <div class="portfolio-solutions__description">
        <h3 class="portfolio-solutions__header">
          Each device collects different types of data, including low voltage,
          high voltage, power, current, temperature of the device, temperature
          inside and outside the substation, and humidity.
        </h3>
        <p class="paragraph">
          There are between 600,000 and 1,500,000 events and measurements a day
          sent from devices to the application with an <strong>MQTT</strong> broker.
          Microservices receive, process and then broadcast the data
          via a <strong>Kafka</strong> streaming platform. Parsed measurements
          are received by the main application and saved to a <strong>MongoDB</strong>
          database.
        </p>
      </div>
      <div class="portfolio-solutions__image">
        <img src="/assets/images/portfolio/lvcloud/solution2.png" alt="lvcloud mobile data charts"/>
        <figure class="geometric-figure geometric-figure--schema2">
          <div class="geometric-figure_center"></div>
          <div class="geometric-figure_right"></div>
        </figure>
        <span class="portfolio__dot portfolio__dot--secondary invisible-sm"></span>
        <span class="portfolio__dot portfolio__dot--yellow invisible-sm"></span>
        <span class="portfolio__dot portfolio__dot--blue invisible-sm"></span>
      </div>
    </div>
    <div portfolio-right class="portfolio__columns portfolio__columns--odd">
      <div class="portfolio-solutions__description">
        <h3 class="portfolio-solutions__header">How did the IoT application development process go?</h3>
        <p class="paragraph">
          These huge amounts of data could be useless if they were unreadable
          and difficult to interpret. That’s why we have chosen
          <strong>Vue.js</strong> in the frontend development, with
          <strong>Highcharts</strong> to present the data neatly.<br><br>
          Our choice of Vue.js (combined with <strong>jQuery</strong> library)
          was also because of its performance and suitability to build stable,
          large-scale solutions. This combination guaranteed the acceleration
          and facilitation of the development process.<br><br>
          If you want to know more about Highcharts itself,
          <a class="text-secondary" href="https://naturaily.com/blog/big-datasets-highcharts-vue">
          follow the link to one of our blog posts</a>.
        </p>
      </div>
      <div class="portfolio-solutions__image">
        <img src="/assets/images/portfolio/lvcloud/solution3.png" alt="lvcloud mobile panel"/>
        <figure class="geometric-figure geometric-figure--schema3">
          <div class="geometric-figure_center"></div>
          <div class="geometric-figure_right"></div>
        </figure>
      </div>
    </div>
  </div>

  <div class="portfolio-tabs invisible-sm">
    <div class="portfolio-tabs__menu">
      <ul id="tabs-nav" class="portfolio-tabs__menu-list">
        <li class="tabs-item portfolio-tabs__menu-list__item" data-type="tabs-nav" data-index="1" data-tab="tab-1" data-active-nav="true">
          Architecture <span></span>
        </li>
        <li class="tabs-item portfolio-tabs__menu-list__item" data-type="tabs-nav" data-index="2" data-tab="tab-2">
          Data collectors/parsers <span></span>
        </li>
        <li class="tabs-item portfolio-tabs__menu-list__item" data-type="tabs-nav" data-index="3" data-tab="tab-3">
          Sample Commands Senders <span></span>
        </li>
      </ul>
    </div>
    <div id="tabs-container" class="portfolio-tabs__content">
      <div id="tab-1" class="tabs-tab portfolio-tabs__content-tab portfolio-tabs__content-tab--tab1" data-active-tab="true">
        <img src="/assets/images/portfolio/lvcloud/tab1.png" alt="lvcloud architecture"/>
      </div>
      <div id="tab-2" class="tabs-tab portfolio-tabs__content-tab portfolio-tabs__content-tab--tab2">
        <img src="/assets/images/portfolio/lvcloud/tab2.png" alt="lvcloud data collectors"/>
      </div>
      <div id="tab-3" class="tabs-tab portfolio-tabs__content-tab portfolio-tabs__content-tab--tab3">
        <img src="/assets/images/portfolio/lvcloud/tab3.png" alt="lvcloud commands senders"/>
      </div>
    </div>
  </div>

  <div class="portfolio-features">
    <div portfolio-right class="portfolio__columns portfolio__columns--odd">
      <div class="portfolio-features__description">
        <h3 class="portfolio-features__header">Some of the LV Cloud features</h3>
        <ul class="portfolio__list portfolio__list--lvcloud">
          <li>collecting and analyzing data supplied from devices</li>
          <li>alarms/warnings/notifications of disturbing changes</li>
          <li>failure references</li>
          <li>accurate distinction of single events from prefaults</li>
          <li>detailed information about events and prefaults</li>
          <li>generating summaries and reports</li>
          <li>presenting the event log of the device and their waveforms</li>
        </ul>
      </div>
      <div class="portfolio-features__image">
        <img src="/assets/images/portfolio/lvcloud/features1.png" alt="lvcloud features screen"/>
      </div>
    </div>
    <div portfolio-left class="portfolio__columns portfolio__columns--even">
      <div class="portfolio-features__description">
        <h3 class="portfolio-features__header">Features from the user's perspective</h3>
        <ul class="portfolio__list portfolio__list--lvcloud">
          <li>a list of all the equipment commissioned within the system</li>
          <li>basic information about all the kit installed, such as color coded status, if it’s active, last dial in data etc.</li>
          <li>text messages triggered by events related to reclosers - opened, closed or blocked </li>
          <li>the system displays the status of each device</li>
        </ul>
      </div>
      <div class="portfolio-features__image">
        <img src="/assets/images/portfolio/lvcloud/features2.png" alt="lvcloud features screen"/>
      </div>
    </div>
  </div>

  <div class="portfolio-stack">
    <h3 class="portfolio-stack__header">Technological stack</h3>
    <ul class="portfolio__columns">
      <li>
        <div class="portfolio-stack__image portfolio-stack__image--wider">
          <img src="/assets/images/portfolio/artinfo/rails.png" alt="ruby on rails icon"/>
        </div>
        <h4 class="portfolio-stack__subheader">Ruby on Rails<br> (backend)</h4>
        <p class="paragraph">The main application is written in Ruby on Rails. It is responsible for data aggregation, saving and reading.</p>
      </li>
      <li>
        <div class="portfolio-stack__image">
          <img src="/assets/images/ruby-logo.png" alt="ruby icon"/>
        </div>
        <h4 class="portfolio-stack__subheader">Ruby<br> (backend)</h4>
        <p class="paragraph">There is a separate microservice for each type of device written in Ruby.</p>
      </li>
      <li>
        <div class="portfolio-stack__image">
          <img src="/assets/images/portfolio/lvcloud/icons/sidekiq.png" alt="sidekiq icon"/>
        </div>
        <h4 class="portfolio-stack__subheader">Sidekiq<br> (search engine)</h4>
        <p class="paragraph">The entire solution uses Sidekiq for background data processing.</p>
      </li>
      <li>
        <div class="portfolio-stack__image">
          <img src="/assets/images/portfolio/lvcloud/icons/redis.png" alt="redis icon"/>
        </div>
        <h4 class="portfolio-stack__subheader">Redis<br> (backend)</h4>
        <p class="paragraph">Stores data for processing.</p>
      </li>
      <li>
        <div class="portfolio-stack__image portfolio-stack__image--mongo">
          <img src="/assets/images/portfolio/lvcloud/icons/mongoDB.png" alt="mongodb icon"/>
        </div>
        <h4 class="portfolio-stack__subheader">MongoDB<br> (database)</h4>
        <p class="paragraph">It is a mature and easily scalable document-oriented database used in the Main Application.</p>
      </li>
      <li>
        <div class="portfolio-stack__image">
          <img src="/assets/images/portfolio/lvcloud/icons/postgresql.png" alt="postgresql icon"/>
        </div>
        <h4 class="portfolio-stack__subheader">PostgreSQL<br> (database managment)</h4>
        <p class="paragraph">A general-purpose object-relational database management system.</p>
      </li>
      <li>
        <div class="portfolio-stack__image portfolio-stack__image--kafka">
          <img src="/assets/images/portfolio/lvcloud/icons/kafka.png" alt="kafka icon"/>
        </div>
        <h4 class="portfolio-stack__subheader">Kafka<br> (backend)</h4>
        <p class="paragraph">Streaming platform used to broadcast the data.</p>
      </li>
      <li>
        <div class="portfolio-stack__image">
          <img src="/assets/images/vue-logo.png" alt="vue.js icon"/>
        </div>
        <h4 class="portfolio-stack__subheader">Vue.js<br> (frontend)</h4>
        <p class="paragraph">Progressive JavaScript framework used to build attractive user interfaces.</p>
      </li>
      <li>
        <div class="portfolio-stack__image portfolio-stack__image--wider">
          <img src="/assets/images/portfolio/lvcloud/icons/highcharts.png" alt="highcharts icon"/>
        </div>
        <h4 class="portfolio-stack__subheader">Highcharts<br> (frontend)</h4>
        <p class="paragraph">Interactive JavaScript used to clearly present huge amounts of data coming from devices to the user interface.</p>
      </li>
      <li>
        <div class="portfolio-stack__image portfolio-stack__image--wider">
          <img src="/assets/images/portfolio/lvcloud/icons/mqtt.png" alt="mqtt icon"/>
        </div>
        <h4 class="portfolio-stack__subheader">MQTT<br> (backend)</h4>
        <p class="paragraph">A lightweight messaging protocol used by devices to communicate with the application</p>
      </li>
    </ul>
  </div>

  <div class="portfolio-stack portfolio-stack--tools">
    <h3 class="portfolio-stack__header">Used tools</h3>
    <ul class="portfolio__columns">
      <li>
        <div class="portfolio-stack__image portfolio-stack__image--wider">
          <img src="/assets/images/portfolio/lvcloud/icons/docker.png" alt="docker icon"/>
        </div>
        <h4 class="portfolio-stack__subheader">Docker/Swarm</h4>
      </li>
      <li>
        <div class="portfolio-stack__image">
          <img src="/assets/images/portfolio/lvcloud/icons/eclipse.png" alt="eclipse mosquito icon"/>
        </div>
        <h4 class="portfolio-stack__subheader">Eclipse Mosquito</h4>
      </li>
    </ul>
  </div>

  <div class="portfolio-experts">
    <h3 class="portfolio-experts__header"> {{ page.experts-title }} </h3>
    <ul class="portfolio__columns">
      <li>
        <div class="portfolio-experts__number"><span>1</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Ruby on Rails Developers</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>2</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Vue.js Developers</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>3</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">UX/UI Designer</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>4</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">QA Engineer</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>5</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Project Manager</p>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  {% include portfolio/lvcloud/solution-tabs.js %}
</script>
