<div class="portfolio__section portfolio__section--orange portfolio-testimonial">
  <span class="portfolio__step">Testimonial</span>
  <h2 class="portfolio__title">Testimonial</h2>

  <div class="portfolio-testimonial__content">
    <picture class="portfolio-testimonial__content-image portfolio-testimonial__content-image--lvcloud">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/lvcloud/testimonial.png"
        alt="Chris Lowsley"
      />
    </picture>
    <div class="portfolio-testimonial__content-quote">
      <p class="portfolio-testimonial__content-quote__text">
        <span class="icon-quote"></span>
        <span class="portfolio-testimonial__content-quote__text--secondary">Working with Naturaily</span>
        has been a&nbsp;pleasure from the very beginning of the project
      </p>
      <div class="portfolio__credits">
        <p class="portfolio__credits-person">
          <span class="portfolio__credits-dot"></span>
          Chris Lowsley
        </p>
        <p class="portfolio__credits-position">
          Director – LV Solutions at EA Technology
        </p>
      </div>
    </div>
    <p class="paragraph portfolio-testimonial__content-text">
      Working with Naturaily has been a&nbsp;pleasure from the very beginning
      of the project and throughout our continuous cooperation on the development
      of our product suite. The Naturaily team has a&nbsp;vision as well as a dynamic
      approach to getting the project completed. They have showed EA Technology
      how good they are, achieving outcomes that far exceeded the initial project
      scope. <br><br>
      Nothing is too much trouble for them and they are always willing to make
      things right.
    </p>
  </div>

  <figure class="geometric-figure">
    <div class="geometric-figure_center"></div>
    <div class="geometric-figure_right"></div>
  </figure>
</div>
