<div class="portfolio-section p-about">
  <span class="portfolio-step">{{ page.about-title }}</span>
  <h2 class="portfolio-title">{{ page.about-subtitle }}</h2>

  <div class="portfolio-columns">
    <div class="portfolio-columns__left">
      <p class="paragraph">{{ page.about-column-1 }}</p>
    </div>
    <div class="portfolio-columns__right">

      {% if page.about-image %}
        <img src="{{ page.about-image }}" alt="{{ page.about-alt }}" />
      {% else %}
        <p class="paragraph">{{ page.about-column-2 }}</p>
      {% endif %}

      <span class="dot {{page.about-dots-class}} {{page.about-dots-class}}__darker"></span>
      <span class="dot {{page.about-dots-class}} {{page.about-dots-class}}__lighter"></span>
    </div>
  </div>
</div>
