<div class="portfolio-section p-about">
  <span class="portfolio-step">{{ page.about-title }}</span>
  <h2 class="portfolio-title">{{ page.about-subtitle }}</h2>

  <div class="portfolio-columns">
    <div class="portfolio-columns__left">
      <p class="paragraph">{{ page.about-column-1 }}</p>
    </div>
    <div class="portfolio-columns__right">
      <p class="paragraph">{{ page.about-column-2 }}</p>
    </div>
  </div>

  <span class="dot dot__darker"></span>
  <span class="dot dot__lighter"></span>
</div>
