<div class="portfolio__section portfolio-about">
  <span class="portfolio__step">{{ page.about-title }}</span>
  <h2 class="portfolio__title">{{ page.about-subtitle }}</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="paragraph">{{ page.about-column-1 }}</p>
    </div>
    <div class="portfolio__columns--right">

      {% if page.about-image %}
        <img src="{{ page.about-image }}" alt="{{ page.about-alt }}" />
      {% else %}
        <p class="paragraph">{{ page.about-column-2 }}</p>
      {% endif %}

      <span class="portfolio__dot portfolio__dot--{{page.slug}} portfolio__dot--{{page.about-dot1-color}}"></span>
      <span class="portfolio__dot portfolio__dot--{{page.slug}} portfolio__dot--{{page.about-dot2-color}}"></span>
    </div>
  </div>
</div>
