<div class="portfolio-artinfo">
  <div class="portfolio-artinfo__wrapper">
    <div class="portfolio-artinfo__content">
      <div class="portfolio__step">Case study</div>
      <h3 class="portfolio__header portfolio__header--bold">Artinfo</h3>
      <ul class="portfolio__tags">
        <li>Art</li>
        <li>Live Auctions</li>
        <li>Web Development</li>
      </ul>
      <p class="portfolio-artinfo__text">
        Web app for live art auctions. Thanks to
        <span class="portfolio-artinfo__text--secondary">online bidding</span>,
        participation in auctions has become much
        <span class="portfolio-artinfo__text--secondary">simpler, more convenient and attractive</span>.
      </p>
    </div>
    <div class="portfolio-artinfo__numbers">
      <ul class="portfolio__numbers">
        <li>
          <span class="portfolio__numbers-number">300k+</span>
          <p class="portfolio__numbers-text">auctions with online bidding a&nbsp;year</p>
        </li>
        <li>
          <span class="portfolio__numbers-number">30%+</span>
          <p class="portfolio__numbers-text">of all bidding orders are made via the&nbsp;application</p>
        </li>
        <li>
          <span class="portfolio__numbers-number">100+</span>
          <p class="portfolio__numbers-text">people take part in each auction</p>
        </li>
      </ul>
    </div>
    <a class="btn-bordered" href="/portfolio/artinfo">
      Read more
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div class="portfolio-artinfo__image">
    <img
      src="/assets/images/loader.gif"
      data-src="/assets/images/portfolio/artinfo.jpg"
      alt="artinfo"
    />
  </div>
</div>
