<div id="cases-container" class="portfolio-cases portfolio-cases--more">
  <div class="portfolio-case portfolio-case--small">
    <div class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/collectivity.png"
        alt="collectivity"
      />
    </div>
    <h3 class="portfolio-case__header">
      Collectivity - a&nbsp;community website for health professionals
    </h3>
    <p class="portfolio-case__text">
      A&nbsp;website that allows people from all around the world to collaborate
      and share their professional expertise in order to improve health systems.
    </p>
    <a class="btn-white" href="/project/thecollectivity">
      Read more
      <img class="btn-white_arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
    </a>
  </div>
  <div class="portfolio-case portfolio-case--small">
    <div class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/snipsl.png"
        alt="snipsl"
      />
    </div>
    <h3 class="portfolio-case__header">
      Snipsl - a&nbsp;platform for readers and authors to share their stories
    </h3>
    <p class="portfolio-case__text">
      A self-publishing platform for both readers and authors that gives
      them a&nbsp;chance to share their stories and interact with each other.
    </p>
    <a class="btn-white" href="/project/snipsl">
      Read more
      <img class="btn-white_arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
    </a>
  </div>
  <div
    class="portfolio-case portfolio-case--small portfolio-case--shadowed-sm portfolio-case--hidden-sm"
    data-mobile="first-hidden"
  >
    <div class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/zapnito.png"
        alt="zapnito"
      />
    </div>
    <h3 class="portfolio-case__header portfolio-case__header--long">
      Zapnito - a community software platform built to showcase expertise
    </h3>
    <p class="portfolio-case__text">
      A unique platform that allows organizations to share and monetize their
      professional, collective expertise with other companies and clients.
    </p>
    <a class="btn-white" href="/project/zapnito">
      Read more
      <img class="btn-white_arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
    </a>
  </div>
  <div class="portfolio-case portfolio-case--small portfolio-case--hidden-sm portfolio-case--hidden-lg"
    data-mobile="first-hidden"
    data-desktop="hidden"
  >
    <div class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/caroll-school.png"
        alt="caroll school"
      />
    </div>
    <h3 class="portfolio-case__header">
      Carroll School - a&nbsp;school for children with learning differences
    </h3>
    <p class="portfolio-case__text">
      Helps children with language&#8209;based learning differences, utilizing
      both proven instructional methods and innovative approaches.
    </p>
    <a class="btn-white" href="https://www.carrollschool.org/" target="_blank">
      Visit website
      <img class="btn-white_arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
    </a>
  </div>
  <div
    class="portfolio-case portfolio-case--small portfolio-case--hidden-sm portfolio-case--hidden-lg"
    data-mobile="second-hidden"
    data-desktop="hidden"
  >
    <div class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/apptegy.png"
        alt="apptegy"
      />
    </div>
    <h3 class="portfolio-case__header">
      Apptegy - a&nbsp;set of marketing tools for schools
    </h3>
    <p class="portfolio-case__text">
      A&nbsp;set of tools, such as custom apps and websites, that helps build
      a&nbsp;school's digital marketing strategy and control its identity.
    </p>
    <a class="btn-white" href="https://www.apptegy.com/" target="_blank">
      Visit website
      <img class="btn-white_arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
    </a>
  </div>
  <div
    class="portfolio-case portfolio-case--small portfolio-case--hidden-sm portfolio-case--hidden-lg"
    data-mobile="second-hidden"
    data-desktop="hidden"
  >
    <div class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/shuttlefare.png"
        alt="shuttlefare"
      />
    </div>
    <h3 class="portfolio-case__header">
      Shuttlefare - worldwide airport transportation search site
    </h3>
    <p class="portfolio-case__text">
      A&nbsp;worldwide airport transportation search site that helps find,
      compare and reserve an&nbsp;airport ride offered by reliable companies.
    </p>
    <a class="btn-white" href="https://www.shuttlefare.com/" target="_blank">
      Visit website
      <img class="btn-white_arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
    </a>
  </div>
  <button id="cases-trigger" class="btn-shadowed" data-collapsed="true">Load more</button>
  <div id="cases-shadow" class="portfolio-cases__shadow"></div>
</div>

<script type="text/javascript">
  {% include portfolio/show-more.js %}
</script>
