<div class="portfolio-cases">
  <div class="portfolio-case">
    <div class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/retention-rocket.png"
        alt="retention rocket"
      />
    </div>
    <h3 class="portfolio-case__header">Retention Rocket</h3>
    <ul class="portfolio__tags">
      <li>Marketing</li>
      <li>E-commerce</li><br>
      <li>SaaS Development</li>
    </ul>
    <p class="portfolio-case__text">
      Retention Rocket is a&nbsp;SaaS marketing automation platform that works
      with e&#8209;commerce companies on platforms such as Shopify, Magento
      and WooCommerce.
    </p>
    <div class="portfolio-case__numbers">
      <div class="portfolio-case__numbers-number">
        <span>16m+</span>
        <p class="paragraph">Customer engagements</p>
      </div>
      <div class="portfolio-case__numbers-number">
        <span>$20m+</span>
        <p class="paragraph">Increased revenue for clients</p>
      </div>
    </div>
    <a class="btn-bordered" href="/portfolio/retention-rocket">
      Read more
      <span class="btn-bordered_arrow">{% svg /assets/images/btn-arrow.svg %}</span>
    </a>
  </div>

  <div class="portfolio-case">
    <div class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/work-for-impact.png"
        alt="work for impact"
      />
    </div>
    <h3 class="portfolio-case__header">Work for Impact</h3>
    <ul class="portfolio__tags">
      <li>NGO</li>
      <li>Marketplace</li><br>
      <li>RoR Development</li>
    </ul>
    <p class="portfolio-case__text">
      Work for Impact is an&nbsp;innovative platform that brings together
      talented freelancers, with socially or environmentally responsible
      organizations and nonprofits, enabling them to work together.
    </p>
    <div class="portfolio-case__numbers">
      <div class="portfolio-case__numbers-number">
        <span>40k+</span>
        <p class="paragraph">Freelancers signed up for listing</p>
      </div>
      <div class="portfolio-case__numbers-number">
        <span>20k+</span>
        <p class="paragraph">Organizations signed up for listing</p>
      </div>
    </div>
    <!--<a class="btn-bordered" href="/portfolio/work-for-impact">
      Read more
      <span class="btn-bordered_arrow">{% svg /assets/images/btn-arrow.svg %}</span>
    </a>-->
  </div>
</div>
