<div class="portfolio-cases">
  <div class="portfolio-case">
    <a href="/portfolio/bgl" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/bgl.webp"
        alt="bgl"
      />
    </a>
    <h3 class="portfolio-case__header">
      <a href="/portfolio/bgl">BGL</a>
    </h3>
    <ul class="portfolio__tags">
      <li>Housing estate</li>
      <li>Jamstack development</li>
    </ul>
    <p class="portfolio-case__text">
      Baugenossenschaft Letten (BGL) is a&nbsp;Zurich housing cooperative founded in 1922.
      The company owners wanted the new website to be fresh, intuitive, easy-to-navigate and,
      most importantly, informative. All of the client’s goals have been reached!
    </p>
    <div class="portfolio-case__numbers">
      <div class="portfolio-case__numbers-number">
        <span>77</span>
        <p class="paragraph">General score</p>
      </div>
      <div class="portfolio-case__numbers-number">
        <span>0.6 s</span>
        <p class="paragraph">First Contentful Paint (FCP)</p>
      </div>
    </div>
    <a href="/portfolio/bgl" class="btn-bordered">
      Read more
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div class="portfolio-case">
    <a href="/portfolio/etno-cafe" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/etno-cafe.webp"
        alt="etno cafe"
      />
    </a>
    <h3 class="portfolio-case__header">
      <a href="/portfolio/etno-cafe">Etno Cafe</a>
    </h3>
    <ul class="portfolio__tags">
      <li>Gastronomy</li>
      <li>Jamstack development</li>
    </ul>
    <p class="portfolio-case__text">
      For Etno Cafe’s owners, their website is a&nbsp;vital way of expanding brand awareness
      and reaching out to new customers. As such, it had to be performant, stable, secure
      and in line with the newly established look and feel of the brand.
    </p>
    <div class="portfolio-case__numbers">
      <div class="portfolio-case__numbers-number">
        <span>92</span>
        <p class="paragraph">Accessibility</p>
      </div>
      <div class="portfolio-case__numbers-number">
        <span>100</span>
        <p class="paragraph">Search Engine Optimization</p>
      </div>
    </div>
    <a href="/portfolio/etno-cafe" class="btn-bordered">
      Read more
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div class="portfolio-case portfolio-case--full portfolio-case--reversed">
    <div class="portfolio-case__right">
      <a href="/portfolio/dajemy-slowo" class="portfolio-case__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/cases/dajemy-slowo.webp"
          alt="dajemy slowo"
        />
      </a>
    </div>
    <div class="portfolio-case__left">
      <h3 class="portfolio-case__header">
        <a href="/portfolio/dajemy-slowo">
          Dajemy Slowo
        </a>
      </h3>
      <ul class="portfolio__tags">
        <li>Marketing</li>
        <li>Jamstack development</li>
      </ul>
      <p class="portfolio-case__text">
        Dajemy Slowo’ new website is a great example of a modern service with
        top-notch animations built via Jamstack. It’s stable, safe, responsive
        on all platforms, and highly optimized to deliver the best conversions.
      </p>
      <div class="portfolio-case__numbers">
        <div class="portfolio-case__numbers-number">
          <span>85%</span>
          <p class="paragraph">Structure score</p>
        </div>
        <div class="portfolio-case__numbers-number">
          <span>1.9s</span>
          <p class="paragraph">Time to Interactive</p>
        </div>
      </div>
      <a href="/portfolio/dajemy-slowo" class="btn-bordered">
        Read more
        {% svg /assets/images/btn-arrow.svg %}
      </a>
    </div>
  </div>
</div>
