<div class="portfolio-cases">
  <div class="portfolio-case">
    <a href="/portfolio/retention-rocket" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/retention-rocket.png"
        alt="retention rocket"
      />
    </a>
    <h3 class="portfolio-case__header">
      <a href="/portfolio/retention-rocket">Retention Rocket</a>
    </h3>
    <ul class="portfolio__tags">
      <li>Marketing</li>
      <li>E-commerce</li><br>
      <li>SaaS Development</li>
    </ul>
    <p class="portfolio-case__text">
      Retention Rocket is a&nbsp;SaaS marketing automation platform that works
      with e&#8209;commerce companies on platforms such as Shopify, Magento
      and WooCommerce.
    </p>
    <div class="portfolio-case__numbers">
      <div class="portfolio-case__numbers-number">
        <span>16m+</span>
        <p class="paragraph">Customer engagements</p>
      </div>
      <div class="portfolio-case__numbers-number">
        <span>$20m+</span>
        <p class="paragraph">Increased revenue for clients</p>
      </div>
    </div>
    <a href="/portfolio/retention-rocket" class="btn-bordered">
      Read more
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>

  <div class="portfolio-case">
    <a href="/portfolio/dajemyslowo" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/dajemy-slowo.png"
        alt="dajemy słowo"
      />
    </a>
    <h3 class="portfolio-case__header">
      <a href="/portfolio/dajemyslowo">
        Dajemy Słowo
      </a>
    </h3>
    <ul class="portfolio__tags">
      <li>Marketing</li>
      <li>Jamstack development</li>
    </ul>
    <p class="portfolio-case__text">
      Dajemy Słowo’ new website is a great example of a modern service with 
      top-notch animations built via Jamstack. It’s stable, safe, responsive 
      on all platforms, and highly optimized to deliver the best conversions.
    </p>
    <div class="portfolio-case__numbers">
      <div class="portfolio-case__numbers-number">
        <span>85%</span>
        <p class="paragraph">structure score</p>
      </div>
      <div class="portfolio-case__numbers-number">
        <span>1.9s</span>
        <p class="paragraph">Time to Interactive</p>
      </div>
    </div>
    <a href="/portfolio/dajemyslowo" class="btn-bordered">
      Read more
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
</div>
