<div class="portfolio-cases portfolio-cases--less-space">
  <div class="portfolio-case">
    <div class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/lingohub.png"
        alt="lingohub"
      />
    </div>
    <h3 class="portfolio-case__header portfolio-case__header--long">
      LingoHub - translation
      <br>
      management system
      <br>
      for software creators
    </h3>
    <p class="portfolio-case__text portfolio-case__text--short">
      This online platform helps developers, project managers, and, simply,
      software makers create great products and deliver them to a&nbsp;broader
      audience from the entire world.
    </p>
    <a class="portfolio__button" href="/portfolio/lingohub">
      Read more
      <img class="portfolio__button-arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
    </a>
  </div>

  <div class="portfolio-case">
    <div class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/eurobank.png"
        alt="eurobank"
      />
    </div>
    <h3 class="portfolio-case__header portfolio-case__header--long">
      Eurobank - comprehensive
      <br>
      copywriting for the
      <br>
      new bank website
    </h3>
    <p class="portfolio-case__text portfolio-case__text--short">
      We have developed the content for product and information pages as well
      as introduced ready&#8209;made materials into the CMS.
    </p>
    <!-- <a class="portfolio__button" href="/portfolio/...">
      Read more
      <img class="portfolio__button-arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
    </a> -->
  </div>
</div>
