<div id="cases-container" class="portfolio-cases portfolio-cases--more">
  <div class="portfolio-case portfolio-case--small">
    <a href="/project/thecollectivity" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/collectivity.webp"
        alt="collectivity"
      />
    </a>
    <h3 class="portfolio-case__header">
      <a href="/project/thecollectivity">
        Collectivity - a&nbsp;community website for health professionals
      </a>
    </h3>
    <p class="portfolio-case__text">
      A&nbsp;website that allows people from all around the world to collaborate
      and share their professional expertise in order to improve health systems.
    </p>
    <a href="/project/thecollectivity" class="btn-white">
      Read more
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div class="portfolio-case portfolio-case--small">
    <a href="/project/snipsl" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/snipsl.webp"
        alt="snipsl"
      />
    </a>
    <h3 class="portfolio-case__header">
      <a href="/project/snipsl">
        Snipsl - a&nbsp;platform for readers and authors to share their stories
      </a>
    </h3>
    <p class="portfolio-case__text">
      A self-publishing platform for both readers and authors that gives
      them a&nbsp;chance to share their stories and interact with each other.
    </p>
    <a href="/project/snipsl" class="btn-white">
      Read more
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div
    class="portfolio-case portfolio-case--small portfolio-case--shadowed-sm portfolio-case--hidden-sm"
    data-mobile="first-hidden"
  >
    <a href="/project/zapnito" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/zapnito.webp"
        alt="zapnito"
      />
    </a>
    <h3 class="portfolio-case__header portfolio-case__header--long">
      <a href="/project/zapnito">
        Zapnito - a community software platform built to showcase expertise
      </a>
    </h3>
    <p class="portfolio-case__text">
      A unique platform that allows organizations to share and monetize their
      professional, collective expertise with other companies and clients.
    </p>
    <a href="/project/zapnito" class="btn-white">
      Read more
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <a class="portfolio-case__wrapper" >
  </a>
  <div class="portfolio-case portfolio-case--small portfolio-case--hidden-sm portfolio-case--hidden-lg"
    data-mobile="first-hidden"
    data-desktop="hidden"
  > 
    <a href="https://www.carrollschool.org/" target="_blank" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/caroll-school.webp"
        alt="caroll school"
      />
    </a>
    <h3 class="portfolio-case__header">
      <a href="https://www.carrollschool.org/" target="_blank">
        Carroll School - a&nbsp;school for children with learning differences
      </a>
    </h3>
    <p class="portfolio-case__text">
      Helps children with language&#8209;based learning differences, utilizing
      both proven instructional methods and innovative approaches.
    </p>
    <a href="https://www.carrollschool.org/" target="_blank" class="btn-white">
      Visit website
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div
    class="portfolio-case portfolio-case--small portfolio-case--hidden-sm portfolio-case--hidden-lg"
    data-mobile="second-hidden"
    data-desktop="hidden"
  >
    <a href="https://www.apptegy.com/" target="_blank" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/apptegy.webp"
        alt="apptegy"
      />
    </a>
    <h3 class="portfolio-case__header">
      <a href="https://www.apptegy.com/" target="_blank">
        Apptegy - a&nbsp;set of marketing tools for schools
      </a>
    </h3>
    <p class="portfolio-case__text">
      A&nbsp;set of tools, such as custom apps and websites, that helps build
      a&nbsp;school's digital marketing strategy and control its identity.
    </p>
    <a href="https://www.apptegy.com/" target="_blank" class="btn-white">
      Visit website
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div
    class="portfolio-case portfolio-case--small portfolio-case--hidden-sm portfolio-case--hidden-lg"
    data-mobile="second-hidden"
    data-desktop="hidden"
  >
    <a href="https://www.shuttlefare.com/" target="_blank" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/shuttlefare.webp"
        alt="shuttlefare"
      />
    </a>
    <h3 class="portfolio-case__header">
      <a href="https://www.shuttlefare.com/" target="_blank">
        Shuttlefare - worldwide airport transportation search site
      </a>
    </h3>
    <p class="portfolio-case__text">
      A&nbsp;worldwide airport transportation search site that helps find,
      compare and reserve an&nbsp;airport ride offered by reliable companies.
    </p>
    <a class="btn-white" href="https://www.shuttlefare.com/" target="_blank">
      Visit website
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <button id="cases-trigger" class="btn-shadowed" data-collapsed="true">Load more</button>
  <div id="cases-shadow" class="portfolio-cases__shadow"></div>
</div>
