<div class="portfolio-cases">
  <div class="portfolio-case">
    <a href="/portfolio/woolman" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/woolman.webp"
        alt="woolman"
      />
    </a>
    <h3 class="portfolio-case__header portfolio-case__header--long">
      <a href="/portfolio/woolman">
        Shopify integrations
        <br>
        for Scandinavian
        <br>
        e&#8209;commerce stores
      </a>
    </h3>
    <p class="portfolio-case__text portfolio-case__text--short">
      The technology let our e&#8209;commerce partners improve the customer
      experience, increase the conversion and automate lots of tasks.
    </p>
    <a href="/portfolio/woolman" class="btn-bordered">
      Read more
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div class="portfolio-case">
    <a href="/portfolio/awn" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/awn.webp"
        alt="awn"
      />
    </a>
    <h3 class="portfolio-case__header portfolio-case__header--long">
      <a href="/portfolio/awn">
        AWN - consulting
        <br>workshops for
        <br>e&#8209;commerce optimization
      </a>
    </h3>
    <p class="portfolio-case__text portfolio-case__text--short">
      The result of the e&#8209;commerce workshops was delivered as
      a&nbsp;comprehensive report that includes research insights and
      optimization recommendations.
    </p>
    <a href="/portfolio/awn" class="btn-bordered">
      Read more
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div class="portfolio-case">
    <a href="/portfolio/lingohub" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/lingohub.webp"
        alt="lingohub"
      />
    </a>
    <h3 class="portfolio-case__header portfolio-case__header--long">
      <a href="/portfolio/lingohub">
        LingoHub - translation
        <br>
        management system
        <br>
        for software creators
      </a>
    </h3>
    <p class="portfolio-case__text portfolio-case__text--short">
      This online platform helps developers, project managers, and, simply,
      software makers create great products and deliver them to a&nbsp;broader
      audience from the entire world.
    </p>
    <a href="/portfolio/lingohub" class="btn-bordered">
      Read more
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div class="portfolio-case">
    <a href="/portfolio/work-for-impact" class="portfolio-case__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/cases/work-for-impact.webp"
        alt="work for impact"
      />
    </a>
    <h3 class="portfolio-case__header portfolio-case__header--long">
      <a href="/portfolio/work-for-impact">
        Work for Impact
        <br>
        - a freelancing platform 
        <br>
        for meaningful projects
      </a>
    </h3>
    <p class="portfolio-case__text portfolio-case__text--short">
      Work for Impact is an innovative platform that brings together talented 
      freelancers, with socially or environmentally responsible organizations
      and nonprofits, enabling them to work together.
    </p>
    <a href="/portfolio/work-for-impact" class="btn-bordered">
      Read more
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div class="portfolio-case portfolio-case--full">
    <div class="portfolio-case__left">
      <a href="/portfolio/retention-rocket" class="portfolio-case__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/cases/retention-rocket.webp"
          alt="retention rocket"
        />
      </a>
    </div>
    <div class="portfolio-case__right">
      <h3 class="portfolio-case__header portfolio-case__header--long">
        <a href="/portfolio/retention-rocket">
          Retention Rocket
          <br>
          - a marketing platform 
          <br>
          for e-commerce businesses
        </a>
      </h3>
      <p class="portfolio-case__text portfolio-case__text--short">
        Retention Rocket is a&nbsp;SaaS marketing automation platform that works
        with e&#8209;commerce companies on platforms such as Shopify, Magento
        and WooCommerce.
      </p>
      <a href="/portfolio/retention-rocket" class="btn-bordered">
        Read more
        {% svg /assets/images/btn-arrow.svg %}
      </a>
    </div>
  </div>
</div>
