<span class="portfolioCase-section__step">
  {{ page.challenge-title }}
</span>

<h2 class="portfolioCase-section__title">
  {{ page.challenge-subtitle }}
</h2>

<div class="portfolioCase-section__columns">
  <p portfolio-left>{{ page.challenge-column-1 }}</p>
  <p portfolio-right>{{ page.challenge-column-2 }}</p>
</div>

<div class="challenge-picture">
  <div class="challenge-picture-image" portfolio-left>
    <span>{{ page.challenge-description-1 }}</span>
    <img src="{{ page.challenge-image-1 }}"/>
  </div>
  <div class="challenge-picture-arrows" portfolio-bottom>
    <span></span><span></span><span></span><span></span><span></span>
  </div>
  <div class="challenge-picture-image" portfolio-right>
    <span>{{ page.challenge-description-2 }}</span>
    <img src="{{ page.challenge-image-2 }}"/>
  </div>
</div>
