<div class="portfolio__section portfolio-challenge">
  <span class="portfolio__step">{{ page.challenge-title }}</span>
  <h2 class="portfolio__title">{{ page.challenge-subtitle }}</h2>

  <div class="portfolio__columns">
    <div portfolio-left class="portfolio__columns--left">
      <p class="paragraph">{{ page.challenge-column-1 }}</p>
    </div>

    {% if page.challenge-column-2 %}
      <div portfolio-right class="portfolio__columns--right">
        <p portfolio-right class="paragraph">{{ page.challenge-column-2 }}</p>
      </div>
    {% endif %}

  </div>

  {% if page.slug == "artinfo" %}
    <div class="portfolio-challenge__figure">
      <div portfolio-left class="portfolio-challenge__figure-step portfolio-challenge__figure-step--first">
        <span class="portfolio-challenge__figure-step__label">{{ page.challenge-description-1 }}</span>
        <img
          class="portfolio-challenge__figure-step__image"
          src="{{ page.challenge-image-1 }}"
          alt="{{ page.challenge-description-1 }}"
        />
      </div>
      <div portfolio-bottom class="portfolio-challenge__figure-arrows">
        <span></span><span></span><span></span><span></span><span></span>
      </div>
      <div portfolio-right class="portfolio-challenge__figure-step portfolio-challenge__figure-step--last">
        <span class="portfolio-challenge__figure-step__label">{{ page.challenge-description-2 }}</span>
        <img
          class="portfolio-challenge__figure-step__image"
          src="{{ page.challenge-image-2 }}"
          alt="{{ page.challenge-description-2 }}"
        />
      </div>
    </div>
  {% endif %}

</div>
