<div id="portfolio-clutch" class="portfolio-clutch">
  <div class="portfolio-clutch__intro">
    <h3 class="portfolio__header">
      Why it’s
      <span>
        worth
        <br>
        working
      </span>
      with us
    </h3>
    <p class="portfolio-clutch__text">
      Along with comprehensive software development services, our team is
      distinguished by a&nbsp;creative and individual approach to
      the implementation of each project.
      <br><br>
      We are here to help you at every stage of the process, from consulting
      and discovery sessions, through development, to support and maintenance.
    </p>
    <div class="portfolio-clutch__check">
      <div>
        <img
          class="portfolio-clutch__check-badge"
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/clutch/top-company.png"
          alt="top company clutch label"
        />
        <img
          class="portfolio-clutch__check-logo"
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/clutch/clutch.png"
          alt="clutch logo"
        />
      </div>
      <a class="btn-white" href="https://clutch.co/profile/naturaily" rel="nofollow" target=”_blank>
        Check our reviews
        <img class="btn-white_arrow" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
  </div>
  <div id="portfolio-reviews" class="portfolio-clutch__reviews">
    <div class="portfolio-clutch__review">
      <p class="portfolio-clutch__review-quote">
        <span class="icon-quote"></span>
        Experienced and professional, the team delivered work quickly without
        sacrificing quality. Naturaily led a&nbsp;smooth workflow with minimal
        onboarding and without issues with time differences.
      </p>
      <div class="portfolio-clutch__review-credits">
        <p class="portfolio-clutch__review-credits__person">
         <span class="portfolio-clutch__review-credits__dot"></span>
         Brooke Acchione
       </p>
       <p class="portfolio-clutch__review-credits__position">
         Vice President of Operations at Retention Rocket
       </p>
       <img
         class="portfolio-clutch__review-credits__avatar"
         src="/assets/images/loader.gif"
         data-src="/assets/images/portfolio/clutch/brooke.png"
         alt="brooke acchione"
       />
      </div>
    </div>
    <div class="portfolio-clutch__review">
      <p class="portfolio-clutch__review-quote">
        <span class="icon-quote"></span>
        The quality of Naturaily’s code and documentation has been exceptional.
      </p>
      <div class="portfolio-clutch__review-credits">
        <p class="portfolio-clutch__review-credits__person">
           <span class="portfolio-clutch__review-credits__dot"></span>
           Geoff Hucker
         </p>
         <p class="portfolio-clutch__review-credits__position">
           CEO Work for Impact
         </p>
         <img
           class="portfolio-clutch__review-credits__avatar"
           src="/assets/images/loader.gif"
           data-src="/assets/images/portfolio/clutch/geoff.png"
           alt="geoff hucker"
         />
      </div>
    </div>
    <div class="portfolio-clutch__review portfolio-clutch__review--shadowed" data-review="hidden">
      <p class="portfolio-clutch__review-quote">
        <span class="icon-quote"></span>
        We're particularly happy with how easy they are to work with and
        how solid their deliveries are.
      </p>
      <div class="portfolio-clutch__review-credits">
        <p class="portfolio-clutch__review-credits__person">
           <span class="portfolio-clutch__review-credits__dot"></span>
           Soheil Dabestani
         </p>
         <p class="portfolio-clutch__review-credits__position">
           CEO&nbsp;&&nbsp;Co-Founder, Diffia
         </p>
         <img
           class="portfolio-clutch__review-credits__avatar"
           src="/assets/images/loader.gif"
           data-src="/assets/images/portfolio/clutch/soheil.png"
           alt="geoff hucker"
         />
      </div>
    </div>
    <div class="portfolio-clutch__review portfolio-clutch__review--hidden-sm" data-review="hidden">
      <p class="portfolio-clutch__review-quote">
        <span class="icon-quote"></span>
        Working with Naturaily has been a&nbsp;pleasure from the very beginning
        of the project and throughout our continuous cooperation on the
        development of our product suite. The Naturaily team has a&nbsp;vision
        as well as a&nbsp;dynamic approach to getting the project completed.
        They have shown EA&nbsp;Technology how good they are, achieving outcomes
        that far exceeded the initial project scope. Nothing is too much
        trouble for them and they are always willing to make things right.
      </p>
      <div class="portfolio-clutch__review-credits">
        <p class="portfolio-clutch__review-credits__person">
           <span class="portfolio-clutch__review-credits__dot"></span>
           Chris Lowsley
         </p>
         <p class="portfolio-clutch__review-credits__position">
           Director of LV Solutions at&nbsp;EA&nbsp;Technology
         </p>
         <img
           class="portfolio-clutch__review-credits__avatar"
           src="/assets/images/loader.gif"
           data-src="/assets/images/portfolio/clutch/chris.png"
           alt="brooke acchione"
         />
      </div>
    </div>
    <button id="portfolio-trigger" class="btn-shadowed">Load more</button>
  </div>
  <div id="portfolio-shadow" class="portfolio-clutch__shadow"></div>
  <div class="portfolio__figure">
    <span class="portfolio__figure-circle portfolio__figure-circle--small"></span>
    <span class="portfolio__figure-circle portfolio__figure-circle--medium"></span>
    <span class="portfolio__figure-circle portfolio__figure-circle--big"></span>
    <span class="portfolio__figure-circle portfolio__figure-circle--large"></span>
    <span class="portfolio__figure-dot portfolio__figure-dot--secondary"></span>
    <span class="portfolio__figure-dot portfolio__figure-dot--blue"></span>
    <span class="portfolio__figure-dot portfolio__figure-dot--yellow"></span>
  </div>
</div>

<script type="text/javascript">
  {% include portfolio/show-more.js %}
</script>
