<div class="portfolio-section estimate portfolio-estimate">
  <div portfolio-left class="section_content">
    <img class="image" src="/assets/images/sunny-suler.png" alt="" />
  </div>

  <div portfolio-right class="section_desc">
    <h2 class="section_heading">{{ page.estimate-text-1 }}</h2>
    <div>
      <a href="/get-an-estimate" type="button" class="btn btn-primary btn-arrow">
        Get an estimate
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
    </div>
  </div>

</div>
