<div class="page-estimate page-estimate--orange">
  <div class="page-estimate__columns">
    <picture class="page-estimate__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/sunny-suler.png"
        alt="Naturaily CEO photo"
      />
    </picture>
    <div class="page-estimate__content">
      <h2 class="page-estimate__content-text">
        As you can see, we work for startups, small businesses
        and large companies with the same zeal
        <span>
          We would love to work with you as well. Please
          contact us and tell us more about your business needs.
        </span>
      </h2>
      <a class="btn btn-primary btn-arrow" href="/get-an-estimate" type="button">
        Get an estimate <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
    </div>
  </div>
</div>
