<div class="portfolio-section p-goal">
  <span class="portfolio-step">{{ page.goal-title }}</span>
  <h2 class="portfolio-title">{{ page.goal-subtitle }}</h2>

  <div class="portfolio-columns">
    <div portfolio-left class="portfolio-columns__left">
      <p class="paragraph">{{ page.goal-text }}</p>
      <div class="portfolio-credits">
        <p class="portfolio-credits__person">
          <span class="credit-dot"></span>
          {{ page.goal-person }}
        </p>
        <p class="portfolio-credits__position">
          {{ page.goal-position }}
        </p>
      </div>
    </div>
    <div portfolio-right class="portfolio-columns__right">
      <img src="{{ page.goal-image }}" alt="{{ page.goal-alt }}"/>
    </div>
  </div>
</div>
