<span class="portfolioCase-section__step">
  {{ page.goal-title }}
</span>

<div class="portfolioCase-section__columns portfolioCase-goal">

  <div>
    <h2 class="portfolioCase-section__title">
      {{ page.goal-subtitle }}
    </h2>
    <p> {{ page.goal-text }} </p>
    <div class="portfolioCase-credits">
      <p>
        <span class="dot"></span>
        {{ page.goal-person }}
      </p>
      <p>{{ page.goal-position }}</p>
    </div>
  </div>

  <div class="goal-image">
    <img src="{{ page.goal-image }}" alt="{{ page.goal-alt }}"/>
  </div>
</div>
