<div class="right-section">
  <div class="right-section__content">
    <div class="portfolio__step">Case study</div>
    <h3 class="portfolio__header portfolio__header--bold">LV Cloud</h3>
    <ul class="portfolio__tags">
      <li>IoT Development</li>
      <li>Energy Smart Grids</li><br>
      <li>Smart Cities</li>
    </ul>
    <p class="right-section__text">
      Enterprise-level IoT monitoring solution for energy grids. It collects,
      processes and aggregates data from different types of devices, including
      Reclosers, TDRs, GUARDs and VisnetHubs.
    </p>
    <div class="right-section__box">
      <ul class="portfolio__numbers">
        <li>
          <span class="portfolio__numbers-number">2,4k</span>
          <p class="portfolio__numbers-text">connected devices</p>
        </li>
        <li>
          <span class="portfolio__numbers-number">700k -&nbsp;2m</span>
          <p class="portfolio__numbers-text">measurements and events a&nbsp;day</p>
        </li>
        <li>
          <span class="portfolio__numbers-number">4</span>
          <p class="portfolio__numbers-text">types of devices</p>
        </li>
      </ul>
      <figure class="geometric-figure geometric-figure--blue geometric-figure--vertical geometric-figure--portfolio">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
    </div>
    <a class="btn-bordered" href="/portfolio/lvcloud">
      Read more
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div class="right-section__image">
    <img
      src="/assets/images/loader.gif"
      data-src="/assets/images/portfolio/lvcloud.webp"
      alt="lvcloud"
    />
  </div>
</div>
