<div class="portfolio-nutshell">
  <h3 class="portfolio__header">
    Naturaily in
    <br>
    a <span>nutshell</span>
  </h3>
  <div class="portfolio-nutshell__image">
    <img
      src="/assets/images/loader.gif"
      data-src="/assets/images/portfolio/nutshell.png"
      alt="naturaily office"
    />
  </div>
  <div class="portfolio-nutshell__numbers">
    <ul class="portfolio__numbers">
      <li>
        <span class="portfolio__numbers-number">12+</span>
        <p class="portfolio__numbers-text">years of experience</p>
      </li>
      <li>
        <span class="portfolio__numbers-number">50+</span>
        <p class="portfolio__numbers-text">projects completed</p>
      </li>
      <li>
        <span class="portfolio__numbers-number">30+</span>
        <p class="portfolio__numbers-text">specialists on board</p>
      </li>
    </ul>
  </div>
  <a class="btn-bordered" href="/get-an-estimate">
    Get an estimate
    <span class="btn-bordered_arrow">{% svg /assets/images/btn-arrow.svg %}</span>
  </a>
</div>
