<div class="carousel-partners">
  <h3 class="carousel-partners__header">
    Our longtime partners
  </h3>

  <div class="carousel-partners__wrapper" data-carousel="wrapper" data-carousel-desktop="wrapper">
    <ul class="carousel-partners__tabs" data-carousel="tabs">
      <li class="carousel-partners__tabs-tab" data-carousel="tab" data-tab-index="0">
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--first">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/ea-technology.webp"
            alt="EA technology icon"
          />
        </div>
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--second">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/artinfo.webp"
            alt="artinfo icon"
          />
        </div>
      </li>
      <li class="carousel-partners__tabs-tab" data-carousel="tab" data-tab-index="1">
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--first">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/work-for-impact.webp"
            alt="work for impact icon"
          />
        </div>
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--second">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/awn.webp"
            alt="awn icon"
          />
        </div>
      </li>
      <li class="carousel-partners__tabs-tab" data-carousel="tab" data-tab-index="2">
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--first">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/diffia.webp"
            alt="diffia icon"
          />
        </div>
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--second">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/woolman-logo.webp"
            alt="woolman icon"
          />
        </div>
      </li>
      <li class="carousel-partners__tabs-tab" data-carousel="tab" data-tab-index="3">
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--first">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/zapnito-logo-color.webp"
            alt="zapnito icon"
          />
        </div>
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--second">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/collectivity.webp"
            alt="collectivity icon"
          />
        </div>
      </li>
      <li class="carousel-partners__tabs-tab" data-carousel="tab" data-tab-index="4">
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--first">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/firefield.webp"
            alt="firefield icon"
          />
        </div>
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--second">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/format.webp"
            alt="format icon"
          />
        </div>
      </li>
      <li class="carousel-partners__tabs-tab" data-carousel="tab" data-tab-index="5">
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--first">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/apptegy.webp"
            alt="apptegy icon"
          />
        </div>
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--second">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/itm.webp"
            alt="institute of tropical medicine icon"
          />
        </div>
      </li>
      <li class="carousel-partners__tabs-tab" data-carousel="tab" data-tab-index="6">
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--first">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/caroll-school.webp"
            alt="caroll school icon"
          />
        </div>
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--second">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/shuttlefare.webp"
            alt="shuttlefare icon"
          />
        </div>
      </li>
      <li class="carousel-partners__tabs-tab carousel-partners__tabs-tab--md" data-carousel="tab" data-tab-index="7">
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--first"></div>
        <div class="carousel-partners__tabs-tab__image carousel-partners__tabs-tab__image--second"></div>
      </li>
    </ul>
    <div class="carousel-partners__dots" data-carousel="dots">
      <div class="carousel-partners__dots-item carousel-partners__dots-item--active" data-carousel="dots-item" data-dot-index="0" data-dots="lg" data-dot-active="true"></div>
      <div class="carousel-partners__dots-item" data-carousel="dots-item" data-dot-index="1" data-dots="lg" data-dot-active="false"></div>
      <div class="carousel-partners__dots-item carousel-partners__dots-item--md" data-carousel="dots-item" data-dot-index="2" data-dots="md" data-dot-active="false"></div>
      <div class="carousel-partners__dots-item carousel-partners__dots-item--md" data-carousel="dots-item" data-dot-index="3" data-dots="md" data-dot-active="false"></div>
      <div class="carousel-partners__dots-item carousel-partners__dots-item--sm" data-carousel="dots-item" data-dot-index="4" data-dot-active="false"></div>
      <div class="carousel-partners__dots-item carousel-partners__dots-item--sm" data-carousel="dots-item" data-dot-index="5" data-dot-active="false"></div>
      <div class="carousel-partners__dots-item carousel-partners__dots-item--sm" data-carousel="dots-item" data-dot-index="6" data-dot-active="false"></div>
    </div>
    <div class="carousel-partners__nav" data-carousel="nav">
      <div class="icon icon-chevron-left carousel-partners__nav-item carousel-partners__nav-item--disabled" data-carousel="nav-item" data-nav="prev" data-nav-disabled="true"></div>
      <div class="icon icon-chevron-right carousel-partners__nav-item" data-carousel="nav-item" data-nav="next" data-nav-disabled="false"></div>
    </div>
  </div>
</div>
