<div class="portfolio-partners">
  <h3 class="portfolio-partners__header">
    Our longtime partners
  </h3>

  <div class="portfolio-partners__wrapper" data-carousel="wrapper" data-carousel-desktop="wrapper">
    <ul class="portfolio-partners__tabs" data-carousel="tabs">
      <li class="portfolio-partners__tabs-tab" data-carousel="tab" data-tab-index="0">
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--first portfolio-partners__tabs-tab__image--ea">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/ea-technology.png"
            alt="EA technology icon"
          />
        </div>
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--second">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/artinfo.png"
            alt="artinfo icon"
          />
        </div>
      </li>
      <li class="portfolio-partners__tabs-tab" data-carousel="tab" data-tab-index="1">
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--first">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/work-for-impact.png"
            alt="work for impact icon"
          />
        </div>
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--second portfolio-partners__tabs-tab__image--awn">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/awn.png"
            alt="awn icon"
          />
        </div>
      </li>
      <li class="portfolio-partners__tabs-tab" data-carousel="tab" data-tab-index="2">
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--first portfolio-partners__tabs-tab__image--diffia">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/diffia.png"
            alt="diffia icon"
          />
        </div>
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--second">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/woolman-logo.png"
            alt="woolman icon"
          />
        </div>
      </li>
      <li class="portfolio-partners__tabs-tab" data-carousel="tab" data-tab-index="3">
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--first portfolio-partners__tabs-tab__image--zapnito">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/zapnito-logo-color.png"
            alt="zapnito icon"
          />
        </div>
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--second">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/collectivity.png"
            alt="collectivity icon"
          />
        </div>
      </li>
      <li class="portfolio-partners__tabs-tab" data-carousel="tab" data-tab-index="4">
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--first portfolio-partners__tabs-tab__image--firefield">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/firefield.png"
            alt="firefield icon"
          />
        </div>
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--second">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/format.png"
            alt="format icon"
          />
        </div>
      </li>
      <li class="portfolio-partners__tabs-tab" data-carousel="tab" data-tab-index="5">
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--first">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/apptegy.png"
            alt="apptegy icon"
          />
        </div>
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--second">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/itm.png"
            alt="institute of tropical medicine icon"
          />
        </div>
      </li>
      <li class="portfolio-partners__tabs-tab" data-carousel="tab" data-tab-index="6">
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--first portfolio-partners__tabs-tab__image--caroll">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/caroll-school.png"
            alt="caroll school icon"
          />
        </div>
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--second portfolio-partners__tabs-tab__image--shuttlefare">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/partners/shuttlefare.png"
            alt="shuttlefare icon"
          />
        </div>
      </li>
      <li class="portfolio-partners__tabs-tab portfolio-partners__tabs-tab--md" data-carousel="tab" data-tab-index="7">
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--first"></div>
        <div class="portfolio-partners__tabs-tab__image portfolio-partners__tabs-tab__image--second"></div>
      </li>
    </ul>
    <div class="portfolio-partners__dots" data-carousel="dots">
      <div class="portfolio-partners__dots-item portfolio-partners__dots-item--active" data-carousel="dots-item" data-dot-index="0" data-dots="lg" data-dot-active="true"></div>
      <div class="portfolio-partners__dots-item" data-carousel="dots-item" data-dot-index="1" data-dots="lg" data-dot-active="false"></div>
      <div class="portfolio-partners__dots-item portfolio-partners__dots-item--md" data-carousel="dots-item" data-dot-index="2" data-dots="md" data-dot-active="false"></div>
      <div class="portfolio-partners__dots-item portfolio-partners__dots-item--md" data-carousel="dots-item" data-dot-index="3" data-dots="md" data-dot-active="false"></div>
      <div class="portfolio-partners__dots-item portfolio-partners__dots-item--sm" data-carousel="dots-item" data-dot-index="4" data-dot-active="false"></div>
      <div class="portfolio-partners__dots-item portfolio-partners__dots-item--sm" data-carousel="dots-item" data-dot-index="5" data-dot-active="false"></div>
      <div class="portfolio-partners__dots-item portfolio-partners__dots-item--sm" data-carousel="dots-item" data-dot-index="6" data-dot-active="false"></div>
    </div>
    <div class="portfolio-partners__nav" data-carousel="nav">
      <div class="icon icon-chevron-left portfolio-partners__nav-item portfolio-partners__nav-item--disabled" data-carousel="nav-item" data-nav="prev" data-nav-disabled="true"></div>
      <div class="icon icon-chevron-right portfolio-partners__nav-item" data-carousel="nav-item" data-nav="next" data-nav-disabled="false"></div>
    </div>
  </div>
</div>
