<div class="portfolio-section p-solution {{ page.solution-class }}">
  <span class="portfolio-step">{{ page.solution-title }}</span>
  <h2 class="portfolio-title">{{ page.solution-subtitle }}</h2>

  {% if page.solution-description %}
    <p class="portfolio-description">{{ page.solution-description }}</p>
  {% endif %}

  {% if page.solution-column-1 %}
    <div class="portfolio-columns solutions-intro">
      <div class="portfolio-columns__left" portfolio-left>
        <p class="paragraph">{{ page.solution-column-1 }}</p>
      </div>
      <div portfolio-right class="portfolio-columns__right" portfolio-right>
        <img src="{{ page.solution-image }}" alt="page.solution-alt"/>
      </div>
    </div>
  {% endif %}

  {% if page.solutions %}
    <div class="solutions">

      {% for solution in page.solutions %}
        <div class="portfolio-columns {{ solution.solution.class }}">
          <div class="portfolio-columns__left description" {{ solution.solution.animation1 }}>
            {% if solution.solution.title %}
              <h3 class="solutions-header">{{ solution.solution.title }}</h3>
            {% endif %}
            <p class="paragraph">{{ solution.solution.text }}</p>
          </div>
          <div class="portfolio-columns__right image" {{ solution.solution.animation2 }}>
            <img src="{{ solution.solution.image }}" alt="{{ solution.solution.alt }}"/>
            <figure class="geometric-figure {{ solution.solution.geometric-class }}">
              <div class="geometric-figure_center"></div>
              <div class="geometric-figure_right"></div>
            </figure>
          </div>
        </div>
      {% endfor %}

    </div>
  {% endif %}

  {% if page.features %}
    <div class="features">

      {% for feature in page.features %}
        <div class="portfolio-columns {{ feature.feature.class }}">
          <div class="portfolio-columns__left description" {{ feature.feature.animation1 }}>
            <h3 class="features-header">{{ feature.feature.title }}</h3>
            <ul class="portfolio-list">{{ feature.feature.list }}</ul>
          </div>
          <div class="portfolio-columns__right image" {{ feature.feature.animation2 }}>
            <img src="{{ feature.feature.image }}" />
          </div>
        </div>
      {% endfor %}

    </div>
  {% endif %}

  {% if page.stack %}
    <div class="stack">
      <h3 class="stack-header"> {{ page.stack-title }} </h3>
      <ul portfolio-bottom class="portfolio-columns">

        {% for technology in page.stack %}
          <li>
            <div class="stack-image {{ technology.technology.class }}">
              <img src="{{ technology.technology.image }}" alt="{{ technology.technology.alt }}"/>
            </div>
            <h4 class="stack-subheader">{{ technology.technology.name }}</h4>
            <p class="paragraph">{{ technology.technology.description }}</p>
          </li>
        {% endfor %}

      </ul>
    </div>
  {% endif %}

  {% if page.tools %}
    <div class="stack stack__tools">
      <h3 class="stack-header"> {{ page.tools-title }} </h3>
      <ul portfolio-bottom class="portfolio-columns">

        {% for tool in page.tools %}
          <li>
            <div class="stack-image {{ tool.tool.class }}">
              <img src="{{ tool.tool.image }}" alt="{{ tool.tool.alt }}"/>
            </div>
            <h4 class="stack-subheader">{{ tool.tool.name }}</h4>
          </li>
        {% endfor %}

      </ul>
    </div>
  {% endif %}

  {% if page.experts %}
    <div class="experts">
      <h3 class="experts-header"> {{ page.experts-title }} </h3>
      <ul portfolio-bottom class="portfolio-columns">

        {% for expert in page.experts %}
          <li>
            <div class="experts-number">
              <span>{{ expert.expert.number }}</span>
            </div>
            <span class="icon icon-man"></span>
            <p class="paragraph">{{ expert.expert.name }}</p>
          </li>
        {% endfor %}

      </ul>
    </div>
  {% endif %}

</div>
