<div class="portfolio-section p-solution">
  <span class="portfolio-step">{{ page.solution-title }}</span>
  <h2 class="portfolio-title">{{ page.solution-subtitle }}</h2>
  <p class="portfolio-description">{{ page.solution-description }}</p>

  <div class="features">
    <div class="portfolio-columns portfolio-columns__odd">
      <div portfolio-left class="portfolio-columns__left description">
        <h3 class="features-header">{{ page.feature-title-1 }}</h3>
        <ul class="portfolio-list">{{ page.feature-text-1 }}</ul>
      </div>
      <div portfolio-right class="portfolio-columns__right image">
        <img src="{{ page.feature-image-1 }}" />
      </div>
    </div>
    <div class="portfolio-columns portfolio-columns__even">
      <div portfolio-left class="portfolio-columns__left image">
        <img src="{{ page.feature-image-2 }}" />
      </div>
      <div portfolio-right class="portfolio-columns__right description">
        <h3 class="features-header">{{ page.feature-title-2 }}</h3>
        <ul class="portfolio-list">{{ page.feature-text-2 }}</ul>
      </div>
    </div>
    <div class="portfolio-columns portfolio-columns__odd">
      <div portfolio-left class="portfolio-columns__left description">
        <h3 class="features-header">{{ page.feature-title-3 }}</h3>
        <ul class="portfolio-list">{{ page.feature-text-3 }}</ul>
      </div>
      <div portfolio-right class="portfolio-columns__right image">
        <img src="{{ page.feature-image-3 }}" />
      </div>
    </div>
  </div>

  <div class="stack">
    <h3 class="stack-header"> {{ page.stack-title }} </h3>
    <ul portfolio-bottom class="portfolio-columns">
      <li>
        <div class="stack-image stack-image__wider">
          <img src="{{ page.stack-image-1 }}" alt="{{ page.stack-alt-1 }}"/>
        </div>
        <h4 class="stack-subheader">{{ page.stack-title-1 }}</h4>
        <p class="paragraph">{{ page.stack-description-1 }}</p>
      </li>
      <li>
        <div class="stack-image">
          <img src="{{ page.stack-image-2 }}" alt="{{ page.stack-alt-2 }}"/>
        </div>
        <h4 class="stack-subheader">{{ page.stack-title-2 }}</h4>
        <p class="paragraph">{{ page.stack-description-2 }}</p>
      </li>
      <li>
        <div class="stack-image">
          <img src="{{ page.stack-image-3 }}" alt="{{ page.stack-alt-3 }}"/>
        </div>
        <h4 class="stack-subheader">{{ page.stack-title-3 }}</h4>
        <p class="paragraph">{{ page.stack-description-3 }}</p>
      </li>
    </ul>
  </div>

  <div class="experts">
    <h3 class="experts-header"> {{ page.experts-title }} </h3>
    <ul portfolio-bottom class="portfolio-columns">
      <li>
        <div class="experts-number"><span>1</span></div>
        <span class="icon {{ page.experts-icon-1 }}"></span>
        <p class="paragraph">{{ page.experts-name-1 }}</p>
      </li>
      <li>
        <div class="experts-number"><span>2</span></div>
        <span class="icon {{ page.experts-icon-2 }}"></span>
        <p class="paragraph">{{ page.experts-name-2 }}</p>
      </li>
      <li>
        <div class="experts-number"><span>3</span></div>
        <span class="icon {{ page.experts-icon-3 }}"></span>
        <p class="paragraph">{{ page.experts-name-3 }}</p>
      </li>
      <li>
        <div class="experts-number"><span>4</span></div>
        <span class="icon {{ page.experts-icon-4 }}"></span>
        <p class="paragraph">{{ page.experts-name-4 }}</p>
      </li>
      <li>
        <div class="experts-number"><span>5</span></div>
        <span class="icon {{ page.experts-icon-5 }}"></span>
        <p class="paragraph">{{ page.experts-name-5 }}</p>
      </li>
    </ul>
  </div>

</div>
