<span class="portfolioCase-section__step">
  {{ page.solution-title }}
</span>

<h2 class="portfolioCase-section__title">
  {{ page.solution-subtitle }}
</h2>

<p class="portfolioCase-section__description">
  {{ page.solution-description }}
</p>

<div class="portfolioCase-section__columns portfolioCase-solution__feature">
  <div>
    <h3> {{ page.feature-title-1 }} </h3>
    <ul class="portfolioCase-section__list"> {{ page.feature-text-1 }} </ul>
  </div>
  <img src="{{ page.feature-image-1 }}"/>
</div>

<div class="portfolioCase-section__columns portfolioCase-solution__feature">
  <img src="{{ page.feature-image-2 }}"/>
  <div>
    <h3> {{ page.feature-title-2 }} </h3>
    <ul class="portfolioCase-section__list"> {{ page.feature-text-2 }} </ul>
  </div>
</div>

<div class="portfolioCase-section__columns portfolioCase-solution__feature">
  <div>
    <h3> {{ page.feature-title-3 }} </h3>
    <ul class="portfolioCase-section__list"> {{ page.feature-text-3 }} </ul>
  </div>
  <img src="{{ page.feature-image-3 }}"/>
</div>

<div class="portfolioCase-solution__stack">
  <h3> {{ page.stack-title }} </h3>
  <ul class="portfolioCase-section__columns">
    <li>
      <img src="{{ page.stack-image-1 }}" alt="{{ page.stack-alt-1 }}"/>
      <h4>{{ page.stack-title-1 }}</h4>
      <p>{{ page.stack-description-1 }}</p>
    </li>
    <li>
      <img src="{{ page.stack-image-2 }}" alt="{{ page.stack-alt-2 }}"/>
      <h4>{{ page.stack-title-2 }}</h4>
      <p>{{ page.stack-description-2 }}</p>
    </li>
    <li>
      <img src="{{ page.stack-image-3 }}" alt="{{ page.stack-alt-3 }}"/>
      <h4>{{ page.stack-title-3 }}</h4>
      <p>{{ page.stack-description-3 }}</p>
    </li>
  </ul>
</div>

<div class="portfolioCase-solution__experts">
  <h3> {{ page.experts-title }} </h3>
  <ul class="portfolioCase-section__columns">
    <li>
      <span>{{ page.experts-number-1 }}</span>
      <span class="icon {{ page.experts-icon-1 }}"></span>
      <p>{{ page.experts-name-1 }}</p>
    </li>
    <li>
      <span>{{ page.experts-number-2 }}</span>
      <span class="icon {{ page.experts-icon-2 }}"></span>
      <p>{{ page.experts-name-2 }}</p>
    </li>
    <li>
      <span>{{ page.experts-number-3 }}</span>
      <span class="icon {{ page.experts-icon-3 }}"></span>
      <p>{{ page.experts-name-3 }}</p>
    </li>
    <li>
      <span>{{ page.experts-number-4 }}</span>
      <span class="icon {{ page.experts-icon-4 }}"></span>
      <p>{{ page.experts-name-4 }}</p>
    </li>
    <li>
      <span>{{ page.experts-number-5 }}</span>
      <span class="icon {{ page.experts-icon-5 }}"></span>
      <p>{{ page.experts-name-5 }}</p>
    </li>
  </ul>
</div>
