<div class="portfolio-section p-testimonial">
  <span class="portfolio-step">{{ page.testimonial-title }}</span>
  <h2 class="portfolio-title">{{ page.testimonial-subtitle }}</h2>
  <picture>
    <img
      portfolio-bottom
      class="p-testimonial-image"
      src="{{ page.testimonial-image }}"
      alt="{{ page.testimonial-person }}"
    />
  </picture>
  <p portfolio-left class="p-testimonial-text">{{ page.testimonial-quote }}</p>
  <p portfolio-right class="paragraph">{{ page.testimonial-text }}</p>
  <div class="services-testimonials_footer">
    <div class="portfolio-credits">
      <p class="portfolio-credits__person">
        <span class="credit-dot"></span>
        {{ page.testimonial-person }}
      </p>
      <p class="portfolio-credits__position">
        {{ page.testimonial-position }}
      </p>
    </div>
  </div>
</div>
