<div class="portfolio-section p-testimonial">
  <span class="portfolio-step">{{ page.testimonial-title }}</span>
  <h2 class="portfolio-title">{{ page.testimonial-subtitle }}</h2>

  <img portfolio-bottom src="{{ page.testimonial-image }}" alt="{{ page.testimonial-alt }}" />

  <div class="portfolio-columns">
    <div portfolio-left class="portfolio-columns__left">
      <p class="p-testimonial-text">{{ page.testimonial-quote }}</p>
      <div class="portfolio-credits">
        <p class="portfolio-credits__person">
          <span class="credit-dot"></span>
          {{ page.testimonial-person }}
        </p>
        <p class="portfolio-credits__position">
          {{ page.testimonial-position }}
        </p>
      </div>
    </div>
    <div portfolio-right class="portfolio-columns__right">
      {{ page.testimonial-text }}
    </div>
  </div>
</div>
