<span class="portfolioCase-section__step">
  {{ page.testimonial-title }}
</span>

<h2 class="portfolioCase-section__title">
  {{ page.testimonial-subtitle }}
</h2>

<img src="{{ page.testimonial-image }}" alt="{{ page.testimonial-alt }}" portfolio-bottom />

<div class="portfolioCase-section__columns">
  <div portfolio-left>
    <p>{{ page.testimonial-quote }}</p>
    <div class="portfolioCase-credits">
      <p>
        <span class="credit-dot"></span>
        {{ page.testimonial-person }}
      </p>
      <p>{{ page.testimonial-position }}</p>
    </div>
  </div>
  <div portfolio-right>
    {{ page.testimonial-text }}
  </div>
</div>
