{% if page.video-url %}

  <div class="portfolio-section p-video">
    <span class="portfolio-step">{{ page.video-title }}</span>
    <h2 class="portfolio-title">{{ page.video-subtitle }}</h2>

    <div portfolio-bottom class="p-video-wrapper">
      <div class="p-video-cover" style="background-image: url('{{ page.video-cover }}')">
        <div class="p-video-cover__shadow"></div>
      </div>

      <div class="p-video-content">
        <label for="portfolio-video" class="p-video-content__button"><span>&#9654</span></label>
        <p class="portfolio-title">{{ page.video-text }}</p>
      </div>

      <input id="portfolio-video" type="radio" name="video"/>

      <iframe
        src="{{ page.video-url }}"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

{% endif %}
