.react-what {
  position: relative;
  width: 100%;
  padding: 20px 0 40px;
  overflow: hidden;

  .react-step, .react-header, &__subheader, &__text {
    padding: 0 20px;
  }

  .react-header {
    margin: 40px 0 60px;
  }

  &__subheader {
    margin: 35px 0;
    font-size: 24px;
    line-height: 36px;
    color: $color-global-font;

    br {
      display: none;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: $color-global-font;
    opacity: 0.7;

    &--more {
      display: none;
      margin-top: 25px;
    }
  }

  .btn-white {
    margin: 32px 0 0 -7px;
    font-size: 11px;
    line-height: 13px;

    &--invisible {
      display: none;
    }
  }

  .services__dot {
    z-index: -1;

    &--secondary {
      top: 17px;
      right: 52px;
    }

    &--yellow {
      top: 500px;
      right: 75px;
    }

    &--blue {
      display: none;
    }
  }
}

@media (min-width: 576px) {
  .react-what {
    .react-step, .react-header, &__subheader, &__text {
      padding: 0 75px;
    }

    .btn-white {
      margin-left: 47px;
    }

    .services__dot {
      &--secondary {
        right: 170px;
      }

      &--yellow {
        top: 300px;
        right: 25px;
      }
    }
  }
}

@media (min-width: 811px) {
  .react-what {
    padding: 90px 0;

    .react-header, &__left .react-what__text {
      padding-right: 10px;
    }

    &__subheader, &__right .react-what__text {
      padding-left: 40px;
    }

    &__wrapper {
      display: flex;
    }

    &__left {
      width: 45%;
    }

    &__right {
      width: 55%;
    }

    &__header {
      margin-bottom: 82px;
    }

    &__subheader {
      margin: 45px 0 25px;
    }

    .btn-white {
      margin: 0;
      margin-top: 80px;
      padding: 50px 72px 0;
      border-top: 2px solid $color-global-font-10;
      cursor: pointer;

      &:hover {
        transform: none;
      }
    }

    .services__dot {
      &--secondary {
        top: 90px;
      }

      &--yellow {
        top: 290px;
      }

      &--blue {
        display: block;
        top: 325px;
        left: 370px;
      }
    }
  }
}

@media (min-width: 992px) {
  .react-what {
    padding: 180px 0;

    .react-header, &__left .react-what__text {
      padding-left: 120px;
    }

    &__subheader, &__right .react-what__text {
      padding-left: 35px;
    }

    .react-header {
      margin-bottom: 48px;
    }

    &__subheader br {
      display: block;
    }

    &__left .react-what__text {
      max-width: 300px;
    }

    .btn-white {
      padding: 50px 107px 0;
    }

    .services__dot {
      &--secondary {
        top: 150px;
      }

      &--yellow {
        right: -75px;
      }

      &--blue {
        left: 420px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .react-what {
    &__left {
      width: 40%;
    }

    &__right {
      width: 60%;

      .react-what__text {
        max-width: 590px;
      }
    }
  }
}
