.jamstack-testimonials {
  flex-direction: column;
  flex-wrap: wrap;
  max-width: calc(100% - 15px);
  margin: 0 5px 0 10px;
  padding: 40px 5px 50px 10px;
  box-sizing: border-box;

  .clutch {
    margin-top: 0;
  }

  .portfolio__figure {
    &-circle, &-dot {
      display: block;
      position: absolute;
    }

    &-circle {
      z-index: 0;
      border-radius: 100%;
      border: 1px solid $color-secondary;
      opacity: 0.1;
    }

    &-dot {
      z-index: 1;
      border-radius: 100%;

      &--secondary {
        background-color: $color-secondary;
      }

      &--blue {
        background-color: $color-geometric-blue;
      }

      &--yellow {
        background-color: $color-accent-yellow;
      }
    }
  }
}

@media (min-width: 576px) {
  .jamstack-testimonials .clutch {
    margin: 0 25px;
  }
}

@media (min-width: 811px) {
  .jamstack-testimonials {
    max-width: none;
    margin: 0;
    padding: 100px;
    padding-left: 160px;

    .clutch-review {
      padding: 40px 0 25px;

      &:first-of-type {
        padding-top: 75px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .jamstack-testimonials .clutch-review {
    padding-bottom: 50px;
  }
}
