<div class="benefits_carousel" id="benefitsCarouselImages">
  <img class="image" src="/assets/images/chain-of-responsibility-pattern.jpg" alt="">

  <div class="benefits_box">
    <div class="section_name">
      <span class="section_name-number"><bold>1</bold> of 9</span>
    </div>
    <p class="paragraph has-dot">
      <span class="dot"></span>
      Work-life Balance
    </p>
    <p class="paragraph">
      Flexible hours and remote work one day a week.
    </p>

    <div class="benefits_box-footer">

    </div>
  </div>
</div>


<script type="text/javascript">

   $('#benefitsCarouselImages').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    asNavFor: '#benefitCarouselBox'
    dots: true,
    fade: true,
    cssEase: 'linear',
    speed: 1000
  });
  $('#benefitCarouselBox').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    asNavFor: '#benefitsCarouselImages',
    dots: true,
    centerMode: true,
    focusOnSelect: true
    fade: true,
    cssEase: 'linear',
    speed: 1000
  });

</script>
