<div class="benefits_carousel">
  <div id="benefitsCarouselImages" class="benefits_images">
    <img class="image" src="/assets/images/chain-of-responsibility-pattern.jpg" alt="">
    <img class="image" src="/assets/images/kpz-1-sledzenie.jpg" alt="">
    <img class="image" src="/assets/images/meteor_blog.jpg" alt="">
    <img class="image" src="/assets/images/chain-of-responsibility-pattern.jpg" alt="">
    <img class="image" src="/assets/images/kpz-1-sledzenie.jpg" alt="">
    <img class="image" src="/assets/images/meteor_blog.jpg" alt="">
    <img class="image" src="/assets/images/chain-of-responsibility-pattern.jpg" alt="">
    <img class="image" src="/assets/images/kpz-1-sledzenie.jpg" alt="">
    <img class="image" src="/assets/images/meteor_blog.jpg" alt="">
  </div>

  <div class="benefits_box">
    <div id="benefitCarouselBox">
      <div>
        <div class="section_name">
          <span class="section_name-number"><strong>1</strong> of 9</span>
        </div>
        <p class="paragraph has-dot">
          <span class="dot"></span>
          Work-life Balance
        </p>
        <p class="paragraph">
          <span>Flexible hours and <strong>remote work</strong> one day a week.</span>
        </p>
      </div>

      <div>
        <div class="section_name">
          <span class="section_name-number"><strong>2</strong> of 9</span>
        </div>
        <p class="paragraph has-dot">
          <span class="dot"></span>
          Sport Activity
        </p>
        <p class="paragraph">
          <span>We cover 50% of costs of the <strong>multisport card</strong>.</span>
        </p>
      </div>

      <div>
        <div class="section_name">
          <span class="section_name-number"><strong>3</strong> of 9</span>
        </div>
        <p class="paragraph has-dot">
          <span class="dot"></span>
          Being Eco-friendly
        </p>
        <p class="paragraph">
          <span>You can freely use the company's <strong>electric scooter</strong>.</span>
        </p>
      </div>

      <div>
        <div class="section_name">
          <span class="section_name-number"><strong>4</strong> of 9</span>
        </div>
        <p class="paragraph has-dot">
          <span class="dot"></span>
          Brain Gym
        </p>
        <p class="paragraph">
          <span>Make use of our <strong>library</strong> and take part in internal workshops.</span>
        </p>
      </div>
      <div>
        <div class="section_name">
          <span class="section_name-number"><strong>5</strong> of 9</span>
        </div>
        <p class="paragraph has-dot">
          <span class="dot"></span>
          Kit
        </p>
        <p class="paragraph">
          <span>We work on <strong>Macs</strong> mostly but if you have other preferences, tell us.</span>
        </p>
      </div>
      <div>
        <div class="section_name">
          <span class="section_name-number"><strong>6</strong> of 9</span>
        </div>
        <p class="paragraph has-dot">
          <span class="dot"></span>
          Snacks
        </p>
        <p class="paragraph">
          <span><strong>Coffee</strong>, fresh fruit and healthy snacks are here to comfort you.</span>
        </p>
      </div>
      <div>
        <div class="section_name">
          <span class="section_name-number"><strong>7</strong> of 9</span>
        </div>
        <p class="paragraph has-dot">
          <span class="dot"></span>
          Pizza Day
        </p>
        <p class="paragraph">
          <span>Once a week we sit, eat, talk and have a <strong>great time</strong> being together.</span>
        </p>
      </div>
      <div>
        <div class="section_name">
          <span class="section_name-number"><strong>8</strong> of 9</span>
        </div>
        <p class="paragraph has-dot">
          <span class="dot"></span>
          Chill Room
        </p>
        <p class="paragraph">
          <span><strong>Relax</strong> while playing FIFA or talking to your colleagues.</span>
        </p>
      </div>
      <div>
        <div class="section_name">
          <span class="section_name-number"><strong>9</strong> of 9</span>
        </div>
        <p class="paragraph has-dot">
          <span class="dot"></span>
          Perfect Location
        </p>
        <p class="paragraph">
          <span>Our office is located near the <strong>market square</strong> so all bars & restaurants are close at hand.</span>
        </p>
      </div>
    </div>

    <div id="benefitsArrowsContainer" class="benefits_box-footer"></div>
  </div>
</div>


<script type="text/javascript">

   $('#benefitsCarouselImages').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    asNavFor: '#benefitCarouselBox',
    dots: false,
    fade: true,
    cssEase: 'linear',
    speed: 400
  });

  $('#benefitCarouselBox').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    asNavFor: '#benefitsCarouselImages',
    dots: false,
    fade: true,
    cssEase: 'linear',
    appendArrows: $("#benefitsArrowsContainer"),
    prevArrow: '<span class="icon-chevron-left"></span>',
    nextArrow: '<span class="icon-chevron-right"></span>',
    speed: 400
  });

</script>
