<section class="section culture">
  <div class="section_desc">
    <div class="section_name">
      <span class="section_name-number">
        04
      </span>
      Company Culture
    </div>
    <h2 class="section_heading">We do our best to <span class="text-greyed-out">work as a team</span></h2>
  </div>
  <div class="section_content">
    <img class="image" src="/assets/images/home-gallery-2.jpg" alt="">
    <p class="paragraph">
      <small>
        Naturaily has only just over 30 employees, which means less people work on individual projects. A smaller team allows everyone in the team to know their role, facilitates transparent communication
      </small>
    </p>
    <p class="paragraph">
      <small>
        and active participation in creating the best product possible. We build our products together. Every week brings new challenges, and every week, we work together to face them.
      </small>
    </p>
  </div>
  <div class="section_content section_content--full">
    <img class="image" src="/assets/images/home-gallery-2.jpg" alt="">
      <div class="culture_image-text-block">
        <p class="paragraph has-dot">
          <span class="dot"></span>
          We see what is best in you
        </p>
        <p class="paragraph">
          <small>We know how to spot potential and a will to grow professionally. We do not punish innovation and curiosity - we nurture it. We respect the expertise of our developers and always try to implement their best ideas into our projects. We encourage employees who want to work and develop their skills. We take care of less experienced team members and guide them on their professional journey.</small>
        </p>
      </div>
  </div>
  <div class="section_content section_content--full">
    <div class="culture_image-text-block">
      <p class="paragraph has-dot">
        <span class="dot"></span>
        We want to grow as people and as professionals
      </p>
      <p class="paragraph">
        <small>It is not all cakes and ale. We all are here to work eventually. You need to be prepared that sometimes there are more downs than ups, but we are here to help each other and find a way out together. Every day brings us new challenges, but thanks to them we can develop, and that is what we care about most.</small>
      </p>
    </div>
    <img class="image" src="/assets/images/home-gallery-2.jpg" alt="">
  </div>
</section>
