<div class="banner" id="banner">
  <span class="shadow-text">
    Careers
  </span>
  <div class="banner-box">
    <p class="banner-box-heading">
      We are over the moon about you
      being interested in working with us, naturaily
    </p>
  </div>
  <p class="banner-text">
    As you might already know, we specialise in IoT, Machine Learning, Web development and UX / UI Design and we are constantly looking for specialists like you.
  </p>
  <div class="banner-box-footer">
    <a href="#" class="btn btn-primary btn-arrow">
      CHECK OPEN JOB OFFERS
    </a>
    <p>or scroll down to get to know your future team better</p>
  </div>
</div>
