<section class="hero">
  <span class="hero_background-text">
    Careers
  </span>
  <div class="hero_box">
    <h1 class="hero_box-heading">
      We are over the moon <strong>about you <br>
      being interested in working with us</strong>, naturaily
    </h1>
    <p class="hero_text">
      As you might already know, we specialise in <a href="#" class="text-secondary">IoT</a>, <a href="#" class="text-secondary">Machine Learning</a>, <a href="#" class="text-secondary">Web development</a> and <a href="#" class="text-secondary">UX / UI Design</a> and we are constantly looking for specialists like you.
    </p>
    <div class="hero_box-footer">
      <a href="/career-offers" class="btn btn-primary btn-arrow">
        CHECK OPEN JOB OFFERS
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
      <p class="hero_text">or scroll down to get to know your future team better</p>
    </div>
  </div>
</section>
