<nav class="section section-navigation section--no-padding">
  <ol class="page-navigation">
    <li>
      <span class="page-navigation_item-number">01</span>
      <a href="#" class="page-navigation_item">
        The Team
      </a>
    </li>

    <li>
      <span class="page-navigation_item-number">02</span>
      <a href="#" class="page-navigation_item">
        Developer’s Career Path
      </a>
    </li>

    <li>
      <span class="page-navigation_item-number">03</span>
      <a href="#" class="page-navigation_item">
        Recruitment Process
      </a>
    </li>

    <li>
      <span class="page-navigation_item-number">04</span>
      <a href="#" class="page-navigation_item">
         Company Culture
      </a>
    </li>

    <li>
      <span class="page-navigation_item-number">05</span>
      <a href="#" class="page-navigation_item">
         Perks & Benefits
      </a>
    </li>
  </ol>

</nav>
