<div class="dates dates-path">
  <div class="tour-numbers">
    <span>
      02
    </span>
    Developer’s Career Path
  </div>
  <h2>
    We are equally willing to open our doors to <a href="#">Juniors</a>, <a href="#">Middles</a>, and <a href="#">Seniors</a>.
  </h2>

  <div class="accordion">
    <label for="tm" class="accordion-item">
      <span>01</span>Junior
    </label>
    <input type="checkbox" id="tm"/>
    <p class="hiddentext">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed  into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
  </div>

  <div class="accordion">
    <label for="tn" class="accordion-item">
      <span>01</span>Mid
    </label>
    <input type="checkbox" id="tn"/>
    <p class="hiddentext">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
  </div>

  <div class="accordion">
    <label for="to" class="accordion-item">
      <span>01</span>Senior
    </label>
    <input type="checkbox" id="to"/>
    <p class="hiddentext">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
  </div>
</div>
