<section class="section path">
  <div class="section_name">
    <span class="section_name-number">
      02
    </span>
    Developer’s Career Path
  </div>
  <h2 class="section_heading">
    We are equally willing to open our doors to <a href="#" class="text-secondary">Juniors</a>, <a href="#" class="text-secondary">Middles</a>, and <a href="#" class="text-secondary">Seniors</a>.
  </h2>

  <div class="section_content">
    <div class="accordion">
      <input type="radio" id="rd1" name="rd">
      <label for="rd1" class="accordion-item">
        <span class="accordion_number">01</span>Junior
        <span class="icon-chevron-down accordion_chevron"></span>
      </label>
      <div class="accordion_content">
        <p class="paragraph">
          <small>
            Time forthe second level of initiation called The Skills Hunt. Below you will find a list of skills you need to masterif you want to call yourself the Middle.
          </small>
        </p>

        <div class="path_accordion-left">
          <table class="table">
            <thead class="table-head">
              <tr>
                <th>Area</th>
                <th>Skills</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-area" >Experience</td>
                <td class="table-skill">2 y</td>
              </tr>
              <tr>
                <td class="table-area" >Team Skills </td>
                <td class="table-skill">
                  <ul>
                    <li>Able to solve all the assigned tasks on its own.</li>
                    <li>Knows how to use the technologies and tools he works with.</li>
                    <li>Knows how to use a given technology and how to create his
                    code so that everything works properly.</li>
                    <li>Takes part in the recruitment processgiving the technological
                    expertise along with a senior developer.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Tool use</td>
                <td class="table-skill">Fluent in using project tools and open to trying new ones.</td>
              </tr>
              <tr>
                <td class="table-area" >Broad Approach</td>
                <td class="table-skill">
                  <ul>
                    <li>Able to solve all the assigned tasks on its own.</li>
                    <li>Knows how to use the technologies and tools he works with.</li>
                    <li>Knows how to use a given technology and how to create his
                    code so that everything works properly.</li>
                    <li>Takes part in the recruitment processgiving the technological
                    expertise along with a senior developer.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Lifelong Learning</td>
                <td class="table-skill">
                  <ul>
                    <li>Able to solve all the assigned tasks on its own.</li>
                    <li>Knows how to use the technologies and tools he works with.</li>
                    <li>Knows how to use a given technology and how to create his
                    code so that everything works properly.</li>
                    <li>Takes part in the recruitment processgiving the technological
                    expertise along with a senior developer.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Salary</td>
                <td class="table-skill">
                  <span class="cash" >6000 <small class="cash-currency">PLN net</small></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="path_accordion-right">
          <figure class="person person_card">
            <img class="image" src="assets/images/people/dominik.png" alt="">
            <figcaption>
              What made me choose Naturaily wasthe feeling that my opinion mattered and I had a real impact on the project I was working on. I stayed because I'd wake up and not drag going to work, I was actually excited about it!
              <p class="paragraph has-dot">
                <span class="dot"></span>
                Dominik
                <br>
                <small>RoR Dev</small>
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <div class="accordion">
      <input type="radio" id="rd2" name="rd">
      <label for="rd2" class="accordion-item">
        <span class="accordion_number">02</span>Mid
        <span class="icon-chevron-down accordion_chevron"></span>
      </label>
      <div class="accordion_content">
        <p class="paragraph">
          <small>
            Time forthe second level of initiation called The Skills Hunt. Below you will find a list of skills you need to masterif you want to call yourself the Middle.
          </small>
        </p>
        <div class="path_accordion-left">
          <table class="table">
            <thead class="table-head">
              <tr>
                <th>Area</th>
                <th>Skills</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-area" >Experience</td>
                <td class="table-skill">2 y</td>
              </tr>
              <tr>
                <td class="table-area" >Team Skills </td>
                <td class="table-skill">
                  <ul>
                    <li>Able to solve all the assigned tasks on its own.</li>
                    <li>Knows how to use the technologies and tools he works with.</li>
                    <li>Knows how to use a given technology and how to create his
                    code so that everything works properly.</li>
                    <li>Takes part in the recruitment processgiving the technological
                    expertise along with a senior developer.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Tool use</td>
                <td class="table-skill">Fluent in using project tools and open to trying new ones.</td>
              </tr>
              <tr>
                <td class="table-area" >Broad Approach</td>
                <td class="table-skill">
                  <ul>
                    <li>Able to solve all the assigned tasks on its own.</li>
                    <li>Knows how to use the technologies and tools he works with.</li>
                    <li>Knows how to use a given technology and how to create his
                    code so that everything works properly.</li>
                    <li>Takes part in the recruitment processgiving the technological
                    expertise along with a senior developer.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Lifelong Learning</td>
                <td class="table-skill">
                  <ul>
                    <li>Able to solve all the assigned tasks on its own.</li>
                    <li>Knows how to use the technologies and tools he works with.</li>
                    <li>Knows how to use a given technology and how to create his
                    code so that everything works properly.</li>
                    <li>Takes part in the recruitment processgiving the technological
                    expertise along with a senior developer.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Salary</td>
                <td class="table-skill">
                  <span class="cash" >6000 <small class="cash-currency">PLN net</small></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="path_accordion-right">
          <figure class="person person_card">
            <img class="image" src="assets/images/people/dominik.png" alt="">
            <figcaption>
              What made me choose Naturaily wasthe feeling that my opinion mattered and I had a real impact on the project I was working on. I stayed because I'd wake up and not drag going to work, I was actually excited about it!
              <p class="paragraph has-dot">
                <span class="dot"></span>
                Dominik
                <br>
                <small>RoR Dev</small>
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <div class="accordion">
      <input type="radio" id="rd3" name="rd">
      <label for="rd3" class="accordion-item">
        <span class="accordion_number">03</span>Senior
        <span class="icon-chevron-down accordion_chevron"></span>
      </label>
      <div class="accordion_content">
        <p class="paragraph">
          <small>
            Time forthe second level of initiation called The Skills Hunt. Below you will find a list of skills you need to masterif you want to call yourself the Middle.
          </small>
        </p>
        <div class="path_accordion-left">
          <table class="table">
            <thead class="table-head">
              <tr>
                <th>Area</th>
                <th>Skills</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-area" >Experience</td>
                <td class="table-skill">2 y</td>
              </tr>
              <tr>
                <td class="table-area" >Team Skills </td>
                <td class="table-skill">
                  <ul>
                    <li>Able to solve all the assigned tasks on its own.</li>
                    <li>Knows how to use the technologies and tools he works with.</li>
                    <li>Knows how to use a given technology and how to create his
                    code so that everything works properly.</li>
                    <li>Takes part in the recruitment processgiving the technological
                    expertise along with a senior developer.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Tool use</td>
                <td class="table-skill">Fluent in using project tools and open to trying new ones.</td>
              </tr>
              <tr>
                <td class="table-area" >Broad Approach</td>
                <td class="table-skill">
                  <ul>
                    <li>Able to solve all the assigned tasks on its own.</li>
                    <li>Knows how to use the technologies and tools he works with.</li>
                    <li>Knows how to use a given technology and how to create his
                    code so that everything works properly.</li>
                    <li>Takes part in the recruitment processgiving the technological
                    expertise along with a senior developer.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Lifelong Learning</td>
                <td class="table-skill">
                  <ul>
                    <li>Able to solve all the assigned tasks on its own.</li>
                    <li>Knows how to use the technologies and tools he works with.</li>
                    <li>Knows how to use a given technology and how to create his
                    code so that everything works properly.</li>
                    <li>Takes part in the recruitment processgiving the technological
                    expertise along with a senior developer.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="table-area" >Salary</td>
                <td class="table-skill">
                  <span class="cash" >6000 <small class="cash-currency">PLN net</small></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="path_accordion-right">
          <figure class="person person_card">
            <img class="image" src="assets/images/people/dominik.png" alt="">
            <figcaption>
              What made me choose Naturaily wasthe feeling that my opinion mattered and I had a real impact on the project I was working on. I stayed because I'd wake up and not drag going to work, I was actually excited about it!
              <p class="paragraph has-dot">
                <span class="dot"></span>
                Dominik
                <br>
                <small>RoR Dev</small>
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
