<div class="l-content">
  <div class="team-section">
    <div class="team-section-left">
      <div class="tour-numbers">
        <span>
          03
        </span>
        Recruitment Process
      </div>
      <h2>Take these 7 steps to change your career</h2>
    </div>
    <div class="team-section-right">
      <img src="/assets/images/home-gallery-9.jpg" alt="">
      <p>
        <span></span>
        Naturaily builds software such as smart power grids,
        or shopify integrations for e-commerce leaders,
      </p>
    </div>
  </div>
</div>
