<div class="process-section">
  <div class="team-section-left">
    <div class="tour-numbers">
      <span>
        03
      </span>
      Recruitment Process
    </div>
    <h2>Take these 7 steps to change your career</h2>
  </div>
</div>
<div class="process-full">
  <ul>
    <li><abbr title="">*</abbr>3 days</li>
    <li><abbr title="">*</abbr>3 days</li>
    <li><abbr title="">*</abbr>5 days</li>
    <li><abbr title="">*</abbr>1 day</li>
    <li><abbr title="">*</abbr>7 days</li>
  </ul>
  <ol>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
  </ol>
</div>
