<section id="03" class="section process">
  <div class="section_name">
    <span class="section_name-number">
      03
    </span>
    Recruitment Process
  </div>
  <h2 class="section_heading">Take these 5 steps to <span class="text-greyed-out">change your career</span></h2>

  <div class="process_steps">
    <ul>
      <li><abbr title="">+</abbr>3 days</li>
      <li><abbr title="">+</abbr>5 days</li>
      <li><abbr title="">+</abbr>7 days</li>
    </ul>
    <ol>
      <li>
        <span class="process_steps-point">1</span>
        <p class="paragraph">
          Application
          <small>
            Before you click "Apply" make sure that you know all the requirements and responsibilities, as well as our offerto avoid any misunderstandings.
          </small>
        </p>
      </li>
      <li>
        <span class="process_steps-point">2</span>
        <p class="paragraph">
          HR Screening
          <small>
            Natalia, our HR specialist, will call you to talk more about our company and confirm your work experience.
          </small>
        </p>
      </li>
      <li>
        <span class="process_steps-point">3</span>
        <p class="paragraph">
          Technical Interviews
          <small>
            Face-to-face meeting with Natalia (30 minutes) and then, with one of our senior developers who will give you a task to solve.
          </small>
        </p>
      </li>
      <li>
        <span class="process_steps-point">4</span>
        <p class="paragraph">
          Candidate Experience Survey
          <small>
            A day afterthe interview, we will send you a special survey that helps us make the recruitment process even better.
          </small>
        </p>
      </li>
      <li>
        <span class="process_steps-point process_steps-point--last ">5</span>
        <p class="paragraph">
          <strong>Welcome On Board</strong>
          <small>
            That's it. From now on, you are part of Naturaily team. Check out the details below to find out about your first day at work.
          </small>
        </p>
      </li>
    </ol>
  </div>

  <div class="process_hr">
    <div class="process_hr-left">
      <div class="process_hr-meet">
        <div class="section_name">
          <span class="section_name-number">
            Meet
          </span>
        </div>
        <h3>
          <span class="text-secondary">Natalia</span>,<br>
          our <span class="text-greyed-out">HR Specialist</span>,
          who will be your
          first contact
        </h3>
      </div>
      <div class="process_hr-meet-person">
      </div>
    </div>

    <div class="process_hr-right">
      <p class="paragraph">I will send you the details of yourfirst day at work a few days earlier so that you know what to expect. You don't need to bring anything, except for a good attitude. Your workplace will be waiting for you.</p>
      <p class="paragraph">I will introduce you to the team and one of the team members will tell you all about your duties forthe coming days. See you soon.</p>
      <div class="process_hr-question">
        <p class="paragraph has-dot">
          <span class="dot"></span>
          <small>
            If you have any <strong>questions about the recruitment process</strong>,<br>
            feel free to contact Natalia any time: <a class="link link--mail" href="mailto:natalia.kucinska@naturaily.com?subject=feedback">natalia.kucinska@naturaily.com</a>
          </small>
        </p>
      </div>
    </div>
  </div>
</section>
