<section id="01" class="section team">
  <div class="section_desc">
    <div class="section_name">
      <span class="section_name-number">
        02
      </span>
      The team
    </div>
    <h2 class="section_heading">Meet your future team</h2>
    <p class="paragraph paragraph-offset">Naturaily builds software such as <strong>smart power grids</strong>, or <strong>shopify integrations</strong> for <strong>e-commerce leaders</strong>, driving the world in the right direction.</p>
    <p class="paragraph paragraph-offset">Being a member of Naturaily team offers you the opportunity to be a part of something bigger. We are a team of specialists who attach great importance to work ethics and a high quality of the code.</p>
  </div>
  <div class="section_content">
    <img class="image" src="/assets/images/home-gallery-3.jpg" alt="">
    <p class="paragraph has-dot">
      <span class="dot"></span>
      <small>
        Naturaily builds software such as smart power grids, or shopify integrations for e-commerce leaders.
      </small>
    </p>
  </div>
</section>
