<div class="l-content">
  <div class="team-section">
    <div class="team-section-left">
      <div class="tour-numbers">
        <span>
          02
        </span>
        The team
      </div>
      <h2>Meet your future team</h2>
      <p>Naturaily builds software such as smart power grids, or shopify integrations for e-commerce leaders, driving the world in the right direction.</p>
      <p>Being a member of Naturaily team offers you the opportunity to be a part of something bigger. We are a team of specialists who attach great importance to work ethics and a high quality of the code.</p>
    </div>
    <div class="team-section-right">
      <img src="/assets/images/home-gallery-9.jpg" alt="">
      <p>
        <span></span>
        Naturaily builds software such as smart power grids,
        or shopify integrations for e-commerce leaders,
      </p>
    </div>
  </div>
</div>
