<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.11152" type="text/javascript"></script>
<script type="text/javascript">
  {% include estimate/jotform.js %}
</script>

<form
  class="jotform-form estimate-form__data"
  action="https://submit.jotformeu.com/submit/91251977229364/"
  method="post"
  name="form_91251977229364"
  id="91251977229364"
  accept-charset="utf-8"
>
  <input type="hidden" name="formID" value="91251977229364"/>
  <div role="main" class="form-all estimate-form__data-wrapper">
    <div class="form-section page-section">
      <div class="inputs-wrap estimate-form__data-personal">
        <div
          class="form-line form-line-column jf-required estimate-form__data-personal__item"
          data-type="control_textbox"
          id="id_1"
        >
          <label
            class="form-label form-label-top estimate-form__data-label"
            id="label_1"
            for="input_1"
          >
            Name<span>*</span>
          </label>
          <div id="cid_1" class="form-input-wide jf-required form-label form-label-top">
            <input
              type="text"
              id="input_1"
              name="q1_estimate_name"
              data-type="input-textbox"
              class="form-textbox validate[required] estimate-form__data-input"
              size="20"
              value=""
              placeholder="Your name"
              data-component="textbox"
              required=""
              autocomplete="off"
            />
          </div>
      	</div>
        <div
          class="form-line form-line-column jf-required estimate-form__data-personal__item"
          data-type="control_textbox"
          id="id_2"
        >
          <label
            class="form-label form-label-top estimate-form__data-label"
            id="label_2"
            for="input_2"
          >
            E-mail<span>*</span>
          </label>
          <div id="cid_2" class="form-input-wide jf-required">
            <input
              type="text"
              id="input_2"
              name="q2_estimate_email"
              data-type="input-textbox"
              class="form-textbox validate[required, Email] estimate-form__data-input"
              size="20"
              value=""
              placeholder="example@mail.com"
              data-component="textbox"
              required=""
              autocomplete="off"
            />
          </div>
        </div>
      </div>
      <div
        class="form-line form-line-textarea jf-required form-textarea estimate-form__data-description"
        data-type="control_textarea"
        id="id_3"
      >
        <label
          class="form-label form-label-left estimate-form__data-label"
          id="label_3"
          for="input_3"
        >
          Project description<span>*</span>
        </label>
        <div id="cid_3" class="form-input">
          <textarea
            id="input_3"
            class="form-textarea estimate-form__data-textarea"
            name="q3_job_description"
            cols="40"
            rows="5"
            data-component="textarea"
            placeholder="Tell us more"
            required=""
            autocomplete="off"
          ></textarea>
        </div>
      </div>
      <div
        class="form-line form-line-column form-col-1 form-line-text estimate-form__data-privacy"
        data-type="control_text"
        id="id_8"
      >
        <div id="cid_8" class="form-input-wide">
          <div id="text_8" class="form-html estimate-form__data-privacy__text" data-component="text">
            <p>
              Your data are safe with us. We take your privacy seriously and we will never share
              your data with anyone. Read on our
              <a class="estimate-form__data-privacy__link" href="/privacy-policy" target="_blank" rel="nofollow">
                Privacy Policy
              </a>
              to learn more.
            </p>
          </div>
        </div>
        <div class="form-line" data-type="control_button" id="id_5">
          <div id="cid_5" class="form-input-wide">
            <div class="form-buttons-wrapper estimate-form__data-privacy__button">
              <button
                id="input_5"
                type="submit"
                class="btn btn-primary btn-arrow"
                data-component="button"
              >
                Let's talk
                {% svg /assets/images/btn-arrow.svg %}
              </button>
            </div>
          </div>
        </div>
        <div class="form-line always-hidden" data-type="control_textbox" id="id_9">
          <label class="form-label form-label-top" id="label_9" for="input_9"> Estimate Fields </label>
          <div id="cid_9" class="form-input-wide always-hidden">
            <input type="text" id="input_9" name="q9_estimateFields" data-type="input-textbox" class="form-textbox" size="1000" value="" data-component="textbox" autocomplete="off"/>
          </div>
        </div>
        <div style="display:none">
          Should be Empty:
          <input type="text" name="website" value="" />
        </div>
      </div>
    </div>
  </div>

  <script>
    JotForm.showJotFormPowered = "0";
  </script>

  <input type="hidden" id="simple_spc" name="simple_spc" value="91251977229364"/>

  <script type="text/javascript">
    document.getElementById("si" + "mple" + "_spc").value = "91251977229364-91251977229364";
  </script>
</form>

<script type="text/javascript">
  JotForm.ownerView=true;
  JotForm.forwardToEu=true;
</script>
