<div class="l-content">
  <div class="estimate_steps-header">
    <div class="estimate_steps-header-icon">
      <span class="icon-book"></span>
    </div>
    <div class="estimate_steps-text">
      <h2>
        Get an estimate<br>
        in just 7 days
      </h2>
      <p>or just <a href="#">send a quick message</a></p>
      <small>You will receive the first feedback from us within <strong>up to 24 hours!</strong></small>
    </div>
  </div>
  <div class="estimate_steps">

    <p class="estimate_steps-step-header">i want</p>
    <div class="estimate_steps-step step-want">
      <label class="estimate_steps-option">
        <input class="checkbox" type="checkbox" name="want" value="Develop a new project" id="Develop">
        <label class="checkbox-label" for="Develop"></label>
        Develop a new project
        <span class="icon-pencil"></span>
      </label>
      <label class="estimate_steps-option">
        <input class="checkbox" type="checkbox" name="want" value="Improve an existing project" id="Improve">
        <label class="checkbox-label" for="Improve"></label>
        Improve an existing project
        <span class="icon-refresh"></span>
      </label>
      <label class="estimate_steps-option">
        <input class="checkbox" type="checkbox" name="want" value="Expand my development team" id="Expand">
        <label class="checkbox-label" for="Expand"></label>
        Expand my development team
        <span class="icon-connect"></span>
      </label>
      <label class="estimate_steps-option">
        <input class="checkbox" type="checkbox" name="want" value="Other" id="WantOther">
        <label class="checkbox-label" for="WantOther"></label>
        Other
        <span class="icon-circle"></span>
      </label>
    </div>

    <p class="estimate_steps-step-header">i need</p>
    <div class="estimate_steps-step step-need">
      <label class="estimate_steps-option">
        <input class="checkbox" type="checkbox" name="need" value="Frontend" id="Frontend">
        <label class="checkbox-label" for="Frontend"></label>
        Frontend
        <span class="icon-navigation-toolbar-top"></span>
      </label>
      <label class="estimate_steps-option">
        <input class="checkbox" type="checkbox" name="need" value="Backend" id="Backend">
        <label class="checkbox-label" for="Backend"></label>
        Backend
        <span class="icon-database-administrator"></span>
      </label>
      <label class="estimate_steps-option">
        <input class="checkbox" type="checkbox" name="need" value="UX/UI Design" id="UX">
        <label class="checkbox-label" for="UX"></label>
        UX/UI Design
        <span class="icon-pen"></span>
      </label>
      <label class="estimate_steps-option">
        <input class="checkbox" type="checkbox" name="need" value="Other" id="NeedOther">
        <label class="checkbox-label" for="NeedOther"></label>
        Other
        <span class="icon-circle"></span>
      </label>
    </div>

    <p class="estimate_steps-step-header">i consider</p>
    <div class="estimate_steps-step step-consider">
      <label class="estimate_steps-option">
        <input class="checkbox" type="checkbox" name="consider" value="Machine learning" id="Machine">
        <label class="checkbox-label" for="Machine"></label>
        Machine learning
        <span class="icon-machine"></span>
      </label>
      <label class="estimate_steps-option">
        <input class="checkbox" type="checkbox" name="consider" value="Internet of Things" id="Internet">
        <label class="checkbox-label" for="Internet"></label>
        Internet of Things
        <span class="icon-networking-manager"></span>
      </label>
      <label class="estimate_steps-option">
        <input class="checkbox" type="checkbox" name="consider" value="Shopify" id="Shopify">
        <label class="checkbox-label" for="Shopify"></label>
        Shopify
        <span class="icon-shopping-bag"></span>
      </label>
      <label class="estimate_steps-option">
        <input class="checkbox" type="checkbox" name="consider" value="MVP" id="MVP">
        <label class="checkbox-label" for="MVP"></label>
        MVP
        <span class="icon-gear"></span>
      </label>
    </div>
  </div>
</div>
