<div class="thanks">
  <div class="thanks-intro">
    <h1 class="thanks-header">High five</h1>
    <p class="thanks-text thanks-text--intro">
      I am glad that you were interested in our services. I&nbsp;have already received your
      message and I will take care of it soon.
    </p>
    <p class="thanks-text thanks-text--follow">
      Perhaps while waiting for my reply, you would like to take a look at
      <a href="/blog" class="thanks-link">our blog</a>
      or take a closer look at us!
      <br><br>
      Follow us on:
    </p>
    <div class="thanks-socials">
      <a href="https://www.facebook.com/Naturaily/" target="_blank" rel="nofollow">
        <img src="/assets/images/loader.gif" data-src="/assets/images/facebook-logo.png" alt="Facebook">
      </a>
      <a href="https://twitter.com/naturailycom" target="_blank" rel="nofollow">
        <img src="/assets/images/loader.gif" data-src="/assets/images/twitter-logo.png" alt="Twitter">
      </a>
      <a href="https://www.youtube.com/channel/UCdXHwyQVYHL3TD3r6AzK5RQ" target="_blank" rel="nofollow">
        <img src="/assets/images/loader.gif" data-src="/assets/images/youtube-social.png" alt="Github">
      </a>
      <a href="https://www.linkedin.com/company/naturaily" target="_blank" rel="nofollow">
        <img src="/assets/images/loader.gif" data-src="/assets/images/linkedin.png" alt="Linkedin">
      </a>
    </div>
    <p class="thanks-text thanks-text--talk">
      Talk to you soon!
    </p>
    <img
      class="thanks-signature"
      src="/assets/images/loader.gif"
      data-src="/assets/images/signature.png"
      alt="signature"
    />
  </div>
  <div class="thanks-image">
    <img
      src="/assets/images/loader.gif"
      data-src="/assets/images/sunny-suler.png"
      alt="Naturaily CEO photo"
    />
  </div>
  <span class="thanks-dot thanks-dot--secondary"></span>
  <span class="thanks-dot thanks-dot--yellow"></span>
  <span class="thanks-dot thanks-dot--green"></span>
</div>
