.clutch {
  position: relative;
  padding: 50px 20px 0;
  margin-top: -25px;
  border-top: 1px solid $color-global-font-10;
  border-bottom: 1px solid $color-global-font-10;

  &--custom-ecommerce {
    margin-top: 25px;
  }

  .portfolio__header, .services__header {
    position: relative;
    z-index: 2;
    font-weight: 400;

    span {
      opacity: 0.7;
    }
  }

  &-text {
    padding: 25px 0;
    line-height: 1.8;
    color: $color-page-text;
  }

  &-check {
    &__badge {
      width: 100px;
      margin-left: -15px;
    }

    &__logo {
      width: 70px;
      margin-left: 10px;
    }

    .btn-white {
      justify-content: flex-start;
      max-width: 180px;
      margin: 0;
      padding: 10px 0 15px;

      &_arrow {
        margin-left: 11px;
      }
    }
  }

  &-reviews {
    padding: 25px 0 75px;
    overflow: hidden;

    .btn-shadowed {
      position: relative;
      left: 50%;
      bottom: -25px;
      transform: translateX(-50%);
      width: 250px;
      z-index: 2;
      background-color: $color-white;
    }
  }

  &-review {
    position: relative;
    padding: 40px 0;

    &:last-of-type {
      padding-bottom: 0;
    }

    &--hidden-sm {
      display: none;
    }

    &--shadowed {
      margin-bottom: -100px;
    }

    &__quote {
      position: relative;
      padding: 0 25px 0 40px;
      font-size: 1.25em;
      line-height: 1.5;
      color: $color-page-text;

      .icon-quote {
        position: absolute;
        top: -30px;
        left: -5px;
        opacity: 0.1;
        color: #FFB040;
      }
    }

    &__credits {
      position: relative;
      padding: 30px 25px 0 120px;

      &-person, &-position {
        font-size: 0.9em;
        line-height: 1.5;
      }

      &-person {
        position: relative;
        font-weight: 400;
      }

      &-position {
        color: $color-page-text;
        opacity: 0.7;
      }

      &-dot {
        display: block;
        position: absolute;
        top: 6px;
        left: -30px;
        width: 10px;
        height: 10px;
        z-index: 1;
        border-radius: 100%;
        background-color: #FFB040;
      }

      &-avatar {
        position: absolute;
        top: 25px;
        left: 0;
        width: 60px;
      }
    }
  }

  &-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, $color-transparent 0%, $color-white 60%);
  }

  .portfolio__figure, .services__figure {
    &-circle, &-dot {
      top: 220px;
      right: 50px;
    }

    &-circle {
      transform: translate(50%, -50%);

      &--small {
        width: 180px;
        height: 180px;
      }

      &--medium {
        width: 360px;
        height: 360px;
      }

      &--big, &--large {
        display: none;
      }
    }

    &-dot {
      width: 15px;
      height: 15px;

      &--secondary {
        transform: translate(-30px, -90px);
      }

      &--yellow, &--blue {
        display: none;
      }
    }
  }
}

@media (min-width: 576px) {
  .clutch {
    margin: -75px 25px -50px;
    padding: 50px 50px 0;
    overflow: hidden;
    border: 1px solid $color-global-font-10;
    border-radius: 8px;

    &--custom-ecommerce {
      margin-top: -25px;
    }

    &-reviews {
      padding: 75px 0 100px;
    }

    &-text {
      padding: 50px 0;
    }

    .portfolio__figure, .services__figure {
      &-circle, &-dot {
        top: 280px;
        right: 100px;
      }

      &-circle--big {
        display: block;
        width: 540px;
        height: 540px;
      }

      &-dot--yellow {
        display: block;
        transform: translate(-165px, 200px);
      }
    }
  }
}

@media (min-width: 811px) {
  .clutch {
    display: flex;
    align-items: center;
    margin: 0 35px -25px;
    padding: 0 0 0 40px;

    &-intro, &-reviews {
      box-sizing: border-box;
      width: 50%;
      z-index: 2;
    }

    &-intro {
      margin: 100px 0 75px;
    }

    &-header {
      margin-top: -25px;
    }

    &-reviews {
      position: absolute;
      top: 25px;
      right: 0;
      height: 100%;
      padding: 0 40px 0 0;
      margin-top: -25px;
      overflow-y: scroll;

      .btn-shadowed {
        display: none;
      }
    }

    &-review {
      &--hidden-sm {
        display: block;
      }

      &--shadowed {
        margin-bottom: 0;
      }

      &:first-of-type {
        padding-top: 75px;
      }

      &:last-of-type {
        padding-bottom: 75px;
      }

      &__quote {
        padding-right: 0;

        .icon-quote {
          left: 5px;
        }
      }

      &__credits {
        padding: 25px 0 0 150px;

        &-avatar {
          left: 30px;
        }
      }
    }

    &-shadow {
      bottom: 50px;
      left: auto;
      right: 0;
      bottom: 0;
      width: 50%;
      z-index: 3;
      background: linear-gradient(to bottom, $color-transparent 0%, $color-white 90%);
    }

    .portfolio__figure, .services__figure {
      &-circle, &-dot {
        top: 350px;
        left: 25%;
      }

      &-circle {
        transform: translate(-50%, -50%);

        &--large {
          display: block;
          width: 720px;
          height: 720px;
        }
      }

      &-dot {
        &--secondary {
          transform: translate(-40px, -90px);
        }

        &--yellow {
          transform: translate(-180px, 200px);
        }

        &--blue {
          display: block;
          transform: translate(165px, 50px);
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .clutch {
    &-text {
      padding-right: 50px;
    }

    &-check {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__logo {
        height: 20px;
      }

      .btn-white {
        padding: 10px 60px 10px 20px;

        &-arrow {
          margin-left: 15px;
        }
      }
    }

    &-reviews {
      max-height: 800px;
    }

    .portfolio__figure, .services__figure {
      &-circle, &-dot {
        top: calc(50% - 25px);
      }

      &-dot {
        &--yellow {
          transform: translate(-227px, 150px);
        }

        &--blue {
          transform: translate(170px, 25px);
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .clutch {
    margin-left: 20px;

    .services__header {
      padding-right: 50px;
      font-size: 3em;
    }

    &-intro {
      margin: 125px 0 100px;
      padding-left: 15px;
    }

    &-text, &-reviews {
      padding-right: 100px;
    }

    &-review {
      padding-bottom: 90px;

      &__credits-avatar {
        left: 0;
      }
    }

    &-check .btn-white {
      padding-right: 120px;
    }
  }
}
