.other {
  margin-bottom: -25px;
  padding-bottom: 10px;

  &.services-other {
    box-sizing: border-box;
    width: 100%;
    padding: 75px 20px 10px;

    &--iot {
      padding-top: 50px;
      padding-bottom: 75px;
    }
  }

  &__content {
    position: relative;
    padding-top: 75px;
  }

  .geometric-figure {
    top: 0;
    right: auto;
    left: 0;

    &_center, &_right::after {
      height: 70px;
      width: 70px;
    }

     &_right {
      width: 35px;
      height: 70px;
    }
  }

  &__text, &__links .paragraph {
    line-height: 1.5;
    color: $color-portfolio-text-second;
  }

  &__text {
    padding: 25px 0;
    font-size: 2em;
  }

  &__links .paragraph {
    padding: 15px 0;

    p {
      padding-bottom: 10px;
      opacity: 0.7;
    }

    a {
      font-size: 1.5em;
      color: $color-secondary;
    }
  }
}

@media (min-width: 576px) {
  .other {
    padding-bottom: 50px;

    &.services-other {
      padding-left: 75px;
      padding-right: 75px;
    }

    &__links {
      display: flex;

      .paragraph {
        padding-right: 250px;

        &--narrow {
          padding-right: 200px;
        }
      }
    }
  }
}

@media (min-width: 811px) {
  .other {
    margin-bottom: -50px;

    &.services-other {
      padding: 90px 75px 40px 100px;

      &--iot {
        padding-bottom: 60px;
        margin-bottom: 100px;
        border-bottom: 1px solid $color-global-font-10;
      }
    }

    &__content {
      display: flex;
      padding-top: 0;
      padding-left: 75px;
    }

    .geometric-figure {
      top: 15px;
      left: -75px;
    }

    &__text, &__links {
      box-sizing: border-box;
      width: 50%;
    }

    &__text, &__links .paragraph {
      padding-top: 0;
    }

    &__text {
      padding-right: 50px;
    }

    &__links {
      justify-content: space-between;

      .paragraph {
        padding-right: 25px;

        p {
          font-size: 0.9em;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .other {
    &__content {
      padding-left: 100px;
    }
  }
}

@media (min-width: 1200px) {
  .other {
    &.services-other--iot {
      margin-left: -20px;
    }
    
    &__content {
      padding-left: 175px;
    }

    .geometric-figure {
      left: -25px;
    }
  }
}
