.right-section {
  padding: 50px 20px;
  width: 100vw;
  z-index: 2;
  background-color: $color-code-grey-bg;

  &__image {
    display: none;
  }

  &__text {
    margin: 40px 0 25px;
    font-size: 1.1em;
    line-height: 1.5;
    color: $color-page-text;

    &--small {
      font-size: 1em;
    }
  }

  &__box {
    position: relative;
    padding: 25px 0;

    &-text {
      margin: 0 -20px -75px;
      padding: 50px 20px;
      font-size: 1.5em;
      line-height: 1.5;
      background-color: $color-white;

      &--secondary {
        color: $color-secondary;
      }
    }

    .geometric-figure {
      display: none;

      &_center, &_right::after {
        height: 180px;
        width: 180px;
      }

      &_right {
        height: 180px;
        width: 90px;
      }

      &--blue {
        display: flex;
        top: 25px;
        right: -140px;
        transform: rotate(90deg);

        .geometric-figure_center {
          border-color: $color-geometric-green;
        }

        .geometric-figure_right::after {
          background-color: $color-geometric-blue;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .right-section {
    padding: 100px 75px;

    &__text {
      max-width: 410px;

      &--small {
        max-width: 100%;
      }
    }

    &__box {
      margin: 50px 0;
      padding: 25px 50px;
      overflow: hidden;
      background-color: $color-white;
      border-radius: 8px;

      &-text {
        margin: 0;
        padding: 25px 0 100px;
      }

      .portfolio__numbers li {
        margin: 0;
        padding: 35px 0;
        max-width: 300px;
      }

      .geometric-figure {
        display: flex;

        &_center {
          background-color: $color-white;
        }

        &--blue {
          transform: rotate(-90deg);
          right: -80px;
        }

        &--small {
          top: auto;
          left: 50px;
          right: auto;
          bottom: -60px;

          .geometric-figure_center, .geometric-figure_right::after {
            width: 120px;
            height: 120px;
          }

          .geometric-figure_right {
            height: 120px;
            width: 60px;
          }
        }
      }
    }

    &--less-space .right-section__box {
      margin-bottom: 0;
    }

    .btn-bordered {
      margin-top: 25px;
    }
  }
}

@media (min-width: 811px) {
  .right-section {
    position: relative;
    padding-bottom: 200px;
    overflow: hidden;

    .portfolio__step, .portfolio__header, .portfolio__tags, &__text, &__box {
      box-sizing: border-box;
      width: 50%;
    }

    .portfolio__tags {
      max-width: 350px;
    }

    &__image {
      display: block;
      position: absolute;
      top: 0;
      right: calc(-350px + 20%);
      z-index: 1;

      img {
        width: 480px;
      }
    }

    &__content {
      position: relative;
      max-width: 1260px;
      margin: 0 auto;
    }

    &__text {
      max-width: 480px;
      margin: 40px 0;

      &--small {
        margin-top: 75px;
      }
    }

    &__box {
      position: absolute;
      top: -35px;
      right: -50px;
      min-height: 475px;
      margin: 0;
      z-index: 2;
    }

    &--less-space {
      padding-bottom: 155px;

      .right-section__content {
        max-width: 1130px;
      }
    }
  }
}

@media (min-width: 992px) {
  .right-section {
    padding-bottom: 225px;

    &--less-space {
      padding-bottom: 100px;
    }

    .portfolio__tags {
      width: 40%;
    }

    &__text {
      padding-right: 50px;
    }

    &__box {
      right: -25px;
    }
  }
}

@media (min-width: 1200px) {
  .right-section {
    &__box {
      padding: 110px 130px 35px 50px;
      right: 20px;
    }

    &--less-space .right-section__box {
      padding: 50px 75px 50px 50px;
    }

    .portfolio__numbers {
      li {
        display: flex;
        align-items: center;
        padding: 35px;
        max-width: 100%;
      }

      &-number {
        width: 130px;
      }

      &-text {
        margin-top: 0;
        width: calc(100% - 130px);
      }

      .geometric-figure {
        top: 0;
      }
    }
  }
}
