<div class="case__section case-about case-about--lvcloud">
  <span class="case__step">About</span>
  <h2 class="case__title">About EA Technology</h2>

  <div class="case__columns">
    <div class="case__columns--left">
      <p class="paragraph case-about__description">
        EA Technology is a&nbsp;UK-based company, with seven regional offices across
        the globe, supplying a&nbsp;comprehensive range of high voltage and low voltage
        asset management solutions for testing and monitoring power networks.
        The business is a&nbsp;world leader in electrical asset management, fault detection
        and failure prevention. It provides customers with a&nbsp;state-of-the-art
        LV network automation solution – ALVIN.<br><br>
        The company was founded in 1966 and now has more than 200 employees around
        the world.
      </p>
    </div>
    <div class="case__columns--right case-about__image">
      <img
        class="invisible-sm"
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/lvcloud/about-map.png"
        alt="ea technology company map"
      />
      <span class="case__dot case__dot--lvcloud case__dot--yellow"></span>
      <span class="case__dot case__dot--lvcloud case__dot--blue"></span>
    </div>
    <div class="case-about__separator case-about__separator--lvcloud">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/lvcloud/separator.png"
        alt="lvcloud screens"
      />
    </div>
  </div>
</div>
