<div class="case__section case-challenge">
  <span class="case__step">Challenge</span>
  <h2 class="case__title">The challenge</h2>

  <div class="case__columns">
    <div class="case__columns--left">
      <p class="paragraph">
        This IoT application and its web-based interface needed the ability
        to process and aggregate a&nbsp;large number of measurements and events, all
        while working in real time. How did we handle this? You will find all
        the technical details below.
      </p>
    </div>
    <div class="case__columns--right"></div>
  </div>
</div>
