<div class="case__section case-goal--lvcloud">
  <span class="case__step">Goal</span>
  <h2 class="case__title">The goal</h2>

  <div class="case__columns case-goal__description">
    <div class="case__columns--left">
      <p>
        The goal was to create an IT system that will work as a&nbsp;user interface for
        a&nbsp;number of VisNet® Hub, ALVIN® equipment and a&nbsp;couple more devices.
      </p>
    </div>
    <div class="case__columns--right"></div>
  </div>

  <div class="case-goal__equipment">
    <div class="case__columns">
      <div class="case__columns--left">
        <span class="case__dot case__dot--secondary"></span>
        <div class="case-goal__equipment-image">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio-cases/lvcloud/goal-alvin.png"
            class="case-goal__equipment-image--alvin"
            alt="alvin"
          />
        </div>
        <p class="paragraph case-goal__equipment-description">
          ALVIN® Reclose is the next generation of supply-restoration reclose
          equipment, providing Network Operators with invaluable support in reducing
          costs and delivering better customer service.
        </p>
      </div>
      <div class="case__columns--right">
        <span class="case__dot case__dot--secondary"></span>
        <div class="case-goal__equipment-image">
          <img
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio-cases/lvcloud/goal-visnet.png"
            class="case-goal__equipment-image--visnet"
            alt="visnet"
          />
        </div>
        <p class="paragraph case-goal__equipment-description">
          VisNet® Hub checks the voltage and current data on every LV feeder, giving
          insights about the load, faults and condition of respective devices across
          the network.<br><br>
          This data is critical to network operators in order to improve both network
          flexibility and efficiency, together with security and quality of supply,
          as low carbon technologies become more widespread. - If you want to know more
          about the device, you will find it
          <a class="text-secondary" href="https://www.eatechnology.com/" target="_blank">here</a>.
        </p>
      </div>
    </div>
  </div>
</div>
