<div class="case__section case-video">
  <span class="case__step">Video</span>
  <h2 class="case__title">Video</h2>

  <div id="video-wrapper" class="case-video__wrapper">
    <div id="video-cover" class="case-video__cover">
      <div class="case-video__cover-shadow"></div>
      <div class="case-video__cover-content">
        <button id="video-trigger" class="button-video">
          <span class="button-video__arrow"></span>
        </button>
        <p class="case__title">Introducing the ALVIN <br>Reclose from EA Technology</p>
      </div>
    </div>
    <div class="case-video__player">
      <div id="video-player"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  {% include portfolio-cases/lvcloud/video-cover.js %}
</script>
