<div class="case__section case-video">
  <span class="case__step">Video</span>
  <h2 class="case__title">Introducing the ALVIN <br>Reclose from EA Technology</h2>
  <div class="case-video__wrapper">
    <iframe
      class="case-video__iframe"
      src="https://www.youtube.com/embed/hfQwaI5b768"
      srcdoc="
        <style>html,body{height:100%;padding:0;margin:0;overflow:hidden}a{display:inline-block;}img{filter:opacity(.6);width:100%;}div{display:flex;align-items:center;justify-content:center;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);height:60px;width:60px;border-radius:100%;background-image:linear-gradient(0deg,#FF5E45 0%,#FF2C2C 100%);border:2px solid #FF5E45;color:#FFF;transition:0.25s;cursor:pointer;}span{width:0;height:0;border-left:10px solid #fff;border-bottom:7px solid transparent;border-top:7px solid transparent;}</style>
        <a href=https://www.youtube.com/embed/hfQwaI5b768?autoplay=1>
          <img src=/assets/images/portfolio-cases/lvcloud/video.webp alt=''>
          <div>
            <span></span>
          </div>
        </a>
      "
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
