<div class="case__section case-goal case-goal--lingohub case-goal--with-paragraph">
  <span class="case__step">Goal</span>
  <h2 class="case__title">The goal</h2>

  <div class="case__columns">
    <div class="case__columns--left">
      <p class="paragraph">
        LingoHub’s CEO used to experience the pains of the translation process
        while working as a&nbsp;software developer for various tech companies.
        His company enables to help software creators bring their products to
        a&nbsp;broader multilingual audience. By providing them a&nbsp;simple
        solution for managing the translation part, our client allows them to
        focus on building great software for their customers.
      </p>
    </div>
    <div class="case__columns--right">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/lingohub/goal.jpg"
        alt="LingoHub CEO"
      />
    </div>
  </div>
  <div class="case__credits">
    <p class="case__credits-person">
      <span class="case__credits-dot"></span>
      Helmut Juskewycz
    </p>
    <p class="case__credits-position">
      CEO of LingoHub
    </p>
  </div>
</div>
