<section class="eu-bar">
  <div class="eu-bar-wrapp">
    <p class="eu-bar-text">Naturaily is implementing the project Intensification of export activities of Naturaily Sp. z o. o. <a href="/european-union" rel="nofollow">read more</a></p>
    <div class="eu-bar-images" rel="nofollow">
      <img src="loader.gif" data-src='{% asset eu-logo-1.png @path %}' alt="European Funds" asset>
      <img src="loader.gif" data-src='{% asset eu-logo-2.png @path %}' alt="Republic of Poland" asset>
      <img src="loader.gif" data-src='{% asset eu-logo-4.png @path %}' alt="European Union" asset>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(window).scroll(function() {
    $("body").addClass("scrolled");
  });
</script>
