<div class="modal-container" data-modal="contact" data-modal-close="contact">
  <div class="contact-form" data-modal-form="contact">
    <div class="contact-form-exit">
      <input type="checkbox" data-modal-close="contact"/>
      <span class="exit-first"></span>
      <span class="exit-second"></span>
    </div>
    <h3 class="contact-form-header">Contact us</h3>
    <div class="pipedriveWebForms pipedrive-form" data-pd-webforms="https://pipedrivewebforms.com/form/1530492f29b3b3b2576a0fd94c5cd71e121759">
      <script src="https://webforms.pipedriveassets.com/webforms.min.js"></script>
    </div>
  </div>
</div>

<script type="text/javascript">
  {% include modal.js %}
</script>
