<div class="gallery">
  <div id="galleryFirst">
    <img src="{% asset loader.gif @path %}" data-src='{% asset home-gallery-8.jpg @path %}' style="float: right;" alt="home-gallery-8" class="small-img" asset>
    <img src="{% asset loader.gif @path %}" data-src='{% asset home-gallery-9.jpg @path %}' style="margin-top: 30px;" alt="home-gallery-9" class="medium-img" asset>
    <img src="{% asset loader.gif @path %}" data-src='{% asset home-gallery-6.jpg @path %}' style="margin-top: 30px;" alt="home-gallery-7" class="small-img" asset>
  </div>
  <div id="gallerySecond">
    <img src="{% asset loader.gif @path %}" data-src='{% asset home-gallery-10.jpg @path %}' style="margin-top: 100px;" alt="home-gallery-10" class="large-img" asset>
  </div>
  <div id="galleryThird">
    <img src="{% asset loader.gif @path %}" data-src='{% asset home-gallery-2.jpg @path %}' style="margin-top: 30px;" alt="home-gallery-2" class="medium-img" asset>
    <img src="{% asset loader.gif @path %}" data-src='{% asset home-gallery-4.jpg @path %}' style="margin-top: 30px;" alt="home-gallery-6" class="small-img" asset>
  </div>
  <div id="galleryFourth">
    <img src="{% asset loader.gif @path %}" data-src='{% asset home-gallery-5.jpg @path %}' style="float: right;" alt="home-gallery-4" class="small-img" asset>
    <img src="{% asset loader.gif @path %}" data-src='{% asset home-gallery-3.jpg @path %}' style="margin-top: 30px;" alt="home-gallery-3" class="medium-img" asset>
  </div>
  <div id="galleryFifth">
    <img src="{% asset loader.gif @path %}" data-src='{% asset home-gallery-1.jpg @path %}' style="margin-top: 30px;" alt="home-gallery-1" class="large-img" asset>
    <img src="{% asset loader.gif @path %}" data-src='{% asset home-gallery-7.jpg @path %}' style="margin-top: 30px; float: right;" alt="home-gallery-5" class="small-img" asset>
  </div>
  {% if page.url == "/" %}
    <a href="/about"><button type="button" class="btn btn-secondary">Take a closer look</button></a>
  {% endif %}
</div>
