<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if page.robots %}
    <meta name="robots" content="{{page.robots}}" />
  {% endif %}

  <meta name="google-site-verification" content="hN08h2wKl7pGAbXTpkyglvv4VdgIBfm5TAGozNPUhJM" />
  <meta property="og:title"  content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" >
  <meta property="og:description"  content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" >
  <meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/assets/images/ogfacebook.png{% endif %}">
  <meta property="og:url" content="{% if page.permalink %}{{ page.permalink }}{% else %}{{ site.url }}{% endif %}">
  {% if paginator.previous_page %}
    <meta property="og:type" content="website">
  {% elsif page.url contains "/blog" %}
    <meta property="og:type" content="article">
  {% else %}
    <meta property="og:type" content="website">
  {% endif%}

  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta name="twitter:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/assets/images/ogfacebook.png{% endif %}"/>
  <meta name="twitter:card" content="{% if page.twitter-card %}{{ page.twitter-card }}{% else %}summary{% endif %}"/>
  <meta name="twitter:site" content="@naturailycom"/>
  <meta name="ahrefs-site-verification" content="3f8b258d3d14e1c5d540e03c2f03737d02ba06d8b501fe9fc25dd37667b0fd03">
  <meta name="facebook-domain-verification" content="30igvpnkh6n969lg3q2burlswi0prb"/>

  {% if page.url == "/careers" or page.url == "/career-offers" or page.url contains "/join" or page.url == "/about" or page.url contains "/services/webdevelopment" or page.url contains "/services/ecommerce" or page.url contains "/services/product-design" or page.url == "/services/iot-development" or page.url == "/services/cloud-adoption" or page.url == "/services" or page.url contains "/portfolio" or page.url == "/get-an-estimate" or page.url == "/thank-you" %}
    {% capture styles %}
      {% include new.scss %}
    {% endcapture %}
  {% else %}
    {% capture styles %}
      {% include main.scss %}
    {% endcapture %}
  {% endif %}

  <style>
    @import url("https://use.typekit.net/cah0hop.css");
  </style>

  <style>
    {{ styles | scssify }}
  </style>

  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href='{{ "/feed.xml" | relative_url }}'>
  <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon" />

  {% if page.url contains 'blog/categories'%}
    {% unless page.filter_category == 'UX/UI' or page.filter_category == 'Naturaily Client' or page.filter_category == 'E-commerce' or page.filter_category == 'JAMstack-development' %}
      <link rel="canonical" href='/blog/tags/{{ page.filter_category | replace: " ", "-" | downcase }}/'/>
    {% endunless %}
  {% elsif page.url contains 'blog/tags' %}
    <link rel="canonical" href='/blog/tags/{{ page.filter_tag | replace: " ", "-" | downcase }}/'/>
  {% elsif paginator.previous_page %}
    <meta name="robots" content="index"/>
    <link rel="canonical" href="/blog/"/>
  {% endif %}

</head>
