<div class="header {% if page.url == '/' %}header--home{% elsif page.url contains '/blog' or page.url contains '/project' %}header--old{% elsif page.url contains '/portfolio/' %}header--yellow{% endif %}">
  <div class="header-wrapper">
    <a class="header-logo" href="/" gsap gsap-logo>
      {% svg /assets/images/logo_naturaily.svg %}
    </a>
    <nav class="header-nav" role="navigation">
      <div class="header-nav__box">
        <input type="checkbox" id="checkbox"/>
        <div class="header-nav__hamburger" id="mobileSpan">
          <span class="header-nav__bar header-nav__bar--first"></span>
          <span class="header-nav__bar header-nav__bar--second"></span>
          <span class="header-nav__bar header-nav__bar--third"></span>
          <span class="header-nav__bar header-nav__bar--fourth"></span>
        </div>
        <div class="header-menu" data-menu>
          <ul>
            <a class="header-menu__logo" href="/">
              {% svg /assets/images/logo_naturaily.svg %}
            </a>
            <li 
              class="header-menu__item {% if page.url contains '/services' %}header-menu__item--active{% endif %}"
              gsap 
              gsap-nav-item
            >
              <a href="/services">Services</a>
            </li>
            <li 
              class="header-menu__item {% if page.url contains '/project' or page.url contains '/portfolio' %}header-menu__item--active{% endif %}"
              gsap 
              gsap-nav-item
            >
              <a href="/portfolio">Portfolio</a>
            </li>
            <li 
              class="header-menu__item {% if page.url == '/about' %}header-menu__item--active{% endif %}" 
              gsap 
              gsap-nav-item
            >
              <a href="/about">About</a>
            </li>
            <li 
              class="header-menu__item {% if page.url contains '/blog' %}header-menu__item--active{% endif %}" 
              gsap 
              gsap-nav-item
            >
              <a href="/blog/">Blog</a>
            </li>
            <li 
              class="header-menu__item {% if page.url contains '/career' or page.url contains '/join'%}header-menu__item--active{% endif %}" 
              gsap 
              gsap-nav-item
            >
              <a href="/careers">Careers</a>
            </li>
          </ul>
          <div class="header-social">
            <a href="https://www.facebook.com/Naturaily/" rel="nofollow" target="_blank">
              {% svg /assets/images/icons/facebook.svg class="header-social__image" %}
            </a>
            <a href="https://twitter.com/naturailycom" rel="nofollow" target="_blank">
              {% svg /assets/images/icons/twitter.svg class="header-social__image" %}
            </a>
            <a href="https://www.linkedin.com/company/naturaily" rel="nofollow" target="_blank">
              {% svg /assets/images/icons/linkedin.svg class="header-social__image" %}
            </a>
            <a href="https://github.com/naturaily" rel="nofollow" target="_blank">
              {% svg /assets/images/icons/github.svg class="header-social__image" %}
            </a>
            <a href="https://dribbble.com/Naturaily" rel="nofollow" target="_blank">
              {% svg /assets/images/icons/dribble.svg class="header-social__image" %}
            </a>
          </div>
          <a href="/get-an-estimate" class="btn btn-primary">
            Get an estimate
          </a>
        </div>
      </div>
    </nav>
    <a 
      class="btn btn-white {% if page.url == '/get-an-estimate' %}btn-white--invisible{% endif %}"
      href="/get-an-estimate"
      gsap 
      gsap-nav-estimate
    >
      Get an estimate
    </a>
  </div>
</div>

<script type="text/javascript">
  {% include block-scroll.js %}
</script>
