<div class="logos">
  <div data-left class="logotypes">
    <span class="logos-header">
      Live shows at
    </span>
    <div class="logotypes-box">
      <img src="loader.gif" data-src='{% asset sxsw.png @path %}' alt="sxsw" asset>
      <img src="loader.gif" data-src='{% asset internet_of_things.png @path %}' alt="internet_of_things" asset>
      <img src="loader.gif" data-src='{% asset japan_it_week.png @path %}' alt="japan_it_week" asset>
      <img src="loader.gif" data-src='{% asset web_summit.png @path %}' alt="web_summit" asset>
      <img src="loader.gif" data-src='{% asset slush.png @path %}' alt="slush" asset>
      <img src="loader.gif" data-src='{% asset dld.png @path %}' alt="dld" asset>
    </div>
  </div>
  <div data-right class="logos-dates">
    <span class="logos-header">
      Take a look at tour dates
    </span>
    <h2 class="headings--h2 logos-dates-text">
      Where we're gonna make some <span>noise</span>
    </h2>
    <span class="tour-circle orange"></span>
    <span class="tour-circle red"></span>
    <span class="tour-circle blue"></span>
    <a href="#dates" class="logos-dates-button btn btn-primary btn-arrow">
      our tour dates
      {% asset btn-arrow.png alt="arrow" %}
    </a>
  </div>
</div>
