<footer class="on-tour footer">
  {% asset logo_naturaily.svg alt="Naturaily logo" class="footer-logo" %}
  <hr class="footer-hr">
  <div class="footer-contact">
    <a href="mailto:hello@naturaily.com">hello@naturaily.com</a>
  </div>
  <div class="footer-services">
    <a href="tel:+48735220414">+48 735 220 414 (Sales)</a>
    <a href="tel:+48533294604">+48 533 294 604 (Office)</a>
  </div>
  <div class="footer-offer">
    <p>ul. Ofiar Oświęcimskich 17</p>
    <p>50-069 Wrocław, Poland</p>
  </div>
  <div class="social-icons">
    <a href="https://twitter.com/naturailycom" target="_blank" rel="nofollow">
      {% asset twitter.svg alt="Twitter" class="twitter" %}
    </a>
    <a href="https://www.facebook.com/Naturaily/" target="_blank" rel="nofollow">
      {% asset facebook.svg alt="Facebook" class="facebook" %}
    </a>
    <a href="https://www.linkedin.com/company/naturaily" target="_blank" rel="nofollow">
      {% asset linkedin.svg alt="Linkedin" class="linkedin" %}
    </a>
    <a href="https://github.com/naturaily" target="_blank" rel="nofollow">
      {% asset github.svg alt="Github" class="github" %}
    </a>
  </div>
  <span class="footer-regon">
    VAT-ID: PL8943047516
    KRS: 0000472548
    REGON: 022209183
  </span>
</footer>
