<div class="portfolio-gallery">
  <a href="/project/zapnito" target="_blank" rel="nofollow" class="project lower">
    <div class="project-image">
      <img src="{% asset loader.gif @path %}" data-src='{% asset zapnito.png @path %}' alt="shuttlefare" asset>
    </div>
    <div class="project-text">
      Zapnito
      {% asset btn-arrow.png alt="arrow" %}
    </div>
  </a>
  <a href="https://www.carrollschool.org/" target="_blank" rel="nofollow" class="project">
    <div class="project-image">
      <img src="{% asset loader.gif @path %}" data-src='{% asset carrollschool.png @path %}' alt="carrollschool" asset>
    </div>
    <div class="project-text">
      Carroll School
      {% asset btn-arrow.png alt="arrow" %}
    </div>
  </a>
  <a href="http://www.apptegy.com/" target="_blank" rel="nofollow" class="project lower">
    <div class="project-image">
      <img src="{% asset loader.gif @path %}" data-src='{% asset apptegy2.png @path %}' alt="apptegy" asset>
    </div>
    <div class="project-text">
      Apptegy
      {% asset btn-arrow.png alt="arrow" %}
    </div>
  </a>
  <a href="https://www.shuttlefare.com/" target="_blank" rel="nofollow" class="project lower">
    <div class="project-image">
      <img src="{% asset loader.gif @path %}" data-src='{% asset shuttlefare2.png @path %}' alt="shuttlefare" asset>
    </div>
    <div class="project-text">
      Shuttlefare
      {% asset btn-arrow.png alt="arrow" %}
    </div>
  </a>
</div>
