<div class="portfolio-projects">
  <div class="project project-banner">
    <div class="project-image">
      <img class="project-image-lvcloud" src="/assets/images/loader.gif" data-src="/assets/images/LVCloud.png" alt="lvcloud">
    </div>
    <div class="project-text">
      <h2>
        <b>LVCloud</b>
      </h2>
      <p>
        LVCloud is an Internet of Things application that monitors and takes care of the grid. Check out how we combined new technologies, like machine learning, into a sophisticated app that solves problems with electric network before anyone knew they existed.
      </p>
      <a class="btn btn-secondary banner-link" href="/portfolio/lvcloud">See more</a>
    </div>
  </div>
  <a href="/portfolio/artinfo" class="project project--higher">
    <div class="project-image">
      <img src="/assets/images/loader.gif" data-src="/assets/images/portfolio/artinfo.png" alt="Artinfo">
    </div>
    <div class="project-text">
      Artinfo
      <img src="/assets/images/btn-arrow.png" alt="arrow">
    </div>
  </a>
  <a href="/portfolio/awn" class="project project--lower">
    <div class="project-image">
      <img src="/assets/images/loader.gif" data-src="/assets/images/portfolio/awn.png" alt="awn">
    </div>
    <div class="project-text">
      AWN
      <img src="/assets/images/btn-arrow.png" alt="arrow">
    </div>
  </a>
  <!-- <a href="/portfolio/work-for-impact" class="project project--higher">
    <div class="project-image">
      <img src="/assets/images/loader.gif" data-src="/assets/images/portfolio/work-for-impact.png" alt="work for impact">
    </div>
    <div class="project-text">
      Work for Impact
      <img src="/assets/images/btn-arrow.png" alt="arrow">
    </div>
  </a> -->
</div>
