<div class="portfolio-projects">
  <div class="project project-banner">
    <div class="project-image">
      <img src="{% asset loader.gif @path %}" data-src='{% asset lvcloud.png @path %}' alt="lvcloud" class="project-image-lvcloud" asset>
    </div>
    <div class="project-text">
      <h2>
        <b>LVCloud</b>
      </h2>
      <p>
        LVCloud is an Internet of Things application that monitors and takes care of the grid. Check out how we combined new technologies, like machine learning, into a sophisticated app that solves problems with electric network before anyone knew they existed.
      </p>
      <a class="btn btn-secondary banner-link" href="/project/lvcloud">See more</a>
    </div>
  </div>
  <a href="/project/artinfo" class="project project-snipsl">
    <div class="project-image">
      <img src="{% asset loader.gif @path %}" data-src='{% asset artinfo-laptop.png @path %}' alt="Artinfo" asset>
    </div>
    <div class="project-text">
      Artinfo
      {% asset btn-arrow.png alt="arrow" %}
    </div>
  </a>
  <a href="/project/thecollectivity" class="project project-collectivity">
    <div class="project-image">
      <img src="{% asset loader.gif @path %}" data-src='{% asset collectivity.png @path %}' alt="collectivity" asset>
    </div>
    <div class="project-text">
      The Collectivity
      {% asset btn-arrow.png alt="arrow" %}
    </div>
  </a>
  <a href="/project/snipsl" class="project project-zapnito">
    <div class="project-image">
      <img src="{% asset loader.gif @path %}" data-src='{% asset snipsl.png @path %}' alt="snipsl" asset>
    </div>
    <div class="project-text">
      Snipsl
      {% asset btn-arrow.png alt="arrow" %}
    </div>
  </a>
</div>
