<div class="projects">
  <div class="main-point">
    Recent projects
  </div>
  <a href="/project/lvcloud" class="project project-main">
    <div class="project-image">

      <img src="{% asset loader.gif @path %}" data-src='{% asset lvcloud.png @path %}' alt="LVCloud" asset>
    </div>
    <div class="project-text">
      <span>
        LVCloud
        {% asset btn-arrow.png alt="arrow" %}
      </span>
      <span class="project-subtext">Ruby on Rails, Vue.js, MQTT</span>
    </div>
  </a>
  <a href="/project/zapnito" class="project project-second">
    <div class="project-image">
      <img src="{% asset loader.gif @path %}" data-src='{% asset zapnito.png @path %}' alt="zapnito" class="project-image-second" asset>
    </div>
    <div class="project-text">
      <span>
        Zapnito
        {% asset btn-arrow.png alt="arrow" %}
      </span>
    </div>
  </a>
  <a href="/project/thecollectivity" class="project project-third">
    <div class="project-image">
      <img src="{% asset loader.gif @path %}" data-src='{% asset collectivity.png @path %}' alt="collectivity" class="project-image-third" asset>
    </div>
    <div class="project-text">
      <span>
        Collectivity
        {% asset btn-arrow.png alt="arrow" %}
      </span>
    </div>
  </a>
  <div class="project-button">
    <a class="btn btn-secondary" href="/portfolio">See more</a>
  </div>
</div>
