{% if page.url == "/services/product-design" %}
  {% capture styles %}
    {% include /services/product-design/product-design/styles.scss %}
  {% endcapture %}

{% elsif page.url == "/services/iot-development" %}
  {% capture styles %}
    {% include /services/iot-development/iot-development/styles.scss %}
  {% endcapture %}

{% elsif page.url == "/services/cloud-adoption" %}
  {% capture styles %}
    {% include /services/cloud-adoption/cloud-adoption/styles.scss %}
  {% endcapture %}

{% elsif page.url == "/services/webdevelopment" %}
  {% capture styles %}
    {% include /services/webdevelopment/webdevelopment/styles.scss %}
  {% endcapture %}

{% elsif page.url == "/services/webdevelopment/vue-js-development" %}
  {% capture styles %}
    {% include /services/webdevelopment/vue/styles.scss %}
  {% endcapture %}

{% elsif page.url == "/services/webdevelopment/node-js-development" %}
  {% capture styles %}
    {% include /services/webdevelopment/node/styles.scss %}
  {% endcapture %}

{% elsif page.url == "/services/webdevelopment/react-js-development" %}
  {% capture styles %}
    {% include /services/webdevelopment/react/styles.scss %}
  {% endcapture %}

{% elsif page.url == "/services/webdevelopment/jamstack" %}
  {% capture styles %}
    {% include /services/webdevelopment/jamstack/styles.scss %}
  {% endcapture %}

{% elsif page.url == "/services/webdevelopment/pwa" %}
  {% capture styles %}
    {% include /services/webdevelopment/pwa/styles.scss %}
  {% endcapture %}

  {% elsif page.url == "/services/ecommerce" %}
    {% capture styles %}
      {% include /services/ecommerce/ecommerce/styles.scss %}
    {% endcapture %}

{% elsif page.url == "/services/ecommerce/shopify-development" %}
  {% capture styles %}
    {% include /services/ecommerce/shopify/styles.scss %}
  {% endcapture %}

{% elsif page.url == "/services/ecommerce/custom-development" %}
  {% capture styles %}
    {% include /services/ecommerce/custom/styles.scss %}
  {% endcapture %}

{% elsif page.url == "/careers" or page.url == "/career-offers" or page.url contains "/join" or page.url == "/about" or page.url contains "/services/ecommerce" or page.url == "/services" or page.url contains "/portfolio" or page.url == "/get-an-estimate" or page.url == "/thank-you" %}
  {% capture styles %}
    {% include new.scss %}
  {% endcapture %}

{% else %}
  {% capture styles %}
    {% include main.scss %}
  {% endcapture %}

{% endif %}
