<div class="technology">
  <div class="main-point">
    Technologies
  </div>
  <div class="technology-items">
    <div class="item left" data-reveal-technology=''>
      <img src="loader.gif" data-src='{% asset rails-logo.png @path %}' alt="Rails logo" asset>
      Ruby on Rails
    </div>
    <div class="item right tech-carousel"  data-reveal-technology=''>
      <div class="technology-carousel" id="technologycarousel">
        <div class="item">
          <img src="loader.gif" data-src='{% asset react-logo.png @path %}' alt="React logo" class="carousel-logo" asset>
          React
        </div>
        <div class="item" data-reveal-technology=''>
          <img src="loader.gif" data-src='{% asset vue-logo.png @path %}' alt="Vue logo" class="carousel-logo" asset>
          Vue
        </div>
        <div class="item" data-reveal-technology=''>
          <img src="loader.gif" data-src='{% asset ember-logo.png @path %}' alt="Ember logo" class="carousel-logo" asset>
          Ember
        </div>
      </div>
    </div>
    <div class="item left android" data-reveal-technology=''>
      <img src="loader.gif" data-src='{% asset android-logo.png @path %}' alt="Android logo" asset>
      Android
    </div>
    <div class="item right ios" data-reveal-technology=''>
      <img src="loader.gif" data-src='{% asset ios-logo.png @path %}' alt="Ios logo" asset>
      iOS
    </div>
  </div>
  <div class="technology-texts">
    <h2 class="technology-title">
      We develop web<br> and mobile applications
    </h2>
    <div class="technology-text">
      <p>
        Using modern languages, frameworks and solid development process. And help of transparent communication.
      </p>
      <p>
        We develop products you will conquer the world with, with your ideas and your clients’ needs in mind. And utilizing solutions used to solve world’s biggest software challanges.
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">
  {% include technology-carousel.js %}
</script>
