<div class="tools">
  <div class="main-point">
    Tools we love
  </div>
  <img src="{% asset loader.gif @path %}" data-src='{% asset invision.png @path %}' alt="invision" class="invision" data-reveal-tools='' asset>
  <img src="{% asset loader.gif @path %}" data-src='{% asset gitlab.png @path %}' alt="gitlab" class="gitlab" data-reveal-tools='' asset>
  <img src="{% asset loader.gif @path %}" data-src='{% asset jenkins.png @path %}' alt="jenkins" data-reveal-tools='' asset>
  <img src="{% asset loader.gif @path %}" data-src='{% asset slack.png @path %}' alt="slack" class="slack" data-reveal-tools='' asset>
  <img src="{% asset loader.gif @path %}" data-src='{% asset docker.png @path %}' alt="docker" class="docker" data-reveal-tools='' asset>
  <img src="{% asset loader.gif @path %}" data-src='{% asset breeze.png @path %}' alt="breeze" class="breeze" data-reveal-tools='' asset>
</div>
