<div class="topbar-container">
  <div class="topbar">
    <div class="topbar-content">
      <a href="{{site.posts.first.url}}">
        <span>{{site.posts.first.title}}</span>
        {% asset arrow-orange.png alt="arrow" %}
      </a>
    </div>
    <div class="topbar-social">
      <a href="https://www.facebook.com/Naturaily/" target="_blank" rel="nofollow">
        {% asset facebook-logo.png alt="Facebook" %}
      </a>
      <a href="https://twitter.com/naturailycom" target="_blank" rel="nofollow">
        {% asset twitter-logo.png alt="Twitter" %}
      </a>
      <a href="https://www.linkedin.com/company/naturaily" target="_blank" rel="nofollow">
        {% asset linkedin.png alt="Linkedin" %}
      </a>
      <a href="https://github.com/naturaily" target="_blank" rel="nofollow">
        {% asset github.png alt="Github" class="topbar-github" %}
      </a>
    </div>
    <div class="topbar-line">
      <hr class="topbar-hr">
    </div>
  </div>
</div>
