<h2 class="resources-title vue-title">Vue Community</h2>
<div class="l-sites">
  <a class="site-link" href="https://vuejs.org/" target="_blank" rel="nofollow">
    <div class="site-card">
      <img src="loader.gif" data-src='{% asset vue-logo.png @path %}' alt="Vue" class="site-logo site-logo-vue" asset>
      <div class="site-text">
        <span>
          Vue Official Site
        </span>
        {% asset arrow-orange.png alt="arrow" class="site-arrow" %}
      </div>
    </div>
  </a>
  <a class="site-link" href="https://github.com/vuejs/vue" target="_blank" rel="nofollow">
    <div class="site-card">
      <img src="loader.gif" data-src='{% asset github-logo.png @path %}' alt="Github" class="site-logo" asset>
      <div class="site-text">
        <span>
          Vue GitHub
        </span>
        {% asset arrow-orange.png alt="arrow" class="site-arrow" %}
      </div>
    </div>
  </a>
  <a class="site-link" href="https://forum.vuejs.org/" target="_blank" rel="nofollow">
    <div class="site-card">
      <img src="loader.gif" data-src='{% asset vue-discussion-logo.png @path %}' alt="Vue" class="site-logo" asset>
      <div class="site-text">
        <span>
          Vue Discussion Forum
        </span>
        {% asset arrow-orange.png alt="arrow" class="site-arrow" %}
      </div>
    </div>
  </a>
  <a class="site-link" href="https://twitter.com/vuejs" target="_blank" rel="nofollow">
    <div class="site-card">
      <img src="loader.gif" data-src='{% asset twitter-logo.png @path %}' alt="Twitter" class="site-logo" asset>
      <div class="site-text">
        <span>
          Twitter
        </span>
        {% asset arrow-orange.png alt="arrow" class="site-arrow" %}
      </div>
    </div>
  </a>
  <a class="site-link" href="https://vuejsfeed.com/" target="_blank" rel="nofollow">
    <div class="site-card">
      <img src="loader.gif" data-src='{% asset vue-feed-logo.png @path %}' alt="Vue" class="site-logo" asset>
      <div class="site-text">
        <span>
          Vue.js Feed
        </span>
        {% asset arrow-orange.png alt="arrow" class="site-arrow" %}
      </div>
    </div>
  </a>
</div>
