<h2 class="resources-title vue-title">Tutorials</h2>
<div class="l-sites">
  <a class="site-link" href="https://laracasts.com/series/learn-vue-2-step-by-step" target="_blank" rel="nofollow">
    <div class="site-card">
      <img src="loader.gif" data-src='{% asset larac-logo.png @path %}' alt="Larac" class="site-logo" asset>
      <div class="site-text">
        <span>
          Learn Vue 2:<br> Step By Step
        </span>
        {% asset arrow-orange.png alt="arrow" class="site-arrow" %}
      </div>
    </div>
  </a>
  <a class="site-link" href="https://www.youtube.com/playlist?list=PLwAKR305CRO_1yAao-8aZiQnBqJeyng4O" target="_blank" rel="nofollow">
    <div class="site-card">
      <img src="loader.gif" data-src='{% asset youtube-logo.png @path %}' alt="Youtube" class="site-logo" asset>
      <div class="site-text">
        <span>
          Vue.js Fundamentals
        </span>
        {% asset arrow-orange.png alt=""arrow class="site-arrow" %}
      </div>
    </div>
  </a>
  <a class="site-link" href="https://www.sitepoint.com/up-and-running-vue-js-2-0/" target="_blank" rel="nofollow">
    <div class="site-card">
      <img src="loader.gif" data-src='{% asset sitepoint-logo.png @path %}' alt="Sitepoint" class="site-logo" asset>
      <div class="site-text">
        <span>
          Getting up and Running with the Vue.js 2.0 Framework
        </span>
        {% asset arrow-orange.png alt="arrow" class="site-arrow" %}
      </div>
    </div>
  </a>
  <a class="site-link" href="https://egghead.io/courses/develop-web-apps-with-vue-js" target="_blank" rel="nofollow">
    <div class="site-card">
      <img src="loader.gif" data-src='{% asset egghead-logo.png @path %}' alt="Egghead" class="site-logo" asset>
      <div class="site-text">
        <span>
          Develop Basic Web Apps with Vue.js
        </span>
        {% asset arrow-orange.png alt="arrow" class="site-arrow" %}
      </div>
    </div>
  </a>
</div>
