<h2 class="resources-title vue-title">Influencers</h2>
<div class="influencers">
  <div class="influencer">
    <img src="loader.gif" data-src='{% asset influencer-1.png @path %}' alt="Influencer 1" asset>
    <span>Evan You</span>
    <div class="influencer-social">
      <a href="https://twitter.com/youyuxi" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset twitter.png @path %}' alt="Twitter" class="influencer-icon" asset>
      </a>
      <a href="https://github.com/yyx990803" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset github.png @path %}' alt="Github" class="influencer-icon influencer-icon-github" asset>
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="loader.gif" data-src='{% asset influencer-2.png @path %}' alt="Influencer 2" asset>
    <span>Chris Fritz</span>
    <div class="influencer-social">
      <a href="https://twitter.com/chrisvfritz" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset twitter.png @path %}' alt="Twitter" class="influencer-icon" asset>
      </a>
      <a href="https://github.com/chrisvfritz" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset github.png @path %}' alt="Github" class="influencer-icon influencer-icon-github" asset>
      </a>
    </div>
  </div>
  <div class="influencer">
    <img src="loader.gif" data-src='{% asset influencer-3.png @path %}' alt="Influencer 3" asset>
    <span>Pine Wu</span>
    <div class="influencer-social">
      <a href="https://twitter.com/octref" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset twitter.png @path %}' alt="TwitterTwitter" class="influencer-icon" asset>
      </a>
      <a href="https://github.com/octref" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset github.png @path %}' alt="Github" class="influencer-icon influencer-icon-github" asset>
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="loader.gif" data-src='{% asset influencer-4.png @path %}' alt="Influencer 4" asset>
    <span>Filipa Lacarda</span>
    <div class="influencer-social">
      <a href="https://twitter.com/filipalacerda" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset twitter.png @path %}' alt="Twitter" class="influencer-icon" asset>
      </a>
      <a href="https://gitlab.com/filipa" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset github.png @path %}' alt="Github" class="influencer-icon influencer-icon-github" asset>
      </a>
    </div>
  </div>
  <div class="influencer">
    <img src="loader.gif" data-src='{% asset influencer-5.png @path %}' alt="Influencer 5" asset>
    <span>Guillaume Chau</span>
    <div class="influencer-social">
      <a href="https://twitter.com/akryum" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset twitter.png @path %}' alt="Twitter" class="influencer-icon" asset>
      </a>
      <a href="https://github.com/akryum" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset github.png @path %}' alt="Github" class="influencer-icon influencer-icon-github" asset>
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="loader.gif" data-src='{% asset influencer-6.png @path %}' alt="Influencer 6" asset>
    <span>Sarah Drasner</span>
    <div class="influencer-social">
      <a href="https://twitter.com/sarah_edo" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset twitter.png @path %}' alt="Twitter" class="influencer-icon" asset>
      </a>
      <a href="https://github.com/sdras" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset github.png @path %}' alt="Github" class="influencer-icon influencer-icon-github" asset>
      </a>
    </div>
  </div>
  <div class="influencer">
    <img src="loader.gif" data-src='{% asset influencer-7.png @path %}' alt="Influencer 7" asset>
    <span>Blake Newman</span>
    <div class="influencer-social">
      <a href="https://twitter.com/blakenewman" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset twitter.png @path %}' alt="Twitter" class="influencer-icon" asset>
      </a>
      <a href="https://github.com/blake-newman" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset github.png @path %}' alt="Github" class="influencer-icon influencer-icon-github" asset>
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="loader.gif" data-src='{% asset influencer-8.png @path %}' alt="Influencer 8" asset>
    <span>Guillaume Chau</span>
    <div class="influencer-social">
      <a href="https://github.com/akryum" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset twitter.png @path %}' alt="Twitter" class="influencer-icon" asset>
      </a>
      <a href="https://twitter.com/akryum" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset github.png @path %}' alt="Github" class="influencer-icon influencer-icon-github" asset>
      </a>
    </div>
  </div>
  <div class="influencer">
    <img src="loader.gif" data-src='{% asset influencer-9.png @path %}' alt="Influencer 9" asset>
    <span>Roman Kuba</span>
    <div class="influencer-social">
      <a href="https://twitter.com/Codebryo" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset twitter.png @path %}' alt="Twitter" class="influencer-icon" asset>
      </a>
      <a href="https://github.com/codebryo" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset github.png @path %}' alt="Github" class="influencer-icon influencer-icon-github" asset>
      </a>
    </div>
  </div>
  <div class="influencer lower">
    <img src="loader.gif" data-src='{% asset influencer-10.png @path %}' alt="Influencer 10" asset>
    <span>Eduardo San Martin Morote</span>
    <div class="influencer-social">
      <a href="https://twitter.com/posva" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset twitter.png @path %}' alt="Twitter" class="influencer-icon" asset>
      </a>
      <a href="https://github.com/posva" target="_blank" rel="nofollow">
        <img src="loader.gif" data-src='{% asset github.png @path %}' alt="Github" class="influencer-icon influencer-icon-github" asset>
      </a>
    </div>
  </div>
</div>
