.shopify-estimate {
  width: 100%;
  padding-top: 25px;

  &__header {
    padding-bottom: 25px;
    font-size: 24px;
    line-height: 38px;
    color: $color-global-font;

    .text-secondary {
      display: inline;
      font-size: 24px;
    }
  }

  &__paragraph {
    font-size: 16px;
    line-height: 24px;
    color: $color-global-font-70;
  }

  .page-estimate {
    &__content-text {
      padding: 0 20px;
    }

    &__image, &__image img {
      max-width: 100%;
    }

    &__image {
      box-sizing: border-box;
      padding: 25px 20px 15px;
    }
  }


  .btn-primary.btn-arrow {
    margin-left: 20px;
    padding: 20px 0 20px 15px;
  }
}

@media (min-width: 576px) {
  .shopify-estimate {
    padding-bottom: 50px;

    &__header {
      padding-bottom: 25px;
      font-size: 36px;
      line-height: 50px;

      .text-secondary {
        font-size: 36px;
      }
    }

    .page-estimate__image {
      padding-top: 50px;
      margin: 0;

      img {
        border-radius: 8px;
      }
    }
  }
}

@media (min-width: 811px) {
  .shopify-estimate {
    &__header {
      padding-bottom: 30px;
    }

    .page-estimate {
      &__content-text {
        padding: 0;
        padding-left: 70px;
      }

      &__image {
        max-width: 370px;
        padding: 0;
      }
    }

    .btn-primary.btn-arrow {
      display: block;
      width: 190px;
      margin-left: 70px;
      padding-left: 35px;
    }
  }
}

@media (min-width: 992px) {
  .shopify-estimate {
    &__paragraph {
      width: 400px;
    }

    .page-estimate__columns {
      max-width: 1080px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1200px) {
  .shopify-estimate {
    padding-bottom: 0;
    border-radius: 8px;

    .page-estimate__image {
      box-shadow: 0 30px 40px -35px $color-btn-shadow;
    }
  }
}
