.p-about {
  position: relative;
  margin-bottom: 15px;

  .portfolio-columns__right {
    position: relative;
    text-align: center;

    .paragraph {
      text-align: left;
    }

    img {
      width: 90%;
      max-width: 280px;
      margin-bottom: 50px;
    }
  }

  [class^="dot-"] {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
  }

  .dot-artinfo {
    display: none;

    &__darker {
      top: -150px;
      right: 150px;
      background-color: $color-secondary;
    }

    &__lighter {
      top: -10px;
      right: -50px;
      background-color: $color-accent-yellow;
    }
  }

  .dot-lvcloud {
    &__darker {
      top: -10px;
      right: 30px;
      background-color: $color-accent-yellow;
    }

    &__lighter {
      bottom: 0;
      left: 40px;
      background-color: $color-geometric-blue;
    }
  }
}

@media (min-width: 576px) {
  .p-about .dot-lvcloud {
    &__darker {
      right: 70px;
    }
  }
}

@media (min-width: 811px) {
  .p-about {
    margin-bottom: 50px;
    
    .portfolio-columns__right {
      text-align: right;

      img {
        margin-top: -100px;
        width: 280px;
      }
    }

    .dot-lvcloud {
      &__darker {
        top: -130px;
        right: 20px;
      }

      &__lighter {
        bottom: 20px;
      }
    }

  }
}

@media (min-width: 992px) {
  .p-about {
    .dot-lvcloud__lighter {
      left: auto;
      right: 300px;
    }
  }
}
