.portfolio-carousel {
  &__tabs {
    display: flex !important;
    width: 800vw !important;
    margin-left: -35px !important;
    position: relative;

    &-tab {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-item {
      display: block;
      position: relative;
      height: 10px;
      width: 10px;
      margin: 5px;
      border-radius: 100%;
      border: 1px solid $color-secondary;


      &--active {
        background-color: $color-secondary;
      }
    }
  }
}
