.portfolio-cases {
  width: 100%;
  padding: 30px 20px;
}

.portfolio-case {
  padding: 25px 0;

  &__image {
    margin: 0 -20px 35px;

    img {
      width: 100%;
    }
  }

  &__header {
    font-size: 2.2em;
    font-weight: 500;
    line-height: 1.5;

    &--long {
      font-size: 2.1em;
    }
  }

  &__text {
    margin: 25px 0;
    line-height: 1.5;
  }

  &__numbers {
    display: none;
  }
}

@media (min-width: 576px) {
  .portfolio-cases {
    padding: 70px 75px;
  }

  .portfolio-case {
    padding: 50px 0;

    &__image {
      margin: 0 0 35px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__numbers {
      display: flex;
      margin: 0 -35px 10px;

      &-number {
        box-sizing: border-box;
        width: 50%;
        padding: 0 35px;

        span {
          font-size: 3em;
          font-weight: 400;
        }

        .paragraph {
          padding-top: 30px;
          font-size: 1em;
          color: $color-page-text-second;
        }
      }
    }
  }
}

@media (min-width: 811px) {
  .portfolio-cases {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 60px;
  }

  .portfolio-case {
    box-sizing: border-box;
    width: 50%;
    padding: 50px 15px;

    &__header--long {
      height: 105px;
      font-size: 1.5em;
    }

    &__text {
      height: 112px;

      &--short {
        height: 96px;
      }
    }

    &__numbers {
      width: 90%;
      margin: 0 -10px 10px;

      &-number {
        padding: 0 10px;

        span {
          font-size: 2.8em;
        }

        .paragraph {
          font-size: 0.9em;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .portfolio-case {
    &__header--long {
      height: 160px;
      font-size: 2.1em;
    }

    &__text {
      height: 96px;

      &--short {
        height: 88px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .portfolio-cases {
    margin: 0 -45px;
    width: 90%;
  }

  .portfolio-case {
    padding: 50px 65px;
  }
}
