.portfolio-cases--more {
  position: relative;
  padding: 25px 20px 0;
  overflow: hidden;

  .btn-shadowed {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    z-index: 1;
    width: 250px;
  }

  .portfolio-cases__shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, $color-transparent 0%, $color-white 60%);
  }
}

.portfolio-case {
  &--small .portfolio-case {
    &__header {
      font-size: 1.5em;
      font-weight: 400;
    }

    &__text {
      margin-bottom: 10px;
      font-size: 0.9em;
    }
  }

  &--hidden-sm {
    display: none;
    opacity: 0;
  }

  &--shadowed-sm {
    display: block;
    opacity: 1;
    margin-bottom: -350px;
  }
}

@media (min-width: 576px) {
  .portfolio-cases--more {
    padding: 100px 75px 50px;
  }

  .portfolio-case--small {
    padding: 25px 0;
  }
}

@media (min-width: 811px) {
  .portfolio-cases--more {
    padding: 75px 20px 50px;

    .btn-shadowed {
      position: relative;
      margin: 75px 0 -25px;
    }

    .portfolio-cases__shadow {
      display: none;
    }
  }

  .portfolio-case {
    &--small {
      padding: 25px 15px;

      .portfolio-case {
        &__header {
          font-size: 1.4em;
          height: 48px;
        }

        &__text {
          height: 80px;
        }
      }
    }

    &--shadowed-sm {
      display: none;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 992px) {
  .portfolio-case {
    &--small {
      width: 33.3%;

      .portfolio-case__header {
        height: 80px;
      }

      .portfolio-case__text {
        height: 96px;
      }
    }

    &--hidden-sm {
      display: block;
      opacity: 1;
    }

    &--hidden-lg {
      display: none;
      opacity: 0;
    }
  }
}

@media (min-width: 1200px) {
  .portfolio-cases--more {
    margin: 0 -10px 0 -20px;
    width: 100%;
    max-width: 1310px;
  }

  .portfolio-case--small {
    padding: 50px 25px;

    .portfolio-case__header {
      height: 64px;

      &--long {
        margin-right: -15px;
      }
    }

    .portfolio-case__text {
      height: 72px;
    }
  }
}
