.portfolio-challenge {
  .portfolio__columns--left .paragraph {
    margin-bottom: -75px;
  }

  .portfolio__columns--right .paragraph {
    padding-top: 75px;
  }
}

@media (min-width: 811px) {
  .portfolio-challenge {
    .paragraph {
      padding-right: 50px;
    }

    .portfolio__columns--left .paragraph {
      margin-bottom: -100px;
    }

    .portfolio__columns--right .paragraph {
      padding-top: 0;
    }
  }
}
