.portfolio-estimate {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 50px;

  &__image {
    order: 2;
    margin: 25px 0;

    img {
      width: 100%;
      max-width: 450px;
    }
  }

  &__content {
    order: 1;

    &-text {
      font-size: 2em;
      line-height: 1.5;

      &--smaller {
        display: block;
        margin-top: 25px;
        font-size: 0.7em;
      }
    }

    &-button {
      position: absolute;
      bottom: 0;
      margin: 20px 0 50px;
    }
  }
}

@media (min-width: 811px) {
  .portfolio-estimate {
    padding-bottom: 0;

    &__image {
      order: 1;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      order: 2;

      &-text {
        font-size: 1.75em;
      }

      &-button {
        position: static;
        width: 190px;
        margin-bottom: 25px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .portfolio-estimate__content-text {
    font-size: 1.75em;
  }
}
