.portfolio-experts {
  margin-bottom: -50px;
  background-color: $color-code-orange-bg;

  &__number {
    position: absolute;
    left: 3px;
    top: -15px;
    height: 1.5em;
    width: 1.5em;
    padding: 3px;
    font-size: 0.9em;
    line-height: 1.45;
    text-align: center;
    border-radius: 100%;
    background-color: $color-accent-yellow;
    color: $color-white;
  }

  .icon {
    color: $color-secondary;
    font-size: 2.5em;
  }

  .paragraph {
    padding: 10px;
    margin: 0;
  }

  .portfolio__columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px -35px 0;
    padding: 0 35px;
    list-style: none;

    li {
      box-sizing: border-box;
      display: flex;
      position: relative;
      width: 50%;
      padding: 50px 10px;
      font-size: 0.9em;
      color: $color-portfolio-text;
    }
  }

  &--double .portfolio-experts__second-group {
    margin-top: -168px;
  }
}

@media (min-width: 410px) {
  .portfolio-experts--double .portfolio-experts__second-group {
    margin-top: -144px;
  }
}

@media (min-width: 811px) {
  .portfolio-experts {
    position: relative;
    top: 5px;
    margin-bottom: 0;

    &__number {
      top: -5px;
      left: calc(50% - 5px);
      transform: translate(-50%, -50%);
      margin: 5px;
    }

    .paragraph {
      margin-top: 15px;
      line-height: 1.5;
      font-size: 0.9em;
    }

    .portfolio__columns {
      flex-direction: row;
      max-width: 100%;
      margin: 50px 0 0;
      padding: 0;
      background-color: $color-white;
      border: 1px solid $color-global-font-10;
      border-radius: 8px;

      li {
        display: flex;
        flex-direction: column;
        padding: 40px 0 20px;
        text-align: center;

        &.portfolio-experts__empty-slot {
          display: none;
        }
      }
    }

    &--five .portfolio__columns li {
      width: 20%;
    }

    &--four .portfolio__columns li {
      width: 25%;
    }

    &--three .portfolio__columns li {
      width: 33%;
    }

    &--moved {
      padding-top: 75px;
    }
  }
}

@media (min-width: 1200px) {
  .portfolio-experts {
    &__number {
      left: 30px;
    }

    .paragraph {
      margin: 0;
      text-align: left;
    }

    .portfolio__columns {
      padding-left: 15px;

      li {
        flex-direction: row;
        align-items: center;
        padding: 35px 20px 30px;
      }
    }
  }
}
