.portfolio-header {
  box-sizing: border-box;
  position: relative;
  height: 500px;
  margin-bottom: 50px;
  z-index: -1;
  background-color: $color-code-orange-bg;

  &__text, &__text strong {
    font-weight: 200;
  }

  &__text {
    padding: 90px 50px 0;
    z-index: 2;
    font-size: 2em;
    line-height: 1.5;

    strong {
      opacity: 0.7;
    }
  }

  &__image {
    .geometric-figure {
      top: 70px;
      right: 10px;
    }

    img {
      position: absolute;
      bottom: -50px;
      right: 10px;
      max-width: calc(100% - 10px);
      max-height: 300px;
    }
  }
}

@media (min-width: 576px) {
  .portfolio-header {
    &__text {
      padding-top: 80px;
      font-size: 2.5em;
    }

    &__image {
      .geometric-figure {
        top: 100px;
        right: 80px;
      }

      img {
        right: 10px;
      }
    }
  }
}

@media (min-width: 811px) {
  .portfolio-header {
    top: -95px;
    height: 400px;
    padding: 95px 100px 0;
    margin-bottom: -50px;

    &__content {
      display: flex;
      height: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }

    &__text, &__image {
      position: relative;
    }

    &__text {
      width: 60%;
      padding: 0;
      font-size: 2em;

      h1 {
        position: absolute;
        bottom: 30px;
        left: 50px;
      }
    }

    &__image {
      width: 40%;

      .geometric-figure {
        top: 0;
        right: auto;
        left: -150px;
      }

      img {
        bottom: -30px;
        right: -50px;
        max-width: 350px;
      }
    }
  }
}

@media (min-width: 992px) {
  .portfolio-header {
    height: 450px;

    &__text {
      font-size: 2.5em;
    }

    &__image {
      .geometric-figure {
        &_center, &_right::after {
          height: 200px;
          width: 200px;
        }

        &_right {
          width: 100px;
          height: 200px;
        }
      }

      img {
        right: -30px;
        max-width: 450px;
      }
    }
  }
}

@media (min-width: 1175px) {
  .portfolio-header {
    &__text, &__image {
      width: 50%;
    }

    &__text {
      font-size: 3em;
    }

    &__image {
      .geometric-figure {
        left: -50px;
      }

      img {
        right: 0;
        max-width: 100%;
      }
    }
  }
}
