.portfolio-video {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;

  &__wrapper {
    position: relative;
    width: 100%;
    height: 270px;
    border-radius: 8px;
  }

  &__cover, &__cover-shadow, iframe {
    width: 100%;
    height: 100%;
  }

  &__radio, iframe {
    display: none;
  }

  &__radio:checked ~ iframe {
    display: block;
  }

  &__radio:checked ~ .p-video-cover,
  &__radio:checked ~ .p-video-content {
    display: none;
  }

  &__cover {
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;

    &-shadow {
      background-color: $color-white;
      opacity: 0.6;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 25px;

    &-button {
      display: block;
      position: relative;
      height: 60px;
      width: 60px;
      border-radius: 100%;
      background-color: $color-secondary;
      border: 2px solid $color-secondary;
      color: $color-white;
      transition: 0.25s;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -45%);
      }

      &:hover {
        background-color: $color-white;
        color: $color-secondary;
        cursor: pointer;
      }
    }

    .portfolio__title {
      padding: 10px 0;
      line-height: 1.5;
      font-size: 1.5em;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.portfolio-solutions,
.portfolio-results {
  .geometric-figure {
    display: block;
    position: absolute;
    z-index: -1;

    &_center, &_right::after {
       height: 200px;
       width: 200px;
    }

     &_right {
       width: 100px;
       height: 200px;
    }

    &--schema1, &--schema2, &--schema3 {
      top: 50%;
      left: 50%;
      right: auto;
    }

    &--schema2 {
      transform: translate(-50%, -50%) scale(1.5);

      .geometric-figure_center {
        background-color: $color-accent-yellow;
      }

      .geometric-figure_right {
        display: none;
      }
    }
  }
}

.portfolio-solutions {
  .paragraph {
    padding: 25px 0;
  }

  .portfolio__columns {
    display: flex;
    flex-direction: column;
    padding: 50px 0;

    &--odd .portfolio-solutions__image img {
      margin-left: 100px;
      max-height: 350px;
    }

    &--even .portfolio-solutions__image img {
      max-height: 400px;
    }
  }

  &__image, &__description {
    margin: 25px;
  }

  &__image {
    position: relative;
    text-align: center;

    img {
      width: auto;
      max-width: 100%;
    }
  }

  &__description {
    position: relative;

    .portfolio__dot {
      display: none;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;

      &--secondary {
        top: -50px;
        right: 0;
      }

      &--yellow {
        top: -100px;
        left: -150px;
      }

      &--blue {
        bottom: -50px;
        left: -50px;
      }
    }
  }

  .geometric-figure {
    &--schema1 .geometric-figure_right,
    &--schema3 .geometric-figure_right {
      transform: translate(50%, -25%) rotate(90deg);
    }

    &--schema1 {
      transform: translate(-60%, -40%);

      .geometric-figure_center {
        border-color: $color-geometric-blue-accent;
      }

      .geometric-figure_right::after {
        background-color: $color-geometric-blue;
      }
    }

    &--schema3 {
      transform: translate(-60%, -60%) rotate(180deg);
    }
  }
}

.portfolio-tabs {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

  &__bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150vw;
    height: 198px;
    z-index: -1;
    background-color: rgba(241,241,255,0.43);
  }

  &__label {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    height: 66px;
    width: 100%;
    padding-left: 35px;
    transition: 0.25s;
    cursor: pointer;

    &:hover {
      box-shadow: inset 0 -3px 0 $color-secondary;
    }

    &-dot {
      display: none;
      position: absolute;
      top: calc(50% - 5px);
      left: 0;
      width: 10px;
      height: 10px;
      background-color: $color-accent-yellow;
      border-radius: 100%;
    }
  }

  &__radio {
    display: none;

    &:checked + .portfolio-tabs__label {
      box-shadow: inset 0 -3px 0 $color-secondary;
      font-weight: 500;
      color: $color-secondary;

      .portfolio-tabs__label-dot {
        display: block;
      }
    }
  }

  &__tab {
    display: none;
    width: 100%;
    padding: 50px 0;

    img {
      max-width: 100%;
    }
  }

  #architecture:checked ~ .portfolio-tabs__tab--architecture,
  #data:checked ~ .portfolio-tabs__tab--data,
  #commands:checked ~ .portfolio-tabs__tab--commands {
    display: block;
  }
}

.portfolio-results__companies {
  &-list {
    margin: 0 -25px;
    padding: 50px 25px;

    li {
      padding: 25px;
    }

    .icon {
      color: $color-secondary;
      font-size: 3em;
    }

    .paragraph {
      padding-top: 20px;
      color: $color-portfolio-text-second;
    }
  }

  &-quote {
    display: block;
    position: relative;
    padding: 50px 25px;
    margin-bottom: -100px;
    font-size: 1.2em;
    line-height: 1.5;

    .icon-quote {
      position: absolute;
      top: 10px;
      left: 0;
      z-index: -1;
      opacity: 0.1;
      color: $color-accent-yellow;
    }
  }
}

@media (min-width: 576px) {
  .portfolio-results__companies-quote {
    padding: 100px 25px;
    margin-bottom: -150px;

    .icon-quote  {
      top: 60px;
    }
  }
}

@media (min-width: 811px) {
  .portfolio-video {
    &__wrapper {
      height: 500px;
    }

    &__content {
      padding: 0 100px;

      .portfolio__title {
        padding: 25px 0;
        font-size: 2em;
      }
    }
  }

  .portfolio-solutions {
    &__description, &__image {
      position: relative;
      width: 50%;
      box-sizing: border-box;
    }

    &__image {
      display: flex;
    }

    .portfolio__dot {
      display: block;
    }

    .portfolio__columns {
      align-items: center;
      justify-content: space-between;

      .portfolio-solutions__image {
        justify-content: center;
      }

      &--odd  {
        flex-direction: row;

        .portfolio-solutions__description {
          padding-right: 50px;
        }
      }

      &--even {
        flex-direction: row-reverse;

        .portfolio-solutions__description {
          left: 50px;
          padding-left: 50px;
        }
      }
    }
  }

  .portfolio-tabs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__bar {
      height: 66px;
    }

    &__label {
      width: auto;
      padding-right: 35px;
      font-size: 0.9em;
    }

    &__tab {
      margin: 100px auto;
      text-align: center;

      img {
        max-width: 600px;
      }

      &--architecture img {
        position: relative;
        left: -50px;
        max-width: calc(100% + 100px);
      }
    }
  }

  .portfolio-results__companies {
    &-list {
      display: flex;
      flex-wrap: wrap;
      padding: 80px 0;
      margin: -50px;

      li {
        box-sizing: border-box;
        width: 50%;
        padding: 25px 50px;
      }
    }

    .portfolio__step {
      margin-top: 50px;
    }

    &-quote {
      max-width: 750px;
      margin: 0 auto;
      margin-bottom: -150px;
      padding: 100px;
      font-size: 1.5em;

      .icon-quote  {
        top: 30px;
        left: 40px;
        font-size: 5em;
      }
    }
  }
}

@media (min-width: 992px) {
  .portfolio-results__companies-list li {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .portfolio-video__wrapper {
    height: 600px;
  }

  .portfolio-solution {
    &__description .portfolio__dot--yellow {
      top: -150px;
      left: -250px;
    }
  }

  .portfolio-tabs__label {
    width: 30%;
    font-size: 1em;
  }
}
