.portfolioCase-results {
  h3 {
    color: $color-portfolio-text;
  }

  .portfolioCase-section__columns {
    padding-bottom: 100px;

    ul li {
      padding: 10px 80px 10px 25px;
    }

    img {
      max-width: 100%;
    }

    :first-child p {
      font-size: 0.8em;
      font-weight: 600;
      color: $color-portfolio-text;

      &::after {
        content: ":";
      }
    }

    :last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        padding: 25px 0;
        font-size: 1.2em;
        font-weight: 300;
      }
    }
  }

  &__numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    margin: 0 -20px;

    li {
      padding: 15px 20px;
      line-height: 1.5;

      p:first-of-type {
        height: 6em;
        padding-top: 15px;
      }

      :last-child {
        font-size: 0.85em;
        color: $color-portfolio-text;
      }
    }

    span {
      font-weight: 300;
      font-size: 3em;
      color: $color-secondary;
    }
  }
}

@media (min-width: 811px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1175px) {
}
