.portfolioCase-results {
  h3 {
    color: $color-portfolio-text;
  }

  .portfolioCase-section__columns {
    padding-bottom: 100px;

    ul li {
      padding: 10px 25px 10px 80px;
    }

    img {
      max-width: calc(100% - 50px);
    }

    :first-child p {
      font-size: 0.8em;
      font-weight: 600;
      color: $color-portfolio-text;

      &::after {
        content: ":";
      }
    }

    :last-child:not(li) {
      padding: 0 25px;

      p {
        padding: 25px 0 50px;
        font-size: 1.2em;
        font-weight: 300;
      }
    }
  }

  &__numbers {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    max-width: 350px;
    margin: 0 auto;

    li {
      padding: 15px 20px 35px;
      line-height: 1.5;

      p:first-of-type {
        padding: 15px 0 20px;
      }

      :last-child {
        font-size: 0.85em;
        color: $color-portfolio-text;
      }
    }

    span {
      font-weight: 300;
      font-size: 3em;
      color: $color-secondary;
    }
  }
}

@media (min-width: 576px) {
  .portfolioCase-results__numbers {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;

    li  {
      padding-bottom: 15px;

      p:first-of-type {
        height: 6em;
        padding-bottom: 0;
      }
    }
  }
}

@media (min-width: 811px) {
  .portfolioCase-results__numbers {
    li  {
      padding-bottom: 50px;

      p:first-of-type {
        height: 4.5em;
      }
    }
  }
}

@media (min-width: 992px) {
  .portfolioCase-results {
    .portfolioCase-section__columns {
      img {
        max-width: 100%;
      }

      ul li {
        padding-left: 25px;
        padding-right: 80px;
      }

      :last-child:not(li) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;

        p {
          padding: 25px 0;
        }
      }
    }

    &__numbers {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0 -25px;

      li p:first-of-type {
        height: 6em;
      }
    }
  }
}
