.p-solution  {
  margin-top: 75px;
  border-radius: 8px;
  background-color: $color-code-orange-bg;

  .features, .stack, .experts {
    &-header {
      font-size: 1.2em;
      font-weight: 200;
    }

    &-header, &-subheader {
      line-height: 1.5em;
    }
  }

  .features {
    .portfolio-columns {
      display: flex;
      flex-direction: column;
      padding: 50px 0;

      &.even {
        flex-direction: column-reverse;
      }
    }

    .image {
      position: relative;

      img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
      }
    }

    .portfolio-list li {
      padding: 10px;
      font-size: 0.9em;
    }
  }

  .stack {
    margin: 50px 0;
    padding: 50px 0;
    border-top: 1px solid $color-global-font-10;
    border-bottom: 1px solid $color-global-font-10;

    &-image {
      height: 50px;
      margin-bottom: 25px;

      img {
        width: auto;
        height: 100%;
      }
    }

    .paragraph {
      padding: 30px 0 5px;
      font-size: 0.8em;
      line-height: 1.7em;
      color: $color-portfolio-text;
    }

    .portfolio-columns {
      margin-top: 25px;
      list-style: none;

      li {
        padding: 25px;
      }
    }
  }

  .experts {
    &-header {
      color: $color-portfolio-header;
      opacity: 0.7;
    }

    .portfolio-columns {
      margin: 50px auto;
      max-width: 350px;
      list-style: none;
      background-color: $color-white;
      border-radius: 8px;
      border: 1px solid $color-global-font-10;

      li {
        display: flex;
        align-items: center;
        position: relative;
        padding: 25px;
        padding-left: 50px;
        font-size: 0.9em;
        color: $color-portfolio-text;
      }
    }

    &-number {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 1.5em;
      width: 1.5em;
      padding: 3px;
      font-size: 0.9em;
      line-height: 1.45em;
      text-align: center;
      border-radius: 100%;
      background-color: $color-accent-yellow;
      color: $color-white;
    }

    .icon {
      color: $color-accent-yellow;
      font-size: 3em;
    }

    .paragraph {
      padding: 10px;
      margin: 0;
    }
  }
}

@media (min-width: 576px) {
  .p-solution {
    .features .image {
      padding-top: 50px;
      text-align: right;

      img {
        width: 100%;
      }
    }

    .stack {
      .portfolio-columns li {
        display: flex;
        flex-direction: row;
      }

      &-image, &-subheader {
        width: 25%;
      }

      .paragraph {
        width: 50%;
        padding: 0;
        padding-left: 10px;
      }
    }
  }
}

@media (min-width: 811px) {
  .p-solution  {
    .features .portfolio-columns {
      flex-direction: row !important;
      align-items: center;
      justify-content: space-between;

      .portfolio-list {
        max-width: 350px;
      }

      .description, .image {
        position: relative;
        width: 50%;
        box-sizing: border-box;
      }

      .image {
        padding: 0;

        img {
          width: calc(100% + 50px);
        }
      }

      &.odd .description {
        padding-right: 50px;
      }

      &.even {
        .description {
          left: 50px;
          padding-left: 50px;
        }

        .image {
          right: 50px;
        }
      }
    }

    .stack {
      .portfolio-columns {
        flex-direction: row;

        li {
          flex-direction: column;
          width: 33%;
        }
      }

      &-image, &-subheader, .paragraph {
        width: 100%;
      }

      .paragraph {
        padding: 25px 0 0;
      }
    }

    .experts {
      position: relative;
      top: 5px;

      .portfolio-columns {
        flex-direction: row;
        max-width: 100%;

        li {
          display: flex;
          flex-direction: column;
          width: 20%;
          padding: 30px 0 20px;
          font-size: 0.8em;
          text-align: center;
        }
      }

      &-number {
        top: -5px;
        left: calc(50% - 5px);
        margin: 5px;
      }

      .paragraph {
        margin-top: 15px;
        line-height: 1.5;
        font-size: 0.9em;
      }
    }
  }
}

@media (min-width: 992px) {
  .p-solution .features {
    .odd, .even {
      padding: 40px 0;

      .image img {
        width: calc(100% + 100px);
      }
    }
  }
}

@media (min-width: 1175px) {
  .p-solution .experts  {
    .portfolio-columns li {
      flex-direction: row;
      padding: 40px 20px;
    }

    &-number {
      transform: translate(-77px, -50%);
    }

    .paragraph {
      margin: 0;
      text-align: left;
    }
  }
}
