.portfolio-solution  {
  h3 {
    font-size: 1.2em;
    font-weight: 200;
  }

  h3, &__stack h4 {
    line-height: 1.5em;
  }

  &__features .feature {
    display: flex;
    flex-direction: column;
    padding: 25px 0;

    &--image {
      position: relative;
      padding: 30px 25px;

      img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
      }
    }

    ul li {
      padding: 10px;
      font-size: 0.9em;
    }

    &:nth-of-type(even) {
      flex-direction: column-reverse;
    }
  }

  &__stack {
    margin: 100px -150px;
    padding: 100px 150px;
    border-top: 1px solid $color-global-font-10;
    border-bottom: 1px solid $color-global-font-10;

    ul {
      margin-top: 25px;
      list-style: none;

      li {
        padding: 25px;
      }

      p {
        padding: 30px 0 5px;
        font-size: 0.8em;
        line-height: 1.7em;
        color: $color-portfolio-text;
      }

      img {
        height: 50px;
        margin-bottom: 25px;
      }
    }
  }

  &__experts {
    h3 {
      color: $color-portfolio-header;
      opacity: 0.7;
    }

    ul {
      margin: 50px auto;
      max-width: 350px;
      list-style: none;
      background-color: $color-white;
      border-radius: 8px;
      border: 1px solid $color-global-font-10;

      li {
        display: flex;
        align-items: center;
        position: relative;
        padding: 25px;
        padding-left: 50px;
        font-size: 0.9em;
        color: $color-portfolio-text;
      }
    }

    p {
      padding: 10px;
      margin: 0;
    }

    span:not(.icon) {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 1.5em;
      width: 1.5em;
      padding: 3px;
      font-size: 0.9em;
      line-height: 1.45em;
      text-align: center;
      border-radius: 100%;
      background-color: $color-accent-yellow;
      color: $color-white;
    }

    .icon {
      color: $color-accent-yellow;
      font-size: 3em;
    }
  }
}

@media (min-width: 576px) {
  .portfolio-solution {
    .feature--image {
      text-align: right;

      img {
        width: 100%;
      }
    }

    &__stack .portfolio-section__columns li {
      display: flex;
      flex-direction: row;

      div, h4 {
        width: 25%;
      }

      p {
        width: 50%;
        padding: 0;
        padding-left: 10px;
      }
    }
  }
}

@media (min-width: 811px) {
  .portfolio-solution  {
    &__features .feature {
      flex-direction: row !important;
      align-items: center;
      justify-content: space-between;

      &--description, &--image {
        position: relative;
        width: 50%;
        box-sizing: border-box;
      }

      &--image {
        padding: 0;

        img {
          width: calc(100% + 50px);
        }
      }

      &:nth-of-type(odd) {
        .feature--description {
          padding-right: 50px;
        }
      }

      &:nth-of-type(even) {
        .feature--description {
          left: 50px;
          padding-left: 50px;
        }

        .feature--image {
          right: 50px;
        }
      }
    }

    &__stack .portfolio-section__columns {
      flex-direction: row;

      li {
        flex-direction: column;
        width: 33%;

        div, h4, p {
          width: 100%;
        }

        p {
          padding: 25px 0 0;
        }
      }
    }

    &__experts {
      ul {
        flex-direction: row;
        max-width: 100%;

        li {
          display: flex;
          flex-direction: column;
          width: 20%;
          padding: 30px 0 20px;
          font-size: 0.8em;
          text-align: center;
        }
      }

      p {
        margin-top: 15px;
      }

      span:not(.icon) {
        top: -5px;
        left: 50%;
        margin-top: 5px;
      }
    }
  }
}

@media (min-width: 992px) {
  .portfolio-solution__features .feature {
    padding: 40px 0;

    &--image img {
      width: calc(100% + 100px);
    }
  }
}

@media (min-width: 1175px) {
  .portfolio-solution  {
    &__experts {
      ul li {
        flex-direction: row;
        padding: 40px 20px;
      }

      p {
        margin: 0;
        text-align: left;
      }

      span:not(.icon) {
        transform: translate(-60px, -50%);
      }
    }
  }
}
