.portfolio-features, .portfolio-stack, .portfolio-experts {
  &__header {
    font-size: 1.5em;
    font-weight: 200;
  }

  &__header, &__subheader {
    line-height: 1.5em;
  }
}

.portfolio-answer img {
  max-width: 100%;
}

.portfolio-features {
  &__image {
    position: relative;
    overflow: visible;

    img {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      border: 1px solid $color-global-font-10;
      border-radius: 8px;
    }
  }

  .portfolio__columns {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }

  .portfolio__list {
    padding: 25px 10px;

    li {
      padding: 10px;
    }
  }
}

.portfolio-stack {
  margin: 50px 0;
  padding: 50px 0;
  border-top: 1px solid $color-global-font-10;
  border-bottom: 1px solid $color-global-font-10;

  &--tools {
    padding-top: 0;
    margin-top: 0;
    border-top: none;
  }

  &__image {
    height: 50px;
    margin-bottom: 25px;

    img {
      width: auto;
      height: 100%;
    }

    &--wider img, &--mongo img, &--kafka img {
      height: auto;
    }

    &--wider img {
      width: 110px;
    }

    &--mongo img {
      width: 120px;
    }

    &--kafka img {
      width: 100px;
    }
  }

  .paragraph {
    padding: 30px 0 5px;
    font-size: 0.9em;
    line-height: 1.7em;
    color: $color-portfolio-text;
  }

  .portfolio__columns {
    flex-wrap: wrap;
    margin-top: 25px;
    list-style: none;

    li {
      box-sizing: border-box;
      padding: 25px;
    }
  }
}

.portfolio-experts {
  &__number {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

    span {
      display: block;
      padding: 3px;
      height: 1.5em;
      width: 1.5em;
      padding: 3px;
      font-size: 0.9em;
      line-height: 1.5em;
      text-align: center;
      border-radius: 100%;
      background-color: $color-accent-yellow;
      color: $color-white;
    }
  }

  .icon {
    color: $color-secondary;
    font-size: 3em;
  }

  .paragraph {
    padding: 10px;
    margin: 0;
  }

  .portfolio__columns {
    margin: 50px auto;
    max-width: 350px;
    list-style: none;
    background-color: $color-white;
    border-radius: 8px;
    border: 1px solid $color-global-font-10;

    li {
      display: flex;
      align-items: center;
      position: relative;
      padding: 25px;
      padding-left: 50px;
      font-size: 0.9em;
      color: $color-portfolio-text;
    }
  }
}

@media (min-width: 576px) {
  .portfolio-features__image  {
    padding-top: 50px;
    text-align: right;

    img {
      width: 100%;
    }
  }

  .portfolio-stack {
    &__image, .portfolio-stack__subheader {
      width: 25%;
    }

    &__image--wider img, &__image--mongo img, &__image--kafka img {
      transform: translateX(-25%);
    }

    .portfolio__columns li {
      display: flex;
      flex-direction: row;
    }

    .paragraph {
      width: 50%;
      padding: 0;
      padding-left: 10px;
    }
  }
}

@media (min-width: 811px) {
  .portfolio-answer {
    .paragraph {
      padding-right: 50px;
    }

    img {
      position: relative;
      left: 50px;
    }
  }

  .portfolio-features {
    &__description, &__image {
      position: relative;
      width: 50%;
      box-sizing: border-box;
    }

    &__image {
      display: flex;
      padding: 5px;

      img {
        width: calc(100% + 50px);
      }
    }

    .portfolio__list {
      max-width: 300px;

      &--lvcloud {
        max-width: 380px;
      }
    }

    .portfolio__columns {
      align-items: center;
      justify-content: space-between;

      &--odd  {
        flex-direction: row;

        .portfolio-features__description {
          padding-right: 50px;
        }

        .portfolio-features__image {
          justify-content: flex-end;
        }
      }

      &--even {
        flex-direction: row-reverse;

        .portfolio-features__description {
          left: 50px;
          padding-left: 50px;
        }

        .portfolio-features__image {
          right: 50px;
        }
      }
    }
  }

  .portfolio-stack {
    &__image, .portfolio-stack__subheader, .paragraph {
      width: 100%;
    }

    &__image--wider img, &__image--mongo img, &__image--kafka img {
      transform: none;
    }

    &__image--mongo img {
      width: 130px;
    }

    .portfolio__columns {
      flex-direction: row;

      li {
        flex-direction: column;
        width: 33%;
      }
    }

    .paragraph {
      padding: 25px 0 0;
    }
  }

  .portfolio-experts {
    position: relative;
    top: 5px;

    &__number {
      top: -5px;
      left: calc(50% - 5px);
      margin: 5px;
    }

    .paragraph {
      margin-top: 15px;
      line-height: 1.5;
      font-size: 0.9em;
    }

    .portfolio__columns {
      flex-direction: row;
      max-width: 100%;

      li {
        display: flex;
        flex-direction: column;
        width: 20%;
        padding: 30px 0 20px;
        font-size: 0.8em;
        text-align: center;
      }
    }
  }
}

@media (min-width: 992px) {
  .portfolio-answer img {
    top: -50px;
  }
}

@media (min-width: 1200px) {
  .portfolio-answer img {
    top: -100px;
  }

  .portfolio-features .portfolio__columns {
    padding: 40px 25px;

    .portfolio-features__image img {
      width: calc(100% + 100px);
    }
  }

  .portfolio-experts  {
    &__number {
      transform: translate(-215%, -50%);
    }

    .paragraph {
      margin: 0;
      text-align: left;
    }

    .portfolio__columns li {
      flex-direction: row;
      padding: 40px 20px;
    }
  }
}
