.portfolioCase-testimonial {
  img {
    max-width: 100%;
    margin: 20px 0 60px;
  }

  .portfolioCase-section__columns {
    :first-child > p {
      font-size: 1.5em;
      font-weight: 300;

      span {
        color: $color-secondary;
      }
    }

    :last-child:not(.dot) {
      padding-right: 25px;
      font-size: 0.9em;
      line-height: 1.5;
      color: $color-portfolio-text;
    }
  }
}
