.portfolio-testimonial {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &__image {
    max-width: 100%;
    margin: 25px 0;
    border-radius: 8px;
  }

  &__quote {
    font-size: 1.75em;
    line-height: 1.5;
    padding-bottom: 25px;

    &--secondary {
      color: $color-secondary;
    }
  }

  &__text {
    font-size: 1em;
  }

  .portfolio__step, .portfolio__title {
    width: 100%;
  }

  .portfolio__credits {
    padding: 15px 0;
  }

  .geometric-figure {
    display: none;
    top: -140px;
    right: 50px;

    &_center, &_right::after {
       height: 280px;
       width: 280px;
     }

     &_right {
       width: 140px;
       height: 280px;
     }
  }
}

@media (min-width: 811px) {
  .portfolio-testimonial .geometric-figure {
    display: flex;
  }
}

@media (min-width: 992px) {
  .portfolio-testimonial {
    flex-direction: row;
    flex-wrap: wrap;

    &__image {
      margin-bottom: 50px;
    }

    &__quote {
      width: 45%;
      padding-bottom: 80px;
    }

    &__text {
      box-sizing: border-box;
      width: 55%;
      padding-top: 5px;
      padding-left: 70px;
    }

    .portfolio__credits {
      margin-top: -80px;
    }
  }
}
