.portfolio-testimonial {
  position: relative;
  overflow: hidden;
  margin-top: 25px;

  &__content {
    display: flex;
    flex-direction: column;

    &-image {
      order: 2;
      width: 200vw;

      img {
        max-width: 100%;
        margin: 25px 0 50px;
        border-radius: 8px;
      }

      &--artinfo {
        transform: translate(-30%);
      }

      &--lvcloud {
        transform: translate(-45px);
      }

      &--work-for-impact {
        transform: translate(-40%);
      }
    }

    &-quote {
      order: 1;
      font-size: 18px;

      &__text {
        position: relative;
        padding-bottom: 25px;
        font-size: 1.5em;
        line-height: 1.5;

        &--secondary {
          color: $color-secondary;
        }

        .icon-quote {
          position: absolute;
          top: -30px;
          left: -20px;
          opacity: 0.1;
          color: $color-accent-yellow;
        }
      }

      .portfolio__credits {
        padding: 15px 0;
        font-size: 0.9em;

        &-person, &-position {
          padding-right: 5px !important;
        }
      }
    }

    &-text {
      order: 3;
      font-size: 1em;
    }
  }

  .portfolio__step, .portfolio__title {
    width: 100%;
  }

  .geometric-figure {
    display: none;
    top: -140px;
    right: 50px;

    &_center, &_right::after {
       height: 280px;
       width: 280px;
     }

     &_right {
       width: 140px;
       height: 280px;
     }
  }
}

@media (min-width: 576px) {
  .portfolio-testimonial__content-image {
    width: calc(100vw + 10px);
    transform: translateX(-105px);
  }
}

@media (min-width: 811px) {
  .portfolio-testimonial {
    &__content {
      flex-direction: row;
      flex-wrap: wrap;

      &-image {
        order: 1;
        width: 100%;
        transform: none;
      }

      &-quote, &-text {
        box-sizing: border-box;
      }

      &-quote {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        order: 2;
        width: 45%;
      }

      &-text {
        order: 3;
        box-sizing: border-box;
        width: 55%;
        padding-top: 5px;
        padding-left: 70px;
      }
    }

    .geometric-figure {
      display: flex;
    }
  }
}
