.l-blog {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr;
}

pre, code {
  border: 1px solid $color-accent-yellow;
  border-radius: 3px;
  background-color: $color-code-bg;
  color: $color-accent-gold;
  white-space: normal;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 14px;
}

.post {
  grid-column: 1;
  position: relative;

  &-breadcrumbs {
    display: flex;
    align-items: center;
    padding-bottom: 14px;

    .icon {
      margin: 2px 4px 0;
      font-size: 8px;

      &--mobile {
        font-size: 15px;
        color: $color-accent-gold;
        text-decoration: none;
      }
    }
  }

  &-breadcrumb {
    max-width: 110px;
    font-size: 14px;
    color: $color-accent-gold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &--desktop {
      display: none;
    }

    &--inactive {
      color: $color-global-font;
    }

    &--full-width {
      max-width: none;
    }
  }

  &-title {
    font-size: 2.2rem;
  }

  &-cover {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 39%;
    border-radius: 5px;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-soc {
    position: absolute;
    left: -50px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;

    .footer-github {
      opacity: 0.18;
    }

    a:hover {
      text-decoration: none;
    }

    img {
      height: auto;
      margin: 0;
      width: 30px;
      @include transition(.2s);

      &:hover {
        opacity: 1;
        @include scale(1.1);
      }
    }

    .btn-copy {
      background-color: transparent;
    }

    a.post-soc-shr {
      background-color: transparent;
      margin-left: 0;
      margin-top: 10px;
      padding: 0;
    }
  }

  &-content {
    font-weight: 300;
    font-size: 17px;
    position: relative;

    h1, h2, h3, p {
      margin-bottom: 20px;
    }

    img {
      border-radius: 5px;
    }

    a {
      color: $color-accent-yellow;
    }

    blockquote {
      color: $color-accent-gold;
      border-left: 2px solid $color-accent-yellow;
      margin-left: 20px;
      margin-right: 40px;
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      line-height: 32px;
    }

    iframe {
      max-width: 100%;
      max-height: 250px;
    }
  }

  &-meta {
    color: $color-accent-gold;
    font-size: 0.9rem;
    font-weight: 300;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;

    .avatar {
      position: relative;
      width: 100%;
      max-width: 60px;
      margin: 0;
      padding-bottom: 60px;
      border-radius: 50%;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .author {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;
      margin-bottom: 0;

      a {
        color: $color-accent-gold;
      }

      time {
        color: $color-text-muted;
      }
    }

    .read-time {
      grid-column: 4;
      align-self: center;
      justify-self: end;
    }
  }

  &-category {
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-top: 9px;
    position: relative;

    a, span {
      font-size: 0.75rem;
      background-color: $color-code-bg;
      border-radius: 3px;
      padding: 1px 10px;
      color: #B36800;
      margin-left: 10px;
    }
  }

  &-navigation {
    grid-column: 1 / 3;
    display: grid;

    a {
      color: $color-global-font;
      font-size: 1.5rem;
      font-weight: 200;
    }

    .prev img {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
  }

  &-meetus {
    grid-column: 2;
    display: none;
    background: $color-white;
    border-radius: 4px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.1);
    height: 250px;
    text-align: center;
    font-weight: 300;
    padding: 30px;
    margin-bottom: 40px;

    span {
      font-size: 1.7rem;
    }

    p {
      padding: 30px;
    }

    .meetus-btn {
      padding: 10px 40px;
      color: $color-primary;
    }
  }

  &-cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FF5E45;
    font-size: 24px;
    margin: 0 30px;
    padding: 0px 0px 20px;

    &-image {
      order: -1;
      max-width: 55%;
    }

    &-left {
      padding-left: 35px;
    }

    &-link.btn {
      color: #fff;
      display: inline-block;
    }
  }

  .kpz-subjects {
    display: flex;

    a {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  .inline-image {
    display: inline-block;
    max-width: 120px;
  }

  table {
      border: solid 1px $color-accent-yellow;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 14px;
      margin-bottom: 20px;

    & thead th {
      background-color: $color-code-bg;
      border: solid 1px $color-accent-yellow;
      padding: 10px;
      text-align: left;
    }

    & tbody td {
      border: solid 1px $color-accent-yellow;
      padding: 10px;
    }
  }

  .table {
    &-layout-fixed table {
      table-layout: fixed;
      width: 100%;
    }

    &-responsive {
      overflow-x: auto;
      width: 320px;

      table {
        table-layout: fixed;
        width: 1000px;
      }
    }
  }

  .disqus {
    margin: 50px 0;
  }
}

.meetus-social {
  display: flex;
  justify-content: center;

  img {
    max-height: 15px;
    margin: 0 15px;
    filter: grayscale(100%);
    opacity: 0.3;
    transition: filter .2s ease, opacity .2s ease;

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}

@media (min-width: 350px) {
  .post {
    &-breadcrumb {
      max-width: 125px;
    }

    .table-responsive {
      width: 350px;
    }
  }
}

@media (min-width: 470px) {
  .post {
    &-breadcrumb {
      max-width: 180px;
    }

    .table-responsive {
      width: 450px;
    }
  }
}

@media (min-width: 576px) {
  .post {
    &-content iframe {
      max-height: 300px;
    }

    .table-responsive {
      width: 540px;
    }
  }
}

@media (min-width: 768px) {
  .post {
    &-breadcrumbs {
      .icon {
        margin: 2px 8px 0;

        &--mobile {
          display: none;
        }
      }
    }

    &-breadcrumb--desktop {
      display: inline-block;
    }

    &-content img.float {
      float: left;
      width: 45%;
      margin-bottom: 10px;
      margin-right: 20px;
    }
  }
}

@media (min-width: 811px) {
  .l-blog {
    margin-top: 180px;
  }

  .post-navigation {
    padding-top: 50px;
  }
}

@media (min-width: 992px) {
  .post-meetus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .l-blog {
    grid-template-columns: 1fr 300px;
    grid-column-gap: 110px;
  }

  .post {
    padding-left: 50px;

    &-navigation {
      grid-template-columns: repeat(2, 1fr);
      padding-top: 100px;

      a {
        display: block;
        max-width: 400px;
        position: relative;
        padding-left: 50px;

        img {
          position: absolute;
          left: 0;
          top: 15px;
        }
      }

      .prev {
        justify-self: end;
        text-align: right;
        grid-column: 2;
        padding-left: 0;
        padding-right: 50px;

        img {
          left: auto;
          right: 0;
        }
      }
    }

    &-content blockquote {
      margin: 25px 90px 25px 60px;
    }

    .table {
      &-layout-fixed table {
        width: 500px;
      }

      &-responsive {
        width: 500px;
      }
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .post {
    &-breadcrumb--inactive {
      max-width: 340px;
    }

    &-content iframe {
      max-height: 400px;
    }

    .table-responsive {
      width: 660px;
    }
  }
}

@media (min-width: 1400px) {
  .l-blog {
    grid-column-gap: 160px;
  }

  .post {
    padding-left: 0;

    .table-responsive, .table-responsive table {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .post-cta {
    display: flex;
    flex-direction: column;

    &-image {
      max-width: 100%;
      margin-bottom: 20px;
    }

    &-left {
      text-align: center;
      padding-left: 0;
    }

    &-link.btn {
      color: #fff;
    }
  }
}

@media screen and (max-width: 810px) {
  .post {
    &-category {
      display: none;
    }

    &-soc {
      display: none;
    }
  }

  .twitter-tweet.twitter-tweet-rendered {
    max-width: 310px !important;
  }
}


@media (max-width: 575px) {
  .post .kpz-subjects {
    flex-direction: column;

    a {
      margin-right: 0;
    }
  }
}
