.l-tos-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 100px;
  padding: 80px 20px 0;

  .tos-content {
    .big-point {
      display: block;
      margin: 0;
    }

    h2 {
      margin: 0;
      padding: 30px 0 20px;
      font-size: 24px;
      font-weight: 300;
    }

    p {
      margin: 0;
      padding-bottom: 15px;
      font-weight: 300;

      a {
        color: $color-global-font;
      }
    }

    .text-link {
      margin-top: 40px;
    }
  }
}

.tos-nav {
  display: none;

  &-list {
    max-width: 270px;
    min-height: 240px;
    font-weight: 200;
    list-style: none;
    margin-left: 20px;
    padding: 30px 0;

    li {
      margin: 0 -20px;
      font-weight: 200;
      cursor: pointer;

      a {
        display: block;
        position: relative;
        margin-top: -1px;
        padding: 20px 50px;
        color: $color-global-font;

        &:hover {
          text-decoration: none;
        }

        &.active {
          border-radius: 4px;
          color: $color-white;
          background: $color-accent-yellow;
          transition: .5s all ease-out;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
          width: 95%;
          height: 1px;
          background-color: $color-global-font-10;
        }
      }

      &:last-of-type a::after {
        display: none;
      }
    }
  }
}

.tos-wave {
  top: -150px;
}


@media (min-width: 811px) {
  .l-tos-container {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .l-tos-container {
    grid-template-columns: 1fr 310px;
    padding-left: 65px;

    .tos-content {
      grid-column: 1;

      .big-point {
        margin-left: -40px;
      }
    }

    .tos-nav {
      grid-column: 2;
      display: block;
    }
  }
}

@media (min-width: 1400px) {
  .l-tos-container {
    padding-left: 135px;
  }
}
