.portfolio-goal--artinfo {
  width: 100%;

  .paragraph {
    color: $color-portfolio-text;
  }

  .portfolio__columns--right {
    margin: 0 -35px;
    text-align: center;

    img {
      width: 100%;
      max-width: 450px;
      margin-bottom: -50px;
    }
  }
}

@media (min-width: 576px) {
  .portfolio-goal--artinfo .portfolio__columns--right {
    margin: 0;
  }
}

@media (min-width: 811px) {
  .portfolio-goal .portfolio__columns {
    &--right img {
      width: 140%;
      max-width: 600px;
      margin-top: -75px;
      margin-bottom: 0;
    }

    .portfolio__credits {
      padding-top: 25px;
      margin-bottom: -50px;
    }
  }
}

@media (min-width: 976px) {
  .portfolio-goal .portfolio__columns .portfolio__credits {
    margin-bottom: -100px;
  }
}
