.portfolio-goal--artinfo {
  position: relative;
  width: 100%;
  padding-bottom: 125px;

  .portfolio__columns--left {
    .paragraph {
      color: $color-portfolio-text;
    }

    .portfolio__credits {
      position: absolute;
      bottom: 0;
    }
  }

  .portfolio__columns--right {
    margin: 0 -35px;

    img {
      width: 100%;
      margin-bottom: -50px;
    }
  }
}

@media (min-width: 576px) {
  .portfolio-goal--artinfo .portfolio__columns--right {
    margin: 0;
  }
}

@media (min-width: 811px) {
  .portfolio-goal--artinfo {
    padding-bottom: 50px;

    .portfolio__columns {
      &--right img {
        width: 140%;
        max-width: 600px;
        margin-top: -75px;
        margin-bottom: 0;
      }

      .portfolio__credits {
        position: static;
        padding-top: 25px;
        margin-bottom: -50px;
      }
    }
  }
}

@media (min-width: 976px) {
  .portfolio-goal .portfolio__columns .portfolio__credits {
    margin-bottom: -100px;
  }
}
