.clutch {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  font-weight: 200;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 150px 200px 250px;
  align-items: center;

  &-image {
    max-height: 35px;
  }

  a {
    text-decoration: none;
    color: $color-primary;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .clutch {
    padding: 70px 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (max-width: 714px) {
  .clutch {
    width: auto;
    grid-template-columns: 1fr;
    justify-items: center;

    &-image {
      padding: 20px 0;
    }
  }
}
