<div class="portfolio__section portfolio-about">
  <span class="portfolio__step">About</span>
  <h2 class="portfolio__title">About LingoHub</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="paragraph">
        LingoHub is a&nbsp;platform that lets hundreds of teams manage their
        software translations easily. What they get is a&nbsp;complex yet simple
        app they can use for translating, storing and managing the content
        - all in one place.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <p class="paragraph">
        The tool offers a&nbsp;complex software translation service - from
        building a&nbsp;personalized Term Base to translating and file release.
        To make the process even more painless, LingoHub integrates with lots
        of tools used by developers and professional translators.
      </p>
      <span class="portfolio__dot portfolio__dot--standard portfolio__dot--secondary"></span>
      <span class="portfolio__dot portfolio__dot--standard portfolio__dot--yellow"></span>
    </div>
    <div class="portfolio-about__separator portfolio-about__separator--lingohub">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/lingohub/separator.png"
        alt="Lingohub screens"
      />
    </div>
  </div>
</div>
