<div class="portfolio__section portfolio-challenge portfolio-challenge--with-dots">
  <span class="portfolio__step">Challenge</span>
  <h2 class="portfolio__title">The challenge</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="paragraph">
        The biggest hurdle the Naturaily team had to face in the LingoHub
        project was undoubtedly rewriting the existing part of the app
        from <strong>Angular</strong> to <strong>Vue.js</strong>.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <p class="paragraph">
        As <a href="/services/vue-js-development" target="_blank">Vue.js</a>
        notes much better runtime performance, which makes is easier to
        optimize and also provides higher customizability, all of the new
        features are being developed in Vue, making it the main frontend
        language of the app. 
      </p>
    </div>
    <span class="portfolio__dot portfolio__dot--secondary"></span>
    <span class="portfolio__dot portfolio__dot--yellow"></span>
    <span class="portfolio__dot portfolio__dot--blue"></span>
  </div>
</div>
