<div class="portfolio__section portfolio-goal portfolio-goal--with-paragraph">
  <span class="portfolio__step">Goal</span>
  <h2 class="portfolio__title">The goal</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="paragraph">
        LingoHub’s CEO used to experience the pains of the translation process
        while working as a&nbsp;software developer for various tech companies.
        His company enables to help software creators bring their products to
        a&nbsp;broader multilingual audience. By providing them a&nbsp;simple
        solution for managing the translation part, our client allows them to
        focus on building great software for their customers.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/work-for-impact/goal.jpg"
        alt="LingoHub CEO"
      />
    </div>
  </div>
  <div class="portfolio__credits">
    <p class="portfolio__credits-person">
      <span class="portfolio__credits-dot"></span>
      Geoff Hucker
    </p>
    <p class="portfolio__credits-position">
      CEO Work for Impact
    </p>
  </div>
</div>
