<div class="portfolio-hero">
  <div class="portfolio-hero__content">
    <div class="portfolio-hero__text">
      <h1>
        <span>LingoHub - Translation</span>
        <span><strong>Management</strong> for</span>
        <span><strong>Software</strong></span>
      </h1>
    </div>
    <div class="portfolio-hero__image">
      <figure class="geometric-figure geometric-figure--blue">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
      <picture>
        <source
          media="(min-width: 992px)"
          class="portfolio-hero__image-img"
          srcset="/assets/images/portfolio/lingohub/top.png"
          alt="LingoHub desktop and mobile screens"
        >
        <img
          class="portfolio-hero__image-img"
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/work-for-impact/top-mobile.png"
          alt="LingoHub mobile screen"
        >
      </picture>
    </div>
  </div>
</div>
