<div class="portfolio__section portfolio__section--orange portfolio-testimonial">
  <span class="portfolio__step">Testimonial</span>
  <h2 class="portfolio__title">Testimonial</h2>

  <div class="portfolio-testimonial__content">
    <picture class="portfolio-testimonial__content-image portfolio-testimonial__content-image--lingohub">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/lingohub/testimonial.jpg"
        alt="Helmut Juskewycz"
      />
    </picture>
    <div class="portfolio-testimonial__content-quote">
      <p class="portfolio-testimonial__content-quote__text">
        <span class="icon-quote"></span>
        The team provides
        <span class="portfolio-testimonial__content-quote__text--secondary">high-quality</span>
        development deliverables.
      </p>
      <div class="portfolio__credits">
        <p class="portfolio__credits-person">
          <span class="portfolio__credits-dot"></span>
          Helmut Juskewycz
        </p>
        <p class="portfolio__credits-position">
          CEO of LingoHub
        </p>
      </div>
    </div>
    <p class="paragraph portfolio-testimonial__content-text">
      The team provides high-quality development deliverables, producing
      an&nbsp;excellent platform that perfectly meets the requirements. They
      are responsive, collaborative, and professional, keeping up with the
      project management at all times and ensuring they fix any problems
      quickly.
    </p>
  </div>
</div>
