.values {
  background-color: rgba(154, 168, 224, 0.1);
  padding-left: 160px;

  .accordion-item {
    cursor: initial;
    height: 130px;
    align-items: self-start;
    padding-top: 30px;

    .accordion_number {
      line-height: 24px;
    }

    .paragraph {
      max-width: initial;
      padding-left: 40px;
    }

    div {
      width: 180px;
      line-height: 24px;
      flex: 1 0 auto;
    }
  }

  .section_heading {
    max-width: 700px;

    .paragraph {
      max-width: 100%;
      padding-top: 30px;
    }
  }
}


@media (max-width: 810px) {
  .values {
    margin: 0 5px 0 10px;
    padding: 40px 0px 30px 15px;
  }
}
