.accordion {
  padding-left: 200px;
  padding-right: 100px;

 &_content {
    color: #424242;
    padding-left: 110px;
    padding-top: 38px;
    opacity: 0;
    display: none;
  }

  #tm:checked ~ &_content {
    display: block;
    opacity: 1;
  }

  input#tm {
    display: none;
    position: relative;
  }

  #tn:checked ~ &_content {
    display: block;
    opacity: 1;
  }

  input#tn {
    display: none;
    position: relative;
  }

  #to:checked ~ &_content {
    display: block;
    opacity: 1;
  }

  input#to {
    display: none;
    position: relative;
  }

  &-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $color-global-font;
    color: $color-global-font;
    height: 88px;
    opacity: 0.5;
    font-size: 24px;
    cursor: pointer;
  }

  &_number {
  	color: #C1C1C1;
  	font-size: 12px;
    padding-right: 100px;
  }

  &_chevron {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-left: auto;


    &::before {
      background-color: $color-white;
      font-size: 40px;
      border-radius: 50%;
      box-shadow: 0 8px 32px 0 rgba(179,104,0,0.12);
    }
  }
}
