.about {
  padding: 0;

  &_top.paragraph {
    max-width: 840px;
    color: $color-global-font;
  }

  &_mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1070px;
    padding-bottom: 40px;

    .paragraph {
      max-width: 100%;
      font-size: 14px;
      font-weight: 500;
      padding-right: 102px;
      box-sizing: border-box;
    }
  }

  .section_content {
    display: flex;
    flex-direction: column;
  }
}
