.process {
  &_steps {
    display: flex;
    flex-direction: column;
    border: 1px solid #eae4df;
    border-radius: 8px 8px 0 0;

    ol {
      display: flex;
      position: relative;
      justify-content: space-between;
      padding-left: 40px;
      margin: 0;
      list-style: none;
      top: -16px;

      &::after {
        content: "";
        position: absolute;
        top: 16px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid rgba(59,34,15,0.1);
        z-index: -1;
      }

      li {
        width: 140px;
        padding-right: 35px;
      }
    }

    ul {
      display: flex;
      position: relative;
      list-style: none;
      margin: 0;
      background-color: #FFFBF7;
      font-size: 14px;
      padding: 31px 60px 41px 31px;

      li {
        width: 138px;
        line-height: 40px;
        margin-right: 37px;
        text-align: center;
        border: 1px solid #e9e7e5;
        background-color: #fff;
        border-radius: 8px;
        color: #7e7166;

        &:first-child {
          width: 320px;
          margin-right: 40px;
        }
      }
    }

    &-point {
      color: white;
      width: 32px;
      height: 32px;
      font-size: 16px;
      border-radius: 50%;
      background-color: $color-accent-yellow;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .paragraph {
      padding-top: 35px;

      small {
        display: flex;
        padding-top: 20px;
      }
    }
  }

  &_hr {
    display: flex;
    padding: 50px 80px 60px 70px;
    border: 1px solid #eae4df;
    border-radius: 0 0 8px 8px;
    background-color: #FFFBF7;
    justify-content: space-between;

    &-left, &-right {
      display: flex;
      width: 50%;
      justify-content: space-between;
    }

    &-left {

    }

    &-right {
      flex-wrap: wrap;
      width: 520px;

      .paragraph {
        width: 50%;
        font-size: 14px;
        padding-right: 60px;
        box-sizing: border-box;
      }
    }

    &-meet {
      width: 201px;
    }

    &-question {
      width: 520px;
      margin-top: auto;
      padding: 35px 20px 25px 30px;
      border-radius: 8px;
      background-color: rgba(224, 195, 154, 0.1);

      .paragraph {
        max-width: 100%;
        width: 100%;
        padding-right: 0;
        padding-bottom: 0;
        line-height: 32px;
      }
    }

    img {
      margin: 0 30px 0 40px;
      border-radius: 8px;
    }

    h3 {
      width: 202px;
    }
  }
}
