.perks {
  padding-top: 80px;

  &_list {
    display: flex;
    flex-wrap: wrap;
  }

  &_list-item {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding-bottom: 70px;
  }

  .paragraph {
    max-width: 190px;
    font-size: 14px;
  }

  .icon {
    font-size: 54px;
    padding-bottom: 20px;
  }

  strong {
    font-size: 16px;
    font-weight: 400;
    color: $color-global-font;
  }
}
