.section {
  display: flex;
  width: 100%;
  padding: 100px 0;

  &-navigation {
    background-color: #FFFBF7;
  }

  &.path, &.offers, &.position {
    flex-direction: column;
  }

  &.team {
    justify-content: space-between;
  }

  &.process {
    flex-direction: column;
  }

  &.culture {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_content {
    &--full {
      width: 100%;
    }
  }

  &_name {
    color: $color-secondary;
    font-size: 12px;
    line-height: 24px;
    padding-bottom: 50px;

    &-number {
    	color: #C1C1C1;
      font-size: 12px;
      line-height: 24px;
      padding-right: 30px;
    }
  }


  &_heading {
    font-size: 36px;
    font-weight: 300;
    line-height: 50px;
    padding-bottom: 30px;
    padding-left: 45px;
    margin: 0;

    &--center {
      display: flex;
      width: 100%;
      margin: 0 auto;
      padding-left: 0;
      text-align: center;
      justify-content: center;
    }

    a {
      text-decoration: underline;
    }
  }

  &--no-padding {
    padding: 0;
  }
}
