<div class="case__section case-about">
  <span class="case__step">About</span>
  <h2 class="case__title">About AWN</h2>

  <div class="case__columns">
    <div class="case__columns--left">
      <p class="paragraph">
        AWN is one of the oldest companies in Germany and one of the largest
        boat and yacht suppliers in Europe. The company sells yacht accessories,
        motorboats and boat accessories, not only in Germany, but also
        in Austria, UK, Sweden, Switzerland, Poland and 5&nbsp;other European
        countries.
      </p>
    </div>
    <div class="case__columns--right">
      <span class="case__dot case__dot--standard case__dot--secondary"></span>
      <span class="case__dot case__dot--standard case__dot--yellow"></span>
    </div>
    <div class="case-about__separator case-about__separator--yellow">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/awn/separator.webp"
        alt="AWN screens"
      />
    </div>
  </div>
</div>
