<div class="case__section case-goal case-goal--awn">
  <span class="case__step">Goal</span>
  <h2 class="case__title">The goal</h2>

  <div class="case__columns">
    <div class="case__columns--left">
      <p class="case__quote">
        <span class="icon-quote"></span>
        The client needed us to help them identify the right path to improve
        their store’s conversion rates and raise overall sales. To handle
        the process of migrating their Magento store to Shopify successfully,
        they decided to also ask Naturaily to support them in major redesign
        changes.
      </p>
    </div>
    <div class="case__columns--right">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/suler.jpg"
        alt="Naturaily CEO"
      />
    </div>
  </div>
</div>
