<div class="case-hero">
  <div class="case-hero__content">
    <div class="case-hero__text">
      <h1>
        <span><strong>AWN</strong> - Consulting</span>
        <span>Workshops for</span>
        <span><strong>E-commerce Optimization</strong></span>
      </h1>
    </div>
    <div class="case-hero__image">
      <figure class="geometric-figure geometric-figure--180deg geometric-figure__secondary">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
      <picture>
        <source
          media="(min-width: 992px)"
          srcset="/assets/images/portfolio-cases/awn/top.webp"
          alt="AWN desktop and mobile screens"
        >
        <img
          class="case-hero__image-img"
          src="/assets/images/portfolio-cases/awn/top-mobile.webp"
          alt="AWN mobile screen"
        >
      </picture>
    </div>
  </div>
</div>
