<div class="case__section case__section--orange">
  <span class="case__step">Solution</span>
  <h2 class="case__title">Solution</h2>

  <div class="case-workshops">
    <p class="case__description">
      As the first step of the cooperation with AWN, we performed consulting workshops, including:
    </p>
    <div class="custom-carousel__wrapper case-workshops__wrapper" data-carousel="wrapper">
      <ul
        class="case-workshops__list custom-carousel__tabs custom-carousel__tabs--three"
        data-carousel="tabs"
      >
        <li class="case-workshops__list-item custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="0">
          <span class="icon icon-man"></span>
          <div class="case-workshops__list-item__content">
            <h3>Technological Audit</h3>
            <p class="paragraph">Checking on the company’s technological structure</p>
          </div>
        </li>
        <li class="case-workshops__list-item custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="1">
          <span class="icon icon-bulb"></span>
          <div class="case-workshops__list-item__content">
            <h3>UX Audit</h3>
            <p class="paragraph">Identifying areas for UX improvements and optimization</p>
          </div>
        </li>
        <li class="case-workshops__list-item custom-carousel__tabs-tab" data-carousel="tab" data-tab-index="2">
          <span class="icon icon-case"></span>
          <div class="case-workshops__list-item__content">
            <h3>Scoping Session</h3>
            <p class="paragraph">Planning the next steps for the store’s improvements and redesign</p>
          </div>
        </li>
      </ul>
      <div class="custom-carousel__dots" data-carousel="dots">
        <div class="custom-carousel__dots-item custom-carousel__dots-item--active" data-carousel="dots-item" data-dot-index="0" data-dot-active="true"></div>
        <div class="custom-carousel__dots-item" data-carousel="dots-item" data-dot-index="1" data-dot-active="false"></div>
        <div class="custom-carousel__dots-item" data-carousel="dots-item" data-dot-index="2" data-dot-active="false"></div>
      </div>
      <div class="custom-carousel__nav" data-carousel="nav">
        <div class="icon icon-chevron-left custom-carousel__nav-item custom-carousel__nav-item--disabled" data-carousel="nav-item" data-nav="prev" data-nav-disabled="true"></div>
        <div class="icon icon-chevron-right custom-carousel__nav-item" data-carousel="nav-item" data-nav="next" data-nav-disabled="false"></div>
      </div>
    </div>
  </div>

  <div class="case-issues">
    <span class="case__step">Details</span>
    <h2 class="case__title">Details</h2>
    <div id="awn-solution-tabs" class="case-issues__wrapper">
      <div class="case-issues__nav">
        <h3 class="case__description">Managing the project’s issues</h3>
        <ul class="case-issues__nav-list">
          <li class="case-issues__nav-list__item case-issues__nav-list__item--active" data-type="tabs-nav" data-nav-index="1" data-active-nav="true">
            <span>01</span>
            <p class="paragraph">Backend Magento-to-Shopify migration</p>
          </li>
          <li class="case-issues__nav-list__item" data-type="tabs-nav" data-nav-index="2" data-active-nav="false">
            <span>02</span>
            <p class="paragraph">Outdated design of the store</p>
          </li>
          <li class="case-issues__nav-list__item" data-type="tabs-nav" data-nav-index="3" data-active-nav="false">
            <span>03</span>
            <p class="paragraph">Poor conversion level</p>
          </li>
        </ul>
      </div>
      <div class="case-issues__tabs" data-type="tabs-container">
        <div class="case-issues__tabs-tab case-issues__tabs-tab--active" data-tab-index="1" data-active-tab="true">
          <div class="case-issues__tabs-tab__header">
            <span>01</span>
            <h3 class="case__description">Technological support and developer’s instructions</h3>
          </div>
          <img
            class="case-issues__tabs-tab__image"
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio-cases/awn/issue1.jpg"
            alt="AWN screen"
          />
          <p class="paragraph">
            We have recommended using ready-made Shopify apps to manage data
            migration. On top of that custom integrations for full migration to
            ensure no data was lost.
          </p>
        </div>
        <div class="case-issues__tabs-tab" data-tab-index="2" data-active-tab="false">
          <div class="case-issues__tabs-tab__header">
            <span>02</span>
            <h3 class="case__description">Full page redesign</h3>
          </div>
          <img
            class="case-issues__tabs-tab__image"
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio-cases/awn/issue2.png"
            alt="AWN screen"
          />
          <p class="paragraph">
            Thanks to the redesign of the main page, product page and category
            page, the whole website has gained a new, more modern and functional
            character. Importantly, customers get easy access to valuable
            information, such as promotions and product availability.
          </p>
        </div>
        <div class="case-issues__tabs-tab" data-tab-index="3" data-active-tab="false">
          <div class="case-issues__tabs-tab__header">
            <span>03</span>
            <h3 class="case__description">Solutions that can boost the conversion</h3>
          </div>
          <img
            class="case-issues__tabs-tab__image"
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio-cases/awn/issue3.png"
            alt="AWN screen"
          />
          <p class="paragraph">
            Thanks to our recommendations, such as adding a social proof
            (client’s reviews) and improving the product page (easy access
            to payment and delivery details), the number of users reaching
            the checkout has increased both on mobile and desktop.
          </p>
        </div>
      </div>
      <div class="case-issues__figure">
        <span class="case-issues__figure-circle case-issues__figure-circle--small"></span>
        <span class="case-issues__figure-circle case-issues__figure-circle--medium"></span>
        <span class="case-issues__figure-circle case-issues__figure-circle--big"></span>
        <span class="case-issues__figure-dot case-issues__figure-dot--secondary"></span>
        <span class="case-issues__figure-dot case-issues__figure-dot--blue"></span>
        <span class="case-issues__figure-dot case-issues__figure-dot--yellow"></span>
      </div>
    </div>
  </div>

  <div class="case-experts case-experts--moved">
    <h3 class="case-experts__header">Naturaily experts involved in the project</h3>
    <ul class="case-experts__list">
      <li>
        <div class="case-experts__number">1</div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Shopify Specialist</p>
      </li>
      <li>
        <div class="case-experts__number">2</div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Backend Developer</p>
      </li>
      <li>
        <div class="case-experts__number">3</div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Frontend Developer</p>
      </li>
      <li>
        <div class="case-experts__number">4</div>
        <span class="icon icon-man"></span>
        <p class="paragraph">UX/UI Designer</p>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  {% include portfolio-cases/solution-tabs.js %}
</script>
