<div class="portfolio__section portfolio-about">
  <span class="portfolio__step">About</span>
  <h2 class="portfolio__title">About AWN</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="paragraph">
        AWN is one of the oldest companies in Germany and one of the largest
        boat and yacht suppliers in Europe. The company sells yacht accessories,
        motorboats and boat accessories, not only in Germany, but also
        in Austria, UK, Sweden, Switzerland, Poland and 5&nbsp;other European
        countries.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <span class="portfolio__dot portfolio__dot--standard portfolio__dot--secondary"></span>
      <span class="portfolio__dot portfolio__dot--standard portfolio__dot--yellow"></span>
    </div>
    <div class="portfolio-about__separator portfolio-about__separator--awn">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/awn/separator.png"
        alt="AWN screens"
      />
    </div>
  </div>
</div>
