<div class="portfolio__section portfolio-challenge portfolio-challenge--with-dots">
  <span class="portfolio__step">Challenge</span>
  <h2 class="portfolio__title">The challenge</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="paragraph">
        AWN has so far been operating its e-commerce activity on a&nbsp;Magento
        store, which caused a&nbsp;couple of issues when it came to scaling the
        platform. Some of the most critical involved <strong>struggling with
        an&nbsp;outdated Magento 1.9.0.1 version, difficulties coming from
        no investment in code maintenance</strong> for years, <strong>bad server
        response times</strong> from massive loads, and <strong>poor Google feed
        generation</strong> for online marketing.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <p class="paragraph">
        They decided to migrate their store to the <strong>Shopify Plus</strong>
        system, which allows for <strogn>easy upgrades, no code modifications
        and optimized design</strong>. When planning the migration for their
        main awn.de store, they approached Naturaily to support them in major
        redesign changes, environment setup and merge support.
      </p>
    </div>
    <span class="portfolio__dot portfolio__dot--secondary"></span>
    <span class="portfolio__dot portfolio__dot--yellow"></span>
    <span class="portfolio__dot portfolio__dot--blue"></span>
  </div>
</div>
