<div class="portfolio__section portfolio__section--orange">
  <span class="portfolio__step">Solution</span>
  <h2 class="portfolio__title">Solution</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="portfolio__description">
        As the first step of the cooperation with AWN, we performed consulting
        workshops, including:
      </p>
    </div>
    <div class="portfolio__columns--right"></div>
  </div>

  <div class="portfolio-workshops">
    <div class="portfolio-carousel__wrapper portfolio-workshops__wrapper" data-carousel="wrapper">
      <ul
        class="portfolio-workshops__list portfolio-carousel__tabs portfolio-carousel__tabs--three"
        data-carousel="tabs"
      >
        <li class="portfolio-companies__list-item portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="0">
          <div class="portfolio-companies__list-item__content">
            <span class="icon icon-man"></span>
            <h3>Technological Audit</h3>
            <p class="paragraph">Checking on the company’s technological structure</p>
          </div>
        </li>
        <li class="portfolio-companies__list-item portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="1">
          <div class="portfolio-companies__list-item__content">
            <span class="icon icon-bulb"></span>
            <h3>UX Audit</h3>
            <p class="paragraph">Identifying areas for UX improvements and optimization</p>
          </div>
        </li>
        <li class="portfolio-companies__list-item portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="3">
          <div class="portfolio-companies__list-item__content">
            <span class="icon icon-case"></span>
            <h3>Scoping Session</h3>
            <p class="paragraph">Planning the next steps for the store’s improvements and redesign</p>
          </div>
        </li>
      </ul>
      <div class="portfolio-carousel__dots" data-carousel="dots">
        <div class="portfolio-carousel__dots-item portfolio-carousel__dots-item--active" data-carousel="dots-item" data-dot-index="0" data-dot-active="true"></div>
        <div class="portfolio-carousel__dots-item" data-carousel="dots-item" data-dot-index="1" data-dot-active="false"></div>
        <div class="portfolio-carousel__dots-item" data-carousel="dots-item" data-dot-index="2" data-dot-active="false"></div>
      </div>
      <div class="portfolio-carousel__nav" data-carousel="nav">
        <div class="icon icon-chevron-left portfolio-carousel__nav-item portfolio-carousel__nav-item--disabled" data-carousel="nav-item" data-nav="prev" data-nav-disabled="true"></div>
        <div class="icon icon-chevron-right portfolio-carousel__nav-item" data-carousel="nav-item" data-nav="next" data-nav-disabled="false"></div>
      </div>
    </div>
  </div>

  <div class="portfolio-issues">
    Lack of data to this section
  </div>

  <div class="portfolio-experts">
    <h3 class="portfolio-experts__header">Naturaily experts involved in the project</h3>
    <ul class="portfolio__columns">
      <li>
        <div class="portfolio-experts__number"><span>1</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">E-commerce/Shopify Specialist</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>2</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Backend Developer</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>3</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Frontend Developer</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>4</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">UX/UI Designer</p>
      </li>
    </ul>
  </div>
</div>
