<div class="portfolio__section portfolio__section--orange">
  <span class="portfolio__step">Solution</span>
  <h2 class="portfolio__title">Solution</h2>

  <div class="portfolio-workshops">
    <p class="portfolio__description">
      As the first step of the cooperation with AWN, we performed consulting workshops, including:
    </p>
    <div class="portfolio-carousel__wrapper portfolio-workshops__wrapper" data-carousel="wrapper">
      <ul
        class="portfolio-workshops__list portfolio-carousel__tabs portfolio-carousel__tabs--three"
        data-carousel="tabs"
      >
        <li class="portfolio-workshops__list-item portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="0">
          <span class="icon icon-man"></span>
          <div class="portfolio-workshops__list-item__content">
            <h3>Technological Audit</h3>
            <p class="paragraph">Checking on the company’s technological structure</p>
          </div>
        </li>
        <li class="portfolio-workshops__list-item portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="1">
          <span class="icon icon-bulb"></span>
          <div class="portfolio-workshops__list-item__content">
            <h3>UX Audit</h3>
            <p class="paragraph">Identifying areas for UX improvements and optimization</p>
          </div>
        </li>
        <li class="portfolio-workshops__list-item portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="2">
          <span class="icon icon-case"></span>
          <div class="portfolio-workshops__list-item__content">
            <h3>Scoping Session</h3>
            <p class="paragraph">Planning the next steps for the store’s improvements and redesign</p>
          </div>
        </li>
      </ul>
      <div class="portfolio-carousel__dots" data-carousel="dots">
        <div class="portfolio-carousel__dots-item portfolio-carousel__dots-item--active" data-carousel="dots-item" data-dot-index="0" data-dot-active="true"></div>
        <div class="portfolio-carousel__dots-item" data-carousel="dots-item" data-dot-index="1" data-dot-active="false"></div>
        <div class="portfolio-carousel__dots-item" data-carousel="dots-item" data-dot-index="2" data-dot-active="false"></div>
      </div>
      <div class="portfolio-carousel__nav" data-carousel="nav">
        <div class="icon icon-chevron-left portfolio-carousel__nav-item portfolio-carousel__nav-item--disabled" data-carousel="nav-item" data-nav="prev" data-nav-disabled="true"></div>
        <div class="icon icon-chevron-right portfolio-carousel__nav-item" data-carousel="nav-item" data-nav="next" data-nav-disabled="false"></div>
      </div>
    </div>
  </div>

  <div class="portfolio-issues">
    <span class="portfolio__step">Lorem ipsum</span>
    <h2 class="portfolio__title">Lorem ipsum</h2>
    <div id="awn-solution-tabs" class="portfolio-issues__wrapper">
      <div class="portfolio-issues__nav">
        <h3 class="portfolio__description">Managing the project’s issues</h3>
        <ul class="portfolio-issues__nav-list">
          <li class="portfolio-issues__nav-list__item portfolio-issues__nav-list__item--active" data-type="tabs-nav" data-nav-index="1" data-active-nav="true">
            <span>01</span>
            <p class="paragraph">Backend Magento-to-Shopify migration</p>
          </li>
          <li class="portfolio-issues__nav-list__item" data-type="tabs-nav" data-nav-index="2" data-active-nav="false">
            <span>02</span>
            <p class="paragraph">Outdated design of the store</p>
          </li>
          <li class="portfolio-issues__nav-list__item" data-type="tabs-nav" data-nav-index="3" data-active-nav="false">
            <span>03</span>
            <p class="paragraph">Poor conversion level</p>
          </li>
        </ul>
      </div>
      <div class="portfolio-issues__tabs" data-type="tabs-container">
        <div class="portfolio-issues__tabs-tab portfolio-issues__tabs-tab--active" data-tab-index="1" data-active-tab="true">
          <div class="portfolio-issues__tabs-tab__header">
            <span>01</span>
            <h3 class="portfolio__description">Technological support and developer’s instructions</h3>
          </div>
          <img
            class="portfolio-issues__tabs-tab__image"
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/lvcloud/features1.png"
            alt="AWN screen"
          />
          <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget
            tellus in augue hendrerit ultrices. Pellentesque hendrerit est nec
            lacus facilisis iaculis. Pellentesque mauris dolor, lacinia eget
            condimentum at, blandit ut massa.
          </p>
        </div>
        <div class="portfolio-issues__tabs-tab" data-tab-index="2" data-active-tab="false">
          <div class="portfolio-issues__tabs-tab__header">
            <span>02</span>
            <h3 class="portfolio__description">Full page redesign</h3>
          </div>
          <img
            class="portfolio-issues__tabs-tab__image"
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/lvcloud/features1.png"
            alt="AWN screen"
          />
          <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget
            tellus in augue hendrerit ultrices. Pellentesque hendrerit est nec
            lacus facilisis iaculis. Pellentesque mauris dolor, lacinia eget
            condimentum at, blandit ut massa.
          </p>
        </div>
        <div class="portfolio-issues__tabs-tab" data-tab-index="3" data-active-tab="false">
          <div class="portfolio-issues__tabs-tab__header">
            <span>03</span>
            <h3 class="portfolio__description">Solutions that can boost the conversion</h3>
          </div>
          <img
            class="portfolio-issues__tabs-tab__image"
            src="/assets/images/loader.gif"
            data-src="/assets/images/portfolio/lvcloud/features1.png"
            alt="AWN screen"
          />
          <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget
            tellus in augue hendrerit ultrices. Pellentesque hendrerit est nec
            lacus facilisis iaculis. Pellentesque mauris dolor, lacinia eget
            condimentum at, blandit ut massa.
          </p>
        </div>
      </div>
      <div class="portfolio-issues__figure">
        <span class="portfolio-issues__figure-circle portfolio-issues__figure-circle--small"></span>
        <span class="portfolio-issues__figure-circle portfolio-issues__figure-circle--medium"></span>
        <span class="portfolio-issues__figure-circle portfolio-issues__figure-circle--big"></span>
        <span class="portfolio-issues__figure-dot portfolio-issues__figure-dot--secondary"></span>
        <span class="portfolio-issues__figure-dot portfolio-issues__figure-dot--blue"></span>
        <span class="portfolio-issues__figure-dot portfolio-issues__figure-dot--yellow"></span>
      </div>
    </div>
  </div>

  <div class="portfolio-experts portfolio-experts--four portfolio-experts--moved">
    <h3 class="portfolio-experts__header">Naturaily experts involved in the project</h3>
    <ul class="portfolio__columns">
      <li>
        <div class="portfolio-experts__number"><span>1</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">E&#8209;commerce Shopify Specialist</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>2</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Backend Developer</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>3</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">Frontend Developer</p>
      </li>
      <li>
        <div class="portfolio-experts__number"><span>4</span></div>
        <span class="icon icon-man"></span>
        <p class="paragraph">UX/UI Designer</p>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  {% include portfolio/solution-tabs.js %}
</script>
