<section id="01" class="section services-consulting">
  <picture class="services-consulting_background-image">
    <source media="(max-width: 1440px)"
    srcset="/assets/images/services/consulting-md.jpg">
    <source media="(max-width: 1600px)"
            srcset="/assets/images/services/consulting-lg.jpg">

    <img src="/assets/images/services/consulting-xl.jpg" alt="consulting background">
  </picture>
  <div class="services-consulting_container">
    <div class="services-consulting_main">
      <div>
        <div class="section_name">
          <span class="section_name-number">
            01
          </span>
          Services
        </div>
        <h3 class="services-consulting_main-header">
          Consulting
        </h3>
      </div>
      <p class="services-consulting_main-description">
        We are here to help you when you need an outside,
        <span class="text-secondary">expert opinion regarding</span>
        <br>
        any software-related issue.
      </p>
    </div>
    <div class="services-consulting_more-wrapper">
      <p class="services-consulting_more">
        We can provide you with strategic consulting on different aspects of the software development process, Cloud adoption, IoT development and much more.
      </p>
      <a class="services-consulting_link" href="#">
        READ MORE
        <img class="services-consulting_link-image" src="/assets/images/arrow-orange.png" alt="arrow"/>
      </a>
    </div>
  </div>
</section>
