.case-about {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-top: 65px;
  overflow: hidden;

  .case__step, .case__title, &__columns-left, &__columns-right {
    padding: 0 30px;
  }

  .case__title {
    margin: 30px 0 25px;
    line-height: 50px;
    font-weight: 200;
    color: $color-global-font;
  }

  &__dot {
    &--secondary {
      top: 130px;
      right: -5px;
    }

    &--yellow {
      top: 50px;
      right: 100px;
    }
  }

  &__columns {
    display: flex;
    flex-direction: column;

    &-paragraph {
      font-size: 16px;
      line-height: 24px;
      color: $color-page-text;

      strong {
        font-weight: 600;
      }
    }

    &-left {
      order: 1;
    }

    &-right {
      order: 3;
    }
  }

  &__separator {
    order: 2;
    position: relative;
    width: 580px;
    margin: 65px 0 45px;
    padding-bottom: 306px;
    background-color: $color-accent-yellow;
    
    &-img {
      position: absolute;
      top: calc(50% - 40px);
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    &--bgl {
      background-color: $color-geometric-blue-accent;
    }
  }

  &__dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;

    &--secondary {
      top: 150px;
      right: -5px;
      background-color: $color-secondary;
    }

    &--yellow {
      top: 30px;
      right: 80px;
      background-color: $color-accent-yellow;
    }
  }
}

@media (min-width: 576px) {
  .case-about {
    .case__step, .case__title, &__columns-left, &__columns-right {
      padding: 0 100px;
    }

    &__separator {
      transform: translateX(-185px);
      width: 1200px;
      margin-top: 100px;
      padding-bottom: 403px;
    }
  }
}

@media (min-width: 811px) {
  .case-about {
    padding-top: 104px;
    overflow: visible;

    .case__step, .case__title, &__columns {
      box-sizing: border-box;
      display: block;
      max-width: 1280px;
    }

    .case__step, &__columns {
      margin: 0 auto;
    }

    .case__title {
      margin: 40px auto;
    }

    &__columns {
      display: flex;
      flex-flow: row wrap;
      padding: 0 100px;

      &-paragraph {
        font-size: 16px;
      }

      &-left, &-right {
        box-sizing: border-box;
        width: 50%;
        padding: 0;
      }

      &-left {
        order: 1;
        padding-right: 25px;
      }

      &-right {
        order: 2;
        padding-left: 25px;
      }
    }

    &__dot {
      &--secondary {
        top: 90px;
        right: 50px;
      }

      &--yellow {
        top: 240px;
        right: -40px;
      }
    }

    &__separator {
      order: 3;
      width: 1500px;
      min-width: 1500px;
      margin-top: 125px;
      padding-bottom: 505px;

      &-img {
        left: 38%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .case-about {
    &__columns {
      &-left {
        padding-right: 50px;
      }

      &-right {
        padding-right: 10px;
        padding-left: 40px;
      }
    }

    &__dot--secondary {
      right: 230px;
    }

    &__separator {
      order: 3;
      width: 2000px;
      min-width: 2000px;
      padding-bottom: 673px;
      background-color: $color-transparent;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: -1;
        transform: translateX(-50vw);
        width: 200vw;
        height: 100%;
        background-color: $color-accent-yellow;
      }

      &--bgl::after {
        background-color: $color-geometric-blue-accent;
      }
    }
  }
}
