<div class="etno-about">
  <span class="case__step">About</span>
  <h2 class="case__title">Let’s meet Etno Cafe</h2>
  <div class="etno-about__columns">
    <div class="etno-about__columns-left">
      <p class="etno-about__columns-paragraph">
        Etno Cafe is a&nbsp;Polish coffee concept that includes a&nbsp;coffee shop chain, 
        coffee roastery and cold brewery. The brand was created 9&nbsp;years ago in&nbsp;Wroclaw,
        and now <strong>it is one of the most recognizable coffee brands in the&nbsp;country</strong>,
        and soon to establish itself abroad as well. Etno Cafe puts great attention to&nbsp;detail into
        their daily work, ensuring the highest possible standards. 
      </p>
    </div>
    <div class="etno-about__columns-right">
      <p class="etno-about__columns-paragraph">
        This is the source of their <strong>undeniable success</strong>.
        The roastery was launched in&nbsp;2013 and the first coffee shop was opened in&nbsp;2015 
        – now there are 20&nbsp;of them in 7 different Polish cities. The third and final part of the 
        Etno business, the coffee brewery, was launched in&nbsp;2016 and now the Cold Brew Coffee is one
        of the brand's favorite products, especially during the summer.
      </p>
      <span class="etno-about__dot etno-about__dot--secondary"></span>
      <span class="etno-about__dot etno-about__dot--yellow"></span>
    </div>
    <picture class="etno-about__separator">
      <source
        media="(max-width: 811px)"
        class="etno-about__separator-img"
        srcset="/assets/images/portfolio-cases/etno/separator-mobile.webp"
        alt="Etno Cafe screens"
      >
      <img
        class="etno-about__separator-img"
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/etno/separator.webp"
        alt="Etno Cafe screens"
      >
    </picture>
  </div>
</div>
