<div class="etno-challenge">
  <span class="case__step">Challenge</span>
  <h2 class="case__title">What we had to face</h2>
  <div class="etno-challenge__columns">
    <p class="etno-challenge__columns-left">
      Etno Cafe’s previous website was built on&nbsp;WordPress in&nbsp;2014, so it was not only 
      out-of-date but also very vulnerable and prone to&nbsp;cyber attacks. It could cause
      a&nbsp;lot of troubles, such as&nbsp;SEO issues and data leakages. The main challenge was
      to&nbsp;find a&nbsp;proper alternative based on the&nbsp;client’s needs and future plans.
      <br><br>
      The new website was supposed to be <strong>stable</strong>, <strong>easy-to-manage</strong>
      (even by non-technical members of the organization), <strong>editable</strong>, <strong>user-friendly</strong>, 
      <strong>fresh</strong> and <strong>secure</strong>.
    </p>
    <p class="etno-challenge__columns-right">
      That’s why, after in-depth analysis, we’ve decided to go with the Jamstack approach. 
      <br><br>
      <strong>Jamstack websites are known to&nbsp;be&nbsp;fundamentally more secure than WordPress</strong>
      because they don’t rely on a&nbsp;public database. What’s more, they don’t expose scripting and, 
      if you serve them from a&nbsp;CDN, they don’t have a&nbsp;single point of&nbsp;failure. 
    </p>
  </div>
</div>
