<div class="etno-hero">
  <div class="etno-hero__wrapper">
    <div class="etno-hero__title">
      <h1 class="etno-hero__title-text">
        <strong>Etnocafe.pl</strong>
        Modern, performant
        <span class="etno-hero__title-text--nonbreak">and&nbsp;easy-to-navigate</span>
        website based on&nbsp;Jamstack
      </h1>
    </div>
    <div class="etno-hero__image">
      <img
        class="etno-hero__image-img"
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio-cases/etno/top.webp"
        alt="Etno Cafe screens"
      />
      <figure class="geometric-figure">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
    </div>
  </div>
</div>
