<div class="etno-numbers">
  <h3 class="etno-numbers__header">
    What else has changed? All the crucial metrics (on desktop):
  </h3>
  <ul class="etno-numbers__metrics">
    <li class="etno-numbers__metrics-metric">
      <p class="etno-numbers__metrics-metric__name">
        General score
        <br>
        (according to Page Speed Insights)
      </p>
      <div class="etno-numbers__metrics-metric__data">
        <span class="etno-numbers__metrics-metric__data-initial etno-numbers__metrics-metric__data-initial--yellow">
          73
        </span>
        <span class="etno-numbers__metrics-metric__data-final etno-numbers__metrics-metric__data-final--yellow">
          89
        </span>
      </div>
    </li>
    <li class="etno-numbers__metrics-metric">
      <p class="etno-numbers__metrics-metric__name">
        First Contentful Paint (FCP)
      </p>
      <div class="etno-numbers__metrics-metric__data">
        <span class="etno-numbers__metrics-metric__data-initial etno-numbers__metrics-metric__data-initial--red">
          1.7&nbsp;s
        </span>
        <span class="etno-numbers__metrics-metric__data-final etno-numbers__metrics-metric__data-final--green">
          0.8&nbsp;s
        </span>
      </div>
    </li>
    <li class="etno-numbers__metrics-metric">
      <p class="etno-numbers__metrics-metric__name">
        Largest Contentful Paint (LCP)
      </p>
      <div class="etno-numbers__metrics-metric__data">
        <span class="etno-numbers__metrics-metric__data-initial etno-numbers__metrics-metric__data-initial--red">
          4.2&nbsp;s
        </span>
        <span class="etno-numbers__metrics-metric__data-final etno-numbers__metrics-metric__data-final--green">
          0.9&nbsp;s
        </span>
      </div>
    </li>
    <li class="etno-numbers__metrics-metric">
      <p class="etno-numbers__metrics-metric__name">
        Cumulative Layout Shift (CLS)
      </p>
      <div class="etno-numbers__metrics-metric__data">
        <span class="etno-numbers__metrics-metric__data-initial etno-numbers__metrics-metric__data-initial--red">
          1.39
        </span>
        <span class="etno-numbers__metrics-metric__data-final etno-numbers__metrics-metric__data-final--yellow">
          0.218
        </span>
      </div>
    </li>
    <li class="etno-numbers__metrics-metric">
      <p class="etno-numbers__metrics-metric__name">
        Speed Index
      </p>
      <div class="etno-numbers__metrics-metric__data">
        <span class="etno-numbers__metrics-metric__data-initial etno-numbers__metrics-metric__data-initial--red">
          1.9&nbsp;s
        </span>
        <span class="etno-numbers__metrics-metric__data-final etno-numbers__metrics-metric__data-final--green">
          1.2&nbsp;s
        </span>
      </div>
    </li>
  </ul>
</div>
