<div class="etno-solution">
  <div class="etno-solution__wrapper">
    <span class="case__step">Solution</span>
    <h2 class="case__title">How we chose the&nbsp;stack and strategy</h2>
    <div class="etno-solution__columns etno-solution__columns--first">
      <div class="etno-solution__columns-image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio-cases/etno/solution1.webp"
          alt="coffee collage"
        />
      </div>
      <p class="etno-solution__columns-text">
        Etno Cafe gave us a&nbsp;free hand when it comes to choosing the technology. After 
        an&nbsp;in-depth analysis, <strong>we were sure the Jamstack approach is the best possible 
        choice</strong>. A&nbsp;highly performant website influences the user experience, increases
        user retention rates, causes a&nbsp;bump in SEO rankings and helps to achieve marketing goals.
        <br><br>
        Knowing that the visual and textual side of the project is as important to the client as the 
        technological reliability –&nbsp;<strong>we&nbsp;engaged several specialists</strong> who worked together
        to achieve these goals.
      </p>
    </div>
    <div class="etno-solution__columns etno-solution__columns--second">
      <div class="etno-solution__columns-image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio-cases/etno/solution2.webp"
          alt="coffee collage"
        />
      </div> 
      <p class="etno-solution__columns-text">
        The starting point of the project was to develop the content that would convey the brand's
        philosophy and be relevant to the target groups. The next step was UX/UI - and graphic design –
        all of which had to be <strong>in line with the new look and&nbsp;feel of the brand</strong>.
        <br><br>
        Having the content and graphic designs, we could go on to implementation. The choice of appropriate
        technologies and tools was not without significance.
      </p>
    </div>
    <div class="etno-solution__columns etno-solution__columns--third">
      <div class="etno-solution__columns-image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio-cases/etno/solution3.webp"
          alt="coffee collage"
        />
      </div>
      <p class="etno-solution__columns-text">
        We chose <strong>Sanity (a&nbsp;headless CMS solution)</strong> because it is highly flexible
        and can be configured precisely to Etno Cafe’s needs. A headless CMS allows us to deliver content
        wherever we need — not only to a&nbsp;templated site, but even to many receivers at the same time,
        like e-stores or mobile apps. Sanity meets one of the key goals – content changes and edits can be made
        without any developer support, so Etno Cafe’s team members can easily update the menu, special offers
        and new coffee shop locations.
      </p>
    </div>
    <div class="etno-solution__columns etno-solution__columns--blog">
      <a href="/blog/comparison-of-15-headless-cms-for-jamstack-websites" class="etno-solution__columns-image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/blog_cover_headless-cms-jamstack.png"
          alt="coffee collage"
        />
      </a> 
      <div class="etno-solution__columns-blog">
        <h3 class="etno-solution__columns-blog_header">
          <a href="/blog/comparison-of-15-headless-cms-for-jamstack-websites">
            If you want to learn more about <strong>Sanity and other headless CMS solutions</strong> 
            – check one of&nbsp;the&nbsp;articles on our blog.
          </a>
        </h3>
        <a class="btn btn-white" href="/blog/comparison-of-15-headless-cms-for-jamstack-websites">
          Read on 
          {% svg /assets/images/btn-arrow.svg %}
        </a>
      </div>
    </div>
    <div class="etno-solution__columns etno-solution__columns--text">
      <p class="etno-solution__columns-text">
        To complete the Jamstack approach, we chose Netlify and Gatsby. <strong>Netlify is a&nbsp;content 
        delivery network</strong> that ensures the website will be super-fast using global distribution
        and automated pre-rendering. It lets client create unlimited branches of the website.
        It&nbsp;has both built-in DNS management & SSL certificates, which results in less complexity when
        launching the website, and it’s all hosted in one place. 
      </p>
      <p class="etno-solution__columns-text">
        <strong>Gatsby JS is the Static Site Generator</strong> (you can think of it as a website publisher)
        – it takes the input files needed and both converts and publishes them into a web-friendly format.
      </p>
    </div>
  </div>
</div>
