<div class="etno-testimonials">
  <div class="etno-testimonials__wrapper">
    <span class="case__step">Testimonial</span>
    <h2 class="case__title">What our client says</h2>
    <img
      class="etno-testimonials__picture"
      src="/assets/images/loader.gif"
      data-src="/assets/images/portfolio-cases/etno/testimonials.webp"
      alt="zuzanna zapolska"
    />
    <div class="etno-testimonials__columns">
      <div class="etno-testimonials__columns-left">
        <p class="etno-testimonials__quote">
          This was not a typical project, especially from
          <span class="etno-testimonials__quote--secondary">
            the visual perspective<span>.</span>
          </span>
        </p>
        <div class="etno-testimonials__credits">
          <p class="etno-testimonials__credits-name">
            Zuzanna Zapolska
          </p>
          <p class="etno-testimonials__credits-position">
            Head of Digital & E-Commerce at Etno Cafe
          </p>
        </div>
      </div>
      <p class="etno-testimonials__columns-right">
        Naturaily impressed us with their flexibility and determination to succeed, overcoming each challenge
        that presented itself. Our needs have always come first. They managed to fulfill our vision with creativity 
        and a problem-solving approach. It was a truly honest cooperation, full of patience and understanding.
        The team was always available, ready to help and answered all of our questions. I strongly
        recommend working with Naturaily.
      </p>
    </div>
  </div>
</div>
