.product-design__accordion {
  position: relative;
  display: inline-block;
  height: 475px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 35px 0 75px;
  overflow: hidden;

  .slider-arrow {
    position: absolute;
    top: 100px;

    &--prev {
      left: 45px;
    }

    &--next {
      right: 45px;
    }
  }

  .custom-carousel__dots {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
  }

  &-cards {
    display: flex;
    position: absolute;
    top: 50px;
  }

  &-card {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 450px;
    width: 250px;
    min-width: 250px;
    margin: 0 5px;
    border-radius: 6px;
    overflow: hidden;
    transition: all .4s;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-preview {
    box-sizing: border-box;
    position: relative;
    width: 250px;
    min-width: 250px;
    height: 100%;
  }

  &-title {
    position: absolute;
    bottom: 65px;
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.5;
    color: $color-white;
    transition: all .4s;
  }

  &-background {
    display: inline-block;
    position: absolute;
    top: -20px;
    z-index: -1;
    height: 490px;
    width: 610px;
    background-size: 610px 490px;
    background-position: left;
    transition: top .4s;
  }
}

@media (min-width: 576px) {
  .product-design__accordion {
    padding: 50px 0;

    &-dots {
      display: none;
    }
  }
}

@media (min-width: 811px) {
  .product-design__accordion {
    padding: 75px 0;

    &-cards {
      top: 75px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 200px;
      min-width: 200px;
      margin: 10px;
      padding: 20px 30px 28px;
      background: $color-white;
      border-radius: 6px;
      overflow: hidden;

      &__title {
        align-self: flex-start;
        font-size: 1.2em;
        font-weight: 400;
      }

      &__desc {
        align-self: baseline;
        font-size: 1em;
        line-height: 1.5;
      }
    }

    &-hover {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 100%;
      opacity: 0;
      transition: opacity .4s, left 0s;
    }

    &-card--opened {
      width: 610px;
      min-width: 610px;
      cursor: auto;

      .product-design__accordion {
        &-title {
          font-size: 1.5em;
          font-weight: 200;
        }

        &-hover {
          opacity: 0;
          left: -250px;
        }
      }
    }

    &-card:hover {
      height: 490px;
      margin-top: -20px;

      .product-design__accordion {
        &-title {
          bottom: 85px;
        }

        &-hover {
          opacity: 1;
        }

        &-background {
          top: 0;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .product-design__accordion {
    padding: 150px 0;

    &-cards {
      top: 150px;
    }

    .slider-arrow {
      top: 200px;

      &--prev {
        left: 60px;
      }

      &--next {
        right: 60px;
      }
    }
  }
}

@media (min-width: 1400px) {
  .product-design__accordion .slider-arrow {
    &--prev {
      left: 225px;
    }

    &--next {
      right: auto;
      left: 1275px;
    }
  }
}

@media (min-width: 1600px) {
  .product-design__accordion .slider-arrow--prev {
    left: 485px;
  }
}
