.product-design__dajemy {
  width: 100%;
  margin: 70px 0 80px;

  .services__header {
    padding: 0 20px;
    font-size: 42px;
    line-height: 58.4px;
    font-weight: 400;
    color: $color-global-font;
  }

  &-image {
    box-sizing: border-box;
    width: 100%;
    padding: 25px 0 0 20px;
  }

  &-text {
    padding: 50px 20px 40px;
    font-size: 16px;
    line-height: 28.8px;
    color: $color-page-text;
  }

  .btn-bordered {
    margin-left: 20px;
    padding: 18px 25px;
  }
}

@media (min-width: 576px) {
  .product-design__dajemy {
    .services__header, &-text, &-image {
      padding-left: 75px;
      padding-right: 75px;
    }

    .btn-bordered {
      margin-left: 75px;
    }
  }
}

@media (min-width: 811px) {
  .product-design__dajemy {
    position: relative;
    margin: 150px 0 100px;

    .services__header, &-text, &-slider {
      box-sizing: border-box;
      width: 50%
    }

    .services__header, &-text {
      max-width: 500px;
      padding-right: 0;
    }

    .services__header {
      font-size: 28px;
      line-height: 50.4px;
      font-weight: 300;
    }

    &-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(50px, -54%);
      width: 500px;
      padding: 0;
    }
  }
}

@media (min-width: 992px) {
  .product-design__dajemy-image {
    transform: translateY(-50%);
    width: 610px;
  }
}

@media (min-width: 1200px) {
  .product-design__dajemy {
    margin-top: 150px;
    margin-bottom: 180px;

    .services__header, &-text {
      max-width: 470px;
    }
  }
}
