.product-design__dajemy {
  width: 100%;
  margin: 70px 0;

  .services__header {
    padding: 0 20px;
    font-size: 2.6em;
    font-weight: 400;
    color: $color-page-text-second;
  }

  &-slider {
    position: relative;

    .custom-carousel__dots {
      bottom: 0;
    }
  }

  &-image {
    box-sizing: border-box;
    width: 100%;
    padding: 25px 0 25px 20px;
  }

  &-text {
    padding: 50px 20px 40px;
    font-size: 1em;
    line-height: 1.5;
    color: $color-page-text;
  }

  .btn-bordered {
    margin-left: 20px;
  }

  &-link {
    width: 100%;
    padding: 0 20px 20px;

    &__text {
      max-width: 310px;
      font-size: 1.5em;
      line-height: 1.5;
      color: $color-page-text-second;
    }

    .geometric-figure {
      display: none;
    }

    .btn-primary.btn-arrow {
      width: 230px;
      margin: 30px 0 50px;
    }
  }
}

@media (min-width: 576px) {
  .product-design__dajemy {
    .services__header, &-text, &-image {
      padding-left: 75px;
      padding-right: 75px;
    }

    .custom-carousel__dots {
      display: flex;
    }

    .btn-bordered {
      margin-left: 75px;
    }

    &-link {
      position: relative;
      padding: 0 75px 20px 250px;

      .geometric-figure {
        display: flex;
        top: 15px;
        left: 75px;

        &_center, &_right::after {
          height: 70px;
          width: 70px;
        }

        &_center {
          border-color: $color-geometric-blue-accent;
        }

        &_right {
          width: 35px;
          height: 70px;

          &::after {
            background-color: $color-geometric-blue;
          }
        }
      }
    }
  }
}

@media (min-width: 811px) {
  .product-design__dajemy {
    position: relative;
    margin: 150px 0 100px;

    .services__header, &-text, &-slider {
      box-sizing: border-box;
      width: 50%
    }

    .services__header, &-text {
      max-width: 500px;
      padding-right: 0;
    }

    .services__header {
      font-size: 1.75em;
      font-weight: 300;
    }

    &-slider {
      position: absolute;
      top: -50px;
      left: 53%;
    }

    &-image {
      width: 500px;
      padding: 0 0 25px;
    }

    &-link {
      display: flex;
      align-items: center;
      height: 80px;
      padding: 0 75px 100px 250px;

      .geometric-figure {
        top: 25%;
        transform: translateY(-50%) rotate(180deg);
        width: 110px;
      }

      &__text {
        padding-right: 75px;
      }

      .btn-primary.btn-arrow {
        width: 160px;
        min-width: 160px;
        margin: 0;
        z-index: 2;
      }
    }
  }
}

@media (min-width: 992px) {
  .product-design__dajemy {
    &-slider {
      top: 50%;
      transform: translateY(-53%);
      padding-right: 50px;
    }

    &-image {
      width: 100%;
    }

    &-link {
      padding-left: 325px;

      &__text {
        max-width: 360px;
        padding-right: 75px;
        font-size: 2.25em;
      }
    }
  }
}

@media (min-width: 1200px) {
  .product-design__dajemy {
    margin-top: 200px;

    .services__header, &-text {
      max-width: 470px;
    }

    &-slider {
      left: 50%;
      padding-right: 75px;
    }

    &-link {
      padding-left: 375px;

      .geometric-figure {
        left: 175px;
      }
    }
  }
}
