.product-design__estimate {
  width: 100%;
  padding-top: 70px;

  &-header {
    padding-bottom: 25px;
    font-size: 24px;
    line-height: 38px;
    color: $color-page-text-second;
  }

  &-paragraph {
    font-size: 18px;
    line-height: 28px;
    color: $color-page-text-second;
  }

  .page-estimate {
    &__content-text {
      padding: 0 20px;
      font-size: 16px;
    }

    &__image, &__image img {
      max-width: 100%;
    }

    &__image {
      box-sizing: border-box;
      padding: 25px 20px 15px;
    }
  }

  .btn-primary.btn-arrow {
    margin-left: 20px;
    padding: 20px 0 20px 15px;
  }
}

@media (min-width: 576px) {
  .product-design__estimate {
    margin-top: 50px;
    padding-bottom: 70px;
    background-color: $color-code-orange-bg;

    &-header {
      padding-bottom: 25px;
      font-size: 36px;
      line-height: 50px;
    }

    &-paragraph {
      font-size: 14px;
      line-height: 24px;
      opacity: 0.7;
    }

    .page-estimate {
      &__content-text, &__image {
        padding-left: 75px;
        padding-right: 75px;
      }

      &__image {
        padding: 50px 75px;
        margin: 0;
        background-color: $color-code-orange-bg;

        img {
          padding-top: 30px;
          background-color: $color-white;
          border-radius: 8px;
        }
      }
    }

    .btn-primary.btn-arrow {
      margin-left: 75px;
    }
  }
}

@media (min-width: 811px) {
  .product-design__estimate {
    margin-top: 70px;
    padding: 75px;

    &-header {
      width: 350px;
    }

    .page-estimate {
      &__content-text {
        padding: 0;
        padding-left: 70px;
      }

      &__image {
        max-width: 370px;
        padding: 0;
      }
    }

    .btn-primary.btn-arrow {
      display: block;
      width: 190px;
      margin: 25px 0 0 70px;
      padding-left: 50px;
    }
  }
}

@media (min-width: 992px) {
  .product-design__estimate {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .product-design__estimate {
    margin-left: -20px;
    margin-right: 20px;
    border-radius: 8px;
  }
}
