.product-design__faq {
  padding-top: 55px;
  padding-bottom: 25px;

  .services__header {
    max-width: 380px;
  }

  .services-faq {
    &__list {
      margin-top: 25px;
    }

    &__item {
      position: relative;
      border-bottom: 2px solid $color-global-font-10;
    }

    &__number {
      position: absolute;
      top: 27px;
      left: 25px;
    }

    &__orange-arrow {
      top: 15px;
    }
  }
}

@media (min-width: 811px) {
  .product-design__faq {
    padding-top: 75px;
    padding-bottom: 60px;

    .services__step {
      margin-bottom: 40px;
    }

    .services-faq {
      &__item {
        display: block;
      }

      &__text {
        padding-top: 25px;
        padding-left: 35px;

        &-list {
          margin: 15px 0;

          li {
            padding-top: 5px;
            padding-bottom: 5px;

            &::before {
              top: 13px;
            }
          }
        }

        &--hidden {
          display: none;
        }
      }

      &__number {
        top: 37px;
        left: 0;
        opacity: 0.3;
      }

      &__header {
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
      }

      &__orange-arrow {
        top: 15px;
      }
    }
  }
}

@media (min-width: 992px) {
  .product-design__faq {
    &-wrapper {
      display: flex;
      flex-direction: row;
    }

    &-intro {
      width: 40%;
    }

    .services-faq__list {
      width: 60%;
    }
  }
}

@media (min-width: 1200px) {
  .product-design__faq-wrapper {
    max-width: 1080px;
    margin: 0 auto;
  }
}
