.product-design__link {
  width: 100%;
  padding: 0 20px 20px;

  &-text {
    max-width: 310px;
    font-size: 1.5em;
    line-height: 1.5;
    color: $color-page-text-second;
  }

  .geometric-figure {
    display: none;
  }

  .btn-primary.btn-arrow {
    width: 230px;
    margin: 30px 0 50px;
  }
}

@media (min-width: 576px) {
  .product-design__link {
    position: relative;
    padding: 0 75px 20px 250px;

    .geometric-figure {
      display: flex;
      top: 15px;
      left: 75px;
      width: 110px;

      &_center, &_right::after {
        height: 70px;
        width: 70px;
      }

      &_right {
        width: 35px;
        height: 70px;
      }

      &--blue {
        transform: rotate(180deg);

        .geometric-figure_center {
          border-color: $color-geometric-blue-accent;
        }

        .geometric-figure_right::after {
          background-color: $color-geometric-blue;
        }
      }
    }
  }
}

@media (min-width: 811px) {
  .product-design__link {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 75px 100px 250px;

    &-text {
      padding-right: 75px;
    }

    .geometric-figure {
      top: 25%;
      transform: translateY(-50%);

      &--blue {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .btn-primary.btn-arrow {
      width: 160px;
      min-width: 160px;
      margin: 0;
      z-index: 2;
    }
  }
}

@media (min-width: 992px) {
  .product-design__link {
    padding-left: 325px;

    &-text {
      max-width: 360px;
      padding-right: 75px;
      font-size: 2.25em;
      font-weight: 200;
    }
  }
}

@media (min-width: 1200px) {
  .product-design__link {
    padding: 10px 75px 115px 375px;

    .geometric-figure {
      left: 175px;
    }
  }
}
