.product-design__workshop {
  position: relative;
  width: 100%;
  padding: 45px 0 70px;

  .product-design__switch {
    &-header {
      padding: 0 20px;
      font-size: 36px;
      line-height: 50px;
      font-weight: 400;
      color: $color-page-text-second;
    }

    &-arrows {
      top: 350px;
      padding: 0 20px;
    }

    &-arrow {
      box-shadow: 7px 7px 20px $color-btn-shadow-brown;
    }

    &-cards {
      width: 300%;
    }

    &-card {
      width: 33.3%;

      &__content {
        padding: 0 20px 30px;
      }

      &__image  {
        margin: 50px 0 40px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      &__text {
        font-size: 16px;
        line-height: 26px;
      }
    }

    &-switcher {
      padding: 0 20px;

      &__number--active {
        width: 25px;
      }

      &__separator {
        left: 29px;
      }
    }
  }
}

@media (min-width: 576px) {
  .product-design__workshop {
    padding: 100px 0 50px;

    .product-design__switch {
      &-header, &-card__content, &-switcher {
        padding: 0 75px;
      }

      &-card {
        &__image {
          margin-left: 75px;
          margin-right: 75px;
          border-radius: 8px;
        }

        &__content {
          padding-bottom: 30px;
        }
      }

      &-arrows {
        top: 430px;
        padding: 0 55px;
      }
    }
  }
}

@media (min-width: 811px) {
  .product-design__workshop {
    padding-bottom: 100px;

    .product-design__switch {
      &-header {
        margin-bottom: 25px;
      }

      &-arrows, &-card__image {
        box-sizing: border-box;
        width: 60%;
        max-width: 60%;
      }

      &-arrows {
        top: 420px;
        left: 40%;
        padding: 0 35px 0 15px;
      }

      &-card {
        display: flex;
        position: relative;
        padding: 0 75px;
        overflow: hidden;

        &__content {
          box-sizing: border-box;
          width: 40%;
          order: 1;
          max-width: 370px;
          padding: 50px 25px 50px 0;
        }

        &__image {
          box-sizing: border-box;
          position: relative;
          order: 2;
          right: -20px;
          width: 60%;
          margin: 0;

          img {
            height: 330px;
            width: auto;
          }
        }
      }

      &-switcher {
        margin-top: 15px;

        &__number--active {
          width: 15px;
          color: $color-secondary;
        }

        &__separator {
          left: 20px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .product-design__workshop {
    padding: 140px 0;

    .product-design__switch {
      &-arrows {
        top: 470px;
        padding-left: 40px;
      }

      &-arrow:hover {
        box-shadow: 7px 7px 20px $color-btn-shadow-brown-hover;
      }

      &-card {
        &__image  {
        margin-left: 60px;

          img {
            height: 350px;
          }
        }

        &__text {
          max-width: 300px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .product-design__workshop .product-design__switch {
    &-wrapper {
      overflow: hidden;
    }

    &-arrows {
      left: 450px;
      min-width: 765px;
      padding: 0 50px;
    }
  }
}
