<div class="portfolio__section portfolio-blog">
  <div class="portfolio__columns">
    <div class="portfolio__columns--left portfolio-blog__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/shopify-customization_-naturaily-amp_-woolman-joint-case-study.png"
        alt="Naturaily CEO"
      />
    </div>
    <div class="portfolio__columns--right portfolio-blog__text">
      <p class="portfolio-blog__text-paragraph">
        Read more about
        <span class="portfolio-blog__text-paragraph--secondary">
          cooperation between Naturaily and our Partner
        </span>
        in a detailed case study blog post
      </p>
      <a class="portfolio-blog__text-link" href="/blog/shopify-customization-joint-case-study">
        Check the details
        <img src="/assets/images/arrow-orange.png" alt="arrow">
      </a>
    </div>
  </div>
</div>
