<div class="portfolio__section portfolio-challenge">
  <span class="portfolio__step">Challenge</span>
  <h2 class="portfolio__title">The challenge</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="paragraph">
        Although Shopify made it easier for many businesses to start with
        online sales, it comes with some limitations for stores in Europe,
        lacking important features such as solutions for simplifying order
        management. In this case, when you need something
        out&#8209;of&#8209;the&#8209;box, like a&nbsp;shipping list generated
        in real&#8209;time - you need a&nbsp;dedicated application for that.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <p class="paragraph">
        Naturaily’s job was to design and create the integrations for our
        e&#8209;commerce partners, double-check that all of the built solutions
        are 100% scalable and secure, ensure that the stores work well will
        integrations and, overall, make them ready to handle the growing
        number of orders with no difficulties.
      </p>
    </div>
  </div>

  <div class="portfolio-challenge__figure">
    figure
  </div>
</div>
