<div class="portfolio__section portfolio-estimate">
  <div class="portfolio__columns">
    <picture class="portfolio__columns--left portfolio-estimate__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/sunny-suler.png"
        alt="Naturaily CEO photo"
      />
    </picture>
    <div class="portfolio__columns--right portfolio-estimate__content">
      <h2 class="portfolio-estimate__content-text portfolio-estimate__content-text--smaller">
        This project is an&nbsp;example of a&nbsp;tailored Shopify customization.
        <span>Do you want to build a&nbsp;similar solution for your business?</span>
      </h2>
      <a
        class="portfolio-estimate__content-button btn btn-primary btn-arrow"
        href="/get-an-estimate"
        type="button"
      >
        Get an estimate
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
    </div>
  </div>
</div>
