<div class="portfolio__section portfolio-goal portfolio-goal--awn">
  <span class="portfolio__step">Goal</span>
  <h2 class="portfolio__title">The goal</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="portfolio__quote">
        <span class="icon-quote"></span>
        The project’s objective was a&nbsp;smooth integration between clients’
        Shopify e&#8209;stores and the existing external systems that were responsible
        for specific e&#8209;commerce sections, such as warehouse management systems,
        loyalty systems, gift cards, product data management systems, etc.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/awn/goal.jpg"
        alt="Naturaily CEO"
      />
    </div>
  </div>
</div>
