<div class="portfolio-hero portfolio-hero--woolman">
  <div class="portfolio-hero__content">
    <div class="portfolio-hero__text">
      <h1>
        <span><strong>Shopify</strong> Integrations</span>
        <span>for Scandinavian </span>
        <span><strong>E-commerce Stores</strong></span>
      </h1>
    </div>
    <div class="portfolio-hero__image">
      <figure class="geometric-figure geometric-figure__secondary">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
      <picture>
        <source
          media="(min-width: 576px)"
          class="portfolio-hero__image-img"
          srcset="/assets/images/portfolio/woolman/top.png"
          alt="Woolman tablet screen"
        >
        <img
          class="portfolio-hero__image-img"
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/woolman/top-mobile.png"
          alt="Woolman mobile screen"
        >
      </picture>
    </div>
  </div>
</div>
