<div class="portfolio__section portfolio-other">
  <div class="portfolio-other__content">
    <figure class="geometric-figure">
      <div class="geometric-figure_center"></div>
      <div class="geometric-figure_right"></div>
    </figure>
    <p class="portfolio-other__text">
      Looking
      <br>
      for other services?
    </p>
    <div class="portfolio-other__links">
      <div class="paragraph">
        <p>Previous</p>
        <a href="/portfolio/work-for-impact">Work&nbsp;for&nbsp;Impact</a>
      </div>
      <div class="paragraph">
        <p>Next</p>
        <a href="/portfolio/lingohub">LingoHub</a>
      </div>
    </div>
  </div>
</div>
