.node-list {
  width: 100%;
  padding: 60px 0 30px;

  .node-step, .node-header {
    padding: 0 20px;
  }

  .node-header {
    margin: 35px 0 50px;
  }

  .services-faq {
    &__list {
      margin-top: 50px;
    }

    &__item {
      position: relative;
      padding: 25px 10px 40px 20px;
      margin: 0;
    }

    &__number {
      position: absolute;
      top: 34px;
      color: $color-page-text-grey;
    }

    &__header {
      margin: 0;
      font-size: 24px;
      line-height: 33px;

      svg {
        fill: $color-secondary;
      }
    }

    &__text {
      color: $color-page-text-second;
      opacity: 0.7;
    }

    &__orange-arrow {
      top: 15px;
    }
  }

  .geometric-figure {
    display: none;
  }
}

@media (min-width: 576px) {
  .node-list {
    .node-step, .node-header, .services-faq__item {
      padding-left: 75px;
      padding-right: 75px;
    }
  }
}

@media (min-width: 811px) {
  .node-list {
    position: relative;
    padding: 90px 0 50px;
    overflow: hidden;

    .node-header {
      max-width: 500px;
      margin: 50px 0;
    }

    .services-faq {
      &__list {
        margin: 0;
        padding: 0 75px;
      }

      &__item {
        padding: 25px 0 60px;
      }

      &__number {
        margin-top: 8px;
      }

      &__header {
        width: 190px;
        min-width: 190px;
        padding-left: 100px;
        padding-right: 40px;
      }

      &__orange-arrow {
        display: none;
      }
    }

    .geometric-figure {
      display: flex;
      top: -170px;
      right: 65px;

      &_center, &_right::after {
        width: 280px;
        height: 280px;
      }

      &_right {
        height: 280px;
        width: 140px;
      }
    }
  }
}

@media (min-width: 992px) {
  .node-list {
    .node-header {
      max-width: 600px;
      padding-left: 120px;
    }

    .services-faq__list {
      padding-left: 225px;
    }
  }
}

@media (min-width: 1200px) {
  .node-list {
    margin: 0;

    &__wrapper {
      max-width: 1280px;
      margin: 0 auto;
    }
  }
}
