.home-hero {
  width: 100%;
  transition: .2s;

  &__wrapper {
    padding-top: 170px;
    padding-bottom: 50px;
    background-color: $color-secondary;
    border-radius: 0 0 54px 0;
  }

  &__image {
    display: none;
  }

  &__header, &__clutch, &__text {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__header {
    max-width: 400px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 200;
    color: $color-white;
  }

  &__clutch {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 25px;
    margin-bottom: 50px;

    &-badge {
      width: 70px;
      margin-right: 10px;
    }

    &-star {
      width: 17px;
    }
  }

  &__text {
    position: relative;
    max-width: 340px;
    font-size: 20px;
    line-height: 50px;
    font-weight: 200;
    color: $color-white;

    &-arrow {
      position: absolute;
      top: 19px;
      right: 20px;
      transition: transform .2s;
      transform: rotate(90deg);
    }
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    max-width: 370px;
    margin-top: 15px;
    margin-left: 12px;

    &-item {
      box-sizing: border-box;
      width: 50%;
      padding: 6px 8px;
      font-size: 16px;
      line-height: 24px;

      &__frame {
        display: inline-block;
        padding: 7px 13px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 200;
        border: 1px solid $color-home-border;
        border-radius: 16px;
        color: $color-white;
      }

      &--design {
        order: 1;
      }
    }
  }
}

.scrolled .home-hero__wrapper {
  padding-top: 120px;
}

@media (min-width: 576px) {
  .home-hero {
    &__wrapper {
      padding-left: 55px;
      padding-right: 55px;
    }

    &__text {
      max-width: 480px;
    }
  }
}

@media (min-width: 811px) {
  .home-hero {
    position: relative;
    top: -1px;

    &__wrapper {
      padding: 50px 0;
    }

    &__header, &__clutch {
      padding-left: 50%;
    }

    &__areas {
      display: flex;
      flex-direction: row;
    }

    &__image {
      display: block;

      &-mask, &-photo {
        display: block;
        position: absolute;
        top: 0;
        left: -100px;
        width: 460px;
      }
    }

    &__header {
      font-size: 38px;
      line-height: 50px;
    }

    &__clutch {
      margin-top: 40px;
      margin-bottom: 150px;
    }

    &__text, &__list {
      width: 50%;
    }

    &__text {
      box-sizing: border-box;
      max-width: 50%;
      padding-left: 75px;
      padding-right: 100px;
      font-size: 24px;
      line-height: 50px;

      &-arrow {
        top: 22px;
        right: 50%;
        transform: translateX(120px);
      }
    }

    &__list {
      margin-top: 0;
    }
  }
}

@media (min-width: 992px) {
  .home-hero, .home-hero__background, .home-hero__wrapper {
    height: 100vh;
    min-height: 900px;
    max-height: 1200px;
  }

  .home-hero {
    margin-bottom: -120px;

    &__background {
      position: absolute;
      top: -190px;
      left: -15%;
      z-index: -1;
      width: 115%;
      margin: 0 auto;
      background-color: $color-secondary;
      border-radius: 0 0 54px;
    }

    &__wrapper {
      position: relative;
      max-width: 1320px;
      margin: 0 auto;
      padding-top: 30px;
      background-color: $color-transparent;
    }

    &__clutch {
      margin-top: 40px;
      margin-bottom: 150px;
    }

    &__list {
      margin-left: -10px;
    }
  }

  .scrolled .home-hero__background {
    top: -140px;
  }
}

@media (min-width: 1200px) {
  .home-hero {
    &__header, &__clutch {
      padding-left: 40%;
    }

    &__header {
      max-width: 670px;
      font-size: 56px;
      line-height: 72px;
    }

    &__image-mask, &__image-photo {
      left: -180px;
    }

    &__text {
      width: 40%;
    }

    &__list {
      width: 60%;
      max-width: 560px;

      &-item {
        width: 33.3%;

        &--design {
          order: unset;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .home-hero__text {
    padding-left: 15px;
  }
}
