.service-hero {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 120px 20px 0;
  text-align: center;

  &--custom-ecommerce {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }

  &__text {
    &-shadow {
      position: absolute;
      top: 75px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      font-size: 6.25em;
      font-weight: 700;
      color: $color-code-orange-bg;
    }

    &-header, &-paragraph {
      position: relative;
      z-index: 1;
      line-height: 1.5;
    }

    &-header {
      margin-bottom: 15px;
      font-size: 1.75em;
      color: $color-page-text-second;
    }

    &-paragraph {
      max-width: 425px;
      margin: 0 auto;
      color: $color-page-text;
    }
  }

  &__link {
    .btn-primary.btn-arrow {
      margin: 50px auto 15px;
    }

    &-text {
      font-size: 0.8em;
      color: $color-page-text-second;
    }

    &--custom-ecommerce {
      order: 3;
    }
  }

  &__image {
    position: absolute;
    z-index: 0;

    &--left {
      display: none;

      &-custom {
        position: relative;
        order: 2;
        width: 105vw;
        margin: 25px -30px -25px;
      }
    }

    &--right {
      top: 60px;
      right: -20px;
      height: 130px;
      width: auto;

      &-custom {
        display: none;
      }
    }
  }
}

@media (min-width: 576px) {
  .service-hero {
    &--custom-ecommerce {
      padding: 120px 75px 25px;
    }

    &__text-header {
      font-size: 2.5em;
      font-weight: 200;
    }

    &__image {
      &--left-custom {
        width: 100%;
        max-width: 500px;
        margin: 50px auto 0;
      }

      &--right {
        top: 40px;
        right: -35px;
        height: 200px;
      }
    }
  }
}

@media (min-width: 811px) {
  .service-hero {
    padding: 150px 75px 50px;
    border-bottom: 1px solid $color-code-grey-bg;

    &__text {
      &-shadow {
        font-size: 8em;
      }

      &-header {
        margin-bottom: 25px;
        font-size: 3em;

        &--custom-ecommerce {
          max-width: 400px;
          margin: 0 auto 25px;
          font-size: 2.25em;
        }
      }
    }

    &__link {
      .btn-primary.btn-arrow {
        display: flex;
        width: 160px;
        margin-top: 100px;
      }
    }

    &__image {
      &--left, &--left-custom {
        height: 35%;
        left: -50px;
      }

      &--left {
        display: block;
        bottom: 0;

        &-custom {
          position: absolute;
          bottom: 25px;
          width: auto;
          margin: 0;
        }
      }

      &--right, &--right-custom {
        top: 0;
        height: 50%;
      }

      &--right {
        right: -40px;

        &-custom {
          display: block;
          right: -50px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .service-hero {
    &--custom-ecommerce {
      padding-bottom: 75px;
    }

    &__text {
      &-shadow {
        top: 50px;
        font-size: 9.5em;
      }

      &-header--custom-ecommerce {
        max-width: 550px;
      }
    }

    &__image {
      &--left, &--left-custom {
        left: 0;
        height: 40%;
      }

      &--right, &--right-custom {
        right: -5px;
        height: 55%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .service-hero {
    &__image {
      &--left, &--left-custom {
        height: 50%;
      }

      &--right, &--right-custom {
        height: 75%;
      }
    }
  }
}

@media (min-width: 1400px) {
  .service-hero__image {
    &--left, &--left-custom {
      height: 55%;
    }

    &--right, &--right-custom {
      height: 85%;
    }
  }
}
