.services-section {
  width: 100%;

  &__image {
    width: 220vw;
    margin: 0 -10px -150px;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 60px 20px 50px;
    margin-right: 5px;
    border-radius: 8px;
    background-color: $color-code-orange-bg;

    &--light {
      background-color: $color-code-bg;
    }

    &--grey {
      background-color: $color-code-grey-bg;
    }
  }

  &__header, &__text, &__side {
    line-height: 1.5;
  }

  &__header, &__text {
    color: $color-page-text-second;
  }

  &__text {
    margin-top: 25px;
    font-size: 1.2em;

    &--secondary {
      color: $color-secondary;
    }

    &--small {
      display: block;
      margin-top: 25px;
      font-size: 0.85em;
    }
  }

  &__side-text {
    padding: 50px 20px 25px;
    color: $color-page-text;

    &__quote {
      position: relative;
      z-index: 1;
      padding-left: 50px;
      margin: 50px 0 25px;
      font-size: 1.5em;

      &--secondary {
        color: $color-secondary;
      }

      .icon {
        position: absolute;
        top: -25px;
        left: 0;
        z-index: 0;
        color: $color-accent-yellow;
        opacity: 0.1;
      }
    }

    .btn-white {
      margin-top: 15px;
    }

    .services-testimonial__quote-credits {
      margin-top: 0;

      &__person {
        padding: 0 0 0 30px;
      }
    }
  }
}

@media (min-width: 576px) {
  .services-section {
    width: 100%;

    &__image {
      width: 150vw;
    }

    &__content {
      margin: 0 75px 0 25px;
      padding: 75px 50px 50px;
    }

    &__side-text {
      padding: 50px 125px 50px 75px;
    }
  }
}

@media (min-width: 811px) {
  .services-section {
    position: relative;
    padding: 0;
    margin-bottom: 25px;

    &__image {
      width: auto;
      height: 350px;
      margin-bottom: -250px;
    }

    &__content, &__side {
      box-sizing: border-box;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      padding: 75px 50px;
    }

    &__header {
      font-size: 3em;
    }

    &__text {
      margin-top: 50px;
      font-size: 1.6em;

      &--small {
        font-size: 0.65em;
      }

      &--iot-development, &--ecommerce-storefront {
        margin-top: 65px;
      }

      &--iot-consulting {
        margin-top: 135px;
      }

      &--ecommerce-shopify {
        margin-top: 150px;
      }
    }

    &__side {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      margin-left: 25px;
      padding-top: 350px;

      &-text {
        padding: 75px;

        &__quote {
          padding: 0;
          font-size: 1.2em;

          .icon {
            left: -25px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .services-section {
    padding-top: 25px;

    &__text--ecommerce-storefront {
      margin-top: 35px;
    }

    &__side-text__quote {
      margin-top: 35px;
      padding-left: 50px;

      .icon {
        left: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .services-section__text {
    &--iot-development {
      margin-top: 105px;
    }

    &--ecommerce-shopify {
      margin-top: 120px;
    }
  }
}

@media (min-width: 1400px) {
  .services-section {
    padding-top: 50px;

    &__image {
      height: auto;
      width: calc(100% + 100px);
      margin: 0 0 -250px -50px;
      border-radius: 8px;
    }

    &__content {
      margin-left: -25px;
      padding: 100px;
    }

    &__side {
      padding-top: 425px;

      &-text {
        padding: 85px 100px;
      }
    }
  }
}
