.services-section {
  width: 100%;
  padding-top: 35px;

  &--less-space {
    margin-top: -25px;
    padding-top: 0;
  }

  &__image {
    width: 220vw;
    margin: 0 -10px -150px;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 60px 20px 50px;
    margin-right: 5px;
    border-radius: 8px;
    background-color: $color-code-orange-bg;

    &--light {
      background-color: $color-code-bg;
    }
  }

  &__header, &__text, &__side {
    line-height: 1.5;
  }

  &__header, &__text {
    color: $color-page-text-second;
  }

  &__text {
    margin-top: 25px;
    font-size: 1.2em;

    &--secondary {
      color: $color-secondary;
    }

    &--small {
      display: block;
      margin-top: 25px;
      font-size: 0.85em;
    }
  }

  &__side {
    padding: 50px 20px 25px;
    color: $color-page-text;

    &--with-quote {
      padding-bottom: 0;
    }

    &-quote {
      position: relative;
      z-index: 1;
      padding-left: 50px;
      margin: 50px 0 25px;
      font-size: 1.5em;

      &--secondary {
        color: $color-secondary;
      }

      .icon {
        position: absolute;
        top: -25px;
        left: 0;
        z-index: 0;
        color: $color-accent-yellow;
        opacity: 0.1;
      }
    }

    .btn-white {
      margin-top: 15px;
    }

    .services-testimonial__quote-credits {
      margin-top: 0;

      &__person {
        padding: 0 0 0 30px;
      }
    }
  }
}

@media (min-width: 576px) {
  .services-section {
    width: 100%;
    padding-top: 75px;

    &--less-space {
      padding-top: 0;
    }

    &__image {
      width: 150vw;
    }

    &__content {
      margin: 0 75px 0 25px;
      padding: 75px 50px 50px;
    }

    &__side {
      padding: 50px 125px 50px 75px;

      &--with-quote {
        padding-bottom: 0;
      }
    }
  }
}

@media (min-width: 811px) {
  .services-section {
    position: relative;
    padding: 0;
    margin-bottom: 25px;

    &--less-space {
      margin-top: 0;
    }

    &__image {
      width: auto;
      height: 350px;
      margin-bottom: -250px;
    }

    &__content, &__side {
      box-sizing: border-box;
    }

    &__content {
      width: 50%;
    }

    &__header {
      font-size: 3em;
    }

    &__text {
      font-size: 1.6em;

      &--small {
        font-size: 0.65em;
      }

      &--more-space {
        margin-top: 75px;
      }

      &--huge-space {
        margin-top: 125px;
        margin-bottom: 50px;
      }
    }

    &__side {
      position: absolute;
      top: 340px;
      left: calc(50% + 25px);
      width: calc(50% - 25px);
      padding: 75px;

      &--more-space {
        top: 360px;
      }

      &-quote {
        padding: 0;
        font-size: 1.2em;

        .icon {
          left: -25px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .services-section {
    padding-top: 25px;

    &__content {
      padding-bottom: 75px;
    }

    &__text--huge-space {
      margin-bottom: 25px;
    }

    &__side-quote {
      margin-top: 65px;
      padding-left: 50px;

      .icon {
        left: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .services-section{
    &__text--huge-space {
      margin-top: 140px;
    }

    &__side--more-space {
      top: 340px;
    }
  }
}

@media (min-width: 1400px) {
  .services-section {
    padding-top: 50px;

    &__image {
      height: auto;
      width: calc(100% + 100px);
      margin: 0 0 -250px -50px;
      border-radius: 8px;
    }

    &__content {
      margin-left: -25px;
      padding: 100px 100px 125px;
    }

    &__side {
      top: 450px;

      &--more-space {
        top: 405px;
      }
    }
  }
}
