.services {
  &__step {
    margin-bottom: 25px;
    font-size: 0.8em;
    color: $color-secondary;
  }

  &__header, &__header strong {
    font-weight: 300;
  }

  &__header {
    font-size: 2.25em;
    line-height: 1.5;
    color: $color-portfolio-text-second;

    strong {
      opacity: 0.7;
    }
  }

  &__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 190px;
    padding: 15px;
    color: $color-secondary;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 30px;
    border: 2px solid $color-secondary;
    transition: all 0.2s ease-in-out;

    &-arrow {
      height: 11px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
