.cloud-adoption__hero {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 120px 0 50px;
  text-align: center;

  &-shadow {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    font-size: 6.25em;
    font-weight: 700;
    color: $color-code-orange-bg;
  }

  &-header, &-paragraph, &-link .btn-primary.btn-arrow {
    position: relative;
    margin: 0 auto;
    z-index: 1;
  }

  &-header, &-paragraph {
    max-width: 260px;
  }

  &-header {
    padding: 0 30px;
    font-size: 1.75em;
    line-height: 1.4;
    color: $color-global-font;
  }

  &-paragraph {
    padding: 10px 30px 25px;
    line-height: 1.8;
    color: $color-page-text;
  }

  &-link .btn-primary.btn-arrow {
    width: 210px;
    padding: 18px 0 18px 20px;
  }
}

@media (min-width: 576px) {
  .cloud-adoption__hero {
    &-shadow {
      top: 85px;
      width: 730px;
    }

    &-header {
      max-width: 100%;
      font-size: 2.25em;
      font-weight: 200;
    }
  }
}

@media (min-width: 811px) {
  .cloud-adoption__hero {
    padding: 150px 0 50px;

    &-shadow {
      top: 70px;
      width: 1300px;
      font-size: 11em;
    }

    &-header {
      font-size: 2.25em;
    }

    &-paragraph {
      padding: 25px 0 60px;
      line-height: 1.5;
      opacity: 0.7;
      color: $color-global-font;
    }

    &-link .btn-primary.btn-arrow {
      display: flex;
      width: 160px;
      padding-left: 40px;
      padding-right: 20px;
    }
  }
}
