.cloud-adoption__optimization {
  width: 100vw;
  margin: 75px 0 30px;
  padding: 80px 30px 60px;
  background-color: $color-code-grey-bg;

  &-image {
    display: none;
  }

  &-text__paragraph, &-box__text {
    font-size: 1.6em;
    line-height: 1.6;
    color: $color-page-text-second;
  }

  &-text__header {
    padding: 45px 0 60px;
    font-size: 3em;
    line-height: 1.3;
    font-weight: 200;
    color: $color-page-text-second;
  }

  &-box {
    padding-top: 15px;
  }

  .geometric-figure {
    display: none;
  }
}

@media (min-width: 576px) {
  .cloud-adoption__optimization {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media (min-width: 811px) {
  .cloud-adoption__optimization {
    position: relative;
    margin-bottom: 0;
    padding: 50px 0;
    overflow: hidden;

    &-text, &-box {
      box-sizing: border-box;
      width: 50%;
    }

    &-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
    }

    &-text {
      padding-left: 75px;

      &__paragraph {
        max-width: 379px;
        font-size: 1em;
        color: $color-page-text;
      }
    }

    &-box {
      position: relative;
      right: -50px;
      z-index: 2;
      padding: 75px 100px 200px  75px;
      overflow: hidden;
      background-color: $color-white;
      border-radius: 8px;

      &__text {
        z-index: 3;

        &--secondary {
          color: $color-secondary;
        }
      }

      .geometric-figure {
        display: flex;
        position: absolute;
        bottom: -40px;
        left: 50px;
        right: auto;
        transform: rotate(180deg);

        &_center, &_right::after {
          height: 170px;
          width: 170px;
        }

        &_center {
          border-color: $color-geometric-blue-accent;
        }

        &_right {
          height: 170px;
          width: 85px;

          &::after {
            background-color: $color-geometric-blue;
          }
        }
      }
    }

    &-image {
      display: block;
      position: absolute;
      top: -50px;
      right: -185px;
      z-index: 1;

      img {
        width: 460px;
      }
    }
  }
}

@media (min-width: 992px) {
  .cloud-adoption__optimization {
    &-text {
      padding: 50px 0 50px 75px;
    }

    &-box {
      right: 75px;
      padding: 130px 70px 270px 100px;
      margin-left: 125px;
    }

    &-image {
      right: -80px;
    }

    .geometric-figure {
      left: 85px;
    }
  }
}

@media (min-width: 1200px) {
  .cloud-adoption__optimization {
    &-content {
      max-width: 1280px;
      margin: 0 auto;
    }

    &-box {
      margin-left: 100px;

      .geometric-figure {
        bottom: -20px;
      }
    }

    &-image, &-image img {
      width: 480px;
    }

    &-image {
      right: -100px;
    }
  }
}

@media (min-width: 1400px) {
  .cloud-adoption__optimization-image {
    right: -160px;
  }
}
