.cloud-adoption__quote {
  padding-left: 50px;
  padding-right: 30px;

  &--consulting {
    padding-bottom: 120px;
  }

  &--optimization {
    padding-top: 25px;
    padding-bottom: 75px;
  }

  &--migration {
    padding-bottom: 65px;
  }

  &-text {
    position: relative;
    font-size: 1.5em;
    line-height: 1.4;
    color: $color-page-text;

    .icon {
      position: absolute;
      top: -20px;
      left: -18px;
      font-size: 2.6em;
      color: $color-accent-yellow;
      opacity: 0.1;
    }

    &--secondary {
      color: $color-secondary;
    }
  }

  &-credits {
    margin-top: 25px;
    padding-left: 10px;

    &__person, &__position {
      font-size: 0.9em;
      line-height: 1.7em;
      color: $color-global-font;
    }

    &__person {
      position: relative;
      font-weight: 500;

      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: -25px;
        width: 8px;
        height: 8px;
        background-color: $color-accent-yellow;
        border-radius: 100%;
      }
    }

    &__position {
      opacity: 0.5;
    }
  }
}

@media (min-width: 576px) {
  .cloud-adoption__quote {
    padding-left: 75px;
    padding-right: 75px;

    &-credits {
      margin-top: 35px;
    }
  }
}

@media (min-width: 811px) {
  .cloud-adoption__quote {
    padding-top: 75px;
    padding-left: 130px;
    padding-right: 75px;

    &--consulting, &--migration {
      padding-bottom: 100px;
    }

    &-text {
      &--secondary {
        color: $color-secondary;
      }

      .icon {
        left: -50px;
      }
    }

    &-credits {
      padding-left: 25px;
    }
  }
}

@media (min-width: 992px) {
  .cloud-adoption__quote {
    padding-left: 190px;
  }
}

@media (min-width: 1200px) {
  .cloud-adoption__quote {
    padding-left: 225px;
    padding-right: 210px;

    &--consulting {
      padding-left: 270px;
      padding-right: 150px;
    }
  }
}
