.cloud-adoption__section {
  width: 100%;

  &-image {
    width: auto;
    height: 350px;
    transform: translateX(-300px);
    margin-bottom: -290px;
  }

  &-content {
    position: relative;
    z-index: 2;
    margin-left: 15px;
    padding: 40px 10px 40px 15px;
    background-color: $color-light-orange-bg;
    border-radius: 8px 0 0 8px;
  }

  &-header {
    font-size: 2.25em;
    line-height: 1.4;
    color: $color-page-text-second;
  }

  &-text {
    margin-top: 75px;
    font-size: 1.1em;
    line-height: 1.6;

    &--smaller {
      display: none;
    }
  }

  &-side {
    &__text, &__list {
      padding: 30px;
      line-height: 1.8;
      color: $color-page-text;
    }

    &__text {
      padding-right: 0;

      &--mobile {
        display: block;
        padding-bottom: 30px;
      }
    }

    &__list {
      margin-top: -15px;
      padding-top: 0;
      padding-left: 70px;

      li {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 13px;
          left: -40px;
          width: 6px;
          height: 6px;
          background-color: $color-secondary;
          border-radius: 100%;
        }
      }
    }
  }

  &-description {
    &__wrapper {
      position: relative;
      padding: 25px 30px 25px 30px;
    }

    &__header {
      margin-bottom: 15px;
      font-size: 1.75em;
      line-height: 1.8;
      font-weight: 400;
      color: $color-page-text-second;
    }

    &__text {
      font-size: 1em;
      line-height: 1.8;
      color: $color-page-text;
    }

    .services__dot {
      &--secondary {
        display: none;
      }

      &--yellow {
        bottom: 40px;
        right: 5px;
      }

      &--blue {
        top: 130px;
        left: 220px;
      }
    }
  }
}

@media (min-width: 576px) {
  .cloud-adoption__section {
    &-image {
      margin-bottom: -230px;
    }

    &-content {
      padding: 50px;
      margin: 0 25px;
      border-radius: 8px;
    }

    &-side {
      &__text {
        padding-left: 75px;
        padding-right: 75px;
      }

      &__list {
        padding-left: 120px;
      }
    }

    &-description {
      &__wrapper {
        padding: 75px 75px 50px;
      }

      .services__dot {
        &--yellow {
          bottom: -10px;
          right: 100px
        }

        &--blue {
          top: 25px;
          left: 60%;
        }
      }
    }
  }
}

@media (min-width: 811px) {
  .cloud-adoption__section {
    position: relative;
    height: 100%;

    &-wrapper {
      display: flex;
      flex-direction: row;
      height: 100%;
    }

    &-image {
      display: block;
      width: 1600px;
      height: auto;
      margin: 0 auto -300px;
      transform: none;
      border-radius: 8px;
    }

    &-content, &-side {
      box-sizing: border-box;
      width: 50%;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 75px 50px;
    }

    &-header {
      font-size: 3em;
    }

    &-text {
      font-size: 1.6em;
      font-weight: 300;
    }

    &-side {
      &__text {
        padding: 340px 50px 0;
      }

      &__list {
        margin-top: 15px;
        padding-bottom: 0;
      }
    }

    &-description {
      &__wrapper {
        box-sizing: border-box;
        position: relative;
        width: 50%;
        padding-right: 0;
        padding-bottom: 20px;
      }

      &__header {
        margin-bottom: 25px;
      }

      .services__dot {
        &--secondary {
          display: block;
          top: 80px;
          left: 20px;
        }

        &--yellow {
          bottom: -240px;
          right: 230px;
        }

        &--blue {
          top: 25px;
          left: 93%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .cloud-adoption__section {
    &-description {
      &__wrapper {
        padding: 170px 0 30px 75px;
      }

      &__text {
        padding-right: 50px;
        max-width: 500px;
      }

      .services__dot--yellow {
        bottom: -215px;
        left: 84%;
        right: auto;
      }
    }

    &-text--smaller {
      display: block;
      max-width: 450px;
      padding-top: 40px;
      font-size: 0.6em;
    }

    &-side__text--mobile {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .cloud-adoption__section {
    &-wrapper, &-description {
      position: relative;
      max-width: 1280px;
      margin: 0 auto;
    }

    &-content {
      margin-left: -15px;
      padding: 80px 80px 70px 90px;
    }

    &-side {
      &__text {
        padding: 340px 90px 0;
      }

      &__list {
        padding-left: 200px;
      }
    }
  }
}

@media (min-width: 1400px) {
  .cloud-adoption__section {
    &-content {
      padding: 80px 80px 110px 90px;
    }

    &-side__text {
      padding: 390px 40px 0 160px;
    }
  }
}
