.cloud-adoption__carousel {
  position: relative;
  width: 100%;

  &-header {
    padding: 40px 30px;
    font-size: 2.25em;
    line-height: 1.4;
    font-weight: 300;
    color: $color-page-text-second;

    &--small {
      font-size: 1.75em;
      line-height: 1.8;
    }
  }

  &-wrapper {
    position: relative;
    width: 100vw;

    &::after {
      content: "";
      position: absolute;
      top: 126px;
      width: 100%;
      height: 1px;
      background-color: $color-global-font-10;
    }
  }

  &-content {
    padding-left: 10px;

    &__header, &__text {
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.7;
      color: $color-page-text-second;
    }

    &__header {
      margin-top: 75px;
      margin-bottom: 25px;
    }
  }

  &-tabs {
    display: flex;
    position: relative;
    width: 210vw;

    .icon {
      font-size: 3.75em;
      color: $color-secondary;
    }

    img {
      height: 60px;
    }
  }

  &-bar {
    position: absolute;
    top: 125px;
    width: 33.3%;
    height: 3px;
    background-color: $color-secondary;
  }

  .custom-carousel__tabs-tab {
    padding: 30px 20px;

    &--inactive {
      opacity: 0.5;
    }
  }

  .services__dot {
    &--consulting.services__dot--secondary,
    &--post-migration.services__dot--secondary,
    &--optimization {
      display: none;
    }

    &--consulting {
      &.services__dot--yellow {
        top: 100px;
        right: 10px;
      }

      &.services__dot--blue {
        top: 190px;
        right: 120px;
      }
    }

    &--post-migration {
      &.services__dot--yellow {
        top: 25px;
        right: 50px;
      }

      &.services__dot--blue {
        top: 250px;
        right: 170px;
      }
    }
  }
}

@media (min-width: 576px) {
  .cloud-adoption__carousel {
    &-header {
      max-width: 500px;
      padding: 40px 75px;
    }

    &-wrapper {
      box-sizing: border-box;
      padding: 0 50px;

      &::after {
        left: 0;
      }
    }

    &-tabs {
      box-sizing: border-box;
      width: 100%;
      left: 0;
    }

    &-content__text {
      font-size: 1em;
    }

    &-bar {
      display: none;
    }

    .custom-carousel__tabs-tab {
      width: 33.3%;

      &--inactive {
        opacity: 1;
      }
    }

    .services__dot {
      &--consulting, &--post-migration {
        &.services__dot--yellow {
          top: 0;
          right: 100px;
        }

        &.services__dot--blue {
          top: 150px;
          right: 250px;
        }
      }
    }
  }
}

@media (min-width: 811px) {
  .cloud-adoption__carousel {
    padding-top: 30px;

    &-header {
      padding-bottom: 20px;
      font-size: 1.75em;
      font-weight: 400;
    }

    .services__dot--optimization {
      display: block;
    }

    .services__dot {
      &--consulting, &--post-migration, &--optimization {
        &.services__dot--secondary {
          display: block;
          top: 130px;
          left: 400px;
        }

        &.services__dot--yellow {
          top: 320px;
          right: auto;
          left: 15px;
        }

        &.services__dot--blue {
          top: 470px;
          right: 33%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .cloud-adoption__carousel {
    padding-top: 75px;

    &-header {
      width: 270px;
      padding: 25px;
      margin-bottom: -110px;
    }

    &-wrapper {
      width: auto;
      margin: 0 30px;
      padding-left: 270px;
      padding-right: 0;

      &::after {
        top: 120px;
      }
    }

    &-content__text {
      max-width: 170px;
      font-size: 1.1em;
    }

    .custom-carousel__tabs-tab {
      padding-top: 20px;
    }

    .services__dot {
      &--consulting, &--post-migration, &--optimization {
        &.services__dot--secondary {
          top: 170px;
          left: 280px;
        }

        &.services__dot--yellow {
          top: 280px;
        }

        &.services__dot--blue {
          top: 350px;
          right: 28%;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .cloud-adoption__carousel {
    &-wrapper {
      max-width: 1180px;
      padding-left: 330px;
    }

    .services__dot {
      &--consulting, &--post-migration, &--optimization {
        &.services__dot--secondary {
          left: 320px;
        }

        &.services__dot--blue {
          left: 830px;
          right: auto;
        }
      }
    }

    &--migration .cloud-adoption__carousel {
      &-wrapper, &-header {
        margin-left: 60px;
      }
    }
  }
}

@media (min-width: 1400px) {
  .cloud-adoption__carousel {
    max-width: 1300px;
    margin: 0 auto;

    &-header {
      padding-left: 0;
    }

    &-wrapper {
      margin-left: 0;
    }

    .services__dot {
      &--consulting, &--post-migration, &--optimization {
        &.services__dot--secondary {
          top: 170px;
          left: 300px;
        }

        &.services__dot----yellow {
          top: 300px;
          left: -50px;
        }

        &.services__dot----blue {
          top: 380px;
          left: 790px;
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .cloud-adoption__carousel .services__dot {
    &--consulting, &--post-migration, &--optimization {
      &.services__dot--yellow {
        left: -120px;
      }
    }
  }
}
