.cloud-adoption__carousel {
  position: relative;
  width: 100%;

  &-header {
    padding: 40px 30px;
    font-size: 2.25em;
    line-height: 1.4;
    font-weight: 300;
    color: $color-page-text-second;
  }

  &-wrapper {
    position: relative;
    width: 100vw;

    &::after {
      content: "";
      position: absolute;
      top: 126px;
      width: 100%;
      height: 1px;
      background-color: $color-global-font-10;
    }
  }

  &-content {
    padding-left: 10px;

    &__header, &__text {
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.7;
      color: $color-page-text-second;
    }

    &__header {
      margin-top: 75px;
      margin-bottom: 25px;
    }
  }

  &-tabs {
    display: flex;
    position: relative;
    width: 210vw;

    .icon {
      font-size: 3.75em;
      color: $color-secondary;
    }
  }

  &-bar {
    position: absolute;
    top: 125px;
    width: 33.3%;
    height: 3px;
    background-color: $color-secondary;
  }

  .custom-carousel__tabs-tab {
    padding: 30px 20px;

    &--inactive {
      opacity: 0.5;
    }
  }

  .services__dot {
    &--secondary {
      display: none;
    }

    &--yellow, &--blue {
      display: block;
    }

    &--yellow {
      top: 100px;
      right: 10px;
    }

    &--blue {
      top: 190px;
      right: 120px;
    }
  }
}

@media (min-width: 576px) {
  .cloud-adoption__carousel {
    &-header {
      max-width: 500px;
      padding: 40px 75px;
    }

    &-wrapper {
      box-sizing: border-box;
      padding: 0 50px;

      &::after {
        left: 0;
      }
    }

    &-tabs {
      box-sizing: border-box;
      width: 100%;
      left: 0;
    }

    &-content__text {
      font-size: 1em;
    }

    &-bar {
      display: none;
    }

    .custom-carousel__tabs-tab {
      width: 33.3%;

      &--inactive {
        opacity: 1;
      }
    }

    .services__dot {
      &--yellow {
        top: 0;
        right: 100px;
      }

      &--blue {
        top: 150px;
        right: 250px;
      }
    }
  }
}

@media (min-width: 811px) {
  .cloud-adoption__carousel {
    padding-top: 30px;

    .services__dot {
      &--secondary {
        display: block;
        top: 180px;
        left: 400px;
      }

      &--yellow {
        top: 370px;
        right: auto;
        left: 15px;
      }

      &--blue {
        top: 520px;
        right: 33%;
      }
    }
  }
}

@media (min-width: 992px) {
  .cloud-adoption__carousel {
    padding-top: 75px;

    &-header {
      width: 270px;
      padding: 25px;
      margin-bottom: -110px;
      font-size: 1.75em;
      font-weight: 400;
    }

    &-wrapper {
      width: auto;
      margin: 0 30px;
      padding-left: 270px;
      padding-right: 0;

      &::after {
        top: 120px;
      }
    }

    &-content__text {
      max-width: 170px;
      font-size: 1.1em;
    }

    .custom-carousel__tabs-tab {
      padding-top: 20px;
    }

    .services__dot {
      &--secondary {
        top: 170px;
        left: 280px;
      }

      &--yellow {
        top: 280px;
      }

      &--blue {
        top: 350px;
        right: 28%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .cloud-adoption__carousel {
    &-wrapper {
      max-width: 1130px;
      padding-left: 330px;
    }

    .services__dot {
      &--secondary {
        left: 330px;
      }

      &--blue {
        left: 820px;
        right: auto;
      }
    }
  }
}

@media (min-width: 1400px) {
  .cloud-adoption__carousel {
    max-width: 1300px;
    margin: 0 auto;

    &-header {
      padding-left: 0;
    }

    &-wrapper {
      margin-left: 0;
    }

    .services__dot {
      &--secondary {
        left: 260px;
      }

      &--yellow {
        left: -50px;
      }

      &--blue {
        left: 790px;
      }
    }
  }
}

@media (min-width: 1600px) {
  .cloud-adoption__carousel .services__dot--yellow {
    left: -120px;
  }
}
