<section class="section about">
  <div class="section_content">

    <p class="paragraph about_top">
      {{page.who_we_are}}
    </p>
    <div class="about_mid">
      <p class="paragraph about_left">
        {{page.about_left}}
      </p>
      <p class="paragraph about_right">
        {{page.about_right}}
      </p>
    </div>
    <img class="image about_image" src="/assets/images/career-image-4.jpg" alt="">
  </div>
</section>

<!-- {{page.who_we_are}} -->
<a href="#" class="text-secondary"></a>
