<section class="section about">
  <div class="section_content">

    <div class="paragraph about_top">
      {{page.who-we-are | markdownify}}
    </div>
    <div class="about_mid">
      <div class="paragraph about_left">
        {{page.about-left | markdownify}}
      </div>
      <div class="paragraph about_right">
        {{page.about-right | markdownify}}
      </div>
    </div>
    {% if !page.about-image.empty %}
      <img class="image about_image" src="/assets/images/loader.gif" data-src="{{page.about-image}}" alt="career">
    {% else %}
      <picture>
        <source media="(min-width: 541px)" class="services-testimonials_image" srcset="/assets/images/careers_main_photo.webp" alt="office photo">
        <img class="image about_image" src="/assets/images/careers_main_photo_small.webp" alt="office photo">
      </picture>
    {% endif %}
  </div>
</section>

<!-- {{page.who_we_are}} -->
<a href="#" class="text-secondary"></a>
