<section class="section about">
  <div class="section_content">

    <p class="paragraph about_top">
      Naturaily is a Poland-based tech company with over 12 years of experience in web development, using proven technologies such as <a href="#" class="text-secondary">Ruby on Rails</a> and revelations like <a href="#" class="text-secondary">Vue.js</a>, <a href="#" class="text-secondary">React.js</a>, <a href="#" class="text-secondary">Node.js</a>, and <a href="#" class="text-secondary">many more</a>.
    </p>
    <div class="about_mid">
      <p class="paragraph about_left">
        Being a member of Naturaily team offers you  the opportunity to be a part
        of something bigger. <strong>We are a team of Our key areas of expertise
        are Internet of Things, Industry 4.0, Machine Learning, SaaS,
        smart power grids, and e-commerce.</strong>
      </p>
      <p class="paragraph about_right">
        We provide the following services: <strong>Software development, Web development, Product Design, UX / UI Design</strong> as well as <strong>Shopify development</strong>.
        who attach great importance to work ethics and a high quality of the code.
      </p>
    </div>
    <img class="image about_image" src="/assets/images/career-image-4.jpg" alt="">
  </div>
</section>

<!-- {{page.who_we_are}} -->
<a href="#" class="text-secondary"></a>
