<section id="jobForm" class="section form">
  <div class="section_heading">
    <h2>Send us <span class="text-greyed-out">your CV</span></h2>
  </div>
  <script type="text/javascript" src="https://form.jotformeu.com/jsform/92513454424353?jobType={{page.title}}"></script>
  <script type="text/javascript">
    document
      .getElementById('scrollToForm')
      .addEventListener('click', (e) => {
        e.preventDefault();
        const hash = e.target.hash;
        const target = document.querySelector(hash);

        window.scrollTo({
          top: target.offsetTop,
          behavior: "smooth"
        });
      })
  </script>
  <a href="/gdpr" class="form-gdpr">
    Check out information related to the processing of personal data
  </a>
</section>
