<section class="section extra-narrow more">
  <div class="section_content">
    <h3></h3>

    <div class="more_boxes">
      <div class="more_boxes-box more_boxes-box-left">
        <img class="image" src="" alt="">
        <p class="paragraph has-dot">Being resilient means a lot to us!</p>
        <p class="paragraph">
          Our company is scaling rapidly on a daily basis. Therefore, we need to see you are comfortable with the pace of changes we are going through and excited about new challenges and opportunities ahead of us.
        </p>
      </div>

      <div class="more_boxes-box more_boxes-box-right">
        <img class="image" src="" alt="">
        <p class="paragraph has-dot">We appreciate your thirst for knowledge</p>
        <p class="paragraph">
          The company and its employees are subject to a constant learning process. The awareness of how much there is still for you to learn is of great value both to the team and the entire company.
        </p>
      </div>
    </div>
  </div>
</section>
