<section class="section extra-narrow perks">
  <div class="section_heading">
    <h2>Working at <span class="text-greyed-out">Naturaily</span> is a great idea because</h2>
  </div>
  <div class="section_content">
    {% if page.offers %}
      <div class="perks_list">
        {% for offer in page.offers %}
          <div class="perks_list-item">
            <span class="icon icon-{{ offer.offer.offer-icon }} text-primary"></span>
            <p class="paragraph"><strong>{{ offer.offer.offer-title }}</strong></p>
            <p class="paragraph">{{ offer.offer.offer-content }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
