<section class="section extra-narrow position">
  <div class="section_desc">
    <div class="section_name">
      Job offer
    </div>

    <div class="position_job-title">
      <h2 class="section_heading">{{page.title}}</h2>
      <a id="scrollToForm" href="#jobsForm" type="button" class="btn btn-primary">
        apply
        <img src="/assets/images/btn-arrow.png" alt="arrow">
      </a>
    </div>
  </div>
  <div class="section_content">
    <p class="position_salary">
      {% for req in page.salary-range %}
        <span class="cash">
          {{ req }}
          <!-- <small class="cash-currency"> PLN net</small> -->
        </span>
        </p>
      {% endfor %}
    </p>
    <span class="position_location">
      {{page.location}}
    </span>
  </div>
</section>
