<section class="section extra-narrow skills">
  <div class="section_content">
    {% if page.responsibilities %}
      <div class="skills_list">
        <h3>What we <span class="text-greyed-out">expect from you</span> is</h3>
        <ul class="list">
          {% for responsibilitie in page.responsibilities %}
            <li class="skills_list-item">{{ responsibilitie.responsibilitie.contents }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

    {% if page.requirements %}
      <div class="skills_list">
        <h3>What you can <span class="text-greyed-out">expect from us</span> is</h3>
        <ul class="list">
          {% for requirement in page.requirements %}
            <li class="skills_list-item">{{ requirement.requirement.contents }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if page.nicehaves %}
      <div class="skills_list">
        <h3>We need <span class="text-greyed-out">you to be</span></h3>
        <ul class="list">
          {% for nicehave in page.nicehaves %}
            <li class="skills_list-item">{{ nicehave.nicehave.contents }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</section>
