<section class="section extra-narrow skills">
  <div class="section_content">
    {% if page.responsibilities %}
      <div class="skills_list">
        <h3>You can <span class="text-greyed-out">count on it</span>. Your tasks will include</h3>
        <ul class="list">
          {% for req in page.responsibilities %}
          <li class="skills_list-item">{{ req }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

    {% if page.requirements %}
      <div class="skills_list">
        <h3>Must have - <span class="text-greyed-out">we need the following skills</span>:</h3>
        <ul class="list">
          {% for req in page.requirements %}
          <li class="skills_list-item">{{ req }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if page.nicehave %}
      <div class="skills_list">
        <h3>Desirable skills that <span class="text-greyed-out">will make you stand out</span>:</h3>
        <ul class="list">
          {% for req in page.nicehave %}
          <li class="skills_list-item">{{ req }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</section>
