<section class="section video">
  <div class="section_desc">
    <h2 class="section_heading">Lorem ipsum <span class="text-primary">Dolor sit</span></h2>
    <p class="paragraph paragraph-offset">Pizza, vegan sushi, pork chop, or a salad. You choose what you want and eat with others!</p>
  </div>
  <div class="section_content">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/8MrwJM1_kw8"
      srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/8MrwJM1_kw8?autoplay=1><img src=https://img.youtube.com/vi/8MrwJM1_kw8/hqdefault.jpg alt=''><span>▶</span></a>"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      loading="lazy"
    ></iframe>
  </div>
</section>
