.case-companies {
  margin-top: 25px;

  &__wrapper {
    padding: 50px 0 75px;
  }

  &__list-item {
    padding: 0 35px;

    &__content {
      padding-right: 40px;

      .icon {
        color: $color-secondary;
        font-size: 3em;
      }

      .paragraph {
        padding-top: 25px;
        padding-bottom: 0;
        color: $color-page-text-second;
      }
    }
  }

  .case__quote {
    padding: 50px 25px 100px;
    margin-bottom: -100px;

    .icon-quote {
      top: 10px;
      left: 0;
    }
  }
}

@media (min-width: 576px) {
  .case-companies {
    &__list-item {
      position: relative;
      padding: 0 100px;

      &__content {
        padding-right: 0;
        max-width: 300px;
        margin: 0 auto;
      }
    }

    .case__quote {
      padding: 100px 25px;
      margin-bottom: -100px;

      .icon-quote  {
        top: 60px;
      }
    }
  }
}

@media (min-width: 811px) {
  .case-companies {
    padding-top: 50px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      padding: 50px 0;
      margin: 0 -50px;

      &-item {
        box-sizing: border-box;
        width: 50%;
        padding: 25px 50px;
      }
    }

    .case__step {
      margin-top: 50px;
    }

    .case__quote {
      max-width: 750px;
      margin: 0 auto;
      padding: 100px;
      padding-bottom: 0;
      font-size: 1.5em;

      .icon-quote  {
        top: 30px;
        left: 40px;
        font-size: 5em;
      }
    }
  }
}

@media (min-width: 992px) {
  .case-companies__list-item {
    width: 25%;
  }
}
