<div class="l-career-form">
  <h2 class="text-center">Join Naturaily!</h2>
  <div class="pipedriveWebForms pipedrive-form">
    <script type="text/javascript" src="https://form.jotformeu.com/jsform/90922105622348?jobType={{page.title}}"></script>
  </div>
  <img class="form-wave" data-src="/assets/images/form-wave.jpg" alt="">
</div>


<script type="text/javascript">
  window.addEventListener('load', () => {
    $('#scrollToForm').click((e) => {
      e.preventDefault();

      $('body, html').animate({
        scrollTop: $($(e.target).attr('href')).offset().top
      }, 500);
    });
  });
</script>
