<section class="section extra-narrow perks">
  <div class="section_content">
    <h2>Working at <span class="text-greyed-out">Naturaily</span> is a great idea because</h2>
    <div class="perks_list">
      <div class="perks_list-item">
        <span class="icon icon-compass text-primary"></span>
        <p class="paragraph"><strong>{{ req }}</strong></p>
        <p class="paragraph">Benefit from flexible working hours, deep work option from any place and remote work  twice a week</p>
      </div>

      <div class="perks_list-item">
        <span class="icon icon-compass text-primary"></span>
        <p class="paragraph"><strong>{{ req }}</strong></p>
        <p class="paragraph">Benefit from flexible working hours, deep work option from any place and remote work  twice a week</p>
      </div>

      <div class="perks_list-item">
        <span class="icon icon-compass text-primary"></span>
        <p class="paragraph"><strong>{{ req }}</strong></p>
        <p class="paragraph">Benefit from flexible working hours, deep work option from any place and remote work  twice a week</p>
      </div>

      <div class="perks_list-item">
        <span class="icon icon-compass text-primary"></span>
        <p class="paragraph"><strong>{{ req }}</strong></p>
        <p class="paragraph">Benefit from flexible working hours, deep work option from any place and remote work  twice a week</p>
      </div>
    </div>

    <div class="who-we-are_video">
      <iframe src="https://www.youtube.com/embed/8MrwJM1_kw8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
      <div class="who-we-are_video-box">
        <h3>
          <a href="#" class="text-secondary">Check out our Company Presentation</a></h3>
        <p class="paragraph">
          <small>Copy tutaj FPO ale dla spójności dobrze by było napisać :) </small>
        </p>
      </div>
    </div>
  </div>
</section>
