<section id="04" class="section team">
  <div class="section_name">
    <span class="section_name-number">
      04
    </span>
    The Team
  </div>
  <h2 class="section_heading">
    They are <strong>excellent developers that managed</strong> to improve and support our product
    <span class="icon-quote"></span>
    <cite>- Snipsl</cite>
  </h2>
  <p class="paragraph">
    <br>Our team is made up of talented and passionate people who pride themselves in making useful and reliable software products, while keeping the coding fun.
  </p>
  <div class="section_content">
    <div class="team_photos">
      <figure class="geometric-figure">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
      <div class="team_photos-cell mobi-none"></div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/suler.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/arek.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/ania.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/natalia.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/marta.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/beata.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/bartek.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/stefan.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/adam.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/adrian.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell mobi-none"></div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/andrzej.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/daniel.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell mobi-none"></div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/dominik.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/karol.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/justyna.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/mateusz.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/weronika.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell">
        <img class="image team_photos-image" src="/assets/images/loader.gif" data-src="/assets/images/people/filip.webp" alt="Image of a person">
      </div>
      <div class="team_photos-cell mobi-none"></div>
    </div>
  </div>
</section>
