<section id="01" class="section who-we-are">
  <div class="section_desc">
    <div class="section_name">
      <span class="section_name-number">
        02
      </span>
      Who we are
    </div>
    <h2 class="section_heading">Visionaries rooted in technology</h2>
    <p class="paragraph paragraph-offset">
      Naturaily is a Poland-based tech company with over 12 years of experience in web and mobile development that uses proven technologies such as Ruby on Rails and revelations like Vue.js, React.js, Node.js, and many more.</p>
    <p class="paragraph ">Our key areas of expertise are IoT industrial applications, connected industry, SaaS, smart power grids and e-commerce (Shopify development in particular).</p>
    <p class="paragraph ">We provide the following services: Web development, Internet of Things, UX / UI Design, and Machine Learning.</p>
  </div>
  <div class="section_content">
    <a id="scrollToForm" href="#jobsForm" type="button" class="btn btn-primary">
      CHECK OUT OUR PORTFOLIO
      <img src="/assets/images/btn-arrow.png" alt="arrow">
    </a>
    <div class="who-we-are_figure-wrap">
      <figure>
        <img class="image" src="/assets/images/home-gallery-3.jpg" alt="">
        <figcaption>
          <p class="paragraph">
            <small>
              Naturaily builds software such as smart power grids, or shopify integrations for e-commerce leaders.
            </small>
          </p>
        </figcaption>
      </figure>

      <figure>
        <img class="image" src="/assets/images/home-gallery-3.jpg" alt="">
        <figcaption>
          <p class="paragraph">
            <small>
              Naturaily builds software such as smart power grids, or shopify integrations for e-commerce leaders.
            </small>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="who-we-are_video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8MrwJM1_kw8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <p class="paragraph">
        Check out our Company Presentation
      </p>
    </div>
  </div>
</section>
