---
layout: default
---

<div class="l-content l-blog">
  <div class="post-breadcrumbs">
    <a class="post-breadcrumb post-breadcrumb--desktop" href="/">Home</a>
    <a class="icon icon-home icon--mobile" href="/"></a>
    <span class="icon icon-chevron-right"></span>
    <span class="post-breadcrumb post-breadcrumb--inactive">Blog</span>
  </div>
  {% for post in paginator.posts %}
    <div class="post-preview">
      <a class="post-link" href="{{ post.url | relative_url }}">
        {% if post.image %}
        <div class="post-image">
          <img src="/assets/images/loader.gif" data-src="{{post.image}}" alt="post image">
        </div>
        {% endif %}
      </a>
      <div class="post-meta">
        {% if post.authors.avatar %}
          <img class="avatar" src="/assets/images/loader.gif" data-src="{{ post.authors.avatar }}" alt="author avatar">
        {% endif %}
        <p class="author">
          {% if post.authors.label %}
            <a href="/blog/authors/{{ post.authors.slug }}/">{{ post.authors.label }} </a>
          {% endif %}
          <time>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ post.date | date: date_format }}
          </time>
        </p>
        <div class="post-category">
          <a href="/blog/categories/{{ post.category | replace: " ", "-" | downcase }}">{{ post.category }}</a>
        </div>
      </div>
      <a class="post-link" href="{{ post.url | relative_url }}">
        <h1 class="post-title">{{ post.title | escape }}</h1>
      </a>
      <!-- {% if post.text-preview %}
        <div class="text-preview">
          {{ post.text-preview }}
        </div>
        <a class="read-more" href="{{ post.url | relative_url }}">
          read more
        </a>
      {% endif %} -->
      <hr>
    </div>

  {% endfor %}
  <div class="right-column">
    {% include blog-categories.html %}
    {% include blog-recentpost.html %}
    {% include blog-meetus.html %}
  </div>
</div>

<div class="l-content l-blog-pager">
  <ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: 'index.html', '' }}" rel="prev">&larr;</a>
    </li>
    {% endif %}
    {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
    <li {% if page.url == trail.path %}class="selected"{% endif %}>
      <a href="{{ trail.path | prepend: site.baseurl | replace: 'index.html', '' }}" title="{{trail.title}}">{{ trail.num }}</a>
    </li>
    {% endfor %}
    {% endif %}
    {% if paginator.next_page %}

    <li class="next">
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: 'index.html', '' }}" rel="next">&rarr;</a>
    </li>
    {% endif %}
  </ul>

</div>
