<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include seo-tools.html %}
    {% include cookie.html %}
    {% include header.html %}

    <div class="l-main-container" id="mainContainer">
      {{ content }}
    </div>

    {% unless page.url contains "/get-an-estimate" %}
      <div class="l-footer">
        {% include footer.html %}
      </div>
    {% endunless %}

    <script src="/assets/js/jquery-3.5.0.min.js"></script>
    <script src="/assets/js/js-cookie.js"></script>

    {% if page.url == "/careers" %}
      <script src="/assets/js/slick.min.js"></script>
    {% endif %}

    {% if page.url contains "/blog"
       or page.url == '/terms-of-service' %}
      <script src="/assets/js/sticky-kit.js"></script>
    {% endif %}

    {% if page.url == "/about"
       or page.url == "/careers"
       or page.url == "/services/ecommerce/shopify-development"
       or page.url == "/services/webdevelopment/jamstack"
       or page.url == "/services/webdevelopment/node-js-development"
       or page.url == "/services/webdevelopment/pwa"
       or page.url == "/services/webdevelopment/react-js-development"
       or page.url == "/services/webdevelopment/vue-js-development" %}
      <script src="/assets/js/jquery.waypoints.min.js"></script>
    {% endif %}

    {% include lazyload.html %}
  </body>
</html>
