<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include seo-tools.html %}

    <div class="l-main-container">
      {{ content }}
    </div>

    {% include cookie.html %}

    <div class="l-footer">
      {% include footer.html %}
    </div>

    <script src="/assets/js/jquery-3.5.0.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/sticky-kit.js"></script>
    <script src="/assets/js/js-cookie.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/sticky-waypoints.min.js"></script>

    {% include lazyload.html %}
  </body>
</html>
