<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include seo-tools.html %}

    <div class="l-main-container">
      {{ content }}
    </div>

    {% include footer/index.html %}

    {% include cookie.html %}

    {% include awwwards.html %}

    <script src="/assets/js/jquery-3.5.0.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="https://widget.clutch.co/static/js/widget.js"></script>
    {% include lazyload.html %}
  </body>
</html>
