<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include seo-tools.html %}
    {% include cookie.html %}
    <div class="l-main-container" id="mainContainer">

      {{ content }}

    </div>

    <div class="l-footer-container">
      {% include on-tour-footer.html %}
    </div>
    {% asset jquery-3.2.1.min.js %}
    {% asset slick.min.js %}
    {% asset sticky-kit.js %}
    {% asset jquery.smooth-scroll.js %}
    {% asset js-cookie.js %}
    {% asset scrollreveal.js %}
    <script type="text/javascript">
      {% include scroll-tour.js %}
    </script>
    {% include lazyload.html %}
  </body>
</html>
