---
layout: default
---

<header class="l-full">
  {% include portfolio/retention-rocket/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio/retention-rocket/about.html %}
</div>

<div class="l-center--small">
  {% include portfolio/retention-rocket/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio/retention-rocket/challenge.html %}
</div>

<div class="l-center--small">
  {% include portfolio/retention-rocket/solution.html %}
</div>

<div class="l-center--small">
  {% include portfolio/retention-rocket/results.html %}
</div>

<div class="l-center--small">
  {% include portfolio/retention-rocket/testimonial.html %}
</div>

<div class="l-center--small">
  {% include portfolio/retention-rocket/estimate.html %}
</div>

<div class="l-center--small">
  {% include portfolio/retention-rocket/other.html %}
</div>

<script type="text/javascript">
  {% include portfolio/carousel.js %}
</script>
