---
layout: default
---

<header class="l-full">
  {% include portfolio/awn/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio/awn/about.html %}
</div>

<div class="l-center--small">
  {% include portfolio/awn/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio/awn/challenge.html %}
</div>

<div class="l-center--small">
  {% include portfolio/awn/solution.html %}
</div>

<div class="l-center--small">
  {% include portfolio/awn/results.html %}
</div>

<div class="l-center--small">
  {% include portfolio/awn/estimate.html %}
</div>

<script type="text/javascript">
  {% include portfolio/carousel.js %}
</script>
