---
layout: default
---

<div class="portfolioCase">

  <header class="portfolioCase-header">
    {% include portfolio/header.html %}
  </header>

  <section class="portfolioCase-section">
    {% include portfolio/about.html %}
  </section>

  <div class="portfolioCase-separator">
    <img src="{{ page.about-image }}" alt=""/>
  </div>

  <section class="portfolioCase-section">
    {% include portfolio/goal.html %}
  </section>

  <section class="portfolioCase-section">
    {% include portfolio/challenge.html %}
  </section>

  <section class="portfolioCase-section portfolioCase-solution">
    {% include portfolio/solution.html %}
  </section>

  <section class="portfolioCase-section portfolioCase-results">
    {% include portfolio/results.html %}
  </section>

  <section class="portfolioCase-section portfolioCase-testimonial">
    {% include portfolio/testimonial.html %}
  </section>

  <section class="portfolioCase-section portfolioCase-estimate">
    {% include portfolio/estimate.html %}
  </section>

</div>
