---
layout: default
---

<header class="l-full">
  {% include portfolio/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio/about.html %}
</div>

<div class="l-full portfolio__separator portfolio__separator--{{page.slug}}">
  <img src="{{ page.separator-image }}" alt="{{ page.separator-alt }}"/>
</div>

<div class="l-center--small">
  {% include portfolio/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio/video.html %}
</div>

<div class="l-center--small">
  {% include portfolio/challenge.html %}
</div>

<div class="l-center--small">
  {% include portfolio/solution.html %}
</div>

<div class="l-center--small">
  {% include portfolio/results.html %}
</div>

<div class="l-center--small">
  {% include portfolio/testimonial.html %}
</div>

<div class="l-center--small">
  {% include portfolio/estimate.html %}
</div>

<script type="text/javascript">
  {% include portfolio/scroll.js %}
</script>
