---
layout: default
---

<header class="l-full">
  {% include portfolio-cases/work-for-impact/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/about.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/challenge.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/solution.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/results.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/testimonial.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/estimate.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/work-for-impact/other.html %}
</div>

<script type="text/javascript">
  {% include portfolio/carousel.js %}
</script>
