---
layout: default
---

<header class="l-full">
  {% include portfolio/lvcloud/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio/lvcloud/about.html %}
</div>

<div class="l-full portfolio__separator portfolio__separator--lvcloud">
  <img src="/assets/images/portfolio/lvcloud/separator.png" alt="lvcloud screens"/>
</div>

<div class="l-center--small">
  {% include portfolio/lvcloud/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio/lvcloud/video.html %}
</div>

<div class="l-center--small">
  {% include portfolio/lvcloud/challenge.html %}
</div>

<div class="l-center--small">
  {% include portfolio/lvcloud/solution.html %}
</div>

<div class="l-center--small">
  {% include portfolio/lvcloud/results.html %}
</div>

<div class="l-center--small">
  {% include portfolio/lvcloud/testimonial.html %}
</div>

<div class="l-center--small">
  {% include portfolio/lvcloud/estimate.html %}
</div>

<script type="text/javascript">
  {% include portfolio/scroll.js %}
</script>
