---
layout: default
---

<header class="l-full">
  {% include portfolio/artinfo/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio/artinfo/about.html %}
</div>

<div class="l-center--small">
  {% include portfolio/artinfo/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio/artinfo/challenge.html %}
</div>

<div class="l-center--small">
  {% include portfolio/artinfo/solution.html %}
</div>

<div class="l-center--small">
  {% include portfolio/artinfo/results.html %}
</div>

<div class="l-center--small">
  {% include portfolio/artinfo/testimonial.html %}
</div>

<div class="l-center--small">
  {% include portfolio/artinfo/estimate.html %}
</div>

<script type="text/javascript">
  {% include portfolio/scroll.js %}
</script>
