---
layout: default
---

<header class="l-full">
  {% include portfolio/woolman/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio/woolman/about.html %}
</div>

<div class="l-center--small">
  {% include portfolio/woolman/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio/woolman/challenge.html %}
</div>

<div class="l-center--small">
  {% include portfolio/woolman/solution.html %}
</div>

<div class="l-center--small">
  {% include portfolio/woolman/results.html %}
</div>

<div class="l-center--small">
  {% include portfolio/woolman/blog.html %}
</div>

<div class="l-center--small">
  {% include portfolio/woolman/estimate.html %}
</div>

<div class="l-center--small">
  {% include portfolio/woolman/other.html %}
</div>

<script type="text/javascript">
  {% include portfolio/carousel.js %}
</script>
