---
layout: default
---

<header class="l-full">
  {% include portfolio-cases/woolman/hero.html %}
</header>

<div class="l-center--small">
  {% include portfolio-cases/woolman/about.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/woolman/goal.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/woolman/challenge.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/woolman/solution.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/woolman/results.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/woolman/blog.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/woolman/estimate.html %}
</div>

<div class="l-center--small">
  {% include portfolio-cases/woolman/other.html %}
</div>

<script type="text/javascript">
  {% include portfolio/carousel.js %}
</script>
