---
layout: default
---

<div class="portfolioCase__background"></div>

<div class="portfolioCase-header l-content">
  <h1 class="portfolioCase-header__text">
    {{ page.header }}
  </h1>
  <div class="portfolioCase-header__image" style="background-image: url('{{ page.image-geometric }}')">
    <img src="{{ page.image }}" alt="{{ page.alt }}"/>
  </div>
</div>

<section class="portfolioCase-section l-content">
  {% include portfolio/about.html %}
</section>

<picture class="portfolioCase-separator l-full-page">
  <img src="{{ page.about-image }}" alt=""/>
</picture>

<section class="portfolioCase-section l-content">
  {% include portfolio/goal.html %}
</section>

<section class="portfolioCase-section l-content">
  {% include portfolio/challenge.html %}
</section>

<section class="portfolioCase-section portfolioCase-solution l-content">
  {% include portfolio/solution.html %}
</section>

<section class="portfolioCase-section portfolioCase-results l-content">
  {% include portfolio/results.html %}
</section>

<section class="portfolioCase-section portfolioCase-testimonial l-content">
  {% include portfolio/testimonial.html %}
</section>
