<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include seo-tools.html %}
    {% include cookie.html %}
    <div class="l-main-container tech-container" id="mainContainer">

      {% include header.html %}

      {{ content }}

    </div>
    <div class="l-footer">
      {% include footer.html %}
    </div>

    <script type="text/javascript">
      window.addEventListener('load', () => {
        $('[data-scroll-more]').click(() => {
            $('html, body').animate({
                scrollTop: $('.resources').offset().top
            }, 200);
        });
      }, { passive: true });
    </script>
    {% include lazyload.html %}
  </body>
</html>
