<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/TextPlugin.min.js"></script>

<script type="text/javascript">
  gsap.registerPlugin(ScrollTrigger);
  
  {% include home/animations/header.js %}
  {% include home/animations/switch.js %}
  {% include home/animations/tiles.js %}
  {% include home/animations/testimonials.js %}
  {% include home/animations/numbers.js %}
  {% include home/animations/services.js %}
  {% include home/animations/jamstack.js %}
  {% include home/animations/nondevelopment.js %}
  {% include home/animations/development.js %}
  {% include home/animations/newsletter.js %}

  window.addEventListener('load', () => {
    let resizeTimer = false;

    const resizeReset = () => {
      if ($(window).width() < 992) {
        $('[gsap][style]').removeAttr('style');
      } else {
        window.location = window.location;
      }
    };

    if ($(window).width() < 992) $('[gsap][style]').removeAttr('style');

    $(window).resize(() => {
      clearTimeout(resizeTimer);
      resizeTimer = setTimeout(() => { resizeReset(); }, 250);
    });
  });
</script>