<div class="home-switch" switch>
  <div class="home-switch__wrapper">
    <h2 class="home-switch__header" gsap-switch-header>
      Case studies
    </h2>
    <div class="home-switch__background" gsap-switch-background></div>
    <div class="home-switch__content" gsap-switch-content>
      <div class="home-switch__cards" switch-cards>
        <div
          class="home-switch__card"
          switch-active-card
          data-index="0"
          data-type="faq-container"
          data-faq-type="home-switch"
        >
          <div class="home-switch__card-column">
            <p class="home-switch__project" gsap-switch-project>
              A.W. Niemeyer GmbH (AWN) -
              <span class="home-switch__project--secondary">Hamburg, Germany</span>
            </p>
            <h3 class="home-switch__title" gsap-switch-title>
              Consulting workshops for e&#8209;commerce optimization
            </h3>
            <p class="home-switch__description" gsap-switch-text>
              AWN is one of the oldest companies in Germany and one of the largest boat and yacht
              suppliers in Europe. Our job was to  identify the right path to improve their store’s
              conversion rates and raise overall sales. It was also the first step towards migrating
              from Magento to Shopify.
            </p>
            <div class="home-switch__specs">
              <p class="home-switch__specs-header" data-type="trigger" data-index="0">
                Specs <span class="icon icon-chevron-left"></span>
              </p>
              <ul
                class="home-switch__specs-list home-switch--hidden"
                data-content-index="0"
                data-content-status="hidden"
              >
                <li class="home-switch__specs-list__item" gsap-switch-spec-1>
                  <span class="icon icon-man"></span>
                  <p>Workshop, UX/UI Design, E&#8209;commerce development</p>
                </li>
                <li class="home-switch__specs-list__item" gsap-switch-spec-2>
                  <span class="icon icon-man"></span>
                  <p>$50,000 to $199,999</p>
                </li>
                <li class="home-switch__specs-list__item" gsap-switch-spec-3>
                  <span class="icon icon-man"></span>
                  <p>October 2019 - Ongoing</p>
                </li>
                <li class="home-switch__specs-list__item" gsap-switch-spec-4>
                  <span class="icon icon-man"></span>
                  <p>Technological audit, UX audit, Scoping session</p>
                </li>
                <li class="home-switch__specs-list__item" gsap-switch-spec-5>
                  <span class="icon icon-man"></span>
                  <p>NPS: 5.0</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="home-switch__card-column">
            <div class="home-switch__testimonials" gsap-switch-testimonials>
              <p class="home-switch__testimonials-header" data-type="trigger" data-index="1">
                Testimonials <span class="icon icon-chevron-left"></span>
              </p>
              <div class="home-switch--hidden" data-content-index="1" data-content-status="hidden">
                <p class="home-switch__testimonials-text">
                  Naturaily provided UX/UI design and improvements for an e&#8209;commerce platform.
                  They built a shop frontend what resulted in increased conversion rate and sales.
                </p>
                <div class="home-switch__testimonials-credits">
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/home/ado-nolte.jpg"
                    alt="ado nolte"
                  />
                  <div>
                    <p class="home-switch__testimonials-credits__person">
                      Ado Nolte
                    </p>
                    <p class="home-switch__testimonials-credits__position">
                      Head of E&#8209;commerce at A.W. Niemeyer GmbH
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-switch__card-column">
            <div class="home-switch__image" gsap-switch-image>
              <a class="btn btn-primary" type="button" href="/portfolio/awn" gsap-switch-btn>
                Check case study
                {% svg /assets/images/btn-arrow.svg %}
              </a>
              <img
                src="/assets/images/loader.gif"
                data-src="/assets/images/home/awn.jpg"
                alt="boat photo"
                gsap-switch-img
              />
            </div>
            <div class="home-switch__next" switch-button data-direction="next" gsap-switch-next>
              <div class="home-switch__next-image">
                <div class="home-switch__next-image__shadow"></div>
                <div class="home-switch__next-image__cover">Next</div>
                <img
                  src="/assets/images/loader.gif"
                  data-src="/assets/images/home/retention-rocket.jpg"
                  alt="online payment photo"
                />
              </div>
              <div class="home-switch__next-title">
                <p>The SaaS marketing automation platform for e&#8209;commerce businesses</p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="home-switch__card"
          data-index="1"
          data-type="faq-container"
          data-faq-type="home-switch"
        >
          <div class="home-switch__card-column">
            <p class="home-switch__project" gsap-switch-project>
              Retention Rocket -
              <span class="home-switch__project--secondary">San Diego, California</span>
            </p>
            <h3 class="home-switch__title" gsap-switch-title>
              The SaaS marketing automation platform for e&#8209;commerce businesses
            </h3>
            <p class="home-switch__description" gsap-switch-text>
              Retention Rocket wants to make retention marketing simpler and more profitable
              for leading eCommerce retailers. Platform’ features include cart abandonment
              solutions, an SMS list builder, outbound promotions and much more, letting marketers
              increase revenue, and run better data‑driven campaigns.
            </p>
            <div class="home-switch__specs">
              <p class="home-switch__specs-header" data-type="trigger" data-index="0">
                Specs <span class="icon icon-chevron-left"></span>
              </p>
              <ul
                class="home-switch__specs-list home-switch--hidden"
                data-content-index="0"
                data-content-status="hidden"
              >
                <li class="home-switch__specs-list__item" gsap-switch-spec-1>
                  <span class="icon icon-man"></span>
                  <p>SaaS Development</p>
                </li>
                <li class="home-switch__specs-list__item" gsap-switch-spec-2>
                  <span class="icon icon-man"></span>
                  <p>$50,000 to $199,999</p>
                </li>
                <li class="home-switch__specs-list__item" gsap-switch-spec-3>
                  <span class="icon icon-man"></span>
                  <p>January - May 2019</p>
                </li>
                <li class="home-switch__specs-list__item" gsap-switch-spec-4>
                  <span class="icon icon-man"></span>
                  <p>Ruby on Rails, Twilio, Georgias, Slack</p>
                </li>
                <li class="home-switch__specs-list__item" gsap-switch-spec-5>
                  <span class="icon icon-man"></span>
                  <p>NPS: 5.0</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="home-switch__card-column">
            <div class="home-switch__testimonials" gsap-switch-testimonials>
              <p class="home-switch__testimonials-header" data-type="trigger" data-index="1">
                Testimonials <span class="icon icon-chevron-left"></span>
              </p>
              <div class="home-switch--hidden" data-content-index="1" data-content-status="hidden">
                <p class="home-switch__testimonials-text">
                  Experienced and professional, the team delivered work quickly without sacrificing
                  quality. Naturaily led a smooth workflow with minimal onboarding and without
                  issues with time differences.
                </p>
                <div class="home-switch__testimonials-credits">
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/portfolio/clutch/brooke.png"
                    alt="brooke acchione"
                  />
                  <div>
                    <p class="home-switch__testimonials-credits__person">
                      Brooke Acchione
                    </p>
                    <p class="home-switch__testimonials-credits__position">
                      Vice President of Operations at Retention Rocket
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-switch__card-column">
            <div class="home-switch__image" gsap-switch-image>
              <a class="btn btn-primary" type="button" href="/portfolio/retention-rocket" gsap-switch-btn>
                Check case study
                {% svg /assets/images/btn-arrow.svg %}
              </a>
              <img
                src="/assets/images/loader.gif"
                data-src="/assets/images/home/retention-rocket.jpg"
                alt="online payment photo"
                gsap-switch-img
              />
            </div>
            <div class="home-switch__next" switch-button data-direction="next" gsap-switch-next>
              <div class="home-switch__next-image">
                <div class="home-switch__next-image__shadow"></div>
                <div class="home-switch__next-image__cover">Next</div>
                <img
                  src="/assets/images/loader.gif"
                  data-src="/assets/images/home/woolman.jpg"
                  alt="shopify photo"
                />
              </div>
              <div class="home-switch__next-title">
                <p>Shopify integrations for Scandinavian e&#8209;commerce stores</p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="home-switch__card"
          data-index="2"
          data-type="faq-container"
          data-faq-type="home-switch"
        >
          <div class="home-switch__card-column">
            <p class="home-switch__project" gsap-switch-project>
              Woolman -
              <span class="home-switch__project--secondary">Jyväskylä, Finland</span>
            </p>
            <h3 class="home-switch__title" gsap-switch-title>
              Shopify integrations for Scandinavian e&#8209;commerce stores
            </h3>
            <p class="home-switch__description" gsap-switch-text>
              The project’s objective was a smooth integration between clients’ Shopify e‑stores
              and the existing external systems that were responsible for specific e&#8209;commerce
              sections, such as warehouse management systems, loyalty systems, gift cards, product
              data management systems, etc.
            </p>
            <div class="home-switch__specs">
              <p class="home-switch__specs-header" data-type="trigger" data-index="0">
                Specs <span class="icon icon-chevron-left"></span>
              </p>
              <ul
                class="home-switch__specs-list home-switch--hidden"
                data-content-index="0"
                data-content-status="hidden"
              >
                <li class="home-switch__specs-list__item" gsap-switch-spec-1>
                  <span class="icon icon-man"></span>
                  <p>Shopify development</p>
                </li>
                <li class="home-switch__specs-list__item" gsap-switch-spec-2>
                  <span class="icon icon-man"></span>
                  <p>$50,000 to $199,999</p>
                </li>
                <li class="home-switch__specs-list__item" gsap-switch-spec-3>
                  <span class="icon icon-man"></span>
                  <p>2017-2019</p>
                </li>
                <li class="home-switch__specs-list__item" gsap-switch-spec-4>
                  <span class="icon icon-man"></span>
                  <p>Shopify Polaris, React.js, Ruby on Rails, GraphQL, JSON</p>
                </li>
                <li class="home-switch__specs-list__item" gsap-switch-spec-5>
                  <span class="icon icon-man"></span>
                  <p>NPS: 5.0</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="home-switch__card-column">
            <div class="home-switch__testimonials" gsap-switch-testimonials>
              <p class="home-switch__testimonials-header" data-type="trigger" data-index="1">
                Testimonials <span class="icon icon-chevron-left"></span>
              </p>
              <div class="home-switch--hidden" data-content-index="1" data-content-status="hidden">
                <p class="home-switch__testimonials-text">
                  Our team designed, developed and proof-checked a number of Shopify integrations.
                  The technology let our e&#8209;commerce partners improve the customer experience
                  and satisfaction, increase the conversion and automate lots of tasks that used
                  to be done manually, saving their time and money. I couldn't be more proud
                  of our team.
                </p>
                <div class="home-switch__testimonials-credits">
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/home/marcin-sulikowski.jpg"
                    alt="marcin sulikowski"
                  />
                  <div>
                    <p class="home-switch__testimonials-credits__person">
                      Marcin Sulikowski
                    </p>
                    <p class="home-switch__testimonials-credits__position">
                      CEO of Naturaily
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-switch__card-column">
            <div class="home-switch__image" gsap-switch-image>
              <a class="btn btn-primary" type="button" href="/portfolio/woolman" gsap-switch-btn>
                Check case study
                {% svg /assets/images/btn-arrow.svg %}
              </a>
              <img
                src="/assets/images/loader.gif"
                data-src="/assets/images/home/woolman.jpg"
                alt="shopify photo"
                gsap-switch-img
              />
            </div>
            <div class="home-switch__next" switch-button data-direction="next" gsap-switch-next>
              <div class="home-switch__next-image">
                <div class="home-switch__next-image__shadow"></div>
                <div class="home-switch__next-image__cover">Next</div>
                <img
                  src="/assets/images/loader.gif"
                  data-src="/assets/images/home/awn.jpg"
                  alt="boat photo"
                />
              </div>
              <div class="home-switch__next-title">
                <p>Consulting workshops for e&#8209;commerce optimization</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-switch__nav" switch-switcher gsap-switch-nav>
        <div class="home-switch__nav-counter">
          <div class="home-switch__nav-counter__current">
            Case
            <span class="home-switch__nav-counter__current-number" switch-counter>
              1
            </span>
          </div>
          <div class="home-switch__nav-counter__all">
            of 3
          </div>
        </div>
        <div class="home-switch__nav-buttons">
          <button
            class="home-switch__nav-button home-switch__nav-button--prev home-switch__nav-button--disabled"
            switch-button
            data-direction="prev"
            type="button"
          >
            {% svg /assets/images/btn-arrow.svg class="home-switch__nav-arrow home-switch__nav-arrow--rotated" %}
            <span class="home-switch__nav-text">prev</span>
          </button>
          <button
            class="home-switch__nav-button home-switch__nav-button--next"
            switch-button
            data-direction="next"
            type="button"
          >
            <span class="home-switch__nav-text">next</span>
            {% svg /assets/images/btn-arrow.svg class="home-switch__nav-arrow" %}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  {% include faq.js %}
</script>
