<div class="home-tiles" gsap gsap-cases-tiles>
  <div class="home-tiles__case" gsap gsap-cases-tile>
    <div class="home-tiles__content">
      <div class="home-tiles__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/lvcloud.jpg"
          alt="photo"
        />
      </div>
      <h3 class="home-tiles__title">
        The <span class="non-breaking">eco-friendly</span> IoT app that makes the world a better place
      </h3>
      <p class="home-tiles__description">
        EA Technology’s mission is to make safer, stronger, smarter energy networks globally.
        We are more than proud to play a part in the energy decarbonization process.
      </p>
    </div>
    <a href="/portfolio/lvcloud" class="btn btn-bordered">
      Check case study
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div class="home-tiles__case" gsap gsap-cases-tile>
    <div class="home-tiles__content">
      <div class="home-tiles__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/artinfo.jpg"
          alt="photo"
        />
      </div>
      <h3 class="home-tiles__title">
        The web app for live art auctions
      </h3>
      <p class="home-tiles__description">
        Observing what is happening on world markets, Artinfo’ founder has decided to create
        an <span class="non-breaking">easy-to-use</span> platform for handling online 
        <span class="non-breaking">real-time</span> bidding during auctions to bring a new 
        quality to the world of art auctions.
      </p>
    </div>
    <a href="/portfolio/artinfo" class="btn btn-bordered">
      Check case study
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
  <div class="home-tiles__case" gsap gsap-cases-tile>
    <div class="home-tiles__content">
      <div class="home-tiles__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/lingohub.jpg"
          alt="photo"
        />
      </div>
      <h3 class="home-tiles__title">
        Translation management system for software creators
      </h3>
      <p class="home-tiles__description">
        LingoHub is a platform that lets hundreds of teams manage their software translations
        easily. What they get is a complex yet simple app they can use for translating, storing
        and managing the content - all in one place.
      </p>
    </div>
    <a href="/portfolio/lingohub" class="btn btn-bordered">
      Check case study
      {% svg /assets/images/btn-arrow.svg %}
    </a>
  </div>
</div>
