<div class="home-development">
  <div class="home-development__product">
    <div class="home-development__background"></div>
    <div class="home-development__wrapper">
      <h2 class="home-development__header">Product Development</h2>
      <div class="home-development__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/development-product.jpg"
          alt="naturaily photo"
        />
      </div>
      <ul class="home-development__list">
        <li class="home-development__list-item">
          <a href="/services/webdevelopment/jamstack" class="btn btn-white">
            JAMstack Development
            {% svg /assets/images/btn-arrow.svg %}
          </a>
        </li>
        <li class="home-development__list-item">
          <a href="/" class="btn btn-white">
            Web Design & Development
            {% svg /assets/images/btn-arrow.svg %}
          </a>
        </li>
        <li class="home-development__list-item">
          <a href="/" class="btn btn-white">
            Mobile App Development
            {% svg /assets/images/btn-arrow.svg %}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="home-development__ecommerce">
    <div class="home-development__background"></div>
    <div class="home-development__wrapper">
      <h2 class="home-development__header">E-commerce Development</h2>
      <div class="home-development__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/development-ecommerce.jpg"
          alt="naturaily photo"
        />
      </div>
      <ul class="home-development__list">
        <li class="home-development__list-item">
          <a href="/services/ecommerce/shopify-development" class="btn btn-white">
            Shopify Development
            {% svg /assets/images/btn-arrow.svg %}
          </a>
        </li>
        <li class="home-development__list-item">
          <a href="/services/ecommerce/custom-development" class="btn btn-white">
            Custom E-commerce Development
            {% svg /assets/images/btn-arrow.svg %}
          </a>
        </li>
        <li class="home-development__list-item">
          <a href="/" class="btn btn-white">
            PWA Development
            {% svg /assets/images/btn-arrow.svg %}
          </a>
        </li>
        <li class="home-development__list-item">
          <a href="/" class="btn btn-white">
            Shopify Theme Development
            {% svg /assets/images/btn-arrow.svg %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
