<div class="home-development">
  <div class="home-development__product">
    <div class="home-development__background" gsap gsap-product-background></div>
    <div class="home-development__wrapper">
      <h2 class="home-development__header" gsap gsap-product-header>
        Product Development
      </h2>
      <div class="home-development__image" gsap gsap-product-image>
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/development-product.jpg"
          alt="naturaily photo"
          gsap
          gsap-product-img
        />
        <span class="home-development__image-mask" gsap gsap-product-mask></span>
      </div>
      <ul class="home-development__list">
        <li class="home-development__list-item" gsap gsap-product-item-1>
          <a href="/services/webdevelopment/jamstack" class="btn btn-white">
            Jamstack Development
            {% svg /assets/images/btn-arrow.svg %}
          </a>
        </li>
        <li class="home-development__list-item" gsap gsap-product-item-2>
          <a href="/services/webdevelopment" class="btn btn-white">
            Web Design & Development
            {% svg /assets/images/btn-arrow.svg %}
          </a>
        </li>
        <li class="home-development__list-item" gsap gsap-product-item-3>
          <p class="btn btn-white btn-white--disabled">
            Mobile App Development
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="home-development__ecommerce">
    <div class="home-development__background" gsap gsap-ecommerce-background></div>
    <div class="home-development__wrapper">
      <h2 class="home-development__header" gsap gsap-ecommerce-header>
        E-commerce Development
      </h2>
      <div class="home-development__image" gsap gsap-ecommerce-image>
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/development-ecommerce.jpg"
          alt="naturaily photo"
          gsap-ecommerce-img
        />
        <span class="home-development__image-mask" gsap gsap-ecommerce-mask></span>
      </div>
      <ul class="home-development__list">
        <li class="home-development__list-item" gsap gsap-ecommerce-item-1>
          <a href="/services/ecommerce/shopify-development" class="btn btn-white">
            Shopify Development
            {% svg /assets/images/btn-arrow.svg %}
          </a>
        </li>
        <li class="home-development__list-item" gsap gsap-ecommerce-item-2>
          <a href="/services/ecommerce/custom-development" class="btn btn-white">
            Custom E-commerce Development
            {% svg /assets/images/btn-arrow.svg %}
          </a>
        </li>
        <li class="home-development__list-item" gsap gsap-ecommerce-item-3>
          <a href="/services/webdevelopment/pwa" class="btn btn-white">
            PWA Development
            {% svg /assets/images/btn-arrow.svg %}
          </a>
        </li>
        <li class="home-development__list-item" gsap gsap-ecommerce-item-4>
          <p class="btn btn-white btn-white--disabled">
            Shopify Theme Development
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
