<!--googleoff: all-->
  <section class="home-eubar">
    <div class="home-eubar__wrapper">
      <p class="home-eubar__text">
        Naturaily is implementing the project Intensification of export activities
        of Naturaily&nbsp;Sp.&nbsp;z&nbsp;o.&nbsp;o.
        <a href="/european-union">read&nbsp;more</a>
      </p>
      <div class="home-eubar__images" rel="nofollow">
        <img
          class="home-eubar__image"
          src="/assets/images/loader.gif"
          data-src="/assets/images/eu-logo-1.png"
          alt="European Funds"
        />
        <img
          class="home-eubar__image"
          src="/assets/images/loader.gif"
          data-src="/assets/images/eu-logo-2.png"
          alt="Republic of Poland"
        />
        <img
          class="home-eubar__image"
          src="/assets/images/loader.gif"
          data-src="/assets/images/eu-logo-4.png"
          alt="European Union"
        />
      </div>
    </div>
  </section>
<!--googleon: all-->

<script type="text/javascript">
  window.addEventListener('load', () => {
    $(window).scroll(() => {
      $('body').addClass('scrolled');
    });
  }, { passive: true });
</script>
