<div class="home-header">
  <div class="home-header__wrapper">
    <a class="home-header__logo" href="/">
      {% svg /assets/images/logo_naturaily.svg %}
    </a>
    <nav class="home-header__nav" role="navigation">
      <div class="home-header__nav-box">
        <input type="checkbox" id="checkbox"/>
        <div class="home-header__nav-hamburger" id="mobileSpan">
          <span class="home-header__nav-bar home-header__nav-bar--first"></span>
          <span class="home-header__nav-bar home-header__nav-bar--second"></span>
          <span class="home-header__nav-bar home-header__nav-bar--third"></span>
          <span class="home-header__nav-bar home-header__nav-bar--fourth"></span>
        </div>
        <div class="home-header__menu" data-menu>
          <ul>
            <a class="home-header__menu-logo" href="/">
              {% svg /assets/images/logo_naturaily.svg %}
            </a>
            <li class="home-header__menu-item">
              <a href="/services">Services</a>
            </li>
            <li class="home-header__menu-item">
              <a href="/portfolio">Portfolio</a>
            </li>
            <li class="home-header__menu-item">
              <a href="/about">About</a>
            </li>
            <li class="home-header__menu-item">
              <a href="/blog/">Blog</a>
            </li>
            <li class="home-header__menu-item">
              <a href="/careers">Careers</a>
            </li>
          </ul>
          <div class="home-header__social">
            <a href="https://www.facebook.com/Naturaily/" rel="nofollow" target="_blank">
              {% svg /assets/images/facebook.svg class="home-header__social-image" %}
            </a>
            <a href="https://twitter.com/naturailycom" rel="nofollow" target="_blank">
              {% svg /assets/images/twitter.svg class="home-header__social-image" %}
            </a>
            <a href="https://www.linkedin.com/company/naturaily" rel="nofollow" target="_blank">
              {% svg /assets/images/linkedin.svg class="home-header__social-image" %}
            </a>
            <a href="https://github.com/naturaily" rel="nofollow" target="_blank">
              {% svg /assets/images/github.svg class="home-header__social-image" %}
            </a>
          </div>
          <a href="/get-an-estimate" class="btn btn-primary">
            Get an estimate
          </a>
        </div>
      </div>
    </nav>
    <a href="/get-an-estimate" class="btn btn-white">
      Get an estimate
    </a>
  </div>
</div>

<script type="text/javascript">
  {% include block-scroll.js %}
</script>
