<div class="home-hero">
  <div class="home-hero__background"></div>
  <div class="home-hero__wrapper">
    <div class="home-hero__content">
      <h1 class="home-hero__header">
        <span class="home-hero__header-line">Web & E&#8209;commerce</span>
        <span class="home-hero__header-line">Agency that will guide you</span>
        <span class="home-hero__header-line">smoothly through the digital</span>
        <span class="home-hero__header-line">transformation process.</span>
      </h1>
      <div class="home-hero__image">
        <img
          class="home-hero__image-mask"
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/hero.png"
          alt="naturaily logo mask"
        />
        <img
          class="home-hero__image-photo"
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/hero.png"
          alt="naturaily office photo"
        />
      </div>
      <div class="home-hero__clutch">
        <img
          class="home-hero__clutch-badge"
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/clutch.png"
          alt="clutch badge"
        />
        <img class="home-hero__clutch-star" src="/assets/images/home/star.png" alt="clutch star"/>
        <img class="home-hero__clutch-star" src="/assets/images/home/star.png" alt="clutch star"/>
        <img class="home-hero__clutch-star" src="/assets/images/home/star.png" alt="clutch star"/>
        <img class="home-hero__clutch-star" src="/assets/images/home/star.png" alt="clutch star"/>
        <img class="home-hero__clutch-star" src="/assets/images/home/star.png" alt="clutch star"/>
      </div>
      <div class="home-hero__areas">
        <p class="home-hero__text">
          Areas of expertise
          {% svg /assets/images/btn-arrow.svg class="home-hero__text-arrow" %}
        </p>
        <ul class="home-hero__list">
          <li class="home-hero__list-item">
            <span class="home-hero__list-item__frame">
              JAMstack Development
            </span>
          </li>
          <li class="home-hero__list-item">
            <span class="home-hero__list-item__frame">
              Shopify Development
            </span>
          </li>
          <li class="home-hero__list-item home-hero__list-item--design">
            <span class="home-hero__list-item__frame">
              Product Design
            </span>
          </li>
          <li class="home-hero__list-item">
            <span class="home-hero__list-item__frame">
              Bespoke Software
              <br>
              Development
            </span>
          </li>
          <li class="home-hero__list-item">
            <span class="home-hero__list-item__frame">
              PWA Storefront
              <br>
              Development
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
