<div class="home-hero" data-type="faq-container" data-faq-type="home">
  <div class="home-hero__background"></div>
  <div class="home-hero__wrapper">
    <h1 class="home-hero__header">
      Web & E&#8209;commerce
      <br>
      Agency that will guide you smoothly through the digital transformation process.
    </h1>
    <img
      class="home-hero__image"
      src="/assets/images/loader.gif"
      data-src="/assets/images/home/hero.png"
      alt="naturaily logo"
    />
    <img
      class="home-hero__clutch"
      src="/assets/images/loader.gif"
      data-src="/assets/images/home/clutch.png"
      alt="clutch badge"
    />
    <div class="home-hero__areas">
      <p class="home-hero__text" data-type="trigger" data-index="0">
        Areas of expertise
        {% svg /assets/images/btn-arrow.svg class="home-hero__text-arrow home-hero__text-arrow--rotated" %}
      </p>
      <ul class="home-hero__list" data-content-index="0" data-content-status="visible">
        <li class="home-hero__list-item">
          <span class="home-hero__list-item__frame">
            JAMstack Development
          </span>
        </li>
        <li class="home-hero__list-item">
          <span class="home-hero__list-item__frame">
            Shopify Development
          </span>
        </li>
        <li class="home-hero__list-item home-hero__list-item--design">
          <span class="home-hero__list-item__frame">
            Product Design
          </span>
        </li>
        <li class="home-hero__list-item">
          <span class="home-hero__list-item__frame">
            Bespoke Software
            <br>
            Development
          </span>
        </li>
        <li class="home-hero__list-item">
          <span class="home-hero__list-item__frame">
            PWA Storefront
            <br>
            Development
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
