<div class="home-hero">
  <div class="home-hero__background" gsap gsap-hero-background></div>
  <div class="home-hero__wrapper">
    <div class="home-hero__content">
      <h1 class="home-hero__header">
        <span class="home-hero__header-line" gsap gsap-hero-line>
          Web & <span class="non-breaking">E-commerce</span>
        </span>
        <span class="home-hero__header-line" gsap gsap-hero-line>
          Agency that will guide you
        </span>
        <span class="home-hero__header-line" gsap gsap-hero-line>
          smoothly through the digital
        </span>
        <span class="home-hero__header-line" gsap gsap-hero-line>
          transformation process.
        </span>
      </h1>
      <div class="home-hero__image">
        <img
          class="home-hero__image-mask"
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/hero-mask.png"
          alt="naturaily logo mask"
          gsap gsap-hero-mask
        />
        <img
          class="home-hero__image-photo"
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/hero-photo.jpg"
          alt="naturaily office photo"
          gsap gsap-hero-photo
        />
      </div>
      <div class="home-hero__clutch">
        <img
          class="home-hero__clutch-badge"
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/clutch.png"
          alt="clutch badge"
          gsap gsap-hero-clutch
        />
        <img class="home-hero__clutch-star" src="/assets/images/home/star.png" alt="clutch star" gsap gsap-hero-star/>
        <img class="home-hero__clutch-star" src="/assets/images/home/star.png" alt="clutch star" gsap gsap-hero-star/>
        <img class="home-hero__clutch-star" src="/assets/images/home/star.png" alt="clutch star" gsap gsap-hero-star/>
        <img class="home-hero__clutch-star" src="/assets/images/home/star.png" alt="clutch star" gsap gsap-hero-star/>
        <img class="home-hero__clutch-star" src="/assets/images/home/star.png" alt="clutch star" gsap gsap-hero-star/>
      </div>
      <div class="home-hero__areas">
        <div class="home-hero__text" gsap gsap-hero-areas>
          <a href="/services" >
            Areas of expertise
            {% svg /assets/images/btn-arrow.svg class="home-hero__text-arrow" %}
          </a>
        </div>
        <ul class="home-hero__list">
          <li class="home-hero__list-item" gsap gsap-hero-tile>
            <a href="/services/webdevelopment/jamstack">
              <div class="home-hero__list-item__frame">Jamstack Development</div>
            </a>
          </li>
          <li class="home-hero__list-item" gsap gsap-hero-tile>
            <a href="/services/ecommerce/shopify-development">
              <div class="home-hero__list-item__frame">Shopify Development</div>
            </a>
          </li>
          <li class="home-hero__list-item home-hero__list-item--design" gsap gsap-hero-tile>
            <a href="/services/product-design">
              <div class="home-hero__list-item__frame">Product Design</div>
            </a>
          </li>
          <li class="home-hero__list-item" gsap gsap-hero-tile>
            <a href="/services/webdevelopment">
              <div class="home-hero__list-item__frame">
                Custom Web
                <br>
                Development
              </div>
            </a>
          </li>
          <li class="home-hero__list-item" gsap gsap-hero-tile>
            <a href="/services/webdevelopment/pwa">
              <div class="home-hero__list-item__frame">
                PWA Storefront
                <br>
                Development
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
