<div class="home-jamstack" gsap gsap-jamstack>
  <h2 class="home-jamstack__header">
    JAMstack Development
    <span class="home-jamstack__header-mask" gsap gsap-jamstack-mask></span>
  </h2>
  <div class="home-jamstack__content">
    <p class="home-jamstack__text" gsap gsap-jamstack-text>
      All eyes of the dev world are on JAMstack now. Why? Because it is a new way
      of building websites and apps that delivers better performance, higher security,
      lower cost of scaling, and a better developer experience. They are fast, SEO-friendly
      and easy-to-manage by non-technical people as well. Shorter time-to-market is
      a cherry on top.
    </p>
    <div class="home-jamstack__image">
      <div class="home-jamstack__image-wrapper">
        <figure class="geometric-figure">
          <div class="geometric-figure_center" gsap gsap-jamstack-full></div>
          <div class="geometric-figure_right" gsap gsap-jamstack-half></div>
        </figure>
        <img
          class="home-jamstack__image-tablet"
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/jamstack-tablet.png"
          alt="tablet frame"
          gsap
          gsap-jamstack-tablet
        />
        <img
          class="home-jamstack__image-page"
          src="/assets/images/loader.gif"
          data-src="/assets/images/home/jamstack-page.png"
          alt="webpage showed on tablet"
          gsap
          gsap-jamstack-page
        />
      </div>
    </div>
    <div class="home-jamstack__link">
      <p class="home-jamstack__link-text" gsap gsap-jamstack-cta>
        One of our latest project in JAMstack is Dajemyslowo’ website.
      </p>
      <a
        href="https://dajemyslowo.com/en/"
        class="btn btn-bordered"
        target="_blank"
        rel="nofollow"
        gsap
        gsap-jamstack-link
      >
        Visit website
        {% svg /assets/images/btn-arrow.svg %}
      </a>
    </div>
  </div>
  {% svg /assets/images/home/jamstack-accent.svg class="home-jamstack__accent"%}
</div>
