<div class="home-newsletter">
  <div class="home-newsletter__content">
    <p class="home-newsletter__text">
      Be sure to sign up for our
      <span class="home-newsletter__text--secondary">free newsletter</span>
      to be up to date with our work, modern technologies and interesting use cases.
    </p>
    <div class="home-newsletter__form">
      <input
        class="home-newsletter__input"
        type="text"
        placeholder="Please type your company e-mail"
      />
      <button class="btn btn-bordered">
        Sign up
        {% svg assets/images/btn-arrow.svg %}
      </button>
    </div>
  </div>
  <div class="home-newsletter__writing">
    <p class="home-newsletter__writing-author">
      Writing to you
      <a href="/blog/authors/marcin-sulikowski" class="home-newsletter__writing-author__name">
        Marcin Sulikowski
      </a>
    </p>
    <div class="home-newsletter__image">
      <img
        class="home-newsletter__image-figure"
        src="/assets/images/loader.gif"
        data-src="/assets/images/home/newsletter-figure.png"
        alt="geometric figure"
      />
      <img
        class="home-newsletter__image-ceo"
        src="/assets/images/loader.gif"
        data-src="/assets/images/home/newsletter-suler.png"
        alt="Naturaily CEO"
      />
    </div>
  </div>
</div>
