<div class="home-newsletter">
  <div class="home-newsletter__content" gsap gsap-newsletter-form>
    <p class="home-newsletter__text">
      Be sure to sign up for our
      <span class="home-newsletter__text--secondary" gsap gsap-newsletter-text>free newsletter</span>
      to be up to date with our work, modern technologies and interesting use cases.
    </p>
    <form
      action="https://naturaily.us7.list-manage.com/subscribe/post?u=858a9583bf4d0c0d1674a5399&amp;id=e1f0be7790"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
      novalidate
    >
      <div id="mc_embed_signup_scroll" class="home-newsletter__form">
        <div class="mc-field-group">

        </div>
        <div class="home-newsletter__inputs">
          <div class="home-newsletter__name">
            <input type="text" name="FNAME" value="" placeholder="First Name"/>
          </div>
          <div class="home-newsletter__email">
            <input type="email" name="EMAIL" value="" placeholder="Company e-mail"/>
          </div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_858a9583bf4d0c0d1674a5399_e1f0be7790" tabindex="-1" value="">
        </div>
        <div class="home-newsletter__btn" gsap gsap-newsletter-btn>
          <input
            id="mc-embedded-subscribe"
            type="submit"
            value="Sign up"
            name="subscribe"
            class="btn btn-bordered"
          />
          {% svg /assets/images/btn-arrow.svg %}
        </div>
      </div>
      <div id="mce-responses" class="home-newsletter__response">
        <div
          id="mce-error-response"
          class="home-newsletter__response home-newsletter__response--error"
          style="display:none"
        ></div>
        <div
          id="mce-success-response"
          class="home-newsletter__response home-newsletter__response--success"
          style="display:none"
        ></div>
      </div>
    </form>
  </div>
  <div class="home-newsletter__writing">
    <p class="home-newsletter__writing-author" gsap gsap-newsletter-author>
      <span class="home-newsletter__writing-author__text">Writing to you</span>
      <span class="home-newsletter__writing-author__type" gsap gsap-newsletter-type></span>
      <a href="/blog/authors/marcin-sulikowski" class="home-newsletter__writing-author__name">
        <span class="home-newsletter__writing-author__text">Marcin Sulikowski</span>
        <span class="home-newsletter__writing-author__type" gsap gsap-newsletter-type-name></span>
      </a>
    </p>
    <div class="home-newsletter__image">
      <figure class="geometric-figure">
        <div class="geometric-figure_center">
          <img
            class="home-newsletter__image-ceo"
            src="/assets/images/loader.gif"
            data-src="/assets/images/home/newsletter-suler.webp"
            alt="Naturaily CEO"
            gsap
            gsap-newsletter-full
          />
        </div>
        <div class="geometric-figure_right" gsap gsap-newsletter-half></div>
      </figure>
    </div>
  </div>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
  (function($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0]='EMAIL';
    ftypes[0]='email';
    fnames[1]='FNAME';
    ftypes[1]='text';
  }(jQuery));

  var $mcj = jQuery.noConflict(true);
</script>
