<div class="home-nondevelopment">
  <div class="home-nondevelopment__line">
    <h2 class="home-nondevelopment__header">
      <span class="icon icon-venn_diagram"></span>
      Product design
    </h2>
    <ul class="home-nondevelopment__list">
      <li class="home-nondevelopment__list-item">Product Design Sprint</li>
      <li class="home-nondevelopment__list-item">Discovery Session</li>
      <li class="home-nondevelopment__list-item">Prototyping</li>
      <li class="home-nondevelopment__list-item">UX/UI Design</li>
    </ul>
    <div class="home-nondevelopment__link">
      <a href="/services/product-design" class="btn btn-white">
        Learn more
        {% svg /assets/images/btn-arrow.svg %}
      </a>
    </div>
  </div>
  <div class="home-nondevelopment__line">
    <h2 class="home-nondevelopment__header">
      <span class="icon icon-chat"></span>
      Web Consulting Services
    </h2>
    <ul class="home-nondevelopment__list">
      <li class="home-nondevelopment__list-item">Scoping session</li>
      <li class="home-nondevelopment__list-item">UX Audit</li>
      <li class="home-nondevelopment__list-item">Code Audit</li>
      <li class="home-nondevelopment__list-item">Stack Consulting</li>
    </ul>
    <div class="home-nondevelopment__link">
      <a href="/" class="btn btn-white">
        Learn more
        {% svg /assets/images/btn-arrow.svg %}
      </a>
    </div>
  </div>
</div>
