<div class="home-nondevelopment" gsap-nondevelopment>
  <div class="home-nondevelopment__line">
    <h2 class="home-nondevelopment__header">
      <span class="icon icon-venn_diagram" gsap-nondevelopment-icon-1></span>
      Product design
      <span class="home-nondevelopment__header-mask" gsap-nondevelopment-mask-1></span>
    </h2>
    <ul class="home-nondevelopment__list">
      <li class="home-nondevelopment__list-item" gsap-nondevelopment-item-1>
        Product Design Sprint
      </li>
      <li class="home-nondevelopment__list-item" gsap-nondevelopment-item-1>
        Discovery Session
      </li>
      <li class="home-nondevelopment__list-item" gsap-nondevelopment-item-1>
        Prototyping
      </li>
      <li class="home-nondevelopment__list-item" gsap-nondevelopment-item-1>
        UX/UI Design
      </li>
    </ul>
    <div class="home-nondevelopment__link">
      <a href="/services/product-design" class="btn btn-white" gsap-nondevelopment-link-1>
        Learn more
        {% svg /assets/images/btn-arrow.svg %}
      </a>
    </div>
  </div>
  <div class="home-nondevelopment__line">
    <h2 class="home-nondevelopment__header">
      <span class="icon icon-chat" gsap-nondevelopment-icon-2></span>
      Web Consulting Services
      <span class="home-nondevelopment__header-mask" gsap-nondevelopment-mask-2></span>
    </h2>
    <ul class="home-nondevelopment__list">
      <li class="home-nondevelopment__list-item" gsap-nondevelopment-item-2>
        Scoping session
      </li>
      <li class="home-nondevelopment__list-item" gsap-nondevelopment-item-2>
        UX Audit
      </li>
      <li class="home-nondevelopment__list-item" gsap-nondevelopment-item-2>
        Code Audit
      </li>
      <li class="home-nondevelopment__list-item" gsap-nondevelopment-item-2>
        Stack Consulting
      </li>
    </ul>
    <div class="home-nondevelopment__link" gsap-nondevelopment-link-2>
      <a href="/" class="btn btn-white">
        Learn more
        {% svg /assets/images/btn-arrow.svg %}
      </a>
    </div>
  </div>
</div>
