<div class="home-numbers">
  <div class="home-numbers-wrapper">
    <div class="home-numbers__background" gsap-numbers-background></div>
    <ul class="home-numbers__list" gsap-numbers-tiles>
      <li class="home-numbers__list-item" gsap-numbers-tile-1>
        <span class="home-numbers__number" id="counter1">7</span>
        <p class="home-numbers__description">
          Years on the market
        </p>
      </li>
      <li class="home-numbers__list-item" gsap-numbers-tile-2>
        <span class="home-numbers__number" id="counter2">60</span>
        <p class="home-numbers__description">
          Served clients so far
        </p>
      </li>
      <li class="home-numbers__list-item" gsap-numbers-tile-3>
        <span class="home-numbers__number" id="counter3">80%</span>
        <p class="home-numbers__description">
          New clients from referrals
        </p>
      </li>
      <li class="home-numbers__list-item" gsap-numbers-tile-4>
        <span class="home-numbers__number" id="counter4">125k</span>
        <p class="home-numbers__description">
          Hours worked
        </p>
      </li>
      <li class="home-numbers__list-item" gsap-numbers-tile-5>
        <span class="home-numbers__number" id="counter5">0.8</span>
        <p class="home-numbers__description">
          Schedule performance index
        </p>
      </li>
    </ul>
    <div class="home-numbers__image">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/home/testimonials.jpg"
        alt="naturaily photo"
      />
      <div class="home-numbers__image-accent"></div>
    </div>
  </div>
</div>
