<div class="home-services" gsap gsap-services>
  <div class="home-services__wrapper">
    <div class="home-services__left">
      <h2 class="home-services__left-header" gsap gsap-services-header>
        Services
      </h2>
      <p class="home-services__left-text" gsap gsap-services-text>
        We help our clients at every stage of the project design &&nbsp;development process.
        From consulting &&nbsp;discovery sessions, through wireframing, UX/UI design
        &&nbsp;MVP development, to creating an up and running product. The scope and
        cooperation scenario is up to you.
      </p>
    </div>
    <div class="home-services__right" gsap gsap-services-box>
      <p class="home-services__right-text" gsap gsap-services-paragraph>
        If you are at the initial stage of the whole process and want to clarify
        your vision and determine the final product you want to create -
        <a href="/get-an-estimate" class="home-services__right-text--secondary">
        sign up for a <span class="non-breaking">5-day</span> Product Design
        Workshop</a> that will give you the answers to all crucial questions.
      </p>
      <a href="/get-an-estimate" class="btn btn-white" gsap gsap-services-btn>
        Book a workshop
        {% svg /assets/images/btn-arrow.svg gsap-services-arrow %}
      </a>
    </div>
  </div>
  <div class="home-services__image">
    <img
      src="/assets/images/loader.gif"
      data-src="/assets/images/home/services.webp"
      alt="naturaily photo"
      gsap-services-image
    />
    <span class="home-services__image-mask" gsap gsap-services-image-mask></span>
  </div>
</div>
