<div class="home-testimonials" testimonials>
  <div class="home-testimonials__wrapper">
    <div class="home-testimonials__intro">
      <div class="home-testimonials__intro-text">
        <h2 class="home-testimonials__header" gsap gsap-testimonials-header>
          Testimonials
        </h2>
        <p class="home-testimonials__description" gsap gsap-testimonials-text>
          All these fruitful cooperations are the result of&nbsp;the client-centric approach that
          we hold on to.
        </p>
      </div>
      <div class="home-testimonials__intro-clutch" gsap gsap-testimonials-clutch>
        <div
          class="clutch-widget"
          data-url="https://widget.clutch.co"
          data-widget-type="2"
          data-height="50"
          data-clutchcompany-id="32695"
        ></div>
      </div>
    </div>
    <div class="home-testimonials__switch">
      <div class="home-testimonials__switch-wrapper">
        <div class="home-testimonials__switch-menu">
          <ul class="home-testimonials__switch-menu__list">
            <li
              class="home-testimonials__switch-menu__item home-testimonials__switch-menu__item--active"
              data-index="0"
              testimonials-link
              testimonials-active-link
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">01</span>
              <p class="home-testimonials__switch-menu__text">NGO</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="1"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">02</span>
              <p class="home-testimonials__switch-menu__text">eHealth</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="2"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">03</span>
              <p class="home-testimonials__switch-menu__text">Self-publishing</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="3"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">04</span>
              <p class="home-testimonials__switch-menu__text">Education</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="4"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">05</span>
              <p class="home-testimonials__switch-menu__text">Photography</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="5"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">06</span>
              <p class="home-testimonials__switch-menu__text">Consulting</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="6"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">07</span>
              <p class="home-testimonials__switch-menu__text">Marketing</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="7"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">08</span>
              <p class="home-testimonials__switch-menu__text">Healthcare</p>
            </li>
          </ul>
        </div>
        <div class="home-testimonials__switch-cards" testimonials-cards gsap gsap-testimonials-cards>
          <div
            class="home-testimonials__switch-card home-testimonials__switch-card--active"
            testimonials-active-card
            testimonials-card
            data-index="0"
          >
            <div class="home-testimonials__switch-card__wrapper">
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">NGO</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/portfolio/partners/work-for-impact.png"
                    alt="work for impact logo"
                    gsap gsap-testimonials-logo-0
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-0>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p
                  class="home-testimonials__switch-quote__text home-testimonials__switch-quote__text--big"
                  gsap
                  gsap-testimonials-text-0
                >
                  The quality of their development stands out. Both code and documentation
                  have been exceptional. I also appreciate their ability to communicate
                  and understand quite complex tasks
                </p>
                <div class="home-testimonials__switch-quote__credits"
                gsapgsap-testimonials-credits-0>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/portfolio/clutch/geoff.png"
                    alt="geoff hucker"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Geoff Hucker
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      CEO Work for Impact
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="1" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper">
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">eHealth</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/portfolio/partners/diffia.png"
                    alt="diffia logo"
                    gsap
                    gsap-testimonials-logo-1
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-1>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p
                  class="home-testimonials__switch-quote__text home-testimonials__switch-quote__text--big"
                  gsap
                  gsap-testimonials-text-1
                >
                  We're in particular happy with how easy to work with and solid their deliveries
                  have been. No fuss and great communications
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-1>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/portfolio/clutch/soheil.png"
                    alt="soheil dabestani"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Soheil Dabestani
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      CEO & Co-Founder, Diffia
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="2" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper">
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">Self-publishing</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/siqnet.png"
                    alt="siqnet logo"
                    gsap
                    gsap-testimonials-logo-2
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-2>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p class="home-testimonials__switch-quote__text" gsap gsap-testimonials-text-2>
                  We’ve been maintaining a partnership with Naturaily for over a year. Marcin
                  and his team have always delivered on time. They are excellent developers
                  that managed to improve and support our product which, at that time, had
                  no documentation left by the previous team. Since the collaboration with
                  Naturaily is very successful I would definitely recommend them to anyone
                  looking for professional Ruby on Rails developers
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-2>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/joachim.png"
                    alt="joachim schneider"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Joachim Schneider
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      Owner of siQnet
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="3" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper">
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">Education</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/zapnito-logo-color.png"
                    alt="zapnito logo"
                    gsap-testimonials-logo-3
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-3>
                    4.5
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p class="home-testimonials__switch-quote__text" gsap gsap-testimonials-text-3>
                  Naturaily worked on extending Zapnito’s functionality by developing new features
                  and upgrading our stack. They significantly helped us with the maintenance work.
                  Naturaily’s responsiveness is exceptional. We were frequently updated with where
                  things stand. While they could improve in terms of English language skills,
                  we feel that they are an extended part of our team
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/jonbeer.jpeg"
                    alt="jon beer"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Jon Beer
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      CTO Zapnito
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="4" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper">
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">Photography</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/format.png"
                    alt="format.com logo"
                    gsap-testimonials-logo-4
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-4>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p
                  class="home-testimonials__switch-quote__text home-testimonials__switch-quote__text--big"
                  gsap-testimonials-text-4
                >
                  It was a pleasure working with Marcin and his team at Naturaily. They understood
                  the requirements and got up to speed on our project quickly, and delivered
                  quality work on schedule
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-4>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/services/ecommerce/shopify/MikeFerrier.jpg"
                    alt="mike ferrier"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Mike Ferrier
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      CTO Format.com
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="5" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper">
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">Consulting</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/firefield.png"
                    alt="firefield logo"
                    gsap
                    gsap-testimonials-logo-5
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-5>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p class="home-testimonials__switch-quote__text" gsap gsap-testimonials-text-5>
                  Firefield had the good fortune of getting introduced to Marcin and the Naturaily
                  team at the end of 2015. Since then a number of their resources have helped us
                  to bring our client’s products and visions to life. The members of the Naturaily
                  team combine a level of professionalism, experience, and collaboration that is
                  hard to find in today’s technology landscape. We would recommend them and their
                  partnership-driven commitment to anyone
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-5>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/services/webdevelopment/webdevelopment/adam-mcgowan.jpg"
                    alt="adam mcgowan"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Adam McGowan
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      CEO Firefield
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="6" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper">
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">Marketing</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/apptegy.png"
                    alt="apptegy logo"
                    gsap
                    gsap-testimonials-logo-6
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-6>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p
                  class="home-testimonials__switch-quote__text home-testimonials__switch-quote__text--big"
                  gsap
                  gsap-testimonials-text-6
                >
                  It’s been a pleasure working with Naturaily. They are a very talented
                  and professional team. We will definitely work with them in the future
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-6>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/services/ecommerce/shopify/JestonGeorge.jpg"
                    alt="jeston george"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Jeston George
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      CEO Apptegy
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="7" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper">
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">Healthcare</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/itm.png"
                    alt="itm logo"
                    gsap
                    gsap-testimonials-logo-7
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-7>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p
                  class="home-testimonials__switch-quote__text home-testimonials__switch-quote__text--big"
                  gsap
                  gsap-testimonials-text-7
                >
                  Naturaily’s exceptional reactivity makes them a valuable development partner.
                  Another advantage is their ability to communicate well with non-technical
                  people. They consistently hit deadlines and deliver clever solutions
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-7>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/MaximeRouve.png"
                    alt="maxime rouve"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Maxime Rouve
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      Project Manager ITM
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="home-testimonials__nav" testimonials-switcher>
          <div class="home-testimonials__nav-counter">
            <span class="home-testimonials__nav-counter__current" testimonials-counter>1</span>
            <span class="home-testimonials__nav-counter__all">of 8</span>
          </div>
          <div class="home-testimonials__nav-buttons">
            <button
              class="home-testimonials__nav-button home-testimonials__nav-button--prev home-testimonials__nav-button--disabled"
              testimonials-button
              data-direction="prev"
              type="button"
            >
              {% svg /assets/images/btn-arrow.svg class="home-switch__nav-arrow home-switch__nav-arrow--rotated" %}
              <span class="home-testimonials__nav-text">prev</span>
            </button>
            <button
              class="home-testimonials__nav-button home-testimonials__nav-button--next"
              testimonials-button
              data-direction="next"
              type="button"
            >
              <span class="home-testimonials__nav-text">next</span>
              {% svg /assets/images/btn-arrow.svg class="home-switch__nav-arrow" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
