<div class="home-testimonials" testimonials>
  <div class="home-testimonials__wrapper">
    <div class="home-testimonials__intro">
      <div class="home-testimonials__intro-text">
        <h2 class="home-testimonials__header" gsap gsap-testimonials-header>
          Testimonials
        </h2>
        <p class="home-testimonials__description" gsap gsap-testimonials-text>
          All these fruitful cooperations are the result of&nbsp;the client-centric approach that
          we hold on to.
        </p>
      </div>
      <div class="home-testimonials__intro-clutch" gsap gsap-testimonials-clutch>
        <div
          class="clutch-widget"
          data-url="https://widget.clutch.co"
          data-widget-type="2"
          data-height="50"
          data-clutchcompany-id="32695"
        ></div>
      </div>
    </div>
    <div class="home-testimonials__switch">
      <div class="home-testimonials__switch-wrapper">
        <div class="home-testimonials__switch-menu">
          <ul class="home-testimonials__switch-menu__list" testimonials-menu>
            <li
              class="home-testimonials__switch-menu__item home-testimonials__switch-menu__item--active"
              data-index="0"
              testimonials-link
              testimonials-active-link
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">01</span>
              <p class="home-testimonials__switch-menu__text">NGO</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="1"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">02</span>
              <p class="home-testimonials__switch-menu__text">E-commerce</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="2"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">03</span>
              <p class="home-testimonials__switch-menu__text">Live Auctions</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="3"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">04</span>
              <p class="home-testimonials__switch-menu__text">SaaS</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="4"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">05</span>
              <p class="home-testimonials__switch-menu__text">Ed-Tech</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="5"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">06</span>
              <p class="home-testimonials__switch-menu__text">Health-Tech</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="6"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">07</span>
              <p class="home-testimonials__switch-menu__text">Cryptocurrency</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="7"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">08</span>
              <p class="home-testimonials__switch-menu__text">Translation</p>
            </li>
            <li
              class="home-testimonials__switch-menu__item"
              testimonials-link
              data-index="8"
              gsap
              gsap-testimonials-menu-item
            >
              <span class="home-testimonials__switch-menu__number">09</span>
              <p class="home-testimonials__switch-menu__text">Energy</p>
            </li>
          </ul>
        </div>
        <div class="home-testimonials__switch-cards" testimonials-cards gsap gsap-testimonials-cards>
          <div
            class="home-testimonials__switch-card home-testimonials__switch-card--active"
            testimonials-active-card
            testimonials-card
            data-index="0"
          >
            <div class="home-testimonials__switch-card__wrapper" testimonials-card-wrapper>
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">NGO</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/portfolio/partners/work-for-impact.webp"
                    alt="work for impact logo"
                    gsap gsap-testimonials-logo-0
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-0>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p class="home-testimonials__switch-quote__text" gsap gsap-testimonials-text-0>
                  The quality of their development stands out. Both code and documentation
                  have been exceptional. I also appreciate their ability to communicate
                  and understand quite complex tasks.
                  <br><br>
                  We’re happy with how well they communicate. We’re in regular contact 
                  over Zoom, phone, email, and Slack. They’re proactive in communication 
                  as well as clear and concise in their messaging.
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-0>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/portfolio/clutch/geoff.webp"
                    alt="geoff hucker"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Geoff Hucker
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      CEO Work for Impact
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="1" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper" testimonials-card-wrapper>
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">E-commerce</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/home/pack-digital.webp"
                    alt="pack digital logo"
                    gsap
                    gsap-testimonials-logo-1
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-1>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p
                  class="home-testimonials__switch-quote__text"
                  gsap
                  gsap-testimonials-text-1
                >
                  I was referred to them from my CEO at a previous company I worked for. I was able to use
                  some of the software they’ve built before, and I was pretty impressed with it. I thought 
                  they had a strong understanding of the <span class="non-breaking">e-commerce</span> world.
                  <br><br>
                  The impact has been great from an internal standpoint. Before engaging with them, we had 
                  an MVP. They were able to extract those pieces and create an actual tool we can use.
                  <br><br>
                  When we’ve worked with other developers in the past, they just give us the finished project. 
                  Naturaily, on the other hand, invested more in the strategy. They make sure that we make 
                  the right decisions by offering their expertise.
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-1>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/home/cory-cummings.webp"
                    alt="cory cummings"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Cory Cummings
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      CEO & Co-Founder, Pack Digital
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="2" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper" testimonials-card-wrapper>
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">Live Auctions</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/portfolio/partners/artinfo.webp"
                    alt="artinfo logo"
                    gsap
                    gsap-testimonials-logo-2
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-2>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p class="home-testimonials__switch-quote__text" gsap gsap-testimonials-text-2>
                  Artinfo is a market leader and a trusted institution, so we work only with the&nbsp;best.
                  <br><br>
                  I was looking for a reputable company at a high level of technological advancement. 
                  The project was demanding, and I need to be sure that my partner has enough resources, 
                  knowledge, and experience to deal with something of this magnitude. I chose Naturaily 
                  because they are professionals, and I am satisfied with this cooperation.
                  <br><br>
                  Opinions of Artinfo users are very positive, which is why I can safely say that 
                  we have succeeded.
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-2>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/home/rafal-kamecki.webp"
                    alt="rafał kamecki"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Rafał Kamecki
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      Artinfo founder
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="3" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper" testimonials-card-wrapper>
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">SaaS</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/format.webp"
                    alt="format.com logo"
                    gsap
                    gsap-testimonials-logo-3
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-3>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p 
                  class="home-testimonials__switch-quote__text home-testimonials__switch-quote__text--big" 
                  gsap 
                  gsap-testimonials-text-3
                >
                  It was a pleasure working with Marcin and his team at Naturaily. They understood 
                  the requirements and got up to speed on our project quickly, and delivered quality 
                  work on schedule.
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/services/ecommerce/shopify/MikeFerrier.webp"
                    alt="mike ferrier"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Mike Ferrier
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      CTO Format.com
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="4" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper" testimonials-card-wrapper>
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">Ed-Tech</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/apptegy.webp"
                    alt="apptegy logo"
                    gsap
                    gsap-testimonials-logo-4
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-4>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p
                  class="home-testimonials__switch-quote__text home-testimonials__switch-quote__text--big"
                  gsap
                  gsap-testimonials-text-4
                >
                  It’s been a pleasure working with Naturaily. They are a very talented and professional 
                  team. We will definitely work with them in the future.
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-4>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/services/ecommerce/shopify/JestonGeorge.webp"
                    alt="jeston george"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Jeston George
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      CEO Apptegy
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="5" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper" testimonials-card-wrapper>
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">Health-Tech</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/itm.webp"
                    alt="itm logo"
                    gsap
                    gsap-testimonials-logo-5
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-5>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p class="home-testimonials__switch-quote__text" gsap gsap-testimonials-text-5>
                  We needed to create a platform that would serve as a link between our projects 
                  and members of the community who want to be involved in. Our unit’s expertise 
                  is in Health Economics, as well as Knowledge Management. We facilitate several 
                  online communities with thousands of members.
                  <br><br>
                  The pace of development significantly accelerated from the moment Naturaily joined 
                  the project. We are really happy with the work that they are doing. The work 
                  is delivered on time and built in a clever way. They tried to understand what 
                  we wanted and gave excellent advice. 
                  <br><br>
                  The entire team is responsive and seems really committed. Another advantage 
                  is their ability to communicate well with non-technical people. Naturaily’s exceptional 
                  reactivity makes them a valuable development partner.
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-5>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/maximerouve.webp"
                    alt="maxime rouve"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Maxime Rouve
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      Project Manager ITM
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="6" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper" testimonials-card-wrapper>
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">Cryptocurrency</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/home/coinflex.webp"
                    alt="coinflex logo"
                    gsap
                    gsap-testimonials-logo-6
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-6>
                    4.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p class="home-testimonials__switch-quote__text" gsap gsap-testimonials-text-6>
                  We wanted to set up the exchange initially with basic services - hence the first 
                  KYC/Salesforce project. The ongoing goals were to add product innovations to 
                  the exchange to try and increase user engagement.
                  <br><br>
                  Naturaily had a good depth and quality of Ruby resources and the communication 
                  and rapid turn around of contracts was appreciated. Securing and onboarding those 
                  resources quickly allowed us to launch our exchange in an acceptable timeframe. 
                  We were satisfied with the engagement and quality of delivery. I would happily refer 
                  Naturaily to friends or other companies.
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-6>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/home/james-cunningham.webp"
                    alt="james cunningham"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      James Cunningham
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      CEO CoinFLEX
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="7" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper" testimonials-card-wrapper>
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">Translation</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/home/lingohub.webp"
                    alt="lingohub logo"
                    gsap
                    gsap-testimonials-logo-7
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-7>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p
                  class="home-testimonials__switch-quote__text home-testimonials__switch-quote__text--big"
                  gsap
                  gsap-testimonials-text-7
                >
                  The team provides high-quality development deliverables, producing an excellent 
                  platform that perfectly meets the requirements. They are responsive, collaborative, 
                  and professional, keeping up with the project management at all times and ensuring 
                  they fix any problems quickly.
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-7>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/home/helmut-juskewycz.webp"
                    alt="helmut juskewycz"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Helmut Juskewycz
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      CEO of LingoHub
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials__switch-card" data-index="8" testimonials-card>
            <div class="home-testimonials__switch-card__wrapper" testimonials-card-wrapper>
              <div class="home-testimonials__switch-project">
                <div class="home-testimonials__switch-logo">
                  <h3 class="home-testimonials__switch-title">Energy</h3>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/home/ea-technology.webp"
                    alt="ea technology logo"
                    gsap
                    gsap-testimonials-logo-8
                  />
                </div>
                <p class="home-testimonials__switch-nps">
                  <span class="home-testimonials__switch-nps__text">NPS</span>
                  <span class="home-testimonials__switch-nps__value" gsap gsap-testimonials-nps-8>
                    5.0
                  </span>
                </p>
              </div>
              <div class="home-testimonials__switch-quote">
                <p class="home-testimonials__switch-quote__text" gsap gsap-testimonials-text-8>
                  Working with Naturaily has been a pleasure from the very beginning of the project 
                  and throughout our continuous cooperation on the development of our product suite. 
                  The Naturaily team has a vision as well as a dynamic approach to getting the project 
                  completed. They have showed EA Technology how good they are, achieving outcomes that 
                  far exceeded the initial project scope.
                  <br><br>
                  Nothing is too much trouble for them and they are always willing to make things 
                  right.
                </p>
                <div class="home-testimonials__switch-quote__credits" gsap gsap-testimonials-credits-8>
                  <img
                    src="/assets/images/loader.gif"
                    data-src="/assets/images/portfolio/clutch/chris.webp"
                    alt="chris lowsley"
                  />
                  <div>
                    <p class="home-testimonials__switch-quote__credits-person">
                      Chris Lowsley
                    </p>
                    <p class="home-testimonials__switch-quote__credits-position">
                      Director – LV Solutions at EA Technology
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="home-testimonials__nav" testimonials-switcher>
          <div class="home-testimonials__nav-counter">
            <span class="home-testimonials__nav-counter__current" testimonials-counter>1</span>
            <span class="home-testimonials__nav-counter__all">of 9</span>
          </div>
          <div class="home-testimonials__nav-buttons">
            <button
              class="home-testimonials__nav-button home-testimonials__nav-button--prev home-testimonials__nav-button--disabled"
              testimonials-button
              data-direction="prev"
              type="button"
            >
              {% svg /assets/images/btn-arrow.svg class="home-switch__nav-arrow home-switch__nav-arrow--rotated" %}
              <span class="home-testimonials__nav-text">prev</span>
            </button>
            <button
              class="home-testimonials__nav-button home-testimonials__nav-button--next"
              testimonials-button
              data-direction="next"
              type="button"
            >
              <span class="home-testimonials__nav-text">next</span>
              {% svg /assets/images/btn-arrow.svg class="home-switch__nav-arrow" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
