<div class="home-topbar">
  <div class="home-topbar__wrapper">
    <div class="home-topbar__content">
      <a class="home-topbar__content-link" href="{{site.posts.first.url}}">
        <span>{{site.posts.first.title}}</span>
        {% svg /assets/images/btn-arrow.svg class="home-topbar__content-arrow" %}
      </a>
    </div>
    <div class="home-topbar__social">
      <a href="https://www.facebook.com/Naturaily/" target="_blank" rel="nofollow">
        {% svg /assets/images/facebook.svg class="home-topbar__social-image" %}
      </a>
      <a href="https://twitter.com/naturailycom" target="_blank" rel="nofollow">
        {% svg /assets/images/twitter.svg class="home-topbar__social-image" %}
      </a>
      <a href="https://www.linkedin.com/company/naturaily" target="_blank" rel="nofollow">
        {% svg /assets/images/linkedin.svg class="home-topbar__social-image" %}
      </a>
      <a href="https://github.com/naturaily" target="_blank" rel="nofollow">
        {% svg /assets/images/github.svg class="home-topbar__social-image" %}
      </a>
    </div>
  </div>
</div>
