.l-main-container {
  display: flex !important;
  flex-direction: column;
  max-width: 1600px !important;
  margin: 0 auto;
}

div[class^="l-"] {
  display: flex;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.l-full {
  width: 100%;
}

.l-offset-left {
  max-width: 1440px;
  padding-left: 160px;
}

.l-offset-right {
  max-width: 1440px;
  padding-right: 20px;
}

.l-full-offset-left {
  max-width: 1440px;
}
