<div class="portfolio__section portfolio-about portfolio-about--without-separator">
  <span class="portfolio__step">About</span>
  <h2 class="portfolio__title">About Retention Rocket</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="paragraph">
        Retention Rocket is a&nbsp;SaaS marketing automation platform that works
        with e&#8209;commerce companies on platforms such as Shopify, Magento
        and WooCommerce.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <p class="paragraph">
        Its features include cart abandonment solutions, an SMS list builder,
        outbound promotions and much more, letting marketers increase revenue
        and run better data&#8209;driven campaigns.
      </p>
      <span class="portfolio__dot portfolio__dot--standard portfolio__dot--secondary"></span>
      <span class="portfolio__dot portfolio__dot--standard portfolio__dot--yellow"></span>
    </div>
  </div>
</div>
