<div class="portfolio__section portfolio-challenge portfolio-challenge--retention-rocket">
  <span class="portfolio__step">Challenge</span>
  <h2 class="portfolio__title">The challenge</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="paragraph">
        The platform works by integrating different third&#8209;party services
        that communicate in different ways, so the biggest challenge was to
        figure out the information transfer and processing stream.<br><br>
        Some of Retention Rocket’s features are built upon its integration with
        an&nbsp;external app - Gorgias. It sends emails to the e&#8209;commerce
        customers who abandoned their cart before completing the purchase.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <p class="paragraph">
        Retention Rocket uses it to let marketers also send SMSs and start
        a&nbsp;thread on a&nbsp;business owner’s Slack channel. Our task was
        to implement the elements to work smoothly and display the content
        perfectly on every channel.
      </p>
    </div>
  </div>

  <div class="portfolio-challenge__image">
    <img
      src="/assets/images/loader.gif"
      data-src="/assets/images/portfolio/retention-rocket/challenge.png"
      alt="Retention Rocket project structure"
    >
  </div>
</div>
