<div class="portfolio__section portfolio-goal portfolio-goal--awn">
  <span class="portfolio__step">Goal</span>
  <h2 class="portfolio__title">The goal</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="portfolio__quote">
        <span class="icon-quote"></span>
        Retention Rocket aims to help e&#8209;commerce stores increase
        retention, reduce marketing costs and improve the customer experience
        by sending him or her the right message through the right channel
        at the right time.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/suler.jpg"
        alt="Naturaily CEO"
      />
    </div>
  </div>
</div>
