<div class="portfolio-hero">
  <div class="portfolio-hero__content">
    <div class="portfolio-hero__text">
      <h1>
        <span><strong>Retention Rocket</strong> -</span>
        <span>a Marketing Platform</span>
        <span>for <strong>E-commerce Businesses</strong></span>
      </h1>
    </div>
    <div class="portfolio-hero__image">
      <figure class="geometric-figure geometric-figure--blue">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
      <picture>
        <source
          media="(min-width: 992px)"
          class="portfolio-hero__image-img"
          srcset="/assets/images/portfolio/retention-rocket/top.png"
          alt="Retention Rocket desktop and mobile screens"
        >
        <img
          class="portfolio-hero__image-img"
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/retention-rocket/top-mobile.png"
          alt="Retention Rocket mobile screen"
        >
      </picture>
    </div>
  </div>
</div>
