<div class="portfolio__section portfolio-about">
  <span class="portfolio__step">About</span>
  <h2 class="portfolio__title">About Work for Impact</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="paragraph">
        Freelancing currently owns the lion’s share (30%) of the US specialist
        job market. It is getting more important for specialists to use their
        skills and expertise working for a&nbsp;cause that matters to them.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <p class="paragraph">
        Work for Impact is an&nbsp;innovative platform that brings together
        talented freelancers, who want their job to make a&nbsp;difference,
        with socially or environmentally responsible organizations and
        nonprofits, enabling them to work together on impactful projects.
      </p>
      <span class="portfolio__dot portfolio__dot--standard portfolio__dot--secondary"></span>
      <span class="portfolio__dot portfolio__dot--standard portfolio__dot--yellow"></span>
    </div>
    <div class="portfolio-about__separator portfolio-about__separator--yellow">
      <img
        src="/assets/images/loader.gif"
        data-src="/assets/images/portfolio/work-for-impact/separator.png"
        alt="Work for Impact screens"
      />
    </div>
  </div>
</div>
