<div class="portfolio__section portfolio-challenge portfolio-challenge--with-dots">
  <span class="portfolio__step">Challenge</span>
  <h2 class="portfolio__title">The challenge</h2>

  <div class="portfolio__columns">
    <div class="portfolio__columns--left">
      <p class="paragraph">
        Naturaily’s team, arm in arm with other specialists from Work for
        Impact’s team, had a&nbsp;serious challenge to face. They needed to
        develop a&nbsp;huge, scalable system with complex business logic.
        The need to match freelancers with suitable job offers was demanding,
        as there were various categories, skills and other variables.
      </p>
    </div>
    <div class="portfolio__columns--right">
      <p class="paragraph">
        Work for Impact is also meant to connect the organizations with the
        best professionals who will help them fulfill their mission. That made
        us seek a&nbsp;strong skill verification system that would let us
        ensure the quality of the service.  
      </p>
    </div>
    <span class="portfolio__dot portfolio__dot--secondary"></span>
    <span class="portfolio__dot portfolio__dot--yellow"></span>
    <span class="portfolio__dot portfolio__dot--blue"></span>
  </div>
</div>
