<div class="portfolio-hero">
  <div class="portfolio-hero__content">
    <div class="portfolio-hero__text">
      <h1>
        <span>Work for Impact -</span>
        <span>a <strong>Freelancing Platform</strong></span>
        <span>for <strong>Meaningful Projects</strong></span>
      </h1>
    </div>
    <div class="portfolio-hero__image">
      <figure class="geometric-figure geometric-figure--blue">
        <div class="geometric-figure_center"></div>
        <div class="geometric-figure_right"></div>
      </figure>
      <picture>
        <source
          media="(min-width: 992px)"
          class="portfolio-hero__image-img"
          srcset="/assets/images/portfolio/work-for-impact/top.png"
          alt="LVCloud desktop and mobile screens"
        >
        <img
          class="portfolio-hero__image-img"
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/lvcloud/top-mobile.png"
          alt="LVCloud mobile screen"
        >
      </picture>
    </div>
  </div>
</div>
