<div class="portfolio__section portfolio__section--orange">
  <span class="portfolio__step">Solution</span>
  <h2 class="portfolio__title">Solution</h2>
  <p class="portfolio__description">Managing the project’s issues
</p>

  <div class="portfolio-features">
    <div class="portfolio__columns portfolio__columns--odd">
      <div class="portfolio-features__description">
        <h3 class="portfolio-features__header">Clean architecture</h3>
        <ul class="portfolio__list portfolio__list--work-for-impact">
          <li>isolating business logic from technical details, such as frameworks and a&nbsp;database</li>
          <li>separating business classes from technical classes</li>
          <li>using the <strong>Ruby on Rails</strong> framework as the application infrastructure for the technical part of the platform, with <strong>dry-rb libraries</strong> in a&nbsp;part of an&nbsp;app called a&nbsp;domain for a&nbsp;business logic part</li>
        </ul>
      </div>
      <div class="portfolio-features__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/work-for-impact/solution1.png"
          alt="live auction screen"
        />
      </div>
    </div>
    <div class="portfolio__columns portfolio__columns--even">
      <div class="portfolio-features__description">
        <h3 class="portfolio-features__header">The application split into subdomains</h3>
        <ul class="portfolio__list portfolio__list--work-for-impact">
          <li>logically splitting the domain into a&nbsp;few subdomains, such as recruitment, negotiations and work log</li>
          <li>each subdomain is dedicated a&nbsp;certain business process, sharing the common naming between business and technical classes</li>
        </ul>
      </div>
      <div class="portfolio-features__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/work-for-impact/solution2.png"
          alt="search feature screen"
        />
      </div>
    </div>
    <div class="portfolio__columns portfolio__columns--odd">
      <div class="portfolio-features__description">
        <h3 class="portfolio-features__header">Identity and skill verification</h3>
        <ul class="portfolio__list portfolio__list--work-for-impact">
          <li>basic user identity KYC verification with an&nbsp;external provider</li>
          <li>confirming freelancers’ qualifications by education and skill verification via external systems (online competency tests)</li>
        </ul>
      </div>
      <div class="portfolio-features__image">
        <img
          src="/assets/images/loader.gif"
          data-src="/assets/images/portfolio/work-for-impact/solution3.png"
          alt="live auction screen"
        />
      </div>
    </div>
  </div>

  <div class="portfolio-stack">
    <h3 class="portfolio-stack__header">Technological stack</h3>
    <div class="portfolio-carousel__wrapper" data-carousel="wrapper">
      <ul class="portfolio__columns portfolio-carousel__tabs portfolio-carousel__tabs--four" data-carousel="tabs">
        <li class="portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="0">
          <div class="portfolio-stack__image portfolio-stack__image--wider">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio/icons/rails.png"
              alt="ruby on rails icon"
            />
          </div>
          <h4 class="portfolio-stack__subheader">
            <strong>Ruby on Rails</strong><br>(backend)
          </h4>
        </li>
        <li class="portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="1">
          <div class="portfolio-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio/icons/nuxt.png"
              alt="nuxt.js icon"
            />
          </div>
          <h4 class="portfolio-stack__subheader">
            <strong>Nuxt.js</strong><br>(frontend)
          </h4>
        </li>
        <li class="portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="2">
          <div class="portfolio-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio/icons/elastic.png"
              alt="elastic icon"
            />
          </div>
          <h4 class="portfolio-stack__subheader">
            <strong>Elastic</strong><br>(search engine)
          </h4>
        </li>
        <li class="portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="3">
          <div class="portfolio-stack__image portfolio-stack__image--electron">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio/icons/electron.png"
              alt="json icon"
            />
          </div>
          <h4 class="portfolio-stack__subheader">
            <strong>Electron</strong><br>(desktop app)
          </h4>
        </li>
      </ul>
      <div class="portfolio-carousel__dots" data-carousel="dots">
        <div class="portfolio-carousel__dots-item portfolio-carousel__dots-item--active" data-carousel="dots-item" data-dot-index="0" data-dot-active="true"></div>
        <div class="portfolio-carousel__dots-item" data-carousel="dots-item" data-dot-index="1" data-dot-active="false"></div>
        <div class="portfolio-carousel__dots-item" data-carousel="dots-item" data-dot-index="2" data-dot-active="false"></div>
        <div class="portfolio-carousel__dots-item" data-carousel="dots-item" data-dot-index="3" data-dot-active="false"></div>
      </div>
      <div class="portfolio-carousel__nav" data-carousel="nav">
        <div class="icon icon-chevron-left portfolio-carousel__nav-item portfolio-carousel__nav-item--disabled" data-carousel="nav-item" data-nav="prev" data-nav-disabled="true"></div>
        <div class="icon icon-chevron-right portfolio-carousel__nav-item" data-carousel="nav-item" data-nav="next" data-nav-disabled="false"></div>
      </div>
    </div>
  </div>

  <div class="portfolio-stack portfolio-stack--tools">
    <h3 class="portfolio-stack__header">External services</h3>
    <div class="portfolio-carousel__wrapper" data-carousel="wrapper">
      <ul class="portfolio__columns portfolio-carousel__tabs portfolio-carousel__tabs--five" data-carousel="tabs">
        <li class="portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="0">
          <div class="portfolio-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio/icons/talkjs.png"
              alt="talkjs icon"
            />
          </div>
          <h4 class="portfolio-stack__subheader">
            <strong>Talk JS</strong><br>(chat)
          </h4>
        </li>
        <li class="portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="1">
          <div class="portfolio-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio/icons/jitsi.png"
              alt="jitsi icon"
            />
          </div>
          <h4 class="portfolio-stack__subheader">
            <strong>Jitsi</strong><br>(video conferencing)
          </h4>
        </li>
        <li class="portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="2">
          <div class="portfolio-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio/icons/sumsub.png"
              alt="sumsub icon"
            />
          </div>
          <h4 class="portfolio-stack__subheader">
            <strong>Sumsub</strong><br>(identity verification)
          </h4>
        </li>
        <li class="portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="3">
          <div class="portfolio-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio/icons/qcheck.png"
              alt="qcheck icon"
            />
          </div>
          <h4 class="portfolio-stack__subheader">
            <strong>QCheck</strong><br>(education institution search)
          </h4>
        </li>
        <li class="portfolio-carousel__tabs-tab" data-carousel="tab" data-tab-index="4">
          <div class="portfolio-stack__image">
            <img
              src="/assets/images/loader.gif"
              data-src="/assets/images/portfolio/icons/interviewmocha.png"
              alt="interview mocha icon"
            />
          </div>
          <h4 class="portfolio-stack__subheader">
            <strong>Interview Mocha</strong><br>(skill verification)
          </h4>
        </li>
      </ul>
      <div class="portfolio-carousel__dots" data-carousel="dots">
        <div class="portfolio-carousel__dots-item portfolio-carousel__dots-item--active" data-carousel="dots-item" data-dot-index="0" data-dot-active="true"></div>
        <div class="portfolio-carousel__dots-item" data-carousel="dots-item" data-dot-index="1" data-dot-active="false"></div>
        <div class="portfolio-carousel__dots-item" data-carousel="dots-item" data-dot-index="2" data-dot-active="false"></div>
        <div class="portfolio-carousel__dots-item" data-carousel="dots-item" data-dot-index="3" data-dot-active="false"></div>
        <div class="portfolio-carousel__dots-item" data-carousel="dots-item" data-dot-index="4" data-dot-active="false"></div>
      </div>
      <div class="portfolio-carousel__nav" data-carousel="nav">
        <div class="icon icon-chevron-left portfolio-carousel__nav-item portfolio-carousel__nav-item--disabled" data-carousel="nav-item" data-nav="prev" data-nav-disabled="true"></div>
        <div class="icon icon-chevron-right portfolio-carousel__nav-item" data-carousel="nav-item" data-nav="next" data-nav-disabled="false"></div>
      </div>
    </div>
  </div>

  <div class="portfolio-experts portfolio-experts--five">
    <h3 class="portfolio-experts__header">Experts involved in the project</h3>
    <div class="portfolio-experts--double">
      <ul class="portfolio__columns">
        <li>
          <div class="portfolio-experts__number">1</div>
          <span class="icon icon-man"></span>
          <p class="paragraph">Security Specialist</p>
        </li>
        <li>
          <div class="portfolio-experts__number">2</div>
          <span class="icon icon-man"></span>
          <p class="paragraph">Frontend Developers</p>
        </li>
        <li>
          <div class="portfolio-experts__number">3</div>
          <span class="icon icon-man"></span>
          <p class="paragraph">Backend Developers</p>
        </li>
        <li>
          <div class="portfolio-experts__number">4</div>
          <span class="icon icon-man"></span>
          <p class="paragraph">QA Specialists</p>
        </li>
        <li>
          <div class="portfolio-experts__number">5</div>
          <span class="icon icon-man"></span>
          <p class="paragraph">Project Manager</p>
        </li>
      </ul>
      <ul class="portfolio__columns portfolio-experts__second-group">
        <li class="portfolio-experts__empty-slot"></li>
        <li>
          <div class="portfolio-experts__number">6</div>
          <span class="icon icon-man"></span>
          <p class="paragraph">UI Designers</p>
        </li>
        <li>
          <div class="portfolio-experts__number">7</div>
          <span class="icon icon-man"></span>
          <p class="paragraph">UX Designer</p>
        </li>
        <li>
          <div class="portfolio-experts__number">8</div>
          <span class="icon icon-man"></span>
          <p class="paragraph">Content Specialist</p>
        </li>
        <li>
          <div class="portfolio-experts__number">9</div>
          <span class="icon icon-man"></span>
          <p class="paragraph">Marketing Specialist</p>
        </li>
        <li>
          <div class="portfolio-experts__number">10</div>
          <span class="icon icon-man"></span>
          <p class="paragraph">Business Analyst</p>
        </li>
      </ul>
    </div>
  </div>
</div>
