@media (min-width: 992px) {
  .dajemyslowo {
    &-goal {
      &__decor-1 {
        &__arrow {
          transform: scale(0) rotate(40deg);
          transform-origin: 90px 170px;
          animation: arrowAnimation 6.5s .1s infinite;
        }

        &__line, &__arc, &__circle {
          stroke-dasharray: 1000;
          stroke-dashoffset: 1000;
          animation-delay: .2s;
        }

        &__line, &__circle {
          animation: lineAnimation 6.5s .1s infinite;
        }

        &__arc {
          animation: arcAnimation 6.5s .1s infinite;
        }
      }

      &__decor-2 {
        &__line-1, &__line-2, &__line-3 {
          stroke-dasharray: 1000;
          stroke-dashoffset: 1000;
          animation: linesAnimation 6.5s infinite;
        }

        &__dot-red, &__dot-blue1, &__dot-blue2 {
          transform: scale(0);
          animation: dotAnimation 6.5s infinite;
        }
  
        &__line-1 { animation-delay: 2.4s; }
        &__line-2 { animation-delay: 2s; }
        &__line-3 { animation-delay: 3.1s; }
  
        &__dot-red {
          transform-origin: 10px 10px;
          animation-delay: 3s;
        }
  
        &__dot-blue1 {
          transform-origin: 65px 155px;
          animation-delay: 3.6s;
        }
  
        &__dot-blue2 {
          transform-origin: 190px 150px;
          animation-delay: 2.8s;
        }
      }

      &__picture {
        &-letter {
          &__letter {
            transform: scale(0) rotate(35deg);
            transform-origin: 70px 90px;
            animation: letterAnimation 6.5s 2.3s infinite;
          }

          &__triangle, &__cloud1, &__cloud2 {
            transform: scale(0);
            animation: scaleAnimation 6.5s infinite;
          }

          &__triangle, &__cloud1 {
            transform-origin: 20px 20px;
            animation-delay: 2.5s;
          }

          &__cloud2 {
            transform-origin: 140px 100px;
            animation-delay: 2.7s;
          }

          &__line1, &__line2, &__line3, &__line4 {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation-duration: 6.5s;
            animation-iteration-count: infinite;
          }

          &__line1, &__line2, &__line3 {
            animation-name: letterPathsAnimation; 
          }

          &__line4 {
            animation-name: letterLinesAnimation;
          }

          &__line1 { animation-delay: 2s; }
          &__line2, &__line3 { animation-delay: 2.5s; }
          &__line4 { animation-delay: 2.6s; }
        }

        &-decor {

        }

        &-arrow {

        }

        &-confetti {

        }
      }
    }
  }
}

@keyframes arrowAnimation {
  0% { transform: scale(0) rotate(40deg); }
  2% { transform: scale(0) rotate(40deg); }
  7% { transform: none; }
  74% { transform: none; }
  80% { transform: scale(0) rotate(40deg); }
  100% { transform: scale(0) rotate(40deg); }
}

@keyframes lineAnimation {
  0% { stroke-dashoffset: 1000; }
  2% { stroke-dashoffset: 1000; }
  10% { stroke-dashoffset: 800; }
  74% { stroke-dashoffset: 800; }
  80% { stroke-dashoffset: 1000; }
  100% { stroke-dashoffset: 1000; }
}

@keyframes arcAnimation {
  0% { stroke-dashoffset: 1000; }
  4% { stroke-dashoffset: 1000; }
  8% { stroke-dashoffset: 700; }
  78% { stroke-dashoffset: 700; }
  84% { stroke-dashoffset: 1000; }
  100% { stroke-dashoffset: 1000; }
}

@keyframes dotAnimation {
  0% { transform: scale(0); }
  3% { transform: scale(.6); }
  6.1% { transform: scale(.2); }
  9.1% { transform: scale(1.2); }
  12.2% { transform: scale(1); }
  69.2% { transform: scale(1); }
  73.8% { transform: scale(.8); }
  76.8% { transform: scale(1.2); }
  81.4% { transform: scale(0); }
  100% { transform: scale(0); }
}

@keyframes linesAnimation {
  0% { stroke-dashoffset: 1000; }
  12.2% { stroke-dashoffset: 0; }
  70.7% { stroke-dashoffset: 0; }
  76.8% { stroke-dashoffset: 1000; }
  100% { stroke-dashoffset: 1000; }
}

@keyframes letterAnimation {
  0% { transform: scale(0) rotate(35deg); }
  3% { transform: scale(0) rotate(35deg); }
  12.2% { transform: none; }
  66% { transform: none; }
  72.2% { transform: scale(0) rotate(35deg); }
  100% { transform: scale(0) rotate(35deg); }
}

@keyframes letterPathsAnimation {
  0% { stroke-dashoffset: 1000; }
  3% { stroke-dashoffset: 1000; }
  12.2% { stroke-dashoffset: 930; }
  66% { stroke-dashoffset: 930; }
  72.2% { stroke-dashoffset: 1000; }
}

@keyframes letterLinesAnimation {
  0% { stroke-dashoffset: 1000; }
  3% { stroke-dashoffset: 1000; }
  15% { stroke-dashoffset: 0; }
  50% { stroke-dashoffset: 0; }
  62% { stroke-dashoffset: 1000; }
}

@keyframes scaleAnimation {
  0% { transform: scale(0); }
  3% { transform: scale(0); }
  12.2% { transform: scale(1); }
  66% { transform: scale(1); }
  72.2% { transform: scale(0); }
  100% { transform: scale(0); }
}